{% load i18n %}
{% load active %}

<div id="home_ico">
    <a href="{% url bo_index %}">{% trans "Accueil" %}</a>
</div>
<ul id="menu_ico">
    <li><a class="link1 {% active request "sales/new" %}" href="{% url add_sale %}">{% trans "Add a new sale" %}</a></li>
    <li><a class="link2 {% active request "sales/list/current" %}" href="{% url list_sales "current" %}">{% trans "Mes ventes en cours" %}</a></li>
    <li><a class="link3 {% active request "sales/list/old" %}" href="{% url list_sales "old" %}">{% trans "Mes anciennes ventes" %}</a></li>
    <li><a class="link4 {% active request "shops" %}" href="{% url page_shops %}">{% trans "Ajouter - Supprimer une boutique" %}</a></li>
    <li><a class="link5" href="_quick_nav.html#">{% trans "Les Stats de ma marque" %}</a></li>
    <li><a class="link6" href="_quick_nav.html#">{% trans "Carte de France des performances" %}</a></li>
</ul>
