{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <ul id="content_Home">
        <li>
            <h3 class="link1">{% trans "Add a new sale" %}</h3>
            <a href="{% url 'add_sale' %}">{% trans "Add a new sale" %}</a>
        </li>
        <li>
            <h3 class="link4">{% trans "Shops" %}</h3>
            <a href="{% url 'page_shops' %}">{% trans "Shops" %}</a>
        </li>
        <li>
            <h3 class="link2">{% trans "Current sales" %}</h3>
            <a href="{% url 'list_sales' "current" %}">{% trans "Current sales" %}</a>
        </li>
        <li>
            <h3 class="link5">{% trans "Statistics" %}</h3>
            <a href="stats_1.htm">{% trans "Statistics" %}</a>
        </li>
        <li>
            <h3 class="link3">{% trans "History" %}</h3>
            <a href="{% url 'list_sales' "old" %}">{% trans "History" %}</a>
        </li>
        <li>
            <h3 class="link6">{% trans "Performance Map" %}</h3>
            <a href="map_1.htm">{% trans "Performance Map" %}</a>
        </li>
        {% if user.is_staff %}
        <li>
            <h3 class="link7">{% trans "Operators mgmt" %}</h3>
            <a href="{% url 'operators' %}" class="bottom">{% trans "Operators mgmt" %}</a>
        </li>
        {% endif %}
    </ul>

{% endblock %}
