{% extends "base.html" %}
{% load i18n %}
{% load is_admin %}
{% load is_shop_manager_upper %}
{% load is_manager_upper %}
{% load need_map %}

{% block content %}
    <ul id="content_Home">
        {% if user|is_manager_upper %}
        <li>
            <h3 class="link1">{% trans "Add a new sale" %}</h3>
            <a href="{% url 'add_sale' %}">{% trans "Add a new sale" %}</a>
        </li>
        {% endif %}
        {% if user|is_shop_manager_upper %}
            <li>
                <h3 class="link4">{% trans "Shops" %}</h3>
                <a href="{% url 'page_shops' %}">{% trans "Shops" %}</a>
            </li>
        {% endif %}
        <li>
            <h3 class="link2">{% trans "Current sales" %}</h3>
            <a href="{% url 'list_sales' "current" %}">{% trans "Current sales" %}</a>
        </li>
        {% if user|is_manager_upper %}
        <li>
            <h3 class="link5">{% trans "Statistics" %}</h3>
            <a href="stats_1.htm">{% trans "Statistics" %}</a>
        </li>
        {% endif %}
        {% if user|is_manager_upper %}
        <li>
            <h3 class="link3">{% trans "History" %}</h3>
            <a href="{% url 'list_sales' "old" %}">{% trans "History" %}</a>
        </li>
        {% endif %}
        {% if user|need_map %}
        <li>
            <h3 class="link6">{% trans "Performance Map" %}</h3>
            <a href="map_1.htm">{% trans "Performance Map" %}</a>
        </li>
        {% endif %}
        <li>
            <h3 class="link8">{% trans "Orders" %}</h3>
            <a href="{% url 'list_orders' %}">{% trans "Orders" %}</a>
        </li>
        {% if user|is_shop_manager_upper %}
        <li>
            <h3 class="link11">{% trans "Promotion Group" %}</h3>
            <a href="{% url 'page_promotion' %}">{% trans "Promotion Group" %}</a>
        </li>
        {% endif %}
        {% if user|is_shop_manager_upper %}
        <li>
            <h3 class="link12">{% trans "Settings" %}</h3>
            <a href="{% url 'sa_settings' %}" >{% trans "Settings" %}</a>
        </li>
        {% endif %}
        {% if user|is_shop_manager_upper %}
        <li>
            <h3 class="link7">{% trans "Operators mgmt" %}</h3>
            <a href="{% url 'operators' %}" >{% trans "Operators mgmt" %}</a>
        </li>
        {% endif %}
        {% if user|is_admin %}
        <li>
            <h3 class="link12">{% trans "Content and Presentation" %}</h3>
            <a href="{% url 'routes' %}">{% trans "Content and Presentation" %}</a>
        </li>
        {% endif %}
        {% if user|is_admin %}
        <li>
            <h3 class="link12">{% trans "Notification" %}</h3>
            <a href="{% url 'notif_list' %}" class="bottom">{% trans "Notifications" %}</a>
        </li>
        {% endif %}
    </ul>

{% endblock %}
