{% extends "new_base.html" %}
{% load i18n %}
{% load get_brand_currency %}

{% block content %}
    <div id="content_Home">
			<div class="blocHome bloc1" >
				<h1>{% trans "Sales" %} <span id="earned_today"><em class="earned"></em> <em>{% get_brand_currency user %} {% trans "earned today" %}</em></span></h1>
				<ul>
					<li><a class="linkHome link1" href="{% url 'add_sale' %}"><span>*</span>{% trans "Add a new sale" %}</a></li>
					<li><a class="linkHome link2" href="{% url 'list_sales' 'current'%}"><span>*</span>{% trans "Current sales" %}</a></li>
					<li><a class="linkHome link3" href="{% url 'list_sales' 'old'%}"><span>*</span>{% trans "History" %}</a></li>
				</ul>
                <div class="graph" id="incomes_chart">
                </div>
			</div>

			<div class="blocHome bloc2">
				<h1>{% trans "Orders" %} <span id="waiting_shipping_today">19 <em>"{% trans 'pending orders' %}"</em></span></h1>
				<ul>
					<li><a class="linkHome link2" href="{% url 'list_orders' %}"><span>*</span>{% trans "Orders" %}</a></li>
					<li><a class="linkHome link2" href="#"><span>*</span>{% trans "Returns" %}</a></li>
				</ul>
                <div class="graph" id="orders_chart">
                </div>
			</div>

			<div class="blocHome bloc3">
				<h1>{% trans "Shops" %} <span id="visitors_online"> <em>{% trans "visitors online" %}</em></span></h1>
				<ul>
					<li><a class="linkHome link4" href="{% url 'page_shops' %}"><span>*</span>{% trans "Shops" %}</a></li>
					<li><a class="linkHome link5" href="#"><span>*</span>{% trans "Statistics" %}</a></li>
                    <li><a class="linkHome link6" href="{% url 'operators' %}"><span>*</span>{% trans "Operators mgmt" %}</a></li>
				</ul>
                <div class="graph" id="visitors_chart">
                </div>
			</div>

			<div class="blocHome bloc4">
				<h1>{% trans "Settings" %}</h1>
                <!--
                <ul>
                    <li><a class="linkHome link12" href="{% url 'routes' %}"><span>*</span>{% trans "Content and presentation" %}</a></li>
                    <li><a class="linkHome link12" href="{% url 'new_template' %}"><span>*</span>{% trans "E-mails and Notifications" %}</a></li>
                </ul>
                    -->
				<a href="#" class="graph reglage">
					<img src="static/img/reglages.png" alt="{% trans "Réglages" %}" />
				</a>
			</div>

            <div id="target"></div>
    </div>
    <div class="hidden">
        <div id="blochome_loading_overlay">
            <div class="loading_overlay">
                <p class="loading_spinner">
                    <span class="big_flower_loading"></span>
                    <span class="loading-text">loading</span>
                </p>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascript %}
<script type="text/javascript">
    function draw_line(ele_id, line, ticks, series_color) {
        $.jqplot(ele_id, [line], {

            seriesDefaults:{
                showMarker: false,
                color: series_color
            },
            axesDefaults: {
                rendererOptions: {drawBaseline: false},
                tickRenderer: $.jqplot.CanvasAxisTickRenderer
            },

            axes:{
                xaxis:{
                    renderer: $.jqplot.CategoryAxisRenderer,
                    rendererOptions: {
                        sortMergedLabels: true
                    },
                    ticks: ticks,
                    tickOptions:{
                        showMark: false,
                        showGridline: false,
                        labelPosition: 'middle',
                        angle: -45
                    }
                },
                yaxis: {
                    min: 0,
                    tickOptions:{
                        showMark: false,
                        showGridline: false,
                        labelPosition: 'middle',
                        angle: 0
                    }
                }

            },
            grid: {
                showGridline: false,
                background: 'transparent',
                shadow: false,
                drawBorder: false
            }
        });
        $("#" + ele_id).hide();
    }

    function draw_bar_line(ele_id, bar, line, ticks) {
        $.jqplot(ele_id, [bar, line], {
            seriesDefaults:{
                showMarker: false,
                rendererOptions: {fillToZero: true}
            },

            axes:{
                xaxis:{
                    renderer: $.jqplot.CategoryAxisRenderer,
                    rendererOptions: {
                        drawBaseline: false,
                        sortMergedLabels: true
                    },
                    tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                    ticks: ticks,
                    tickOptions:{
                        showMark: false,
                        showGridline: false,
                        labelPosition: 'middle',
                        angle: -45
                    }
                },
                yaxis: {
                    min: 0,
                    rendererOptions: {
                        drawBaseline: false,
                        sortMergedLabels: true
                    },
                    tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                    tickOptions:{
                        showMark: false,
                        showGridline: false,
                        labelPosition: 'middle'
                    },
                    autoscale:true
                },

                y2axis: {
                    min: 0,
                    rendererOptions: {
                        drawBaseline: false,
                        sortMergedLabels: true
                    },
                    tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                    tickOptions:{
                        showMark: false,
                        showGridline: false,
                        labelPosition: 'middle'
                    }
                }
            },
            grid: {
                showGridline: false,
                background: 'transparent',
                shadow: false,
                drawBorder: false},
            series:[{renderer: $.jqplot.BarRenderer, color: "#0098D8"},
                    {yaxis: 'y2axis', color: '#C80C15', shadow: true}]
        });
        $("#" + ele_id).hide();
    }

    function loading(ele) {
        ele.addClass('loading');
        var l = $($('#blochome_loading_overlay').html());
        ele.prepend(l);
    }

    function remove_loading(ele) {
        $('.loading_overlay', $(ele)).fadeOut({duration: 2000}, function(){
            $(this).remove();
        });
        ele.removeClass('loading');
        $('.graph', ele).fadeIn({duration:2000});
    }

    function load_stats() {
        var bloc1 = $(".bloc1");
        var bloc2 = $(".bloc2");
        var bloc3 = $(".bloc3");
        loading(bloc1);
        loading(bloc2);
        loading(bloc3);
        $.ajax({
            type: 'GET',
            url: '/stats/incomes',
            dataType: "json"
        }).fail(function(jqXHR, textStatus) {
                    console.log('failed to get incomes stats with status ' + textStatus)
                }).success(function(data, textStatus) {
                    if (textStatus == 'success') {
                        draw_line('incomes_chart', data['lines'], data['ticks'], "#14A40D");
                        $("#earned_today .earned").html(data['earned_today']);
                    }

                }).done(function(){
                    remove_loading(bloc1);
                });

        $.ajax({
            type: 'GET',
            url: '/stats/orders',
            dataType: "json"
        }).fail(function(jqXHR, textStatus) {
                    console.log('failed to get order stats with status ' + textStatus)
                }).success(function(data, textStatus) {
                    if (textStatus == 'success') {
                        draw_line('orders_chart', data['lines'], data['ticks'], "#e3f6ff");
                        $("#waiting_shipping_today").html(
                                data['pending'] + " <em>{% trans 'pending orders' %}</em>");

                    }
                }).done(function(){
                    remove_loading(bloc2);
                });

        $.ajax({
            type: 'GET',
            url: '/stats/visitors',
            dataType: "json"
        }).fail(function(jqXHR, textStatus) {
                    console.log('failed to get visitors stats with status ' + textStatus)
                }).success(function(data, textStatus) {
                    if (textStatus == 'success') {
                        draw_bar_line('visitors_chart',
                                      data['visitors_day_count'],
                                      data['trans_rate_line'],
                                      data['ticks']);
                        $("#visitors_online").html(
                                data['visitors_online'] + " <em> {% trans 'visitors online' %}</em>"
                        );
                    }

                }).done(function(){
                    remove_loading(bloc3);
                });

    }

    $(document).ready(function(){
        load_stats();
    });


</script>
{% endblock %}
