{% extends "sa_base.html" %}
{% load i18n %}

{% block content %}
    <ul id="content_Home">
        <li>
            <h3 class="link1">{% trans "Corporate accounts" %}</h3>
            <a href="{% url 'sa_brands' %}">{% trans "Corporate accounts" %}</a>
        </li>
        <li>
            <h3 class="link4">{% trans "User accounts" %}</h3>
            <a href="{% url 'sa_users' %}">{% trans "User accounts" %}</a>
        </li>
        <li>
            <h3 class="link2">{% trans "Sales categories" %}</h3>
            <a href="{% url 'sa_categories' %}">{% trans "Sales categories" %}</a>
        </li>
        <li>
            <h3 class="link5">{% trans "Items" %}</h3>
            <a href="{% url 'sa_attributes' %}">{% trans "Items" %}</a>
        </li>
        <li>
            <h3 class="link3">{% trans "Frontpage" %}</h3>
            <a href="{% url 'sa_brandings' %}" >{% trans "Frontpage" %}</a>
        </li>
        <li>
            <h3 class="link6">{% trans "Settings" %}</h3>
            <a href="{% url 'sa_settings' %}" >{% trans "Settings" %}</a>
        </li>
    </ul>

{% endblock %}
