{% load i18n %}
{% load active %}

<div id="home_ico">
    <a href="{% url 'bo_index' %}">{% trans "Home" %}</a>
</div>
<ul id="menu_ico">
    <li><a class="link1 {% active request "sa/brands" %}" href="{% url 'sa_brands' %}">{% trans "Corporate accounts" %}</a></li>
    <li><a class="link2 {% active request "sa/categories" %}" href="{% url 'sa_categories' %}">{% trans "Sales categories" %}</a></li>
    <li><a class="link4 {% active request "sa/users" %}" href="{% url 'sa_users' %}">{% trans "User accounts" %}</a></li>
    <li><a class="link5 {% active request "sa/attributes" %}" href="{% url 'sa_attributes' %}">{% trans "Items" %}</a></li>
    <li><a class="link6 {% active request "sa/settings"%}" href="{% url 'sa_settings' %}">{% trans "Settings" %}</a></li>
    <li><a class="link10 {% active request "sa/taxes "%}" href="{% url 'sa_taxes' %}">{% trans "Tax Rates" %}</a></li>
</ul>
