{% load i18n %}
{% load active %}

<div id="home_ico">
    <a href="{% url bo_index %}">{% trans "Home" %}</a>
</div>
<ul id="menu_ico">
    <li><a class="link1 {% active request "sa/brands" %}" href="{% url sa_brands %}">{% trans "Add a new main brand" %}</a></li>
    <li><a class="link2 {% active request "sa/users" %}" href="{% url sa_users %}">{% trans "Add a new admin" %}</a></li>
    <li><a class="link3 {% active request "sa/categories" %}" href="{% url sa_categories %}">{% trans "Add a new category" %}</a></li>
    <li><a class="link4 {% active request "sa/attributes" %}" href="{% url sa_attributes %}">{% trans "Add a new attribute" %}</a></li>
    <li><a class="link5 {% active request "sa/brandings" %}" href="{% url sa_brandings %}">{% trans "Add a new branding slide" %}</a></li>
    <li><a class="link6 {% active request "sa/settings"%}" href="{% url sa_settings %}">{% trans "Settings" %}</a></li>
</ul>
