<!--CONTENEUR BOTTOM-->
<div id="conteneurBottom">  
    <!--CONTENU-->
    <div class="boxCenter"> 
        <!--MAP SHOPS-->

        <div id="wrapPanier">

            <strong id="titlepanier">${_('Votre Commande')}</strong>
            <ul>
                <li class="li1 on"><a href="#"><span>1 </span>${_('Commande')}</a></li>
                <li class="li2"><span>2 </span>${_('Identification')}</li>
                <li class="li3"><span>3 </span>${_('Adresse de livraison')}</li>
                <li class="li4"><span>4 </span>${_('Validation')}</li>
            </ul>


            <h1 id="titleH1">${_('Commande')} :</h1>
            <div class="errwrapper">${err}</div>
            <p class="txtinfo">${_("Ceci est votre panier d'oeufs frais.")}</p>

            <h2 class="titleLine table"><strong><span>${_('Last Orders Statuts')}</span></strong></h2>
            <table class="tableCompte" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th class="left">${_('Produit')}</th>
                        <th class="left">${_('Description')}</th>
                        <th>${_('Ref')}</th>
                        <th>${_('Prix')}</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th>${_('Annulation')}</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="7" class="right">
                            ${_('Total produits TTC : ')}
                            <span id="sum_amount"></span>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <?py for item in basket: ?>

                    <tr data="${item['item']}">
                        <td class="left">
                            <a href="${item['product']['link']}">
                                <img src="${get_single_attribute(item['product'], 'img')}"  width="150px" alt="${item['product']['name']}" />
                            </a>
                        </td>
                        <td class="left"><h1>${item['product']['name']}</h1>
                            <strong class="type">
                            <?py if item['type']: ?>Taille : ${item['type']['name']}<?py #endif ?>
                            <?py if item['variant'] and item['type']: ?> - <?py #endif ?>
                            <?py if item['variant']: ?>Coloris : ${item['variant']['name']}<?py #endif ?>
                            </strong>
                        </td>
                        <td class="ref">${item['external_id']}</td>
                        <td class="price">
                        <?py if item['show_final_price']: ?>
                            <span id="price_after_tax" value="${item['price_with_tax_calc']}">${format_amount(item['price_with_tax_calc'])}</span><span id="currency">${cur_symbol(item['product']['currency'])}</span>
                        <?py else: ?>
                            <span id="price" value="${item['price']}">${format_amount(item['price'])}</span><span id="currency">${cur_symbol(item['product']['currency'])}</span>
                            <?py if item['tax']: ?>
                            (${price_label}: <span id="price_after_tax" value="${item['price_with_tax_calc']}">${format_amount(item['price_with_tax_calc'])}</span><span id="currency">${cur_symbol(item['product']['currency'])}</span>)
                            <span class="tax" style="display:none" value="${item['tax']}"></span>
                            <?py #endif ?>
                        <?py #endif ?>
                        </td>
                        <td><input id="quantity" name="nb_product" type="text" maxlength="4" value="${item['quantity']}" /></td>
                        <td class="price"><span id="amount"></span><span>${cur_symbol(item['product']['currency'])}</span></td>
                        <td><a href="javascript:void(0)" class="supprimer" title="${_('Supprimer')}">x</a></td>
                    </tr>

                    <?py #endfor ?>
                </tbody>
            </table>
            <a class="btn purchase" href="javascript:next()">${_('Valider')}</a>

        </div>
        <!--//MAP SHOPS-->
        <div class="clear"></div>

    </div>
    <!--FIN CONTENU-->
</div>
<!--FIN CONTENEUR-->

<script type="text/javascript">

    function next() {
        if ($('tr #amount').length == 0) return;

        $.get('/ajax_basket',
                function(data) {
                    if (data['res'] == 'FAILURE') {
                        $(".errwrapper").text(data['err']);
                    } else {
                        if (data['set_cookies_js']) {
                            eval(data['set_cookies_js']);
                        }
                        location = "${order_addr_url_format}";
                    }
                }
        );
    }

    function calc_row(tr) {
        var count = tr.find("#quantity").val();
        if (count > 0) {
        } else {
            count = 1;
            tr.find("#quantity").val(count);
        }
        if (tr.find("#price_after_tax").length > 0 && tr.find(".tax").attr("value") * 1 > 0)
            tr.find("#amount").text(formatAmount(tr.find("#price_after_tax").text() * count));
        else
            tr.find("#amount").text(formatAmount(tr.find("#price").text() * count));
        tr.find(".tax").text(tr.find(".tax").attr("value") * count);
    }
    function calc_sum() {
        var currency = "";
        var diff_currency = false;
        $('tr #currency').each(function(){
            if (currency == "") {
                currency = $(this).text();
            } else if (currency != $(this).text()) {
                // different currencies ??
                diff_currency = true;
            }
        });
        if (diff_currency) {
            $('#sum_amount').hide().siblings().hide();
            return;
        }

        var sum = 0;
        $('tr #amount').each(function(){
            sum += $(this).text() * 1;
        });
        $('#sum_amount').text(formatAmount(sum) + " " + currency);
        $('#sum_amount').show().siblings().show();
    };

    $(function() {
        $('tr #amount').each(function(){
            calc_row($(this).parent().parent());
        });
        calc_sum();

        $('tr #quantity').change(function(){
            // update quantity
            var tr = $(this).parent().parent();
            calc_row(tr);
            calc_sum();

            $.post('/ajax_basket', {
                'cmd': 'update',
                'sale': tr.attr('data'),
                'quantity': $(this).val(),
            });
        });

        $('tr .supprimer').click(function(){
            // remove item
            var tr = $(this).parent().parent();
            tr.remove();
            calc_sum();

            $.post('/ajax_basket', {
                'cmd': 'del',
                'sale': tr.attr('data')},
                function(data) {
                    $("#nb_prod").html(data['cur_basket_qty']);
                }
            );
        });
    });

</script>
