<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>${route_args.get('title') or _('Dragon Dollar & Chinese Coins')}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <?py for n, v in route_args.get('meta', {}).iteritems(): ?>
        <meta name="${n}" content="${v}">
    <?py #endfor ?>

    <link rel="icon" type="image/png" href="/img/favicon.png" />
    #{css_loader}
    #{js_loader}

<script type="text/javascript">
    $(document).ready(function(){
        $("#slider").easySlider({
            auto: true,
            continuous: true,
            numeric: true,
            speed: 	400,
            pause: 4000
        });

        $("#filtreLink").click(function () {
            $(".filtreform").toggleClass("on", 100);
            return false;
        });
        $("#trieOk").click(function () {
            $(".filtreform").toggleClass("on", 100);
            return false;
        });
        $("#allProd").click(function () {
            $(".filtreform").toggleClass("on", 100);
            return false;
        });


        //Select header present sur toutes les pages
        $("#city span").click(function () {
            $(".ville").toggleClass("on", 100);
            return false;
        });
        $("#listecity li label").click(function () {
            $(".ville").toggleClass("on", 100);
            return false;
        });

        $("#copyright").html($("#copyright").text());
    });

    #{set_cookies_js}
</script>

<!--[if IE 6]>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#filtreLink").click(function () {
            $(".filtreform").toggleClass("on",100);
            return false;
        });
    });
</script>
<![endif]-->

</head>
<body>
    <!--HEADER-->
    <div id="wrapheader">
        <!--HEADER-->
        <div id="header">
            <a id="logo" href="/">${_('Dragon Dollar & Chinese Coins')}</a>
            <!--NAV-->
            <div id="nav">
                <!--MENU-->
                <ul id="menu">
                    <li>
                        <a href="#">${_('Buy')}</a>
                    </li>
                    <li>
                        <a href="/coins/">${_('Learn')}</a>
                    </li>
                    <li>
                        <a href="#">${_('Collect')}</a>
                    </li>
                    <li>
                        <a href="#">${_('Library')}</a>
                    </li>
                    <li>
                        <a href="/coins/coin-appraisal-what-is-your-chinese-coin-worth/">${_('What is your chinese coin worth ?')}</a>
                    </li>
                </ul>
                <!--FIN MENU-->

                <ul id="partage">
                    <li class="btnSocial fck"><a href="http://www.facebook.com/sharer.php?u=http://www.dragondollar.com/" target="_blank"></a></li>
                    <li class="btnSocial gg"><a href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=http://www.dragondollar.com" target="_blank"></a></li>
                    <li class="btnSocial twt"><a href="http://twitter.com/share?url=http://www.dragondollar.com&amp;text=DragonDollar" target="_blank"></a></li>
                    <li class="btnSocial du"><a href="http://like.baidu.com/set?buttontype=small&amp;cb=bdShare.ajax._callback&amp;index=0&amp;url=http://www.dragondollar.com" target="_blank"></a></li>
                    <li class="btnSocial wu"><a href="http://service.weibo.com/share/share.php?url=http://www.dragondollar.com&amp;appkey=&amp;title=DragonDollar&amp;pic=&amp;ralateUid=&amp;language=zh_cn" target="_blank"></a></li>
                </ul>
            </div>
            <!--FIN NAV-->

            <!--PANIER-->
            <a href="${basket_url_format}" id="panier"><em id="nb_prod">${basket_qty}</em></a>

        </div>
        <!--FIN HEADER-->
    </div>
    <!--FIN HEADER-->

    <div id="dialog-login" title="Login">
        <?py include('login.html') ?>
    </div>
    <div id="dialog-register" title="Register">
        <?py include('registration.html') ?>
    </div>

    <!--content-->
    <div id="content">
    #{_content}
    </div>
    <!--FIN content-->

    <!--FOOTER-->

    <div id="wrapfooter">
    <div id="footer">
        <ul>
            <li><a href="#">${_('Dragon Dollar')}</a>|</li>
            <li><a href="#">${_('Terms & Conditions')}</a>|</li>
            <li><a href="https://plus.google.com/117060268176057826382" rel="publisher" target="_blank">Google+</a></li>
            <li><strong id="copyright">${_('Copyright &copy; 2009-2015 Dragon Dollar Limited')}</strong></li>
        </ul>
    </div>
    </div>
	<!--FIN FOOTER-->
</body>
</html>
