<!--CONTENEUR BOTTOM-->
<div id="conteneurBottom">
    <!--CONTENU-->
    <div class="boxCenter">
        <div id="wrapPanier">
            <strong id="titlepanier">${_("Votre Commande")}</strong>
            <ul>
                <li class="li1 ok"><a href="${basket_url_format}"><span>1 </span>${_("Commande")}</a></li>
                <li class="li2 ok"><span>2 </span>${_("Identification")}</li>
                <li class="li3 on"><span>3 </span>${_("Adresse de livraison")}</li>
                <li class="li4"><span>4 </span>${_("Validation")}</li>
            </ul>
            <?py include('_user_info.html') ?>
        </div>
        <!--//MAP SHOPS-->
        <div class="clear"></div>

    </div>
    <!--FIN CONTENU-->
</div>
<!--FIN CONTENEUR-->
