<div id="conteneurTop">
    <div class="contenuTxt">
        <h1><span>Privacy Policy</span></h1>

        <h2>Our commitment to privacy</h2>

        <p>
        Dragon Dollar (Canada) Operations Limited ("Dragon Dollar") knows that protecting the privacy and confidentiality of your personal information is important to you. This Privacy Code governs the collection, use and disclosure of your personal information in any form, whether written or electronic, by Dragon Dollar and its affiliates. The collection, use and disclosure of your personal information is governed by the Personal Information Protection and Electronic Documents Act (the "Act"), and any applicable provincial legislation. This Privacy Code explains what personal information may be collected from you and how it is used. It also explains how you can ask questions, make suggestions, and express concerns about our privacy practices.
        </p>
        <p>
        This Privacy Code applies only to personal information collected by Dragon Dollar and its affiliates. Be aware that our websites may contain links to other websites that are maintained by third parties who are not required to comply with this Privacy Code and for which Dragon Dollar has no responsibility. Please review the privacy policies on any external websites to determine their information handling practices.
        </p>
        <p>
        This Privacy Code is available to the public through our websites. If you have any additional concerns or questions, we encourage you to contact us and we will address your concerns to the best of our ability. Please read this Privacy Code carefully, and check back periodically as we may update it from time to time. By submitting your personal information to Dragon Dollar, you signify your agreement to the terms and conditions of this Privacy Code.
        </p>

        <h3>What is personal information?</h3>

        <p>
        Personal information is any information about an identifiable individual.
        </p>
        <p>
        Dragon Dollar is responsible for personal information under its control. Dragon Dollar has implemented policies and practices to give effect to this Privacy Code, including training and communicating with our employees about the importance of privacy and implementing security procedures that reasonably protect the personal information you provide to us. In addition, Dragon Dollar Limited, Dragon Dollar's parent company, has appointed a Chief Privacy Officer to oversee personal information-handling practices of Dragon Dollar and its affiliates.
        </p>
        <p>
        Children: If you are under the age of 18, be sure to obtain your parent or guardian's permission before you send any personal information to us, or anyone else. We encourage parents to get involved with their children's online usage and to be aware of the activities in which they are participating.
        </p>

        <h3>What personal information do we collect, and why?</h3>

        <p>
        We may collect and process the following data about you:
        </p>

        <ul>
        <li>information that you provide by filling in forms on our websites. This includes information provided at the time of registration or at the time of posting material or making a bid;</li>
        <li>if you contact us, we may keep a record of that correspondence;</li>
        <li>we may ask you to complete surveys that we use for research purposes although you do not have to respond to them;</li>
        <li>details of transactions you carry out through our websites and of the fulfilment of any contract between us;</li>
        <li>details of your visits to our websites and the resources that you access.</li>
        </ul>

        <p>
        When information is collected from you, we generally let you know at the time of collection how we will use it - typically only to respond to your inquiry or to process your request or to better understand your needs and provide you with better service. Specifically, we use your information to help you complete a transaction, to communicate back to you, to update you on services and benefits, and to personalize our websites for you. Credit card information is used only for payment processing and is not retained for other purposes.
        </p>
        <p>
        From time to time, we may also use your information to contact you for market research or to provide you with marketing information we think would be of particular interest. At a minimum, we will always give you the option of receiving such direct marketing or market research contact.
        </p>

        <h4>IP Addresses and Cookies</h4>

        <p>
        We may collect information about your computer including, where available, your IP address, operating system and browser type to help diagnose problems with our server and to administer our websites. This is data about our users' browsing actions and patterns and does not identify any individual. We will not collect information from you other than that provided by your browser in normal use.
        </p>
        <p>
        We may use cookies in our websites which contain information that is transferred to your computer's hard drive. They help us to improve our websites and to deliver a better and more personalised service. They enable us:
        </p>
        <ul>
        <li>to estimate our audience size and usage pattern;</li>
        <li>to store information about your preferences and so allow us to customise our websites according to your individual interests;</li>
        <li>to speed up your searches;</li>
        <li>to recognise you when you return to our websites.</li>
        </ul>

        <p>
        You may refuse to accept cookies by activating the setting on your browser, which allows you to refuse the setting of cookies. However, if you select this setting you may be unable to access certain parts of our websites.
        </p>
        <p>
        We do not use cookies to gather information from you other than information about our own websites.
        </p>

        <h3>To whom does Dragon Dollar disclose personal information, and why?</h3>

        <p>
        Dragon Dollar may disclose your personal information under the following circumstances:
        </p>

        <ul>
            <li>we may transfer your personal information on a confidential basis to third party service providers in order to fulfill your order or perform processing and other specialized services (such as credit card processing, prize fulfillment of our contests, collection of overdue accounts, management of customer service requests, and product delivery);</li>
            <li>your personal information may be processed and stored outside of the province in which you reside and/or outside of Canada by us, an affiliate or a third party service provider for the purposes set out in this Privacy Code and, under the laws of these other jurisdictions, in certain circumstances foreign courts, law enforcement agencies or regulatory agencies may be entitled to access your personal information;</li>
            <li>we may disclose your personal information to third parties if you have violated our terms of service or conditions of purchase, or if we need to comply with applicable laws and lawful governmental requests, other legal and regulatory authorities and for other legal reasons;</li>
            <li>we may disclose your personal information on a confidential basis to parties connected with the contemplated or actual financing, insuring, sale, assignment or other disposal of all or part of our business or assets, including for the purposes of determining whether to proceed or continue with such transaction or business relationship or fulfilling any records or other reporting requirements to such parties.</li>
        </ul>

        <p>
        Dragon Dollar supports and adheres to <a href="http://fightspam.gc.ca/eic/site/030.nsf/eng/home" rel="nofollow" target="_blank">Canada's Anti-Spam Legislation (CASL)</a>. We do not share, sell, or lease personal information about you to any third-parties for their marketing use.
        </p>
        <p>
        We reserve the right to use and disclose your personal information without your consent where required or permitted by law, for example, if we have reasonable grounds to believe the information could be useful when investigating a contravention of a federal, provincial or foreign law, in order to protect or defend our legal interests, or to comply with applicable laws and lawful governmental requests.
        </p>

        <h3>Safeguards</h3>

        <p>
        Dragon Dollar has technical, contractual, administrative and physical security measures to protect your personal information in a manner that is reasonable and appropriate to the nature of the personal information you provide Dragon Dollar. For example, when you provide credit card information to us, we work to help protect the security of your credit card information by using industry standard secure sockets layer (SSL) encryption technology.
        </p>
        <p>
        Please be aware that e-mail is not a secure medium, and any personal information you send to us by e-mail could be intercepted. If your communication is very sensitive, or includes information such as your credit card number, you should not send it electronically unless the e-mail is encrypted or your browser indicates that the access to our website is secure. Materials posted to online forums such as bulletin boards or comment sites are public, not secure and may be viewed by anyone. Any personal information you post may be collected and used by anyone and may result in unsolicited messages from other internet users. Dragon Dollar is not responsible for personal information you choose to post or submit in any online forum on any of its websites.
        </p>

        <h4>How to access and correct your personal information</h4>

        <p>
        Some of our websites provide you with the means to access, update, edit or delete certain subscriber or registration information by going to the appropriate page on the website and changing or deleting such information as desired. Alternatively, or for other information, you may contact Customer Service at privacy@dragondollar.com and we will make the changes upon receipt of appropriate evidence.
        </p>
        <p>
        We will give you access to the information we retain about you within a reasonable time, upon written request, satisfactory identification and proof of entitlement. In some cases, we may not provide access to personal information in our possession or control. If we deny your request, we will advise you in writing of the reason for the refusal and you may challenge our decision.
        </p>

        <h4>How to address concerns regarding your privacy.</h4>

        <p>
        Dragon Dollar encourages you to contact us with any questions or concerns you have about your privacy or this Privacy Code. If you have a question concerning Dragon Dollar's Privacy Code, would like a copy, or if you have any concerns, please contact Customer Service at privacy@dragondollar.com.
        </p>
        <p>
        Customer Service can successfully deal with many issues. If you prefer, or if after contacting Customer Service your concerns or questions have not been resolved to your satisfaction, you can contact Dragon Dollar Limited's Chief Privacy Officer in writing as follows:
        </p>
        <address class="retrait">
            Chief Privacy Officer<br/>
            Dragon Dollar Limited<br/>
            RM 19C LOCKHART CTR 301-307<br/>
            LOCKHART RD WAN CHAI<br/>
            HONG KONG<br/>
        </address>
        <p>This Privacy Code was last updated on April 5, 2015</p>
    </div>
</div>
