<form id="registerForm" name="registerForm" method="post">
    <div class="errwrapper">&nbsp;</div>
    <div>
        <input type="text" name="email" id="reg_email" placeholder="${_('Email')}" class="text ui-widget-content ui-corner-all" />
    </div>
    <div>
        <input type="password" name="password" id="reg_password" placeholder="${_('Password')}" class="text ui-widget-content ui-corner-all" />
    </div>
    <div>
        <input type="password" name="password2" id="reg_password2" placeholder="${_('Verify Password')}" class="text ui-widget-content ui-corner-all" />
    </div>
    <br/>
    <div>
        <a style="text-decoration:underline" href="javascript:toLogin();">Have account ? login here</a>
    </div>
</form>

<script type="text/javascript">
function toLogin() {
    $("#dialog-register").dialog('close');
    $("#dialog-login").dialog('open');
}

$(function() {
    $( "#dialog-register" ).dialog({
        autoOpen: false,
        height: 190,
        modal: true,
        buttons: {
            ${_('Register')}: function() {
                $.post('/ajax_register',
                    $("#registerForm").serializeArray(),
                    function(data) {
                        if (data['res'] == 'FAILURE') {
                            $("#registerForm .errwrapper").text(data['err']);
                        } else {
                            if (data['set_cookies_js']) {
                                eval(data['set_cookies_js']);
                            }
                            location.reload();
                        }
                    }
                )
            },
            "Cancel": function() {
                $(this).dialog("close");
            }
        }
    }).show();
});
</script>
