<div class="float out">
    <form id="registerForm" name="registerForm" method="POST">
        <div class="log">
            <h1>Créez votre compte</h1>
            <div class="errwrapper"></div>
            <input name="email" type="text" placeholder="Adresse e-mail" />
            <input name="password" type="password" placeholder="Mot de passe" />
            <input name="password2" type="password" placeholder="Vérifiez Mot de passe" />
        </div>
        <a class="btnlog logout" href="javascript:register()">Créez votre compte</a>
    </form>
</div>

<div class="float in">
    <form id="loginForm" name="loginForm" method="POST">
        <div class="log">
            <h1>Déjà enregistré</h1>
            <div class="errwrapper"></div>
            <input name="email" type="text" placeholder="Adresse e-mail" /> 
            <input name="password" type="password" placeholder="Mot de passe" />
        </div>
        <a class="btnlog login" href="javascript:login()">Identifiez-vous</a>
        <a id="forgotpass" href="#">Mot de passe oublié ?</a>
    </form>
</div>
