<div class="produit">
	<a href="${p.get('link')}">
		<span class="main-image">
			<img src="${get_thumbnail(get_single_attribute(p, 'img'), 185)}" alt="visuel produit" class="custom" />
		</span>
		<h2 class="name">${p.get('name')}</h2>
        <strong class="modele">${p.get('short_desc')}</strong>
        <?py if p['show_final_price']: ?>
        <span class="prix">Prix : ${format_amount(p.get('price') + p.get('tax'))} ${cur_symbol(p.get('currency'))}</span>
        <?py else: ?>
        <span class="prix">Prix : ${format_amount(p.get('price'))} ${cur_symbol(p.get('currency'))}</span>
        <?py #endif ?>
	</a>

	<?py if p.get('variant'): ?>
	<ul class="thumbnails">
		<?py for variant in p.get('variant'): ?>
		<li><a href="${get_thumbnail(get_single_attribute(variant, 'img') or get_single_attribute(p, 'img'), 185)}"><img src="${get_thumbnail(variant.get('thumb'), 30)}"></a>
		</li>
		<?py #endfor ?>
	</ul>
	<?py #endif ?>
</div>
