<div class="produit">
	<a href="${p.get('link')}">
		<span class="main-image">
			<img src="${get_thumbnail(get_single_attribute(p, 'img'), 185)}" alt="visuel produit" class="custom" />
		</span>
		<h2 class="name">${p.get('name')}</h2>
        <strong class="modele">${p.get('desc')}</strong>
        <span class="prix">Prix : ${p.get('price')} ${p.get('currency')}</span>
	</a>

	<?py if p.get('variant'): ?>
	<ul class="thumbnails">
		<?py for variant in p.get('variant'): ?>
		<li><a href="${get_thumbnail(variant.get('img') or get_single_attribute(p, 'img'), 185)}"><img src="${get_thumbnail(variant.get('thumb'), 30)}" alt="${variant.get('@id')}"></a>
		</li>
		<?py #endfor ?>
	</ul>
	<?py #endif ?>
</div>
