<form id="formContainer" method="post">
    <input type="hidden" name="first_time" value="${first_time}"/>
    <div class="errwrapper"></div>
</form>
<div id="btnline">
    <a class="btn purchase" href="javascript:save()">Sauver</a>
    <a class="btn back" href="javascript:history.go(-1)">Etape précédente</a>
</div>
<div id="tmp"></div>

<script type="text/javascript">
var profile = #{user_profile};
var profileErr = '${err}';
var delayCallbacks = [];
var id_order = '${id_order}';
var succ_redirect_to = id_order ? '${succ_redirect_to}?id_order=${id_order}': '${succ_redirect_to}';


function getTemplate(name, item)
{
    var result = { template: '', callbacks: [] };

    switch (item.type) {

    case 'text': {
        var tpl = '';

        tpl += '<p>' +
                   '<label for="' + name + '">' + utf8_decode(item.name) + '</label>' +
                   '<input type="text" id="' + name + '" ' +
                   'name="' + name + '" value="' + utf8_decode(item.value) +'" />' +
               '</p>';

        if (typeof item.accept !== 'undefined' && item.accept) {
            delayCallbacks.push(function() {
                $("#" + name).blur(function() {
                    var reg = new RegExp(item.accept);
                    if (! reg.test(this.value)) {
                        /* XXX allow customisation of the input error handling */
                        $("#formContainer .errwrapper").text('Bad value for ' + utf8_decode(item.name)+ ': ' + this.value);
                    } else {
                        $("#formContainer .errwrapper").text('');
                    }
                });
            });
        }

        if (typeof item.show !== 'undefined' && item.show) {
            delayCallbacks.push(function() {
                $("#" + item.show.depends_field).change(function() {
                    var field_val = $("#" + item.show.depends_field).val();
                    if ($("#" + item.show.depends_field).attr('type') == 'checkbox')
                        field_val = $("#" + item.show.depends_field).attr('checked')

                    if (field_val == item.show.depends_value) {
                        $("#" + name).parent().show();
                    } else {
                        $("#" + name).parent().hide();
                    }
                }).change();
            });
        }
        result.template = tpl;
    } break;

    case 'select': {
        var tpl = '';

        if (name == 'birthday') {
            tpl = '<label for="' + name + '">' + utf8_decode(item.name) + '</label>';
            var min_values = item.accept[0].split('-');
            var max_values = item.accept[1].split('-');
            var cur_value = item.value.split('-');

            for (var j=0; j <= 2; j++) {
                tpl += '<select class="' + name + '" name="' + name + j + '">';
                for (var i=max_values[j]; i >= min_values[j]; i--) {
                    tpl += '<option value="' + i + '"';
                    if (i == cur_value[j])
                        tpl += ' selected="selected"';
                    tpl += '>' + i + '</option>';
                }
                tpl += '</select>';
            }

            tpl = '<p>' + tpl + '</p>';

        } else if (typeof item.accept !== 'undefined' && item.accept) {
            tpl = '<label for="' + name + '">' + utf8_decode(item.name) + '</label>' +
                  '<select id="' + name + '" name="' + name + '">';
            for (k in item.accept) {
                tpl +=
                '<option value="' + item.accept[k][1] + '"';
                if (item.value == item.accept[k][1])
                    tpl += ' selected="selected"';
                tpl += '>' + (item.name == 'Province' ? item.accept[k][0] : utf8_decode(item.accept[k][0])) + '</option>';
            }
            tpl += '</select>';

            if (name == 'locale' || name == 'gender')
                tpl = '<p style="display:none">' + tpl + '</p>';
            else
                tpl = '<p>' + tpl + '</p>';
        }

        result.template = tpl;
    } break;

    case 'radio': {
        var tpl = '';

        if (typeof item.accept !== 'undefined' && item.accept) {
            for (k in item.accept) {
                tpl += '<label for="' + name + '">' + utf8_decode(item.accept[k][0]) + '</label>' +
                       '<input type="radio" id="' + name + '" ' +
                       'name="' + name + '" value="' + item.accept[k][1] + '" ';
                if (item.value == item.accept[k][1])
                    tpl += ' checked="checked"';
                tpl += '/>';
            }
        }

        result.template = tpl;
    } break;

    case 'checkbox': {
        var tpl = '';

        tpl += '<label for="' + name + '">' + utf8_decode(item.name) + '</label>' +
               '<input type="checkbox" id="' + name + '" ' +
               'name="' + name + '" ' + item.value;
        tpl += '/>';

        result.template = '<p>' + tpl + '</p>';
    } break;

    case 'fieldset': {
        var tpl = '';

        for (i in item.values) {
            tpl += '<fieldset>';

            if (typeof item.name !== 'undefined')
                tpl += '<legend>' + utf8_decode(item.name) + '</legend>';

            for (j in item.fields) {
                var f_name = item.fields[j][0];
                var field_item = item.fields[j][1];
                field_item = JSON.parse(JSON.stringify(field_item));
                /* correct id for the dependency */
                if (typeof field_item.depends !== 'undefined') {
                    if (field_item.depends != '' && name != 'general')
                        field_item.depends += '_' + item.values[i].id;
                }
                /* add the matching value */
                field_item.value = item.values[i][f_name];
                if (name != 'general')
                    f_name += '_' + item.values[i].id;
                var ret = getTemplate(f_name, field_item);
                tpl += ret.template;
                result.callbacks = result.callbacks.concat(ret.callbacks);
            }

            tpl += '</fieldset>';
        }

        result.template = tpl;
    } break;

    case 'ajax': {
        if (typeof item.depends !== 'undefined' && item.depends) {
            /* setup a onchange hook */
            delayCallbacks.push(function() {
                $('#' + item.depends).change(function() {
                    $.ajax({ 'url': item.source,
                             'data': { "dep": this.value,
                                       "val": item.value },
                             'type': 'GET',
                             'async': false, /* avoid race condition */
                             'dataType': 'json',
                             'success': function(d) {
                                 if (d.type != 'ajax') {
                                     if (d.name)
                                        d.name = utf8_encode(d.name);
                                     var t = getTemplate(name, d).template;
                                     $("#wrapper_" + name).html(t);
                                     if (d.accept.length == 0) {
                                        $("#wrapper_" + name).hide();
                                     } else {
                                        $("#wrapper_" + name).show();
                                     }
                                 }
                             },
                           });
                });
                $('#' + item.depends).change();
            });
            result.template = '<p id="wrapper_' + name + '"></p>';
        } else {
            result.callbacks.push(function() {
                $.ajax({ 'url': item.source,
                         'data': { "val": item.value },
                         'type': 'GET',
                         'async': false, /* avoid race condition */
                         'dataType': 'json',
                         'success': function(d) {
                             if (d.type != 'ajax') {
                                 if (d.name)
                                    d.name = utf8_encode(d.name);
                                 var t = getTemplate(name, d).template;
                                 $("#ajax_" + name).html(t);
                             }
                         },
                       });
            });
            result.template = '<p id="ajax_' + name + '"></p>';
        }
    } break;

    }

    if (typeof item.show !== 'undefined' && item.show && item.show.init == 'hide') {
        delayCallbacks.push(function() {
            $("#" + name).parent().hide();
        });
    }
    return result;
}

$(document).ready(function() {
    if (profileErr != '') {
        $("#formContainer .errwrapper").text(profileErr);
    }

    var elem;
    if (profile.general != undefined) {
        name = 'general';
        elem = getTemplate(name, profile[name]);
        $("#formContainer").append(elem.template);
        for (c in elem.callbacks) elem.callbacks[c]();
    }
    for (name in profile) {
        if (name == 'general') continue;
        elem = getTemplate(name, profile[name]);
        $("#formContainer").append(elem.template);
        for (c in elem.callbacks) elem.callbacks[c]();
    }

    // loop for dependent elements after form init
    for(d in delayCallbacks) delayCallbacks[d]();


    $("input[name='addr_type_0']").change(function() {
        addr_type_changed($(this));
    });
    addr_type_changed($("input[name='addr_type_0'][checked]"));

    $("input[id^='addr_type']").change(function(){
        var addr_type = $("input#" + $(this).prop("id")+":checked").val();
        $(this).siblings("p:has(input[id^='full_name'])").toggle(addr_type == 0 || addr_type == 2);
    });
    $("input[id^='addr_type']").change();
});

function addr_type_changed(obj) {
    if ($('form#formContainer #addr_type_00').length == 0)
        $('#addr_type_00').parent().remove().insertAfter(obj.parent());

    var _addr_type = obj.val();
    if (_addr_type == '2') {
        $('#addr_type_00').parent().hide();
    } else {
        $('#addr_type_00').parent().show();
        if (_addr_type == '0') {
            another_addr_type = '1'
        } else {
            another_addr_type = '0'
        }
        $("input[name='addr_type_00'][value='" + another_addr_type + "']").click();
        $("input[name='addr_type_00'][value='2']").attr('disabled', true);
    }
}

function save() {
    $('form#formContainer #addr_type_00:hidden').parent().remove().appendTo('div#tmp');

    $.post('/ajax_user',
        $("#formContainer").serializeArray(),
        function(data) {
            if (data['set_cookies_js']) {
                eval(data['set_cookies_js']);
            }
            if (data['res'] == 'FAILURE') {
                $("#formContainer .errwrapper").text(data['err']);
                if (data['redirect_to'] != undefined)
                    location = data['redirect_to'];
                else
                    location = '#';
            } else {
                $("#formContainer .errwrapper").text('');
                if (succ_redirect_to)
                    location = succ_redirect_to;
                else
                    location.reload();
            }
        }
    )
}
</script>

