<div id="panier" role="main">
    <strong id="titlepanier">Votre Commande</strong>
    <ul>
        <li class="li1 on"><span>1 </span>Commande</li>
        <li class="li2"><span>2 </span>Identification</li>
        <li class="li3"><span>3 </span>Adresse de livraison</li>
        <li class="li4"><span>4 </span>Validation</li>
    </ul>

    <h1 id="titleH1">Votre Commande :</h1>
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th class="left">Produit(s) commandé(s)</th>
                <th>Prix Unitaire</th>
                <th>Quantité</th>
                <th>Total</th>
                <th class="grise delete">Annulation</th> 
            </tr>
        </thead>
        <tbody>
            <div class="errwrapper"></div>
            <?py for item in basket: ?>
            <tr data="${item['item']}">
                <td class="left">
                    <div class="prod">
                        <a href="${item.get('link')}">
                            <img width="60px" src="${item['variant'].get('img') or get_single_attribute(item['product'], 'img')}"/>
                            <h3 class="title">${item['product']['name']}</h1>
                            <strong class="type">
                            <?py if item['type']: ?>Taille : ${item['type']['name']}<?py #endif ?>
                            <?py if item['variant'] and item['type']: ?> - <?py #endif ?>
                            <?py if item['variant']: ?>Coloris : ${item['variant']['name']}<?py #endif ?>
                            </strong>
                            <span class="ref">Ref : ${item['product']['id']}</span>
                        </a>
                    </div>
                </td>
                <td class="price"><span id="price">${format_amount(item['price'])}</span><span id="currency">${cur_symbol(item['product']['currency'])}</span></td>
                <td><input id="quantity" name="nb_product" type="text" maxlength="4" value="${item['quantity']}" /></td>
                <td class="price"><span id="amount"></span><span>${cur_symbol(item['product']['currency'])}</span></td>
                <td><a href="javascript:void(0)" id="supprimer" title="Supprimer">x</a></td>
            </tr>
            <?py #endfor ?>
            <tr>
                <td colspan="5" class="totalline left">
                    <div>
                        <label for="code">Code Avantage </label> <input id="code" name="code" type="text" value="" /><input id="btnOk" type="submit" value="Ok" />
                        <span>Texte explicatif du système avantage</span>
                    </div>
                    <strong>
                        Total produits TTC
                        <span id="sum_amount"></span>
                    </strong>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="btn purchase" href="javascript:next()">Valider</a>
    <a class="btn back" href="javascript:history.go(-1)">Continuer mes achats</a>
</div>

<script type="text/javascript">
function next() {
    if ($('tr #amount').length == 0) return;

    $.get('/ajax_basket',
        function(data) {
            if (data['res'] == 'FAILURE') {
                $(".errwrapper").text(data['err']);
            } else {
                if (data['set_cookies_js']) {
                    eval(data['set_cookies_js']);
                }
                location = "${order_addr_url_format}";
            }
        }
    );
}
function calc_row(tr) {
    var count = tr.find("#quantity").val();
    if (count > 0) {
    } else {
        count = 1;
        tr.find("#quantity").val(count);
    }
    tr.find("#amount").text(formatAmount(tr.find("#price").text() * count));
}
function calc_sum() {
    var currency = "";
    var diff_currency = false;
    $('tr #currency').each(function(){
        if (currency == "") {
            currency = $(this).text();
        } else if (currency != $(this).text()) {
            // different currencies ??
            diff_currency = true;
        }
    });
    if (diff_currency) {
        $('#sum_amount').hide().siblings().hide();
        return;
    }

    var sum = 0;
    $('tr #amount').each(function(){
        sum += $(this).text() * 1;
    });
    $('#sum_amount').text(formatAmount(sum) + " " + currency);
    $('#sum_amount').show().siblings().show();
}

$(function() {
    $('tr #amount').each(function(){
        calc_row($(this).parent().parent());
    });
    calc_sum();

    $('tr #quantity').change(function(){
        // update quantity
        var tr = $(this).parent().parent();
        calc_row(tr);
        calc_sum();

        $.post('/ajax_basket', {
            'cmd': 'update',
            'sale': tr.attr('data'),
            'quantity': $(this).val(),
        });
    });
    $('tr #supprimer').click(function(){
        // remove item
        var tr = $(this).parent().parent();
        tr.remove();
        calc_sum();

        $.post('/ajax_basket', {
            'cmd': 'del',
            'sale': tr.attr('data'),
        });
    });
});
</script>
