<div class="contenuTxt">
    <h1><span id="cgv">Conditions Générales de Vente</span></h1>

    <p>
        « www.breuer.fr » (ci-après dénommé « Le site ») est édité par la
        Société BREUER SAS au capital de 1000000 euros, dont le Siège Social
        est au 270 avenue Sainte Marguerite 06200 Nice, identifiée au RCS de
        Nice sous le numéro d’identification 302396197, numéro de TVA
        intracommunautaire n° FR 80302396197 (ci-après dénommée « BREUER »).
        <br>Toutes les commandes effectuées sur le site sont soumises aux
        présentes conditions générales de vente. BREUER se réserve le droit
        d’adapter ou de modifier à tout moment les présentes, la version des
        conditions générales de vente applicable à toute transaction étant
        celle figurant en ligne sur le site www.breuer.fr au moment de la
        commande.
    </p>

    <h2>I- Le Client</h2>

    <p>
        Le Client déclare être âgé d’au moins 18 ans et avoir la capacité
        juridique ou être titulaire d’une autorisation parentale lui permettant
        d’effectuer une commande sur le site.
        <br>Lors de l’enregistrement des données personnelles du Client dans la
        rubrique “mon compte”, ce dernier doit s’assurer de l’exactitude et de
        l’exhaustivité des données obligatoires qu’il fournit, notamment ses
        nom, prénom, adresse, téléphone et email.
        <br>Le client peut modifier ses données à la rubrique « mon compte ».
        <br>En cas d’erreur dans le libellé des coordonnées du destinataire,
        BREUER ne saurait être tenue responsable de l’impossibilité de livrer
        le produit.
    </p>

    <h2>II- Les Produits </h2>

    <p>
        Les produits proposés à la vente sont ceux décrits sur le Site. BREUER
        apporte le plus grand soin dans la présentation et la description de
        ces produits pour satisfaire au mieux l’information du Client.
        <br>Il est toutefois possible que des erreurs non substantielles
        puissent figurer sur le Site, ce que le client reconnaît et accepte.
        <br>En tout état de cause, en cas de non-conformité du produit livré
        par rapport à son descriptif sur le Site, le Client pourra soit,
        exercer son droit de rétractation, soit mettre en oeuvre la garantie de
        conformité de BREUER qui procédera, le cas échéant, soit à l’échange
        soit au remboursement du prix (en tout ou partie) éventuellement
        facturé.
    </p>

    <h2>III- La Commande </h2>

    <p>
        La prise de commande sur le Site est soumise au respect de la procédure
        mise en place par BREUER concrétisée par une succession de différentes
        étapes que le client doit impérativement suivre pour valider sa
        commande. Le client aura la possibilité, avant de valider
        définitivement sa commande, de vérifier le détail de celle-ci et son
        prix total, et de corriger d’éventuelles erreurs, avant de confirmer
        celle-ci pour exprimer son acceptation.
        <br>Toute commande confirmée par le Client vaut contrat de vente et
        acceptation de l’ensemble des stipulations des présentes.
        <br>Toute commande ne sera validée qu’après acceptation du paiement.
        <br>BREUER ne peut accepter les commandes que dans la limite des stocks
        disponibles.
        <br>Un email de confirmation récapitulant la commande (produits, prix,
        disponibilité des produits, quantité…) sera adressé au client par
        BREUER.
        <br>BREUER se réserve le droit d’annuler ou de refuser toute commande
        d’un client en cas de litige sur une commande antérieure.
        <br>La facture sera remise lors de la livraison.
    </p>

    <h2>IV- Prix et Modalités de paiement </h2>

    <h3>1. Détermination du prix </h3>

    <p>
        Les prix des produits sont indiqués en euros, toutes taxes comprises
        (TVA française) hors participation aux frais de port.
        <br>Le prix total de la commande (toutes taxes et frais de port
        compris) est indiqué dans la page de paiement.
        <br>BREUER se réserve le droit de modifier ses prix à tout moment mais
        les produits seront facturés sur la base des tarifs en vigueur au
        moment de l’enregistrement de la commande, sous réserve de
        disponibilité.
    </p>

    <h3>2. Modalité de paiement </h3>

    <p>
        Les produits sont payables comptant le jour de la commande effective.
        <br>A aucun moment, les sommes versées ne pourront etre considérées
        comme des arrhes ou des acomptes.
        <br>Le règlement des achats s’effectue par :
        <br>Carte bancaire : Le Client accède à un espace dédié mis à
        disposition par un établissement bancaire, lequel assure la sécurité et
        l’enregistrement de l’ordre de paiement.
        <br>A cet égard, le Client reconnaît expressément que la communication
        de son numéro de carte bancaire à BREUER vaut autorisation de débit de
        son compte à concurrence des produits commandés.
    </p>

    <h3>3. Les données enregistrées </h3>

    <p>
        Les données enregistrées et conservées par BREUER constituent la preuve
        de la commande et de l’ensemble des transactions passées.
        <br>Les données enregistrées par le système de paiement constituent la
        preuve des transactions financières.
    </p>

    <h2>V- Livraison </h2>

    <p>
        BREUER livre ses produits en France métropolitaine, Corse comprise et
        dans tous les pays de la CEE.
        <br>La livraison ne peut être effectuée dans des boîtes postales.
        <br>Les délais indiqués sont des délais indicatifs, correspondant aux
        délais moyens de traitement et de livraison.
        <br>Afin que ces délais soient respectés, le client doit s’assurer
        d’avoir communiqué des informations exactes et complètes concernant
        l’adresse de livraison (tels que, notamment : n° de rue, de bâtiment,
        d’escalier, codes d’accès, noms et/ou numéros d’interphone, etc.).
        <br>En cas de colis endommagés (déjà ouvert, produit manquant...), le
        Client s’engage à notifier au transporteur et à BREUER, par tous
        moyens, toutes réserves dans les 3 jours suivant la réception du
        produit.
        <br>En cas de retard de livraison de plus de 7 jours ouvrés, si le
        produit n’a pas été expédié, le Client peut dénoncer la commande par
        email et demander le remboursement de sa commande.
        <br>BREUER ne pourra pas être tenu responsable des conséquences dues à
        un retard d’acheminement n’étant pas de son fait.
    </p>

    <h2>VI- Droit de rétractation </h2>

    <p>
        Le Client dispose d’un droit de rétractation, dans un délai de quatorze
        (14) jours à compter de la livraison de la commande qui s’exercera par
        le retour, à ses frais et à ses risques, des produits neufs (dans leur
        emballage d’origine, non portés, non lavés) accompagné du numéro de
        commande à l’adresse suivante :

				<span class="retrait">
				BREUER SAS
				<br>Dpt E-Commerce
				<br>270 avenue Sainte Marguerite
				<br>06200 Nice (France)
				</span>
        <br>BREUER fera le remboursement au Client, déduction faite des
        éventuels frais d’expédition, dans les conditions visées à l’article
        VII suivant.
    </p>

    <h2>VII– Remboursement </h2>

    <p>
        Le remboursement des produits dans les hypothèses visées à l’article II
        et VI seront effectués par BREUER dans un délai maximum de 30 jours
        après la réception par elle des dits produits. Le remboursement
        s’effectuera par carte bancaire.
    </p>

    <h2>VIII- Droit applicable </h2>

    <p>
        Toute commande emporte de plein droit l’adhésion du client aux
        conditions générales de Vente. Ces conditions générales de vente sont
        régies par le droit français. En cas de litige, les Tribunaux français
        seront seuls compétents. En cas de difficulté ou de réclamation à
        l’occasion d’une commande, le client peut s’adresser au Service Clients
        (serviceclients@breuer.fr) pour trouver une solution amiable.
    </p>

    <h2>IX–Informatique et Libertés </h2>

    <p>
        Les informations collectées par BREUER lors d’une commande du client
        sont nécessaires à la gestion de la transaction et à cet effet pourront
        être communiquées en tout ou partie aux prestataires de BREUER
        intervenant dans le cadre de l’exécution de la commande. Le client est
        informé que ces mêmes données à caractère personnel pourront également
        être collectées par un organisme en charge de l’analyse des commandes
        et de la lutte contre la fraude à la carte bancaire. Conformément à la
        loi Informatique et Libertés n°78-17 du 6 janvier 1978, le Client
        dispose d’un droit d’accès, de rectification, d’opposition et de
        suppression aux données le concernant.
    </p>

    <h2>X–Propriété Intellectuelle </h2>

    <p>
        En aucun cas le Client n’est autorisé à télécharger ou à modifier tout
        ou partie du Site.
        <br>La marque BREUER ainsi que le Logo de BREUER sont des marques
        déposées et ne peuvent etre utilisées sans l’autorisation préalable
        écrite de son propriétaire.
    </p>
    <br><br><br>

</div>