<div class="contenuTxt">
    <h1><span id="cgv">Conditions Générales de Vente</span></h1>

    <p>
        « www.breuer.fr » (ci-après dénommé « Le Site ») est édité par la Société BREUER SAS
        au capital de 1000000 euros, dont le Siège Social est au 270 avenue Sainte Marguerite
        06200 Nice, identifiée au RCS de Nice sous le numéro d’identification 302396197, numéro
        de TVA intracommunautaire n° FR 80302396197 (ci-après dénommée « BREUER »).
        <br>
        <br>
        Toutes les commandes effectuées sur le site sont soumises aux présentes conditions
        générales de vente. BREUER se réserve le droit d’adapter ou de modifier à tout moment
        les présentes, la version des conditions générales de vente applicable à toute transaction
        étant celle figurant en ligne sur le site www.breuer.fr au moment de la commande.
    </p>

    <h2>I- Le Client</h2>

    <p>
        Le Client déclare être âgé d’au moins 18 ans et avoir la capacité juridique ou être titulaire
        d’une autorisation parentale lui permettant d’effectuer une commande sur le site.
        <br>
        Lors de l’enregistrement des données personnelles du Client dans la rubrique “mon
        compte”, ce dernier doit s’assurer de l’exactitude et de l’exhaustivité des données
        obligatoires qu’il fournit, notamment ses nom, prénom, adresse, téléphone et email.
        <br>
        Le Client peut modifier ses données à la rubrique « mon compte ».
        <br><br>
        En cas d’erreur ou d’imprécision dans le libellé des coordonnées du destinataire, BREUER
        ne saurait être tenue responsable de l’impossibilité de livrer le produit.
    </p>

    <h2>II- Les Produits</h2>

    <p>
        Les produits proposés à la vente sont ceux décrits sur le Site. BREUER apporte le plus
        grand soin dans la présentation et la description de ces produits pour satisfaire au mieux
        l’information du Client.
        <br><br>

        Il est toutefois possible que des erreurs non substantielles puissent figurer sur le Site, ce
        que le client reconnaît et accepte.
        <br><br>
        En tout état de cause, en cas de non-conformité du produit livré par rapport à son
        descriptif sur le Site, le Client pourra soit, exercer son droit de rétractation, soit mettre
        en œuvre la garantie de conformité de BREUER qui procédera, le cas échéant, soit à
        l’échange soit au remboursement du prix (en tout ou partie) éventuellement facturé.
    </p>

    <h2>III- La Commande </h2>

    <p>
        La prise de commande sur le Site est soumise au respect de la procédure mise en place
        par BREUER concrétisée par une succession de différentes étapes que le client doit
        impérativement suivre pour valider sa commande.
        <br><br>

        Le Client aura la possibilité, au début du processus de commande, dans son panier
        d’achat, de connaître les moyens de paiement proposés par le Site ainsi que les
        restrictions, notamment géographiques, de livraison.
        <br><br>

        Le client aura la possibilité, avant de valider définitivement sa commande, de vérifier le
        détail de celle-ci et son prix total, et de corriger d’éventuelles erreurs, avant de confirmer
        celle-ci pour exprimer son acceptation.
        <br><br>

        Toute commande confirmée par le Client vaut contrat de vente et acceptation de
        l’ensemble des stipulations des présentes.
        <br><br>

        Toute commande ne sera validée qu’après acceptation du paiement.
        <br><br>

        BREUER ne peut accepter les commandes que dans la limite des stocks disponibles.
        <br><br>

        Un email de confirmation récapitulant la commande, et notamment lesproduits, le prix
        total, la disponibilité des produits, les quantités, le moyen de paiement et les délais de
        livraisons sera adressé au client par BREUER.
        <br><br>

        BREUER se réserve le droit d’annuler ou de refuser toute commande d’un client en cas de
        litige sur une commande antérieure.
        <br><br>

        La facture sera remise lors de la livraison.
    </p>

    <h2>IV- Prix et Modalités de paiement </h2>

    <h3>1. Détermination du prix </h3>

    <p>
        Les prix des produits sont indiqués en euros, toutes taxes comprises (TVA française) hors
        participation aux frais de port.
        <br><br>

        Le prix total de la commande (toutes taxes et frais de port compris) est indiqué dans la
        page de paiement.
        <br><br>

        BREUER se réserve le droit de modifier ses prix à tout moment mais les produits seront
        facturés sur la base des tarifs en vigueur au moment de l’enregistrement de la commande,
        sous réserve de disponibilité.
    </p>

    <h3>2. Modalité de paiement </h3>

    <p>
        Les produits sont payables comptant le jour de la commande effective.
        <br><br>

        A aucun moment, les sommes versées ne pourront être considérées comme des arrhes ou
        des acomptes.
        <br><br>

        Le règlement des achats s’effectue par : Carte bancaire : Le Client accède à un espace
        dédié mis à disposition par un établissement bancaire, lequel assure la sécurité et
        l’enregistrement de l’ordre de paiement.
        <br><br>

        A cet égard, le Client reconnaît expressément que la communication de son numéro de
        carte bancaire à BREUER vaut autorisation de débit de son compte à concurrence des
        produits commandés et des frais de port à sa charge.
    </p>

    <h3>3. Les données enregistrées </h3>

    <p>
        Les données enregistrées et conservées par BREUER constituent la preuve de la
        commande et de l’ensemble des transactions passées.
        <br><br>

        Les données enregistrées par le système de paiement constituent la preuve des
        transactions financières.
    </p>

    <h2>V- Livraison </h2>

    <p>
        BREUER livre ses produits en France métropolitaine, Corse comprise et dans tous les pays
        de la CEE.
        <br><br>

        La livraison ne peut être effectuée dans des boîtes postales.
        <br><br>

        Les délais indiqués sont des délais indicatifs, correspondant aux délais moyens de
        traitement et de livraison.
        <br><br>

        Afin que ces délais soient respectés, le client doit s’assurer d’avoir communiqué
        des informations exactes et complètes concernant l’adresse de livraison (tels que,
        notamment : n° de rue, de bâtiment, d’escalier, codes d’accès, noms et/ou numéros
        d’interphone, etc.).
        <br><br>

        Il appartient au Client de contrôler l’état des produits, dès leur réception.
        <br><br>

        Si le produit est endommagé il est conseillé au Client d’indiquer précisément toute réserve
        sur le récépissé de livraison, à l’exclusion de toute réserve de principe du type « sous
        réserve de déballage.
        <br><br>

        En cas de colis endommagés (déjà ouvert, produit manquant...), le Client s’engage à
        notifier au transporteur, par courrier recommandé avec accusé de réception, toutes
        réserves dans les 3 jours ouvrés suivant la réception du produit.
        <br><br>

        A défaut de réclamation dans ce délai, aucune réclamation auprès du transporteur ne sera
        recevable. (Article 133 du Code de commerce)
        <br><br>

        Le Client adressera par tous moyens à BREUER une copie du courrier adressé au
        transporteur
        <br><br>

        Conformément aux dispositions de l’article L.114-1 du Code de la consommation,
        pour les commandes d’un montant supérieur à 500 euros, le Client pourra annuler sa
        commande par lettre recommandée avec accusé de réception adressée à BREUER en cas
        de dépassement de la date de livraison annoncée excédant (7) jours et non due à un cas
        de Force Majeure.
        <br><br>

        Le dépassement d’un délai de livraison ne pourra donner lieu à aucun dommage et intérêt
        ni retenue de quelque sorte que ce soit, ni à annulation des commandes en cours lorsque
        ce dépassement résulte soit du fait du Client, soit du fait, imprévisible et insurmontable,
        d'un tiers au contrat, soit d’un cas de Force Majeure.
    </p>

    <h2>VI- Conformité des produits </h2>

    <p>
        Il appartient au Client de contrôler la conformité des Produits, dès leur réception.
        <br><br>

        Tout défaut de conformité devra être notifié par le Client à BREUER, par courrier
        recommandé avec accusé de réception, dans un délai de quinze (15) jours à compter de
        la date de réception des Produits. BREUER demandera alors au Client de retourner les
        produits non conformes pour qu’il soit procédé à un échange ou à un remboursement,
        selon le choix du Client.
        <br><br>

        Sauf motif légitime, toute réclamation formulée après l’expiration du délai précité sera
        irrecevable et la responsabilité de BREUER ne pourra en aucun cas être engagée au titre
        de la conformité des produits livrés au Client.
        <br><br>

        A réception, BREUER contrôlera la non-conformité du Produit retourné.
        <br><br>

        Si le Produit retourné s’avère être conforme à la commande, BREUER le retourne au Client
        aux frais avancés par ce dernier.
        <br><br>

        En cas de confirmation par BREUER de la non-conformité du Produit, BREUER procèdera
        au choix du Client, à l’échange du Produit ou au remboursement de son prix et des frais
        de livraison. Dans le cas où l’échange du Produit serait impossible, la commande sera
        annulée et le Client remboursé du prix du Produit, y inclus les frais de livraison.
        <br><br>

        En cas de retour et de réexpédition pour un défaut de conformité avéré, les frais de retour
        et d’envoi sont à la charge de BREUER.
        <br><br>

        Les dispositions qui précèdent ne privent pas le Client du droit d’exercer l’action résultant
        des vices rédhibitoires telle qu’elle résulte des articles 1641 à 1649 du Code civil ou toute
        autre action de nature contractuelle ou extracontractuelle qui lui est reconnue par la loi,
        dans un délai de 2 ans à compter de la découverte du vice.
    </p>

    <h2>VI- Droit de rétractation </h2>

    <p>
        Le Client dispose d'un droit de rétractation lui permettant de retourner tout Produit, sans
        motif ni pénalités, et pour demander le remboursement du prix du Produit.
        <br><br>

        Le délai de rétractation expire quatorze jours (14) après le jour où le Client, ou un tiers
        autre que le transporteur et désigné par le Client, prend physiquement possession du
        bien, ou en cas de livraison séparée des produits du jour où le Client, ou un tiers autre
        que le transporteur et désigné par le Client, prend physiquement possession du dernier
        bien.
        <br><br>

        Les demandes de retours doivent être effectuées dans un délai de moins de quatorze (14)
        jours à compter de la réception de la commande par le Client.
        <br><br>

        <span class="mark">
        Le Client doit notifier à BREUER sa décision de rétractation du présent contrat au moyen d'une
        déclaration dénuée d'ambiguïté par courrier électronique à l’adresse <a href="mailto:serviceclients@breuer.fr">serviceclients@breuer.fr</a>.
        <br><br>

        Cette déclaration doit contenir le nom du Client, son adresse géographique et, lorsqu'ils sont
        disponibles, son numéro de téléphone et son adresse électronique.

        </span>
        <br><br>

        Une fois la demande de retour envoyée, le Client reçoit un e-mail de confirmation qu’il doit
        joindre à la marchandise en retour.
        <br><br>

        Le Produit doit être retourné par le Client dans un délai maximum de 14 jours à compter
        de la réception de l’e-mail validant la demande de retour, en parfait état de revente, dans
        son emballage d'origine, complet, étiqueté, neuf, non porté, non lavé, non tâché.
        <br><br>

        Les frais de retour du Produit restent toutefois à la charge du Client.
        <br><br>

        Ce délai est réputé respecté si vous renvoyez le bien avant l'expiration du délai de
        quatorze jours.
        <br><br>

        Le retour du Produit doit être adressé, de préférence, par courrier ou colis recommandé à
        l’adresse suivante :
        BREUER
    </p>

    <h2>VII– Remboursement </h2>

    <p>
        Sous réserve du respect des conditions d’exercice du droit de rétractation telles que
        prévues par le présent article, BREUER remboursera au Client le montant total des
        produits retournés, dans les quatorze (14) jours à compter de la réception par BREUER
        des Produits, à l’exception des frais de retour des produits qui restent à la charge du
        Client.
        <br><br>

        BREUER procédera au remboursement en utilisant le même moyen de paiement que celui
        utilisé par le Client pour la transaction initiale.
    </p>

    <h2>VIII- Droit applicable et compétence juridictionnelle </h2>

    <p>
        Toute commande emporte de plein droit l’adhésion du Client aux conditions générales de
        Vente. Ces conditions générales de vente sont régies par le droit français.
        <br><br>

        En cas de litige, les Tribunaux français seront seuls compétents.
        <br><br>

        En cas de difficulté ou de réclamation à l’occasion d’une commande, le client peut
        s’adresser au Service Clients (<a href="mailto:serviceclients@breuer.fr">serviceclients@breuer.fr</a>) pour trouver une solution amiable.
    </p>

    <h2>IX- Force majeure </h2>

    <p>
        BREUER ne sera pas responsable de la non exécution totale ou partielle de ses obligations
        au titre du présent contrat, si cette non-exécution est provoquée par un évènement
        constitutif de force majeure, notamment en cas de perturbation ou grève totale ou
        partielle notamment des services postaux et moyens de transports et/ou communication,
        inondation ou incendie.
        <br><br>

        BREUER avisera le Client d’un évènement constitutif de Force Majeure, dans les cinq (5)
        jours ouvrables suivant sa survenance.
        <br><br>

        Au-delà d’un délai d’un (1) mois d’interruption d’exécution de contrat pour cas de Force
        Majeure, les Parties seront libérées de leurs obligations l’une envers l’autre. Le cas
        échéant, BREUER remboursera le Client dans es meilleurs délais.

    </p>

    <h2>IX–Informatique et Libertés</h2>

    <h4>Données à caractère personnel</h4>

    <p>
        BREUER s’engage expressément à collecter et à traiter les données à caractère personnel
        concernant ses Cleints dans le respect des dispositions des lois et règlement en vigueur, et
        en particulier la loi du 6 janvier 1978.
        <br><br>

        Les informations collectées par BREUER lors d’une commande du client et de la création de
        son compte client sur le Site sont nécessaires à la gestion de la transaction et à cet effet
        pourront avoir pour destinataire tout ou partie des prestataires de BREUER intervenant
        dans le cadre de l’exécution de la commande.
        <br><br>

        Le client est informé que ces mêmes données à caractère personnel pourront également
        être collectées par un organisme en charge de l’analyse des commandes et de la lutte
        contre la fraude à la carte bancaire.
        <br><br>

        Conformément à la loi Informatique et Libertés n°78-17 du 6 janvier 1978, le Client
        dispose d’un droit d’accès, de rectification, d’opposition et de suppression aux données le
        concernant. Le Client peut aussi s’opposer à ce traitement pour des motifs légitimes.
        <br><br>

        Pour exercer ces droits il suffit d’adresser un courrier à : BREUER
        <br><br>

        Les Clients sont informés qu’en cas d’exercice de leur droit de suppression ou d’opposition,
        tout ou partie du site peuvent leur être rendus inaccessibles.
    </p>

    <h4>Cookies</h4>

    <p>

        Un cookie est un petit fichier texte sauvegardé sur votre ordinateur ou votre appareil
        mobile puis récupéré lors de vos visites ultérieures. BREUER utilise des cookies pour que
        votre visite soit plus simple et agréable. Nous n’utilisons pas les cookies pour conserver
        des informations personnelles ni pour divulguer des informations à des tiers.
        <br><br>

        En revanche, il enregistre des informations relatives à la navigation de l’ordinateur sur
        le Site (les pages consultées, la date et l'heure de la consultation, etc.) qui pourront être
        lues lors de visites ultérieures afin de faciliter l'ergonomie de la visite ou d'adapter les
        pages du site visité au « profil » du Client. La durée de conservation de ces informations
        dans l’ordinateur est de 13 (treize) mois.
        <br><br>

        Vous pouvez facilement effacer les cookies de votre ordinateur ou de votre appareil mobile
        à l’aide de votre navigateur. Pour consulter les instructions relatives à la gestion et à la
        suppression des cookies, merci de vous reporter à la rubrique d’aide de votre navigateur
        ou cliquer dans le menu « outils » sur la fonction « naviguer in private ».
        <br>
        Selon vos préférences, vous pouvez désactiver les cookies ou demander à être averti
        à chaque fois qu’un nouveau cookie est transmis à votre ordinateur ou votre appareil
        mobile. Veuillez noter que si vous désactivez les cookies, vous ne pourrez plus profiter de
        toutes les fonctionnalités.
        <br><br>

        BREUER utilise des cookies tiers afin de recueillir des statistiques sous forme agrégée
        dans des outils d’analyse tels que Google Analytics et Eulerian. Ces cookies peuvent être
        permanents ou temporaires (cookies de session). Les cookies permanents sont stockés sur
        votre ordinateur ou votre appareil mobile pendant une durée ne dépassant pas 13 (treize)
        mois.
        <br>
        De plus, lorsque le Client navigue sur le Site, des cookies de sociétés partenaires peuvent
        être placés sur l'ordinateur du client.
        <br><br>

        Ces cookies ont pour finalité d’identifier les articles consultés ou achetés et de collecter
        des données de navigation afin de personnaliser l’offre publicitaire qui est adressée au
        client en dehors du Site. Dans le cadre de ce type de partenariat publicitaire, le Site peut
        être amené à transmettre au partenaire des données concernant les articles consultés par
        le client lors de sa navigation sur le Site ainsi que la nature de ses achats. Le Client peut
        refuser ces cookies à tout moment en sélectionnant les paramètres appropriés dans son
        navigateur ou cliquer dans le menu « outils » sur la fonction « naviguer in private ».
    </p>

    <h2>X–Propriété Intellectuelle</h2>

    <p>
        Tous les éléments présents sur le Site et le Site en lui-même son protégés par le droit
        d’auteur, le droit des marques, des dessins et modèles et/ou tout autre droit de propriété
        intellectuelle.
        <br><br>

        Ces éléments appartiennent à BREUER ou sont utilisés avec l’accord de leurs propriétaires.
        <br><br>

        A ce titre, toute reproduction, représentation, utilisation, adaptation, modification,
        incorporation, commercialisation partielle ou intégrale, par quelque procédé ou sur
        quelque support que ce soit sont interdites, sans l’autorisation préalable de BREUER,
        hormis les exceptions visées à l’article L122-5 du Code de propriété intellectuelle.
    </p>
    <br><br><br>

</div>