<div class="contenuTxt">
    <h1><span id="commandes">Commandes et Livraisons</span></h1>


    <h2>1. PASSER UNE COMMANDE SUR LE SITE WWW.BREUER.FR</h2>


    <h3>Processus de commande</h3>


    <p>Vous pouvez passer votre commande sur notre site 24h/24h et 7j/7j. </p>

    <dl>
        <dt>Le processus de commande se compose de 6 étapes successives :</dt>
        <dd>Clairement identifier les produits sélectionnés avec les options de
            couleurs, tailles indiquées sur le site www.breuer.fr
        </dd>
        <dd>Indiquer les quantités demandées par produit</dd>
        <dd>S'identifier soit par l'entrée de votre identifiant et mot de passe
            qui vous sont strictement personnels, soit en mentionnant toutes
            les informations habituellement demandées pour une inscription en
            ligne
        </dd>
        <dd>Clairement indiquer les informations nécessaires à la livraison.
            Cela concerne en particulier l'adresse précise de livraison ainsi
            que les éventuelles restrictions d'accessibilité du lieu de
            livraison (bâtiment, étage, digicode ...)
        </dd>
        <dd>Indiquer le mode de livraison choisi</dd>
        <dd>Lire et accepter les conditions générales de vente ; enfin,
            indiquer le mode de paiement choisi.
        </dd>
    </dl>

    <p>Une fois le mode de règlement sélectionné, vous pouvez procéder au
        paiement de votre commande sur l'interface sécurisée, qui formalisera
        de manière ferme et définitive le contrat de vente qui le lie à
        BREUER.</p>


    <h3>Confirmation de commande</h3>

    <p>Un courrier électronique vous est automatiquement envoyé afin de
        confirmer la prise de commande, sous réserve que l'adresse électronique
        que vous avez indiquée dans le formulaire d'inscription ne comporte pas
        d'erreur.</p>


    <h3>Disponibilité des produits</h3>

    <p>Les produits sont disponibles dans la limite des stocks disponibles. La
        disponibilité peut varier dans une même journée en fonction du niveau
        des ventes. L'indisponibilité d'un produit est mentionnée sur la page
        du produit concerné ou au moment du récapitulatif du panier. Si l’on
        vous spécifie lors de votre achat que le produit est ‘sur commande’ le
        délai sera d’environ 3 à 4 semaines. Si BREUER ne peut obtenir un
        produit commandé de la part de ses fournisseurs, nous nous engageons à
        vous en informer au plus vite.</p>


    <h3>Conditionnement des produits</h3>

    <p>Les articles sont présentés dans une pochette ou une boite BREUER.
        L'ensemble des articles est ensuite sur-emballé dans un carton.</p>


    <h2>2. LIVRAISON</h2>

    <h3>Zones de livraison</h3>

    <dl>
        <dt>La zone géographique de livraison de l'offre de la boutique BREUER
            est la suivante :
        </dt>
        <dd>France métropolitaine, Corse, Monaco</dd>
        <dd>Tout pays de la CEE</dd>
    </dl>


    <h3>Délais d'expédition</h3>

    <p>Les commandes passées en ligne via le site www.breuer.fr sont relevées
        chaque jour du Lundi au Vendredi, sauf jour férié. </p>

    <p>Nous faisons le maximum pour traiter et expédier le lendemain toute
        commande passée avant 17H00, néanmoins le temps de traitement et de
        préparation d'une commande peut être allongé selon les articles et
        durer entre 2 et 3 jours ouvrés. Dès que vous recevez le mail de
        confirmation d'expédition,</p>

    <p>Dans le cas d'une commande qui comporterait un ou plusieurs produits
        indisponibles ainsi qu’un ou plusieurs produits disponibles, nous vous
        expédions la commande dès réception de l'ensemble des produits qui
        constituent la commande. Si vous souhaitez recevoir au plus vite les
        produits disponibles immédiatement, nous vous conseillons d'isoler ces
        articles dans une commande spécifique à part.</p>


    <h3>Délais et coût de livraison pour France métropolitaine, Corse et
        Monaco</h3>

    <ul>
        <li>Livraison par Chronopost (délai constaté de 24h) = 10€ (gratuit
            pour 250€ d’achat)
        </li>
    </ul>

    <p>Les livraisons s'effectuent sous 24h du lundi au vendredi, sauf jour
        férié. </p>

    <p>En cas d'absence lors de la livraison, un avis de passage vous est
        laissé afin que vous récupériez votre colis dans le bureau de poste le
        plus proche. </p>

    <p>Les colis sont conservés en instance à la Poste pendant 15 jours
        calendaires. En cas de non retrait dans les délais impartis par le
        transporteur, les produits seront retournés à BREUER.</p>


    <h3>Délais et coût de livraison pour tout pays de la CEE</h3>

    <ul>
        <li>Livraison par FedEx (délai constaté de 24h à 48h) = 20€ (gratuit
            pour 350€ d’achat)
        </li>
    </ul>

    <p>Les livraisons s’effectuent sous 24h/48h, selon le pays de destination,
        du lundi au vendredi, sauf jour férié.</p>

    <p>Les délais de livraison que nous indiquons sont ceux généralement
        constatés</p>


    <h2>3. ECHANGE ET RETOUR</h2>

    <h3>Comment puis-je retourner un article commandé sur le site ? </h3>

    <p>Vous disposez d'un délai légal de 30 jours à compter de la réception de
        la marchandise pour nous retourner tous produits commandés sur le site
        www.breuer.fr. </p>

    <p>Pour effectuer une demande de retour, il vous suffit de contacter le
        service client BREUER.</p>

    <p>
        Par courrier éléctronique à serviceclients@breuer.fr
        <br>Nous vous indiquerons ensuite les modalités à suivre;
        <br>Vous recevrez un e-mail d'autorisation de retour.
    </p>

    <p>
        Vous pourrez alors retourner les produits souhaités dans leur emballage
        d'origine, à l'adresse suivante :

				<span class="retrait">Breuer sas
				<br>Dpt E-Commerce
				<br>270 avenue Sainte Marguerite
				<br>06200 Nice (France)
				</span>
    </p>

    <p>Les frais de retour seront à votre charge.</p>


    <h3>Quels articles commandés sur le site peuvent être retournés ? </h3>

    <p>Les produits retournés doivent être dans leur <em>état original</em>, et
        dans leur emballage d'origine. </p>

    <p>Tout produit abîmé ou dont l'emballage d'origine est détérioré, ne sera
        ni remboursé ni échangé.</p>


    <h3>Quelle est la date limite pour effectuer un retour ?</h3>

    <p>Vous disposez d'un délai légal de 30 jours à compter de la réception de
        votre commande pour nous signaler votre intention de nous retourner un
        article et la raison de ce retour. </p>

    <p>Une fois que nous vous avons attribué un numéro d'autorisation de
        retour, vous devez nous retourner les articles concernés sous 48
        heures.</p>

    <p>Dans un délai de 14 (quatorze) jours, vous pouvez être intégralement
        remboursé et dans un délai de 30 (trente) jours vous pouvez échanger
        votre article ou bénéficier d’un avoir valide pour une période de 6
        mois.</p>


    <h3>Quelles sont les modalités de remboursement ?</h3>

    <p>Dès réception de votre colis de retour, vous recevrez par courrier
        éléctronique une confirmation de réception. </p>

    <p>Vous serez alors crédité sur la carte bancaire qui a servi au paiement,
        dans un délai maximum de 30 (trente) jours qui suit la réception de
        votre retour.</p>


    <h3>Contact</h3>

    <p>N’hésitez pas à contacter notre service client qui répondra à toutes vos
        questions : serviceclients@breuer.fr</p>
    <br><br><br>
</div>
