<!doctype html>
<!--[if lte IE 7]> <html class="no-js ie67 ie678" lang="fr"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 ie678" lang="fr"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9" lang="fr"> <![endif]-->
<!--[if gt IE 9]> <!--><html class="no-js" lang="fr"> <!--<![endif]-->
<head>
    <title>${route_args.get('title') or 'Breuer'}</title>

    <meta charset="UTF-8">
    <?py for n, v in route_args.get('meta', {}).iteritems(): ?>
        <meta name="${n}" content="${v}">
    <?py #endfor ?>
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">
        #{set_cookies_js}
    </script>

    <link rel="icon" type="image/x-icon" href="/templates/breuer/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/jquery-ui-1.10.4.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/breuer/css/flexslider.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/breuer/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/breuer/css/easyzoom.css" />

    <script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.10.4.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>

    <!-- FlexSlider -->
    <script defer type="text/javascript" src="/templates/breuer/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('.flexslider').flexslider({
            animation: "slide",
            prevText: "Précédant",
            nextText: "Suivant"
        });
    });
    </script>
</head>
<body>
    <!--WRAPPER-->
    <div id="wrapper">
        <!--HEADER-->
        <header id="header" role="banner">
            <div id="logo"><a href="/">Breuer</a></div>
            <div id="linkHead">
                <a href="https://www.facebook.com/pages/Breuer/150039745060306" target="_blank">Facebook</a> - <a href="#">Twitter</a><br />
                <a id="panier" href="${basket_url_format}">Mon panier</a> - <a href="${my_account_url_format}">Mon compte</a><br />
                <?py if users_id: ?>
                <a id="deco" href="javascript:logout()">Déconnexion</a>
                <?py #endif ?>
            </div>
            <nav id="nav" role="navigation">
                <ul>
                    <?py for tab in tabs: ?>
                        <?py _clsname = 'on' if tab.get('current') else '' ?>
                        <li><a class="${_clsname}" href="${tab['url']}">${tab['name']}</a></li>
                    <?py #endfor ?>
                </ul>
            </nav>
            <script>
            function logout() {
                document.cookie = "USER_AUTH=\"\";path=\"/\"";
                location = "${logout_url_format}";
            }
            </script>
        </header>
        <!--//HEADER-->

        <?py if show_products_menu: ?>
        <nav id="nav_prod" role="navigation">
            <strong>Automne-Hiver 2014</strong>
            <ul>
                <?py for _type in menus: ?>
                <?py url = type_list_url_format % {'id_type': _type['@id'], 'type_name': _type['url_name']} ?>
                <?py _clazz = 'on' if cur_type_id == _type['@id'] else '' ?>
                <li class="${_clazz}">
                    <a href="${url}">${_type['name']}</a>
                </li>
                <?py #endfor ?>
            </ul>
        </nav>
        <?py #endif ?>

        <!--CONTENT-->
        <?py if cur_tab_index == 0: ?>
            <?py content_id= "main" ?>
            <?py if not show_products_menu: ?>
                <?py content_id= "panier" ?>
            <?py #endif ?>
            <div id="${content_id}" role="main">
            #{_content}
            </div>
        <?py else: ?>
            #{_content}
        <?py #endif ?>
        <!--//CONTENT-->

        <!--FOOTER-->
        <footer id="footer" role="contentinfo">
            <div>
                <strong>Siège Social</strong>
                <p>
                    270, avenue Saite Marguerite
                    <br />06200 Nice - France
                </p>
            </div>
            <div>
                <strong>Show Room Paris</strong>
                <p>
                    10, rue du Chevalier de Saint George
                    <br />75001 Paris - France
                </p>
            </div>
            <div class="third">
                <strong>Show Room New York</strong>
                <p>
                    130 West - 57th Street - Suite 9C
                    <br />New York - NY 10019 - USA
                </p>
            </div>

            <div id="footline">
                <a href="/mention_legal">Mention Légales</a> - <a href="/cgv">CGV</a> - <a href="/commands_deliveries">Commandes et Livraisons</a> - <span>Breuer 2014 &copy;</span>
            </div>

        </footer>
        <!--//FOOTER-->

    </div>
    <!--//WRAPPER-->
    <script src="/templates/breuer/js/easyzoom.js"></script>
    <script src="/templates/breuer/js/jquery.simpleGal.js"></script>
    <script>
        // Instantiate EasyZoom plugin
        var $easyzoom = $('.easyzoom').easyZoom();

        // Get the instance API
        var api = $easyzoom.data('easyZoom');
    </script>

    <script>
        $(document).ready(function () {
            $('.thumbnails').simpleGal({
                mainImage: '.custom'
            });
        });
    </script>

<!--
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-XXXXXXXX-X', 'XXXXXXXXXXX.TLD');
        ga('send', 'pageview');
    </script>
-->
</body>
</html>
