<!--MAIN PRODUCT--> 
<div id="saga" role="main">
    <h1>La saga</h1>
    <ul>
        <li>
            <img src="/templates/breuer/img/saga/1892.png" alt="1892" />
            <h2>1892</h2>
            <strong>Vienne</strong>
            <p>
                Vienne, à la fin du XIXème siècle, est la capitale européenne de la mode. Marcus Breuer gagne alors sa vie sur les marchés en vendant des régates, sorte de cravates composées d'une bande de tissu croisée à l'avant, sans nœud, et parfois fixées avec une épingle. Son fils Julius créera plus tard une des premières fabriques de cravates.
            </p>
        </li>
        <li>
            <img src="/templates/breuer/img/saga/1930.png" alt="1930" />
            <h2>1930</h2>
            <strong>Vers l'international</strong>
            <p>
                Eric Breuer, fils de Julius, entre dans l'entreprise familiale. Il apportera créativité et dimension internationale, en exportant non seulement dans toute l'Europe mais aussi au Moyen-Orient.
            </p>
        </li>
        <li>
            <img src="/templates/breuer/img/saga/1938.png" alt="1938" />
            <h2>1938</h2>
            <strong>La Belgique</strong>
            <p>
                Les dramatiques événements politiques obligent l'entreprise à fermer ses portes. Eric Breuer s'associe en Belgique avec son agent pour créer une nouvelle fabrique de cravates. Malheureusement l'expérience sera de courte durée car la guerre s'étend à toute l'Europe.
            </p>
        </li>
        <li>
            <img src="/templates/breuer/img/saga/1946.png" alt="1946" />
            <h2>1946</h2>
            <strong>Bruxelles</strong>
            <p>
                Eric Breuer reprend son activité en Belgique, à Bruxelles, afin de faire perdurer l'histoire Breuer avec la cravate.
            </p>
        </li>
        <li>
            <img src="/templates/breuer/img/saga/1951.png" alt="1951" />
            <h2>1951</h2>
            <strong>French Riviera</strong>
            <p>
                Eric Breuer quitte la Belgique et poursuivra son aventure à Nice, sur la French Riviera. Très vite, les collections créées par Eric Breuer vont s'imposer sur les marchés français et internationaux.
            </p>
        </li>
        <li>
            <img src="/templates/breuer/img/saga/1957.png" alt="1957" />
            <h2>1957</h2>
            <strong>Un concept nouveau</strong>
            <p>
                Toujours précurseur, Eric Breuer sollicite Mademoiselle Carven avec laquelle il signe ce qui sera le premier contrat de licence mondiale liant une maison de Haute Couture à un fabricant de cravates. Ce fût là encore une idée originale couronnée de succès dans les années suivantes, suivie par tous les autres, y compris les plus fervents détracteurs du concept !
            </p>
        </li>
        <li>
            <img src="/templates/breuer/img/saga/1962.png" alt="1962" />
            <h2>1962</h2>
            <strong>L'atelier de tissage</strong>
            <p>
                Eric Breuer crée son propre atelier de tissage à Lyon dans le quartier de la Croix-Rousse, pour développer ses dessins exclusifs.
            </p>
        </li>
        <li>
            <img src="/templates/breuer/img/saga/1974.png" alt="1974" />
            <h2>1974</h2>
            <strong>Une nouvelle impulsion</strong>
            <p>
                Alain et Walter Breuer rejoignent leur père Eric dans l'entreprise familiale et permettront de donner une nouvelle implusion au développement de la société.
            </p>
        </li>
        <li>
            <img src="/templates/breuer/img/saga/1980.png" alt="1980" />
            <h2>1980</h2>
            <strong>L'Asie</strong>
            <p>
                Breuer développe des ventes vers le Japon et Hong-Kong et se concentre désormais sur le marché international du luxe.
            </p>
        </li>
        <li>
            <img src="/templates/breuer/img/saga/1991.png" alt="1991" />
            <h2>1991</h2>
            <strong>La croissance</strong>
            <p>
                Une croissance régulière justifie la construction à Nice, tout près de l'aéroport international, de nouveaux locaux d'une surface de 1500m2, dans un style néo-provençal.
            </p>
        </li>
        <li>
            <img src="/templates/breuer/img/saga/1992.png" alt="1992" />
            <h2>1992</h2>
            <strong>100 ans d'existence</strong>
            <p>
                100 ans lient Breuer et la cravate. Pour commémorer cet anniversaire, le sculpteur César réalise une oeuvre avec les cravates Breuer. Pour cette occasion, un livre relatant l'histoire de la société et celle de la cravate est édité. La société dépasse le cadre de la fabrication sous licence et commercialise ses cravates sous la marque Breuer.
            </p>
        </li>
        <li>
            <img src="/templates/breuer/img/saga/1995.png" alt="1995" />
            <h2>1995</h2>
            <strong>Le succès continue</strong>
            <p>
                Le succès commercial de la marque Breuer et de ses licences amène l'entreprise à doubler la surface du siège social (3000m2).
            </p>
        </li>
        <li>
            <img src="/templates/breuer/img/saga/2000.png" alt="2000" />
            <h2>2000</h2>
            <strong>Une notoriété mondiale</strong>
            <p>
                La société Breuer poursuit son développement et accroit sa notoriété dans le monde en ouvrant une deuxième boutique de prestige à Paris au 14 rue de la Paix, à deux pas de la place Vendôme. La gamme de produits s'étoffe avec l'introduction des costumes, des vestes et des pantalons, commercialisés en exclusivité dans les boutiques de la marque.
            </p>
        </li>
        <li>
            <img src="/templates/breuer/img/saga/2006.png" alt="2006" />
            <h2>2006</h2>
            <strong>Madrid et New-York</strong>
            <p>
                La marque Breuer accroit sa notoriété au niveau international en ouvrant une nouvelle boutique en plein coeur de Madrid, ainsi qu'un corner dans le grand magasin de luxe "Sak 's Fifth Avenue" à New York. Ces aventures représentent une étape importante dans l'histoire de la marque et dans sa stratégie de développement.
            </p>
        </li>
        <li>
            <img src="/templates/breuer/img/saga/2008.png" alt="2008" />
            <h2>2008</h2>
            <strong>Les JO de Pékin</strong>
            <p>
                Breuer revisite la garde robe de la délégation Française homme des Jeux Olympiques de Pékin
            </p>
        </li>
        <li>
            <img src="/templates/breuer/img/saga/2009.png" alt="2009" />
            <h2>2009</h2>
            <strong>Palm Beach</strong>
            <p>
                Le partenariat avec les grands magasins Sak's s'intensifie, ouverture d'un corner à Palm Beach.
            </p>
        </li>
        <li>
            <img src="/templates/breuer/img/saga/2012.png" alt="2012" />
            <h2>2012</h2>
            <strong>120 ans Breuer</strong>
            <p>
                Breuer fête les 120 ans de la marque et lance pour l'occasion un T-shirt commémoration peint à la main, en édition limitée . Accélération du développement corner chez Sak's avec deux nouvelles ouvertures à Chicago et Nouvelle-Orléans.
            </p>
        </li>
        <li>
            <img src="/templates/breuer/img/saga/2013.png" alt="2013" />
            <h2>2013</h2> 
            <strong>San Francisco</strong>
            <p>
                Ouverture d'un 5ème Corner chez Saks à San Francisco. Quant au nombre de magasins dans le monde, proposant les produits BREUER ils passent le cap des 1000 clients.
            </p>
        </li>
    </ul>
</div>
