<section id="boxSlider">
    <div class="flexslider lookbook">
        <ul class="slides">
            <?py for _index in range(2,19): ?>
            <?py _img_name = '/templates/breuer/img/lookbook/img-slide_%02d.jpg' % _index ?>
            <li>
                <div>
                    <img src="${_img_name}" />
                    <p>
                        <span><a href="#">COTTON POPLIN SHIRT</a></span>
                        <span><a href="#">CASHEMERE SCARF</a></span>
                        <span><a href="#">COTTON CORDUROY JACKET</a></span>
                        <span><a href="#">COTTON CASHEMERE PANTS</a></span>
                    </p>
                </div>
            </li>
            <?py #endfor ?>
        </ul>
    </div>
</section>
