<section id="boxSlider">
    <div class="flexslider lookbook">
        <ul class="slides">
            <li>
                <div>
                    <img src="/templates/breuer/img/lookbook/img-slide_02.jpg" />
                    <p>
                        <span>COTTON POPLIN SHIRT</span>
                        <span>CASHMERE HALF-BUTTON SWEATEAR</span>
                        <span>COTTON/CASHMERE PANTS</span>
                        <span>POLY NYLON JACKET</span>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <img src="/templates/breuer/img/lookbook/img-slide_03.jpg" />
                    <p>
                        <span>COTTON CHAMBRAY SHIRT</span>
                        <span>CASHMERE CABLE CREWNECK SWEATER</span>
                        <span>CASHMERE JERSEY JACKET</span>
                        <span>COTTON/CASHMERE PANTS</span>
                        <span>POLY NYLON TRENCH</span>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <img src="/templates/breuer/img/lookbook/img-slide_04.jpg" />
                    <p>
                        <span>COTTON FLANNEL SHIRT</span>
                        <span>COTTON FLANNEL JACKET</span>
                        <span>POLY NYLON QUILTED SHORT TRENCH</span>
                        <span>COTTON/CASHMERE PANTS</span>
                        <span>CASHMERE SCARF</span>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <img src="/templates/breuer/img/lookbook/img-slide_05.jpg" />
                    <p>
                        <span>COTTON FLANNEL SHIRT</span>
                        <span>CASHMERE BLAZER KNITWEAR</span>
                        <span>COTTON DENIM &laquo; PREPPY &raquo; JEAN’S</span>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <img src="/templates/breuer/img/lookbook/img-slide_06.jpg" />
                    <p>
                        <span>COTTON PRINTED FLANNEL SHIRT</span>
                        <span>CASHMERE CREWNECK SWEATER</span>
                        <span>WOOL/CASHMERE QUILTED VEST</span>
                        <span>COTTON/CASHMERE PANTS</span>
                        <span>CASHMERE SCARF</span>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <img src="/templates/breuer/img/lookbook/img-slide_07.jpg" />
                    <p>
                        <span>COTTON POPLIN SHIRT</span>
                        <span>CASHMERE PRINTED TIE</span>
                        <span>COTTON MOLESKIN JACKET</span>
                        <span>COTTON/CASHMERE PANTS</span>
                        <span>POLY NYLON PARKA WITH MARMOT HOOD</span>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <img src="/templates/breuer/img/lookbook/img-slide_08.jpg" />
                    <p>
                        <span>COTTON OXFORD SHIRT</span>
                        <span>CASHMERE CARDIGAN KNITWEAR</span>
                        <span>CASHMERE JACKET KNITWEAR</span>
                        <span>COTTON/ELASTAN « RUGGED IVY » PANTS</span>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <img src="/templates/breuer/img/lookbook/img-slide_09.jpg" />
                    <p>
                        <span>COTTON OXFORD SHIRT </span>
                        <span>CASHMERE HALF-ZIP SWEATER</span>
                        <span>COTTON/ELASTAN « RUGGED IVY » PANTS</span>
                        <span>POLY NYLON TRENCH</span>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <img src="/templates/breuer/img/lookbook/img-slide_10.jpg" />
                    <p>
                        <span>COTTON CHAMBRAY SHIRT </span>
                        <span>CASHMERE HALF-BUTTON SWEATER</span>
                        <span>COTTON/ELASTAN CORDUROY PANTS</span>
                        <span>COTTON TRENCH</span>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <img src="/templates/breuer/img/lookbook/img-slide_11.jpg" />
                    <p>
                        <span>COTTON POPLIN SHIRT</span>
                        <span>CASHMERE CARDIGAN KNITWEAR</span>
                        <span>COTTON/CASHMERE PANTS</span>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <img src="/templates/breuer/img/lookbook/img-slide_12.jpg" />
                    <p>
                        <span>COTTON OXFORD SHIRT</span>
                        <span>COTTON MOLESKIN JACKET</span>
                        <span>WOOL/CASHMERE QUILTED SHORT TRENCH</span>
                        <span>COTTON/CASHMERE PANTS </span>
                        <span>CASHMERE SCARF</span>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <img src="/templates/breuer/img/lookbook/img-slide_13.jpg" />
                    <p>
                        <span>COTTON FLANNEL SHIRT</span>
                        <span>WOOL SHETLAND VEST</span>
                        <span>COTTON DENIM « PREPPY » JEAN’S</span>
                        <span>COTTON TRENCH</span>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <img src="/templates/breuer/img/lookbook/img-slide_14.jpg" />
                    <p>
                        <span>COTTON POPLIN SHIRT</span>
                        <span>WOOLD TIE</span>
                        <span>WOOL/CASHMERE JACKET</span>
                        <span>WOOL POCKET-HANK</span>
                        <span>COTTON DENIM « PREPPY » JEAN’S</span>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <img src="/templates/breuer/img/lookbook/img-slide_15.jpg" />
                    <p>
                        <span>COTTON POPLIN SHIRT </span>
                        <span>CASHMERE PRINTED TIE</span>
                        <span>WOOL/CASHMERE QUILTEED JACKET</span>
                        <span>COTTON/CASHMERE PANTS</span>
                        <span>CASHMERE SCARF</span>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <img src="/templates/breuer/img/lookbook/img-slide_16.jpg" />
                    <p>
                        <span>COTTON OXFORD SHIRT</span>
                        <span>POLY NYLON JACKET</span>
                        <span>COTTON/ CASHMERE PANTS</span>
                        <span>PRINTED WOOL SCARF</span>
                        <span>COTTON TWILL SHIRT</span>
                        <span>WOOL/COTTON/CASHMERE TIE </span>
                        <span>LAMBSWOOL/COTTON/CASHMERE DOUBLE- BREASTED JACKET</span>
                        <span>COTTON DENIM « PREPPY » JEAN’S</span>
                        <span>SHOES ALDEN FOR BREUER</span>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <img src="/templates/breuer/img/lookbook/img-slide_17.jpg" />
                    <p>
                        <span>COTTON CHAMBRAY SHIRT</span>
                        <span>CASHMERE CABLE CREWNECK SWEATER</span>
                        <span>CASMERE JERSEY JACKET </span>
                        <span>SUPERLIGHT WOOL SCARF</span>
                        <span>COTTON/CASHMERE PANTS</span>
                        <span>CASHMERE TURTLE-NECK SWEATER</span>
                        <span>POLY NYLON BLOUSIN WITH MARMOT HOOD</span>
                        <span>COTTON DENIN « PREPPY » JEAN’S</span>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <img src="/templates/breuer/img/lookbook/img-slide_18.jpg" />
                    <p>
                        <span>COTTON POPLIN SHIRT</span>
                        <span>CASHMERE SCARF</span>
                        <span>COTTON CORDUROY JACKET</span>
                        <span>COTTON CASHMERE PANTS</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
