<div class="contenuTxt">
    <h1><span id="mentions">Mentions Légales</span></h1>

    <p>
        Conformément à l'article 6 de la Loi N°2004-575 du 21 juin 2004 pour la
        confiance dans l'économie numérique (LCEN), sont mentionnées aux
        utilisateurs du site www.breuer.fr l'identité des intervenants sur la
        réalisation et le suivi du présent site web :

                <span class="retrait">Le propriétaire/éditeur est la Société Breuer SAS au capital de 1 000 000 Euros,
                <br>270 avenue Sainte Marguerite,
                <br>06200 NICE
                </span>
    </p>

    <p>
        <strong>Caractères des informations personnelles collectées :</strong>
    </p>

    <p>
        La loi 78-17 du 6 janvier 1978, la loi 2004-801 du 6 août 2004 ainsi
        que l'article L-226-13 du code pénal et la directive Européenne du 24
        Octobre 1995 protègent l'ensemble des données personnelles.
        Au cours de la navigation sur le site, et dans le cadre d'inscription à
        des accès spécifiques du site, les données personnelles suivantes sont
        enregistrées :
    </p>
    <ul>
        <li>Nom et prénom</li>
        <li>Adresse de facturation</li>
        <li>Adresse de livraison</li>
        <li>Adresse électronique</li>
    </ul>
    <p>
        Dans le cadre de la boutique en ligne, toutes les informations à
        caractère bancaire sont traitées directement par le service
        informatique de la banque effectuant le paiement par carte de crédit,
        BREUER SAS n'a donc pas connaissance ni ne conserve aucune information
        à ce titre dans ses bases de données. L'utilisateur renseigne lui-même
        ces informations en toute connaissance de cause par le fait qu'il aura
        procédé personnellement à la saisie. Dans le cadre de cette saisie, il
        sera précisé à l'utilisateur le caractère obligatoire ou non des
        informations demandées.
        L'utilisateur est informé de la possibilité de demander au webmestre du
        site à l'adresse suivante : serviceclients@breuer.fr
    </p>
    <ul>
        <li>La vérification des données personnelles ayant fait l'objet d'une
            saisie pour son compte
        </li>
        <li>Les informations ayant trait aux finalités de traitement de ces
            données
        </li>
        <li>Les informations ayant trait à l'identité et au secteur
            géographique des possesseurs de ces données
        </li>
        <li>La communication d'une copie de ces données à titre gratuit dans la
            mesure ou celle-ci n'est pas abusive dans son caractère répétitif
            ou disproportionné.
        </li>
    </ul>
    <p>
        Aucune information personnelle n'est collectée ni publiée ou cédée à
        titre gratuit ou onéreux à l'insu de l'utilisateur. BREUER SAS est
        autorisée à effectuer des analyses statistiques sur l'utilisation et la
        typologie des utilisateurs sous réserve de préserver l'anonymat de ces
        derniers.
    </p>

    <p>
        <strong>Droit de modification des informations collectées :</strong>
    </p>

    <p>
        Selon les dispositions de l'article 34 de la Loi 44-87 du 6 janvier
        1978, l'utilisateur dispose d'un droit de modification des données
        collectées le concernant. Dans ce but, il devra envoyer un courrier à
        BREUER SAS :
    </p>
    <ul>
        <li>un courrier électronique à l'adresse suivante : info@breuer.fr</li>
        <li>un courrier postal en recommandé avec accusé de réception à
            l'adresse suivante :

                    <span class="retrait">BREUER SAS
                    <br>270 avenue Sainte Marguerite
                    <br>06200 NICE
                    </span>

            <br>En précisant ses coordonnées personnelles et les références de
            son compte sous lequel sont enregistrées ses données à caractère
            personnel. Les modifications demandées interviendront dans un délai
            de quatre à six semaines.
        </li>
    </ul>
    <br><br>
</div>

