<div id="panier" role="main">
    <strong id="titlepanier">Votre Compte Breuer</strong>
    <h1 id="titleH1">${user_name}, voici le récapitulatif de vos commandes :</h1>
    
    <!--WRAP-COMPTE-->
    <div id="compte">
        <!--COLONNE-LEFT-->
        <div class="left">
            <?py include('_order_list.html') ?>
        </div>
        <!--//COLONNE-LEFT-->
        
        
        <!--COLONNE-RIGHT-->
        <div class="right">
            <div class="blockinfo">
                <strong>Vos informations : </strong>
                <p>
                    ${user_name}
                    <br />
                    <br />${user_info['birthday']}
                    <br />${user_info['email']}
                </p>
                <a href="${user_url_format}" class="modifier">Modifier</a>
            </div>
            
            <div class="blockinfo">
                <strong>Adresse de facturation :</strong>
                <p>
                    <?py if billing_address: ?>
                    <input type="hidden" name="id_billaddr" value="${billing_address['id']}" />
                    ${billing_address['address_desp']}<br />
                    ${billing_address['address']}<br />
                    ${billing_address['postal_code']} ${billing_address['city']}<br />
                    ${billing_address['country_code']}
                    <?py #endif ?>
                </p>
                <a href="${user_url_format}" class="modifier">Modifier</a>
            </div>
            
            
            <div class="blockinfo">
                <strong>Adresse de livraison :</strong>
                <p>
                    <?py if shipping_address: ?>
                    <input type="hidden" name="id_shipaddr" value="${shipping_address['id']}" />
                    ${shipping_address['address_desp']}<br />
                    ${shipping_address['address']}<br />
                    ${shipping_address['postal_code']} ${shipping_address['city']}<br />
                    ${shipping_address['country_code']}
                    <?py #endif ?>
                </p>
                <a href="${user_url_format}" class="modifier">Modifier</a>
            </div>  
        </div>
        <!--//COLONNE-RIGHT-->
    
    </div>
    <!--//WRAP-COMPTE-->
</div>
