<div id="panier" role="main">
    <ul>
        <li class="li1 ok"><a href="${basket_url_format}"><span>1 </span>Commande</a></li>
        <li class="li2 ok"><span>2 </span>Identification</li>
        <li class="li3 on"><span>3 </span>Adresse de livraison</li>
        <li class="li4"><span>4 </span>Validation</li>
    </ul>
     
    <h1 id="titleH1">Identification : </h1>
    <p class="txtinfo">L'ensemble des champs marqués d'un astérisque (*) doivent être remplis.</p>
    <?py include('_user_info.html') ?>
</div>
