<div id="panier" role="main">
    <div class="errwrapper"></div>
    <strong id="titlepanier">Votre Compte Breuer</strong>
    <h1 id="titleH1">${user_name}, voici le détail de votre commande :</h1>
    
    <div id="numCommande">
        <h2>
            Commande effectuée le ${order_created}
            <span class="ref">N° de commande : ${order_id}</span>
        </h2>
        ${status_name}
    </div>
    <form id="shipping" method="post">
        <input type="hidden" name="id_order" value="${order_id}">

        <?py for shipment_id, shipping_lists in shipments.iteritems(): ?>
            <?py shipment_detail = shipments_detail.get(str(shipment_id)) or {} ?>
            <div class="recapLivraison">
                <span>Livraison n° ${shipment_id}</span>
                <?py if shipping_lists[0]['shipping_msg']: ?> | <span>${shipping_lists[0]['shipping_msg']}</span><?py #endif ?>
                <a class="suivi" href="#">Consultez le suivi de commande sur</a>
            </div>

            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th class="left">Produit(s) commandé(s)</th>
                        <th>Prix Unitaire</th>
                        <th>Quantité</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <?py for shipping_list in shipping_lists: ?>
                    <?py item = shipping_list['item'] ?>
                    <tr>
                        <td class="left">
                            <div class="prod">
                                <img width="60px" src="${item['variant'].get('img') or get_single_attribute(item['product'], 'img')}"/>
                                <h3 class="title">${item['product']['name']}</h1>
                                <strong class="type">
                                <?py if item.get('type'): ?>Taille : ${item['type']['name']}<?py #endif ?>
                                <?py if item.get('variant') and item.get('type'): ?> - <?py #endif ?>
                                <?py if item.get('variant'): ?>Coloris : ${item['variant']['name']}<?py #endif ?>
                                </strong>
                                <span class="ref">Ref : ${item['id_sale']}</span>
                            </div>
                        </td>
                        <td class="price"><span id="price">${format_amount(item['product']['price'] or item['type'].get('price', {}).get('#text'))}</span><span id="currency">${cur_symbol(item['product']['currency'])}</span></td>
                        <td><input id="quantity" name="nb_product" type="text" value="${item['quantity']}" disabled/></td>
                        <td class="price"><span id="amount"></span><span>${cur_symbol(item['product']['currency'])}</span></td>
                        <td></td>
                    </tr>
                    <?py #endfor ?>

                    <tr class="stotalline">
                        <td colspan="5" class="sstotalline left">
                            <em class="infoChrono">Votre commande sera livrée sous 7 jours via <img src="/templates/breuer/img/chronopost.png" width="80px" alt="Chronopost" /></em>
                            <p>
                                <span class="labelTotal">Total produits ttc</span>
                                <span class="priceTotal" id="sum_amount"></span>
                                <span class="labelTotal">Frais de manutention</span>
                                <?py handling_fee = shipment_detail.get('fees', {}).get('handling') or {} ?>
                                <span class="priceTotal">${format_amount(handling_fee.get('#text'))} ${cur_symbol(handling_fee.get('@currency'))}</span>
                                <span class="labelTotal">Frais de livraison</span>
                                <?py shipping_fee = shipment_detail.get('fees', {}).get('shipping') or {} ?>
                                <span class="priceTotal">${format_amount(shipping_fee.get('#text'))} ${cur_symbol(shipping_fee.get('@currency'))}</span>
                            </p>
                        </td>
                    </tr>

                    <?py carriers = shipment_detail.get('delivery', {}).get('carrier', []) ?>
                    <?py if carriers: ?>
                    <?py for car in carriers: ?>
                    <?py if car['@id'] != '0': ?>
                    <?py for service in car['service']: ?>
                    <?py disabled = "disabled" if shipment_detail['delivery'].get('@postage') else "" ?>
                    <?py selected = "checked" if shipment_detail['delivery']['@postage'] == service['@id'] else "" ?>
                    <tr>
                        <td colspan="5" class="sstotalline left">
                            <em>
                                <span class="labelTotal"><input name="carrier_service_${shipment_id}" type="radio" value="${car['@id']}_${service['@id']}" ${disabled} ${selected}/></span>
                                <span class="labelTotal">${service['name']} - ${service['desc'] or ""}</span>
                            </em>
                            <?py service_fee = format_amount(service.get('fee', {}).get('#text')) ?>
                            <?py service_fee_cur = cur_symbol(service.get('fee', {}).get('@currency')) ?>
                             <?py if service_fee: ?>
                            <p>
                                <span class="labelTotal">Frais de livraison</span>
                                <span class="priceTotal">${service_fee} ${service_fee_cur}</span>
                            </p>
                            <?py #endif ?>
                        </td>
                    </tr>
                    <?py #endfor ?>
                    <?py #endif ?>
                    <?py #endfor ?>
                    <?py #endif ?>

                    <tr>
                        <td colspan="5" class="totalline left">
                            <strong>
                                Total produits TTC 
                                <span id="total_amount"></span>
                            </strong>
                        </td>
                    </tr>
                </tbody>

            </table>
        <?py #endfor ?>
    </form>

    <div id="btnline">
        <?py if step == 'select': ?>
        <a class="btn purchase" href="javascript:save()">Sauver</a><br/>
        <?py #endif ?>
        <?py if step == 'payment': ?>
        <a class="btn purchase" href="${payment_url}">Valider</a><br/>
        <?py #endif ?>
    </div>
</div>

<script>
function calc_row(tr) {
    tr.find("#amount").text(formatAmount(tr.find("#price").text() * tr.find("#quantity").val()));
}
function calc_sum(obj) {
    var currency = "";
    var diff_currency = false;
    obj.find('tr #currency').each(function(){
        if (currency == "") {
            currency = $(this).text();
        } else if (currency != $(this).text()) {
            // different currencies ??
            diff_currency = true;
        }
    });
    if (diff_currency) {
        return;
    }

    var sum = 0;
    obj.find('tr #amount').each(function(){
        console.log($(this).text());
        sum += $(this).text() * 1;
    });
    obj.find('#sum_amount').text(formatAmount(sum) + " " + currency);

    var total = 0;
    obj.find('tr.stotalline span.priceTotal').each(function(){
        total += $(this).text().split(' ')[0] * 1;
    });
    obj.find('#total_amount').text(formatAmount(total) + " " + currency);
}
$(function() {
    $('tr #amount').each(function(){
        calc_row($(this).parent().parent());
    });
    $('table').each(function() {
        calc_sum($(this));
    });
});

function save() {
    if ($("input:radio:checked").length == 0) {
        return;
    }
    $.post('/ajax_shipping_conf',
        $("#shipping").serializeArray(),
        function(data) {
            if (data['set_cookies_js']) {
                eval(data['set_cookies_js']);
            }
            if (data['res'] == 'FAILURE') {
                $("#formContainer .errwrapper").text(data['err']);
                location = '#';
            } else {
                if (data['redirect_to'] != undefined)
                    location = data['redirect_to'];
                else
                    location.reload();
            }
        }
    )
}
</script>
