<div>
    <ul>
        <li class="li1 ok">Mon Panier</li>
        <li class="li2 ok">Identification</li>
        <li class="li3 ok">Adresse</li>
        <li class="li4 on"><a href="#">Livraison</a></li>
        <li class="li5">Paiement</li>
    </ul>

    <a class="btn back" href="${order_list_url_format}">Back to My Orders</a><br/>

    <div class="errwrapper"></div>
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th class="left">Order ID: ${order_info['order_id']}</th>
                <th class="left">Status: ${order_info['status_name']}</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <form id="shipping" method="post">
                <input type="hidden" name="id_order" value="${order_info['order_id']}">
                <?py shipments = order_info['shipments'] ?>
                <?py for shipment in shipments: ?>
                <tr>
                    <td class="left">Shipment: ${shipment['@id']}</td>
                    <td class="left">Method: ${shipment['@method']}</td>
                    <td colspan="2"></td>
                </tr>
                <?py for item in shipment['item']: ?>
                <tr>
                    <td class="left"></td>
                    <td class="left">${item['name']}</td>
                    <td class="left">X ${item['quantity']}</td>
                    <td class="right">
                        ${item['weight'].get('#text')} ${item['weight'].get('@unit')} 
                    </td>
                </tr>
                <?py #endfor ?>

                <tr>
                    <td class="left"></td>
                    <td class="left">Handling Fee:</td>
                    <?py handling_fee = shipment.get('fees', {}).get('handling') or {} ?>
                    <td class="right">${handling_fee.get('#text')} ${handling_fee.get('@currency')}</td>
                    <td class="right"></td>
                </tr>

                <tr>
                    <td class="left"></td>
                    <td class="left">Shipping Fee:</td>
                    <?py shipping_fee = shipment.get('fees', {}).get('shipping') or {} ?>
                    <td class="right">${shipping_fee.get('#text')} ${shipping_fee.get('@currency')}</td>
                    <td class="right"></td>
                </tr>
                <?py carriers = shipment['delivery']['carrier'] ?>
                <?py for car in carriers: ?>
                <?py if car['@id'] != '0': ?>
                <?py for service in car['service']: ?>
                <?py disabled = "disabled" if shipment['delivery'].get('@postage') else "" ?>
                <?py selected = "checked" if shipment['delivery']['@postage'] == service['@id'] else "" ?>
                <tr>
                    <td class="left"></td>
                    <td class="left">
                        <input name="carrier_service_${shipment['@id']}" type="radio" value="${car['@id']}_${service['@id']}" ${disabled} ${selected}/> ${service['name']} - ${service['desc'] or ""}
                    </td>
                    <td class="right">${service.get('fee', {}).get('#text')} ${service.get('fee', {}).get('@currency')}</td>
                    <td class="right"></td>
                </tr>
                <?py #endfor ?>
                <?py #endif ?>
                <?py #endfor ?>

                <?py #endfor ?>
            </form>
        </tbody>
    </table>
    <?py if step == 'select': ?>
    <a class="btnlog" href="javascript:save()">Sauver</a><br/>
    <?py #endif ?>

    <?py if invoice_info.get('err'): ?>
    ${{_('CONTACT_CUSTOMER_SERVICE')}}
    <?py else: ?>
        <?py if not invoice_info.get('content'): ?>
        ${{_('NO_INVOICES')}}
        <?py #endif ?>
        <?py for iv in as_list(invoice_info.get('content')): ?>
        #{iv['html']}
        <?py #endfor ?>
    <?py #endif ?>
    <?py if step == 'payment': ?>
    <a class="btnlog" href="${payment_url}">Payment</a><br/>
    <?py #endif ?>
</div>

<script>
function save() {
    if ($("input:radio:checked").length == 0) {
        return;
    }
    $.post('/ajax_shipping_conf',
        $("#shipping").serializeArray(),
        function(data) {
            if (data['set_cookies_js']) {
                eval(data['set_cookies_js']);
            }
            if (data['res'] == 'FAILURE') {
                $("#formContainer .errwrapper").text(data['err']);
                location = '#';
            } else {
                if (data['redirect_to'] != undefined)
                    location = data['redirect_to'];
                else
                    location.reload();
            }
        }
    )
}
</script>
