<div id="panier" role="main">
    <strong id="titlepanier">Votre Commande</strong>
    <ul>
        <li class="li1 ok"><a href="${basket_url_format}"><span>1 </span>Commande</a></li>
        <li class="li2 ok"><span>2 </span>Identification</li>
        <li class="li3 ok"><span>3 </span>Adresse de livraison</li>
        <li class="li4 on"><span>4 </span>Validation</li>
    </ul>

    <?py if step == 'init': ?>
    <div>
        <h1 id="titleH1">Choisissez votre mode de paiement</h1>
        <form id="selectPaymentProc" method="post">
            <?py if err: ?>
            <div class="errwrapper">${err}</div>
            <?py else: ?>

            <?py for proc in processors: ?>
            <div class="payment-proc">
                <input type="radio" id="${proc['@id']}" name="processor" value="${proc['@id']}"/>
                <?py img = "/templates/breuer/img/" + proc['img'] if proc.get('img') else "" ?>
                <img src="${img}" alt="${proc['name']}"/>
            </div>
            <?py #endfor ?>
            <input type="hidden" name="id_trans" value="${id_trans}">
            <input type="hidden" name="id_order" id="id_order" value="${id_order}">

            <div id="btnline">
                <a class="btn purchase" href="javascript:confirmPaymentProc()">Valider</a>
                <a class="btn back" href="javascript:backToOrderAddress()">Etape précédente</a>
            </div>
            <?py #endif ?>
        </form>
    </div>
    <script>
    function confirmPaymentProc() {
        if ($('.payment-proc input:radio:checked').length == 0) {
            return;
        }
        var form = $("#selectPaymentProc")[0];
        form.submit();
    }
    function backToOrderAddress() {
        $('#selectPaymentProc').prop({action: '/order_addr', method: 'get'}).submit();
    }
    </script>



    <?py elif step == 'form': ?>
    <div>
        <h1 id="titleH1">Récapitulatif de votre commande :</h1>
        <p class="rappeladresse">Adresse de livraison : <strong>${dest_user_name}, ${dest_addr} </strong></p>
        <p class="txtinfo recap">Des frais de livraisons peuvent s'ajouter à votre commande</p>

        <div class="errwrapper">${err}</div>
        <?py for shipment_id, shipping_lists in shipments.iteritems(): ?>
            <table id="${shipment_id}" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th class="left">Produit(s) commandé(s)</th>
                        <th>Prix Unitaire</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <?py currency = cur_symbol(shipping_lists[0]['currency']) ?>
                    <?py for shipping_list in shipping_lists: ?>
                    <?py item = shipping_list['item'] ?>
                    <tr>
                        <td class="left">
                            <div class="prod">
                                <img width="60px" src="${get_thumbnail(item['picture'], 80)}"/>
                                <h3 class="title">${item['product_name']}</h1>
                                <strong class="type">
                                <?py if item.get('type_name'): ?>Taille : ${item['type_name']}<?py #endif ?>
                                <?py if item.get('variant_name') and item.get('type_name'): ?> - <?py #endif ?>
                                <?py if item.get('variant_name'): ?>Coloris : ${item['variant_name']}<?py #endif ?>
                                </strong>
                                <span class="ref">Ref : ${item['id_sale']}</span>
                            </div>
                        </td>
                        <td class="price">
                            <?py if shipping_list['show_final_price']: ?>
                            <span id="price">${format_amount(item['price'] + shipping_list['tax_per_item'])}</span><span id="currency">${currency}</span>
                            <?py else: ?>
                            <span id="price">${format_amount(item['price'])}</span><span id="currency">${currency}</span>
                            <?py if shipping_list['tax']: ?>(After tax:<span>${format_amount(item['price'] + shipping_list['tax_per_item'])}</span><span>${currency}</span>)<?py #endif ?>
                            <?py #endif ?>
                        </td>
                        <td><input id="quantity" name="nb_product" type="text" value="${item['quantity']}" disabled/></td>
                        <?py if shipping_list['show_final_price']: ?>
                        <td class="price"><span id="amount" value="${item['price'] * item['quantity'] + shipping_list['tax']}">${format_amount(item['price'] * item['quantity'] + shipping_list['tax'])}</span><span>${currency}</span></td>
                        <?py else: ?>
                        <td class="price"><span id="amount" value="${item['price'] * item['quantity']}">${format_amount(item['price'] * item['quantity'])}</span><span>${currency}</span></td>
                        <?py #endif ?>
                        <td></td>
                    </tr>
                    <?py #endfor ?>

                    <tr>
                        <td colspan="5" class="sstotalline left">
                            <em class="infoChrono">Votre commande sera livrée sous ${shipping_lists[0]['shipping_within']} jours via <img src="/templates/breuer/img/chronopost.png" width="80px" alt="Chronopost" /></em>
                            <p>
                                <span class="labelTotal">Total produits ttc</span>
                                <span class="priceTotal" id="sum_amount"></span>
                                <?py if not zero(shipping_lists[0]['handling_fee']): ?>
                                <span class="labelTotal">Frais de manutention</span>
                                <span class="priceTotal">${format_amount(shipping_lists[0]['handling_fee'])} ${currency}</span>
                                <?py #endif ?>
                                <span class="labelTotal">Frais de livraison</span>
                                <span class="priceTotal">${format_amount(shipping_lists[0]['shipping_fee'])} ${currency}</span>
                                <span class="labelTotal tax">Taxe</span>
                                <span class="priceTotal tax" id="tax">0 ${currency}</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="totalline left">
                            <strong>
                                Total produits TTC 
                                <span id="total_amount" value="${shipping_lists[0].get('total_amount') or 0}">${format_amount(shipping_lists[0].get('total_amount') or 0)} ${currency}</span>
                            </strong>
                        </td>
                    </tr>
                </tbody>
            </table>
        <?py #endfor ?>
        <div id="infosCGV">
            <p class="txtinfo">En validant vous serez dirigé vers l’interface de paiement afin de régler votre commande</p>
            <p class="txtcgvin"><label for="cgvin">J'accepte les <a href="/cgv" target="_blank">conditions générale de vente</a></label><input type="checkbox" name="cgvin" id="cgvin" checked/></p>

            <p class="errwrapper">Vous devez accepter les conditions générale de vente pour valider votre commande</p>
        </div>

        <div id="btnline">
            <a id="paymentBtn" href="javascript:void(0)" class="btn purchase">Valider</a>
            <a class="btn back" href="javascript:history.go(-1)">Etape précédente</a>
            <div id="paymentForm" style="display:none">#{form}</div>
        </div>
    </div>

    <script type="text/javascript">
    function calc_sum(obj) {
        var currency = "";
        var diff_currency = false;
        obj.find('tr #currency').each(function(){
            if (currency == "") {
                currency = $(this).text();
            } else if (currency != $(this).text()) {
                // different currencies ??
                diff_currency = true;
            }
        });
        if (diff_currency) {
            return;
        }

        var sum = 0;
        obj.find('tr #amount').each(function(){
            sum += $(this).attr('value') * 1;
        });

        var total = sum;
        obj.find('span.priceTotal').each(function(){
            if ($(this).text())
                total += $(this).text().split(' ')[0] * 1;
        });

        var tax = obj.find('#total_amount').attr('value') * 1 - total;
        if (tax > 0)
            obj.find('#tax').text(formatAmount(tax) + " " + currency);
        else
            obj.find('.tax').hide();
        obj.find('#sum_amount').text(formatAmount(sum) + " " + currency);
    }

    function checkCGV() {
        if ($('#cgvin:checked').length == 0)
            $('#paymentBtn').hide();
        else
            $('#paymentBtn').show();
    }

    $(function() {
        $('#cgvin').click(function() {
            checkCGV();
        });
        checkCGV();

        $('table').each(function() {
            calc_sum($(this));
        });

        $('#paymentBtn').click(function() {
            $('#paymentForm form').submit();
        });
    });
    </script>
    <?py #endif ?>
</div>
