<!--INFOS PRODUCTS-->
<div id="infosProd">
    <strong id="breuer">Breuer</strong>
    <h1>${product_info.get('name')}</h1>
    <span class="descrpt">
        <?py for _line in product_info.get('desc'): ?>
            ${_line} <br/>
        <?py #endfor ?>
    </span>
    <?py display=product_info.get('display',{}) ?>
    <span id="discounted_price" class="prix1">${format_amount(display.get('price'))} ${cur_symbol(product_info.get('price',{}).get('@currency'))}( _{_('without tax')})</span>
    <span id="price_after_tax" class="prix3" style="display:none">(After tax: <span></span>)</span>

    <?py if product_info.get('discount'): ?>
    <em class="prix2">au lieu de <span id="ori_price">${format_amount(display.get('ori_price'))} ${cur_symbol(product_info.get('price', {}).get('@currency'))}</span></em>
    <?py #endif ?>

    <form id="addForm">
        <input type="hidden" name="cmd" value="add" />
        <input type="hidden" name="id_sale" value="${product_info['@id']}" />

        <?py if product_info.get('variant'): ?>
        <strong class="coloris">Coloris</strong>
        <ul id="selectColoris">
            <?py variants = as_list(product_info.get('variant'))?>
            <?py for variant in variants: ?>
            <li value="${variant.get('@id')}">
                <?py if not variant.get('disabled', False): ?>
                <a href="javascript:void(0)" src="${variant.get('img') or get_single_attribute(product_info, 'img')}">
                    <img src="${get_thumbnail(variant.get('thumb'), 30)}"/>
                </a>
                <?py #endif ?>
             </li>
            <?py #endfor ?>
        </ul>
        <input type="hidden" name="id_variant" value="" />
        <?py #endif ?>

        <?py if product_info.get('type',{}).get('attribute'): ?>
        <div id="selectTaille">
            <select name="id_attr" id="type_attribute_selector">
                <option value="">Selectionner la taille</option>
                <?py attributes = as_list(product_info.get('type',{}).get('attribute')) ?>
                <?py for type_attr in attributes: ?>
                    <?py if not type_attr.get('disabled', False): ?>
                    <option value="${type_attr.get('@id')}">${type_attr.get('name')}</option>
                    <?py #endif ?>
                <?py #endfor ?>
            </select>
        </div>
        <?py #endif ?>

        <?py if product_info.get('shop',{}): ?>
        <div id="selectShop">
            <select name="id_shop">
                <?py shops = as_list(product_info.get('shop')) ?>
                <?py for shop in shops: ?>
                <option value="${shop.get('@id')}">${shop.get('name')}</option>
                <?py #endfor ?>
            </select>
        </div>
        <?py #endif ?>

        <a href="javascript:addToBasket()" id="btnBuy">
            Ajouter au panier
        </a>
        <div class="errwrapper"></div>

    </form>
</div>

<!--//INFOS PRODUCTS-->


<!--VISUEL PRODUCT-->
<div id="visuelProd">
    <div class="main-image">
        <div class="easyzoom easyzoom--overlay">
            <a href="${get_single_attribute(product_info, 'img')}" >
                <img src="${get_single_attribute(product_info, 'img')}" alt="" width="523" height="523" class="custom" />
            </a>
        </div>
    </div>

    <ul class="thumbnails">
        <?py for index, img in enumerate(as_list(product_info.get('img'))): ?>
        <?py _clazz = 'on' if index == 0 else '' ?>
        <li class="${_clazz}"><a href="${img}"><img src="${get_thumbnail(img, 80)}" alt="product_info.get('name')" /></a></li>
        </li>
        <?py #endfor ?>
    </ul>
</div>
<!--//VISUEL PRODUCT-->


<div class="listProd listFiche">
<strong class="discover"><span>&Agrave; découvrir également</span></strong>

<?py for p in product_list[:4]: ?>
    <?py include('_product_list_item.html', p=p) ?>
<?py #endfor ?>
</div>

<script type="text/javascript" src="/js/flying.js"></script>
<script type="text/javascript">
$(function(){
    $("#type_attribute_selector").val("");
    var discount = ${product_info.get("discount", {}).get("#text", 0)};
    var ori_price = parseFloat(${product_info.get("display", {}).get("ori_price", 99999999)});
    var discounted_price = parseFloat(${product_info.get("display", {}).get("price", 99999999)});
    var currency = "${cur_symbol(product_info.get('price', {}).get('@currency'))}";
    var show_final_price = "${show_final_price}";
    var rates = #{taxes_rate};

    var type_attr_prices = {};
    var type_attr_discount_prices = {};
    var _price = null;
    <?py if product_info.get('type',{}).get('attribute'): ?>
        <?py for attr in as_list(product_info.get('type',{}).get('attribute')): ?>
            _price = parseFloat(${attr.get("price", {}).get("#text", 0)});
            _discount_price = parseFloat(${attr.get("discount_price", {}).get("#text", 0)});
            if (_price) {
                type_attr_prices[${attr.get("@id")}] = _price;
            }
            if (_discount_price) {
                type_attr_discount_prices[${attr.get("@id")}] = _discount_price;
            }
        <?py #endfor ?>
    <?py #endif ?>

    var variants = {};
    var p_type = null;
    var p_amount = null;
    <?py if product_info.get('variant'): ?>
        <?py for variant in as_list(product_info.get('variant')): ?>
            p_type = "${variant.get("premium", {}).get('@type', '')}";
            p_amount = ${variant.get("premium", {}).get("#text", 0)};
            if (p_type) {
                variants[${variant.get('@id')}] = {"premium_amount": p_amount,
                                                   "premium_type": p_type};
            }
        <?py #endfor ?>
    <?py #endif ?>

    function _calc_ori_price() {
        var type_attr_id = $("#type_attribute_selector").val();
        if (type_attr_id && type_attr_prices[type_attr_id]) {
            ori_price = type_attr_prices[type_attr_id];
        } else {
            ori_price = parseFloat(${product_info.get("display", {}).get("ori_price", 99999999)});
        }
    }

    function _calc_discounted_price() {
        _calc_ori_price();
        if (discount) {
            var type_attr_id = $("#type_attribute_selector").val();
            if (type_attr_id && type_attr_discount_prices[type_attr_id]) {
                discounted_price = type_attr_discount_prices[type_attr_id];
            } else {
                discounted_price = parseFloat(${product_info.get("display", {}).get("price", 99999999)});
            }
        } else {
            discounted_price = ori_price;
        }
    }

    function _calc_premium_price(variant_id) {
        _calc_discounted_price();
        variant_id = variant_id || $("#selectColoris li.selected:first").attr("value")
                     || $("#selectColoris li:first").attr("value");
        if (variant_id) {
            var _price = variants[variant_id]["premium_amount"];
            if (_price) {
                var _type = variants[variant_id]["premium_type"];
                if (_type == "fixed") {
                    ori_price += _price;
                    discounted_price += _price;
                } else if (_type == "ratio") {
                    ori_price *= (1+_price/100);
                    discounted_price *= (1+_price/100);
                }
            }
        }
    }

    function _display_prices() {
        $("#ori_price").text(formatAmount(ori_price) + " " + currency);
        $("#discounted_price").text(formatAmount(discounted_price) + " " + currency + " (${_('without tax')})");
        _display_price_after_tax();
    }

    function _display_price_after_tax() {
        var form = $("#addForm")[0];
        var rate = 0;
        if (form.id_shop == undefined)
            rate = rates['0'];
        else
            rate = rates[form.id_shop.value];
        rate = parseFloat(rate);
        if (show_final_price== 'True') {
            $("#ori_price ").text(formatAmount(ori_price + ori_price * rate / 100) + " " + currency);
            $("#discounted_price").text(formatAmount(discounted_price + discounted_price * rate / 100) + " " + currency);
        } else {
            if (rate > 0) {
                $("#price_after_tax").show();
                $("#price_after_tax span").text(formatAmount(discounted_price + discounted_price * rate / 100) + " " + currency);
            }
        }
    }

    _calc_premium_price();
    _display_prices();

    $("#selectColoris li").click(function(){
        $(this).attr('class', 'selected').siblings().attr('class', '');
    });

    $("#selectColoris li a").click(function(){
        var img = $(this).attr('src');
        api.$link.attr("href", img);
        api.$image.attr("src", img);
        if (api.$zoom) {
            api.$zoom.remove();
            api.isReady = false;
        }
        _calc_premium_price($(this).parents("li:first").attr("value"));
        _display_prices();
    });

    $("#visuelProd .thumbnails li a").click(function(){
        $(this).parent().attr('class', 'on').siblings().attr('class', '');
        var img = $(this).attr('href');
        api.$link.attr("href", img);
        if (api.$zoom) {
            api.$zoom.remove();
            api.isReady = false;
        }
    });

    $("#type_attribute_selector").change(function(){
        _calc_premium_price();
        _display_prices();
    });
});

function addToBasket() {
    var form = $("#addForm")[0];

    if ($("#selectColoris li").length > 0) {
        var id_variant = $("#selectColoris li[class=selected]");
        if ($("#selectColoris li[class=selected]").length == 0) {
            $("#addForm .errwrapper").text('Please choose coloris.');
            return;
        }
        form.id_variant.value = id_variant.attr('value');
    }

    if ($('#selectTaille').length > 0 && form.id_attr.value == "") {
        $("#addForm .errwrapper").text('Please choose taille.');
        return;
    }


    // check stock
    var stocks = #{as_list(product_info.get('available', {}).get('stocks'))};
    for (var i=0; i< stocks.length; i++) {
        var stock = stocks[i];
        if ((form.id_variant == undefined || form.id_variant.value == stock['@variant']) &&
            (form.id_attr == undefined || form.id_attr.value == stock['@attribute'])) {
            for (var j=0; j<stock['stock'].length; j++) {
                var ss = stock['stock'][j];
                if (form.id_shop == undefined || form.id_shop.value == ss['@shop']) {
                    if (parseInt(ss['#text']) > 0) {
                        break
                    } else {
                        $("#addForm .errwrapper").text('Sorry, no stock for your choice');
                        return;
                    }
                }
            }
        }
    }

    $("#addForm .errwrapper").text('');
    $.post('/ajax_basket',
        $("#addForm").serializeArray(),
        function(data) {
            if (data['set_cookies_js']) {
                eval(data['set_cookies_js']);
            }
            if (data['res'] == 'FAILURE') {
                $("#addForm .errwrapper").text(data['err']);
            } else {
                var flyer = $('#visuelProd .thumbnails li.on img');
                if (flyer.length == 0)
                    flyer = $('#visuelProd .thumbnails img').first();
                flyToElement(flyer, $('#panier'));
            }
        }
    );
}
</script>
