<?py if category.get('img'): ?>
<img src="${ category.get('img','') }" />
<?py else: ?>
<img src="/templates/breuer/img/visuel-chemises.jpg" alt="Les Chemises Breuer" />
<?py #endif ?>

<div class="listProd">
	<h1><span>${category.get('name', '')}</span></h1>
	<?py for p in product_list: ?>
	<div class="produit">
		<a href="${p.get('link')}">
			<span class="main-image">
				<img src="${get_single_attribute(p, 'img')}" alt="visuel produit" class="custom" />
			</span>
			<h2 class="name">${p.get('name')}</h2>
			<strong class="modele">${p.get('desc')}</strong>
			<span class="prix">Prix : ${p.get('price')} ${p.get('currency')}</span>
		<?py if p.get('variant') is not None: ?>
			<ul class="thumbnails">
   				<?py for variant in p.get('variant'): ?>
				<li><a href="${variant.get('img') or get_single_attribute(p, 'img')}"><img src="${variant.get('thumb','')}" alt="Thumbnails"></a></li>
				<?py #endfor ?>
			</ul>
		<?py #endif ?>
		</a>
	</div>
	<?py #endfor ?>
</div>
