<!--INFOS PRODUCTS-->
<div id="infosProd">
	<strong id="breuer">Breuer</strong>
	<h1>Nom du produit</h1>
	<span class="descrpt">Descriptif du produit</span>
	<span class="prix1">185&euro;00</span>
	<em class="prix2">au lieu de <span>450,00&euro;</span></em>
	<p>
		Quaestione igitur per multiplices dilatata fortunas cum ambigerentur quaedam, non nulla levius ambo pater et filius in exilium actest, fractis cruribus occiduntur.
	</p>
	
	<strong class="coloris">Coloris</strong>
	<ul>
		<li><a href="#"><img src="/templates/breuer/img/produits/48130P446507-v0_tn.jpg" alt="Thumbnails" /></a></li>
		<li><a href="#"><img src="/templates/breuer/img/produits/48130P446507-v0_tn.jpg" alt="Thumbnails" /></a></li>
		<li><a href="#"><img src="/templates/breuer/img/produits/48130P446507-v0_tn.jpg" alt="Thumbnails" /></a></li>
	</ul>
	
	<a id="guideBtn" href="#">Guide des tailles</a>
	
	<div id="selectTaille">
		<select>
			<option>Selectionner la taille</option>
			<option>XL</option>
			<option>L</option>
			<option>M</option>
			<option>S</option>
		</select>
	</div>
	
	<a href="#" id="btnBuy">Ajouter au panier</a>
</div>
<!--//INFOS PRODUCTS-->


<!--VISUEL PRODUCT-->
<div id="visuelProd">
	<div class="main-image">
		<div class="easyzoom easyzoom--overlay">
			<a href="/templates/breuer/img/produits/48130P446507-v0-zoom.jpg" >
				<img src="/templates/breuer/img/produits/48130P446507-v0-m.jpg" alt="" width="523" height="523" class="custom" />
			</a>
		</div>
	</div>

	<ul class="thumbnails">
		<li><a href="/templates/breuer/img/produits/48130P446507-v0-m.jpg"><img src="/templates/breuer/img/produits/48130P446507-v0-th.jpg" alt="Thumbnails" /></a></li>
		<li><a href="/templates/breuer/img/produits/48130P446507-v1-m.jpg"><img src="/templates/breuer/img/produits/48130P446507-v1-th.jpg" alt="Thumbnails" /></a></li>
		<li><a href="/templates/breuer/img/produits/48130P446507-v2-m.jpg"><img src="/templates/breuer/img/produits/48130P446507-v2-th.jpg" alt="Thumbnails" /></a></li>
	</ul>
</div>
<!--//VISUEL PRODUCT-->


</div>
<!--//MAIN PRODUCT-->	


<div class="listProd listFiche">
<strong class="discover"><span>&Agrave; découvrir également</span></strong>

<div class="produit"> 
	<a href="fiche-produit.php">
		<span class="main-image">
			<img src="/templates/breuer/img/produits/48130P446505-v0.jpg" alt="visuel produit" class="custom" />
		</span>
		<h2 class="name">Chemise popeline coton stonedwashed</h2>
	</a>
	<strong class="modele">Nom du colori</strong>
	<span class="prix">Prix : 180,00 &euro;</span>
	
	<ul class="thumbnails">
		<li><a href="/templates/breuer/img/produits/48130P446505-v0.jpg"><img src="/templates/breuer/img/produits/48130P446505-v0_tn.jpg" alt="Thumbnails"></a></li>
		<li><a href="/templates/breuer/img/produits/48130P446507-v0.jpg"><img src="/templates/breuer/img/produits/48130P446507-v0_tn.jpg" alt="Thumbnails"></a></li>
		<li><a href="/templates/breuer/img/produits/48130P446508-v0.jpg"><img src="/templates/breuer/img/produits/48130P446508-v0_tn.jpg" alt="Thumbnails"></a></li>
		<li><a href="/templates/breuer/img/produits/48130H340401-v0.jpg"><img src="/templates/breuer/img/produits/48130H340401-v0_tn.jpg" alt="Thumbnails"></a></li>
	</ul>
</div>

<div class="produit">
	<a href="fiche-produit.php">
		<span class="main-image">
			<img src="/templates/breuer/img/produits/48130P446508-v0.jpg" alt="visuel produit" class="custom" />
		</span>
		<h2 class="name">Chemise popeline coton stonedwashed</h2>
	</a>
	<strong class="modele">Nom du colori</strong>
	<span class="prix">Prix : 180,00 &euro;</span>
	
	<ul class="thumbnails">
		<li><a href="/templates/breuer/img/produits/48130P446505-v0.jpg"><img src="/templates/breuer/img/produits/48130P446505-v0_tn.jpg" alt="Thumbnails"></a></li>
		<li><a href="/templates/breuer/img/produits/48130P446507-v0.jpg"><img src="/templates/breuer/img/produits/48130P446507-v0_tn.jpg" alt="Thumbnails"></a></li>
		<li><a href="/templates/breuer/img/produits/48130P446508-v0.jpg"><img src="/templates/breuer/img/produits/48130P446508-v0_tn.jpg" alt="Thumbnails"></a></li>
		<li><a href="/templates/breuer/img/produits/48130H340401-v0.jpg"><img src="/templates/breuer/img/produits/48130H340401-v0_tn.jpg" alt="Thumbnails"></a></li>
	</ul>
</div>

<div class="produit">
	<a href="fiche-produit.php">
		<span class="main-image">
			<img src="/templates/breuer/img/produits/58280P446601-v0.jpg" alt="visuel produit" class="custom" />
		</span>
		<h2 class="name">Chemise coton imprimé stonedwashed</h2>
	</a>
	<strong class="modele">Nom du colori</strong>
	<span class="prix">Prix : 180,00 &euro;</span>
	
	<ul class="thumbnails">
		<li><a href="/templates/breuer/img/produits/58280P446601-v0.jpg"><img src="/templates/breuer/img/produits/58280P446601-v0_tn.jpg" alt="Thumbnails"></a></li>
		<li><a href="/templates/breuer/img/produits/58280P446602-v0.jpg"><img src="/templates/breuer/img/produits/58280P446602-v0_tn.jpg" alt="Thumbnails"></a></li>
	</ul>
</div>

<div class="produit">
	<a href="fiche-produit.php">
		<span class="main-image">
			<img src="/templates/breuer/img/produits/58280P446602-v0.jpg" alt="visuel produit" class="custom" />
		</span>
		<h2 class="name">Chemise coton imprimé stonedwashed</h2>
	</a>
	<strong class="modele">Nom du colori</strong>
	<span class="prix">Prix : 180,00 &euro;</span>
	
	<ul class="thumbnails">
		<li><a href="/templates/breuer/img/produits/58280P446601-v0.jpg"><img src="/templates/breuer/img/produits/58280P446601-v0_tn.jpg" alt="Thumbnails"></a></li>
		<li><a href="/templates/breuer/img/produits/58280P446602-v0.jpg"><img src="/templates/breuer/img/produits/58280P446602-v0_tn.jpg" alt="Thumbnails"></a></li>
	</ul>
</div>

<div class="produit">
	<a href="fiche-produit.php">
		<span class="main-image">
			<img src="/templates/breuer/img/produits/45503P444701-v0.jpg" alt="visuel produit" class="custom" />
		</span>
		<h2 class="name">Chemise coton imprimé stonedwashed</h2>
	</a>
	<strong class="modele">Nom du colori</strong>
	<span class="prix">Prix : 180,00 &euro;</span>
	
	<ul class="thumbnails">
		<li><a href="/templates/breuer/img/produits/45503P444701-v0.jpg"><img src="/templates/breuer/img/produits/45503P444701-v0_tn.jpg" alt="Thumbnails"></a></li>
	</ul>
</div>