<!--INFOS PRODUCTS-->
<div id="infosProd">
	<strong id="breuer">Breuer</strong>
	<h1>${product_info.get('name')}</h1>
	<span class="descrpt">${product_info.get('desc')}</span>
	<span class="prix1">${product_info.get('display',{}).get('price')} ${product_info.get('price',{}).get('@currency')}</span>
	<em class="prix2">au lieu de <span>${product_info.get('display', {}).get('ori_price')} ${product_info.get('price', {}).get('@currency')}</span></em>
	<p>
	</p>

    <form id="addForm" method="post" action="${basket_url_format}">
        <input type="hidden" name="cmd" value="add" />
        <input type="hidden" name="id_sale" value="${product_info['@id']}" />

        <?py if product_info.get('variant'): ?>
        <strong class="coloris">Coloris</strong>
        <ul id="selectColoris">
            <?py variants = product_info.get('variant',{})?>
            <?py variants = variants if isinstance(variants, list) else [variants] ?>
            <?py for variant in variants: ?>
            <li value="${variant.get('@id')}"><a href="javascript:void(0)" src="${variant.get('img') or get_single_attribute(product_info, 'img')}"><img src="${variant.get('thumb')}" alt="${variant.get('@id')}" /></a></li>
            <?py #endfor ?>
        </ul>
        <input type="hidden" name="id_variant" value="" />
        <?py #endif ?>

        <?py if product_info.get('type',{}).get('attribute',{}): ?>
        <a id="guideBtn" href="#">Guide des tailles</a>

        <div id="selectTaille">
            <select name="id_type">
                <option value="">Selectionner la taille</option>
                <?py attributes = product_info.get('type',{}).get('attribute',{}) ?>
                <?py attributes = attributes if isinstance(attributes, list) else [attributes] ?>
                <?py for product_type in attributes: ?>
                <option value="${product_type.get('@id')}">${product_type.get('name')}</option>
                <?py #endfor ?>
            </select>
        </div>
        <?py #endif ?>

        <a href="javascript:addToBasket()" id="btnBuy">Ajouter au panier</a>

    </form>
</div>

<!--//INFOS PRODUCTS-->


<!--VISUEL PRODUCT-->
<div id="visuelProd">
	<div class="main-image">
		<div class="easyzoom easyzoom--overlay">
			<a href="${get_single_attribute(product_info, 'img')}" >
				<img src="${get_single_attribute(product_info, 'img')}" alt="" width="523" height="523" class="custom" />
			</a>
		</div>
	</div>

<?py if isinstance(product_info.get('img'),list): ?>
	<ul class="thumbnails">
		<?py for img in product_info.get('img'): ?>
		<li><a href="${img}"><img src="${img}" alt="product_info.get('name')" /></a></li>
		</li>
		<?py #endfor ?>
	</ul>
<?py #endif ?>
</div>
<!--//VISUEL PRODUCT-->


</div>
<!--//MAIN PRODUCT-->


<div class="listProd listFiche">
<strong class="discover"><span>&Agrave; découvrir également</span></strong>

<?py i = 0 ?>
<?py for p in product_list: ?>
	<?py i += 1 ?>
	<?py if i == 5: ?>
	<?py 	break ?>
	<?py #endif ?>
<div class="produit">
	<a href="${p.get('link')}">
		<span class="main-image">
			<img src="${get_single_attribute(p, 'img')}" alt="visuel produit" class="custom" />
		</span>
		<h2 class="name">${p.get('name')}</h2>
	</a>
	<strong class="modele">${p.get('desc')}</strong>
	<span class="prix">Prix : ${p.get('price')} ${p.get('currency')}</span>

	<?py if p.get('variant'): ?>
	<ul class="thumbnails">
		<?py for variant in p.get('variant'): ?>
		<li><a href="${variant.get('img') or get_single_attribute(p, 'img')}"><img src="${variant.get('thumb')}" alt="${variant.get('@id')}"></a>
		</li>
		<?py #endfor ?>
	</ul>
	<?py #endif ?>
</div>
<?py #endfor ?>

<script type="text/javascript">
$(function(){
    $("#selectColoris li").click(function(){
        $(this).attr('class', 'selected').siblings().attr('class', '');
    });

    $("#selectColoris li a").click(function(){
        var img = $(this).attr('src');
        api.$link.attr("href", img);
        api.$image.attr("src", img);
        if (api.$zoom) {
            api.$zoom.remove();
            api.isReady = false;
        }
    });

    $("#visuelProd .thumbnails li a").click(function(){
        var img = $(this).attr('href');
        api.$link.attr("href", img);
        if (api.$zoom) {
            api.$zoom.remove();
            api.isReady = false;
        }
    });
});

function addToBasket() {
    var form = $("#addForm");

    if ($("#selectColoris li").length > 0) {
        var id_variant = $("#selectColoris li[class=selected]");
        if ($("#selectColoris li[class=selected]").length == 0) {
            alert("Please choose coloris.");
            return;
        }
        form[0].id_variant.value = id_variant.attr('value');
    }

    if ($('#selectTaille').length > 0 && form[0].id_type.value == "") {
        alert("Please choose taille.");
        return;
    }
    form.submit();
}
</script>
