<div id="panier" role="main">
    <h1 id="titleH1">Nouveau mot de passe :</h1>
    
    <div class="errwrapper">${err}</div>
    <form id="resetForm" name="resetForm" method="POST">
        <input type="hidden" name="email" value="${email}" /> 
        <input type="hidden" name="key" value="${key}" /> 
        <div class="floater center">
            <h1>Entrez votre nouveau mot de passe :</h1>
            <input name="password" type="password" placeholder="Mot de passe" />
            <input name="password2" type="password" placeholder="Vérifiez Mot de passe" />
            <a class="btn purchase" href="javascript:confirm();">Confirm</a>
        </div>
    </form>
</div>
<script>
function confirm() {
    $("#resetForm").submit();
}
</script>
