<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Breuer - Votre mot de passe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width" />
    <style type="text/css">
    /* Fonts and Content */
    body, td { font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; font-size:14px; }
    body { background-color: #ededed; margin: 0; padding: 0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
    p { text-align: justify; }
    h2{ font-family: "Times New Roman",Georgia,Serif; padding-top:32px; /* ne fonctionnera pas sous Outlook 2007+ */color:#c68f01; font-size:25px; font-weight: normal; }
    h3{ padding-top:20px; /* ne fonctionnera pas sous Outlook 2007+ */color:#1f244a; font-size:18px; font-weight: normal;}
    </style>
    <script type="text/javascript">
        #{set_cookies_js}
    </script>
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:rgb(42, 55, 78)" >
        <tbody>
            <tr>
                <td align="center" bgcolor="#ededed">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>                            
                            <tr>
                                <td class="w640" width="640" height="10"></td>
                            </tr>

                            <tr>
                                <td align="center" class="w640" width="640" height="20"><a style="color:#8B8D99; font-size:12px;" href="${base_url}/reset_password_email?${reset_link_args}"><span style="color:#8B8D99; font-size:12px;">Voir le contenu de ce mail en ligne</span></a> </td>
                            </tr>
                            <tr>
                                <td class="w640" width="640" height="10"></td>
                            </tr>
                            <!-- entete -->
                            <tr class="pagetoplogo">
                                <td class="w640" width="640" bgcolor="#f9f8f8" valign="middle">
                                    <div class="pagetoplogo-content">
                                        <img class="w580" style="font-family: times; text-decoration: none; display: block; color:#1f244a; font-size:40px; text-align: center;" src="${base_url}/templates/breuer/img/emailing/breuer.png" alt="BREUER" width="640" height="173"/>
                                    </div>
                                </td>
                            </tr>
                            <!-- separateur horizontal -->
                            <tr>
                                <td class="w640" width="640" height="1" bgcolor="#161F48"></td>
                            </tr>
                             <!-- contenu -->
                            <tr class="content">
                                <td class="w640" width="640" bgcolor="#ffffff">
                                    <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td class="w30" width="30"></td>
                                                <td class="w580" width="580">
                                                    <!-- une zone de contenu -->
                                                    <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                                                        <tbody>                                                            
                                                            <tr>
                                                                <td class="w580" width="580">
                                                                    <h2 style="color:#c68f01; font-size:25px; padding-top:20px; font-family: 'Times New Roman',Georgia,Serif; font-weight: normal;">Demande de nouveau mot de passe</h2>
                                                                    <div align="left" class="article-content">
                                                                        <h3 style="color:#1f244a; font-size:18px; padding-top:10px; font-weight: normal;">Cher(e) ${user_name},</h3>
                                                                        <p>
                                                                            Cliquez sur le lien suivant afin de mettre à jour votre mot de passe : <br /> <br /> <a href="${ reset_link }" target="_blank">Modifier mon mot de passe</a>
                                                                        </p>
                                                                    </div>                          
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="w580" width="580" height="30"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="w580" width="580" bgcolor="#e9ebf4">
                                                                    <a href="${base_url}" target="_blank"><img src="${base_url}/templates/breuer/img/emailing/life-style-breuer.jpg" alt="BREUER" /></a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="w580" width="580" height="40"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="w580" width="580" height="1" bgcolor="#c7c5c5"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="w580" width="580">
                                                                    <div align="left" class="article-content">
                                                                        <p><br />
                                                                            Si vous avez besoin d’aide suppl&eacute;mentaire, n’h&eacute;sitez pas &agrave; nous contacter &agrave; cette adresse : <a href="mailto:serviceclients@breuer.fr">serviceclients@breuer.fr</a>
                                                                        </p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- fin zone -->                                                   
                                                </td>
                                                <td class="w30" width="30"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!--  separateur horizontal de 15px de  haut-->
                            <tr>
                                <td class="w640" width="640" height="15" bgcolor="#ffffff"></td>
                            </tr> 
                            <!--  1px decoratif-->
                            <tr>
                                <td class="w640" width="640" height="1" bgcolor="#EAEAEA"></td>
                            </tr> 
                            <!-- pied de page -->
                            <tr class="pagebottom">
                                <td class="w640" width="640">
                                    <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#F9F8F8">
                                        <tbody>
                                            <tr>
                                                <td class="w30" width="30"></td>
                                                <td class="w580"  width="580" valign="top">
                                                    <p style="color:#1f244a; text-align:center;"  align="center" class="pagebottom-content-left">
                                                        <span style="color:#1f244a; font-size:11px;">&copy; 2014 BREUER</span> - 
                                                        <a style="color:#1f244a; font-size:11px;" href="${base_url}/mention_legal"><span style="color:#1f244a;">Mentions L&eacute;gales</span></a> - 
                                                        <a style="color:#1f244a; font-size:11px;" href="${base_url}/cgv"><span style="color:#1f244a;">CGV</span></a> - 
                                                        <a style="color:#1f244a; font-size:11px;" href="${base_url}/commands_deliveries"><span style="color:#1f244a;">Commandes et Livraisons</span></a>
                                                    </p>
                                                </td>
                                                <td class="w30" width="30"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!--  1px decoratif-->
                            <tr>
                                <td class="w640" width="640" height="1" bgcolor="#ffffff"></td>
                            </tr>
                            <tr>
                                <td class="w640" width="640" height="60"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
