<div id="panier" role="main">
    <h1 id="titleH1">Mot de passe oublié :</h1>
    
    <div class="errwrapper">${err or msg}</div>
    <form id="resetForm" name="resetForm" method="POST">
        <div class="floater center">
            <h1>Renseignez votre adresse mail pour recevoir un nouveau mot de passe :</h1>
            <input type="text" name="email" placeholder="Votre adresse e-mail" /> 
            <a class="btn purchase" href="javascript:send();">Envoyer</a>
        </div>
    </form>
    
    <div id="btnline"> 
        <a class="btn back" href="javascript:history.go(-1)">Etape précédente</a>
    </div>
</div>
<script>
function send() {
    $("#resetForm").submit();
}
</script>
