<form id="formContainer" method="post">
    <div class="errwrapper">&nbsp;</div>
</form>
<a class="btnlog logout" href="javascript:save()">Créer mon compte</a>

<script type="text/javascript">
var profile = #{user_profile};
var profileErr = '${err}';
var redirect_to = '${redirect_to}';
var delayCallbacks = [];

function getTemplate(name, item)
{
    var result = { template: '', callbacks: [] };

    switch (item.type) {

    case 'text': {
        var tpl = '';

        tpl += '<p>' +
                   '<label for="' + name + '">' + item.name + '</label>' +
                   '<input type="text" id="' + name + '" ' +
                   'name="' + name + '" value="' + item.value +'" />' +
               '</p>';

        if (typeof item.accept !== 'undefined' && item.accept) {
            delayCallbacks.push(function() {
                $("#" + name).blur(function() {
                    var reg = new RegExp(item.accept);
                    if (! reg.test(this.value)) {
                        /* XXX allow customisation of the
                           input error handling */
                        alert('Bad value for ' + item.name+ ': ' + this.value);
                    }
                });
            });
        }

        result.template = tpl;
    } break;

    case 'select': {
        var tpl = '';

        if (typeof item.accept !== 'undefined' && item.accept) {
            tpl +=
            '<p>' +
                '<label for="' + name + '">' + item.name + '</label>' +
                '<select id="' + name + '" name="' + name + '">';
            for (k in item.accept) {
                tpl +=
                '<option value="' + item.accept[k] + '"';
                if (item.value == item.accept[k])
                    tpl += ' selected="selected"';
                tpl += '>' + k + '</option>';
            }
            tpl +=
                '</select>' +
            '</p>';
        }

        result.template = tpl;
    } break;

    case 'radio': {
        var tpl = '';

        if (typeof item.accept !== 'undefined' && item.accept) {
            for (k in item.accept) {
                tpl += '<label for="' + name + '">' + k + '</label>' +
                       '<input type="radio" id="' + name + '" ' +
                       'name="' + name + '" value="' + item.accept[k] + '" ';
                if (item.value == item.accept[k])
                    tpl += ' checked="checked"';
                tpl += '/>';
            }
        }

        result.template = tpl;
    } break;

    case 'fieldset': {
        var tpl = '';

        for (i in item.values) {
            tpl += '<fieldset>';

            if (typeof item.name !== 'undefined')
                tpl += '<legend>' + item.name + '</legend>';

            for (j in item.fields) {
                var field_item = item.fields[j];
                field_item = JSON.parse(JSON.stringify(field_item));
                /* correct id for the dependency */
                if (typeof field_item.depends !== 'undefined') {
                    if (field_item.depends != '')
                        field_item.depends += '_' + item.values[i].id;
                }
                /* add the matching value */
                field_item.value = item.values[i][j];
                var ret = getTemplate(j + '_' + item.values[i].id, field_item);
                tpl += ret.template;
                result.callbacks = result.callbacks.concat(ret.callbacks);
            }

            tpl += '</fieldset>';
        }

        result.template = tpl;
    } break;

    case 'ajax': {
        if (typeof item.depends !== 'undefined' && item.depends) {
            /* setup a onchange hook */
            delayCallbacks.push(function() {
                $('#' + item.depends).change(function() {
                    $.ajax({ 'url': item.source,
                             'data': { "dep": this.value,
                                       "val": item.value },
                             'type': 'GET',
                             'async': false, /* avoid race condition */
                             'dataType': 'json',
                             'success': function(d) {
                                 if (d.type != 'ajax') {
                                     var t = getTemplate(name, d).template;
                                     $("#wrapper_" + name).html(t);
                                 }
                             },
                           });
                });
                $('#' + item.depends).change();
            });
            result.template = '<p id="wrapper_' + name + '"></p>';
        } else {
            result.callbacks.push(function() {
                $.ajax({ 'url': item.source,
                         'data': { "val": item.value },
                         'type': 'GET',
                         'async': false, /* avoid race condition */
                         'dataType': 'json',
                         'success': function(d) {
                             if (d.type != 'ajax') {
                                 var t = getTemplate(name, d).template;
                                 $("#ajax_" + name).html(t);
                             }
                         },
                       });
            });
            result.template = '<p id="ajax_' + name + '"></p>';
        }
    } break;

    }

    return result;
}

$(document).ready(function() {
    if (profileErr != '') {
        $("#formContainer .errwrapper").text(profileErr);
    }

    var elem;
    for (name in profile) {
        elem = getTemplate(name, profile[name]);
        $("#formContainer").append(elem.template);
        for (c in elem.callbacks) elem.callbacks[c]();
    }

    // loop for dependent elements after form init
    for(d in delayCallbacks) delayCallbacks[d]();
});

function save() {
    $.post('/ajax_user',
        $("#formContainer").serializeArray(),
        function(data) {
            if (data['set_cookies_js']) {
                eval(data['set_cookies_js']);
            }
            if (data['res'] == 'FAILURE') {
                $("#formContainer .errwrapper").text(data['err']);
                location = '#';
            } else {
                if (redirect_to)
                    location = redirect_to;
                else
                    location = '#';
            }
        }
    )
}
</script>

