<?py include('_auth.html') ?>

<script>
function login() {
    $.post('/ajax_login',
        $("#loginForm").serializeArray(),
        function(data) {
            if (data['res'] == 'FAILURE') {
                $("#loginForm .errwrapper").text(data['err']);
            } else {
                if (data['set_cookies_js']) {
                    eval(data['set_cookies_js']);
                }
                location = "${user_url_format}";
            }
        }
    )
}

function register() {
    $.post('/ajax_register',
        $("#registerForm").serializeArray(),
        function(data) {
            if (data['res'] == 'FAILURE') {
                $("#registerForm .errwrapper").text(data['err']);
            } else {
                if (data['set_cookies_js']) {
                    eval(data['set_cookies_js']);
                }
                location = "${user_url_format}";
            }
        }
    )
}
</script>
