<div id="panier" role="main">
    <?py include('_auth.html') ?>
    <div id="btnline">
        <a class="btn purchase" href="javascript:confirm()">Valider</a>
    </div>
</div>
<script>
function confirm() {
    if ($('#registerForm input[name=email]').val().length > 0) {
        register();
    } else {
        login();
    }
}
function login() {
    $.post('/ajax_login',
        $("#loginForm").serializeArray(),
        function(data) {
            if (data['res'] == 'FAILURE') {
                $("#loginForm .errwrapper").text(data['err']);
            } else {
                if (data['set_cookies_js']) {
                    eval(data['set_cookies_js']);
                }
                location = "${succ_redirect_to}";
            }
        }
    )
}

function register() {
    $.post('/ajax_register',
        $("#registerForm").serializeArray(),
        function(data) {
            if (data['res'] == 'FAILURE') {
                $("#registerForm .errwrapper").text(data['err']);
            } else {
                if (data['set_cookies_js']) {
                    eval(data['set_cookies_js']);
                }
                location = "${user_url_format}";
            }
        }
    )
}
</script>
