* {
	margin: 0px;
	padding: 0px;
	font-family: Verdana,Tahoma,Helvetica,Sans-Serif;
	font-size: 11px;
    color: #ffffff;
}

body { 
	min-width: 1083px; padding-top: 115px;  
	background: url(../img/motif.jpg) repeat 0 0;
}
h1, h2, h3, h4, h5 { font-weight: bold; font-size: 12px; }
ul { list-style-type: none;}
a { text-decoration: none; }
a img { border: 0 none; }

.clear { display: block; float: none; clear: both; min-height: 1px; }





/*-----------------*/
/*  CSS GENERALES  */
/*-----------------*/
#wrapheader { 
	position: fixed; z-index: 1000000; 
	top: 0; 
	width: 100%; height: 83px; 
	 
 
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5);
 
	background: url(../img/pix-header.png) repeat-x;
}

/*--- HEADER ---*/
#header {
	position: relative;
	width: 1060px; height: 118px;
	margin: auto;
	background: url(../img/ornement-header.png) no-repeat right bottom;
}
	#header #logo {
		display: block; position: absolute;
		top: 1px; left: 20px;
		width: 174px; height: 159px;
		overflow: hidden;
		text-indent: -500px;
		background: url(../img/dragon-dollar.png) no-repeat 0 0;
		z-index: 1; 
	}
	
	

#header #ornement {
    position: absolute;
    display: block;
    bottom: -30px;
    width: 958px; height: 11px;
    background: url(../img/ornement.png) no-repeat 0 0 rgba(0, 0, 0, 0);
}
	
		
	/*PANIER*/
	#panier {
		display: block;
		position: absolute;
		top: 40px; right: 22px;
		width: 81px; height: 49px; line-height: 30px;
		color: #ffffff; font-weight: bold;
		padding-right: 10px;
		background: url(../img/bourse.png) no-repeat 0 0; 
	}
	#panier em { 
		display: block;
		position: absolute;
		top: 34px; left: 8px;
		width: 20px; height: 20px;
		line-height: 18px; text-align: center;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
		border-radius: 10px;
		border: 1px solid #670000;
		letter-spacing: -0.15em;
		
		color: #670000; font-style: normal; 
		background-color: #FFC900;
		
		-webkit-transition: background-color 0.2s ease;
		-moz-transition: background-color 0.2s ease;
		-ms-transition: background-color 0.2s ease;
		-o-transition: background-color 0.2s ease;
		transition: background-color 0.2s ease;
	}
	#panier:hover em { background-color: #FFE481; }


	
		
/*--- NAV ---*/
#nav {
	position: absolute;
    width: 896px; height: 30px;
    top: 45px; left: 186px;
	/*border-top: 1px solid #574637;
	border-bottom: 1px solid #574637;
	
	-webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
	*/
}
	
	/*-MENU-*/
	#menu { float: left; height: 30px; }
	
	#menu li,
	#menu li a{
		display: block;
		float: left;
		height: 26px;
	}
	#menu li { margin: 0 4px; }
	#menu li a {
		line-height: 25px; 
		padding: 0 10px;
		font-weight: bold;
		text-transform: uppercase;
		color: #ffffff;
		text-shadow: 1px 1px 1px #380018;
		-moz-text-shadow: 1px 1px 1px #380018;
		-webkit-text-shadow: 1px 1px 1px #380018;
	
	}
	#menu li a:hover{ text-decoration: underline; }

	
	
	/*PLUS 6 EUROS___V2*/
	#cash {
		display: block;
		position: absolute;
		bottom: 47px;
		right: 60px;
		font-family: tahoma, verdana;
		font-weight: bold;
		font-size: 11px;
		color: #ffffff;
	}
	#cash:hover { text-decoration: underline; }
	
	
	


	#partage {
		position: absolute;
		right: 135px; bottom: -6px;
		width: 165px; height: 42px;
	}
	#partage .btnSocial {
		display: inline-block; margin: 0 0 0 -4px;
		width: 33px; height: 42px;
		background: url(../img/social.png) no-repeat 0 0;
	}
	#partage .btnSocial a {
		display: block;
		width: 33px; height: 42px;
		background: url(../img/social-ico.png) no-repeat 0 0;
	}
	#partage .btnSocial.fck a { background-position: -2px 5px; }
	#partage .btnSocial.gg a { background-position: -5px -50px; }
	#partage .btnSocial.twt a { background-position: -3px -105px; }
	#partage .btnSocial.du a { background-position: -4px -160px; }
	#partage .btnSocial.wu a { background-position: -4px -212px; }

	#partage .btnSocial:hover { background: url(../img/social.png) no-repeat 0 bottom; }
	
	
	
	
	
/*------------------------*/
/*       CONTENEURS       */
/*------------------------*/

#conteneur, #conteneurTop {
	/*min-width: 1000px;*/
	
	width: 100%;
	margin: 0 auto;
	padding: 0 0 30px 0;
	
	background: url(../img/motif.jpg) repeat 0 0;
}
#conteneurBottom {
	/*min-width: 1000px;*/
	width: 100%;
	margin: 0 auto;
	padding-top: 30px;	
	/*border-top: 1px solid #434343;*/
	
	background: #020202; /* Old browsers */
background: -moz-linear-gradient(top,  #020202 0%, #04070c 3%, #030b0e 4%, #070c12 5%, #071015 7%, #091018 18%, #0a131a 21%, #0a1119 25%, #0d141c 33%, #0c171d 33%, #0e151d 36%, #122128 64%, #182631 87%, #16272f 87%, #192730 96%, #182933 97%, #15232e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#020202), color-stop(3%,#04070c), color-stop(4%,#030b0e), color-stop(5%,#070c12), color-stop(7%,#071015), color-stop(18%,#091018), color-stop(21%,#0a131a), color-stop(25%,#0a1119), color-stop(33%,#0d141c), color-stop(33%,#0c171d), color-stop(36%,#0e151d), color-stop(64%,#122128), color-stop(87%,#182631), color-stop(87%,#16272f), color-stop(96%,#192730), color-stop(97%,#182933), color-stop(100%,#15232e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #020202 0%,#04070c 3%,#030b0e 4%,#070c12 5%,#071015 7%,#091018 18%,#0a131a 21%,#0a1119 25%,#0d141c 33%,#0c171d 33%,#0e151d 36%,#122128 64%,#182631 87%,#16272f 87%,#192730 96%,#182933 97%,#15232e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #020202 0%,#04070c 3%,#030b0e 4%,#070c12 5%,#071015 7%,#091018 18%,#0a131a 21%,#0a1119 25%,#0d141c 33%,#0c171d 33%,#0e151d 36%,#122128 64%,#182631 87%,#16272f 87%,#192730 96%,#182933 97%,#15232e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #020202 0%,#04070c 3%,#030b0e 4%,#070c12 5%,#071015 7%,#091018 18%,#0a131a 21%,#0a1119 25%,#0d141c 33%,#0c171d 33%,#0e151d 36%,#122128 64%,#182631 87%,#16272f 87%,#192730 96%,#182933 97%,#15232e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #020202 0%,#04070c 3%,#030b0e 4%,#070c12 5%,#071015 7%,#091018 18%,#0a131a 21%,#0a1119 25%,#0d141c 33%,#0c171d 33%,#0e151d 36%,#122128 64%,#182631 87%,#16272f 87%,#192730 96%,#182933 97%,#15232e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020202', endColorstr='#15232e',GradientType=0 ); /* IE6-9 */

	background: url(../img/motif.jpg) repeat 0 0;

}
#conteneurBottom .boxCenter { position: relative; margin: 0 auto 20px auto; }
 

#caligraphie {
	position: absolute;
	bottom: -75px; left: -190px;
	width: 380px; height: 545px;
	background: url(../img/dragon.png) no-repeat 0 0;
}








.boxCenter { width: 958px; margin: auto; }
.slideCoins {
	position: relative;
	width: 958px;
	margin: 40px auto;
 
    border: 1px solid rgba(255, 228, 126, 0.4);

    border-top: none;
	background: none; 	
	background-color: #000000; 	
}



/*-------------------------------*/
/*   COLLECTOR-TOOLS - FOOTER    */
/*-------------------------------*/

#collectors { margin: 20px 0; }
#collectors li { display: inline-block; margin: 0 12px 2px 23px; }
#collectors li a { display: block; padding: 9px 0 15px 0; }
#collectors li a:hover { background-color: rgba(157, 1, 1, 0.35); }
#collectors li a .visuelTool {
	display: block;
	width: 150px; height: 105px;
	margin: 0; overflow: hidden;
}
#collectors li a .visuelTool img { display: block; width: 150px; }
#collectors li a .titreTool { display: block; margin-top: 5px; font-size: 15px; font-weight: normal; color: #fff;  }
#collectors li a:hover .titreTool { text-decoration: underline; }
#collectors li a .prixTool { 
	display: block; 
	margin: 5px 0 0 0;
	font-size: 12px; color: #FBB924; 
}












.detail {
	display: block; float: left;
	padding: 5px 25px 5px 7px;
	font-size: 12px;
	font-weight: bold; color: #000000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	background: url(../img/plus.gif) no-repeat 52px 6px #FFF6C8;
}



	
	
/*--------BARRE DE TITRE A--------*/

/*BARRE DE TITRE*/
.titleLine {
	display: block; clear: both;
	height: 30px; line-height: 30px;
	padding-left: 10px;
	font-size: 13px; font-weight: bold;
	color: #ffffff;
	
	-webkit-text-shadow: 1px 1px 1px #730022;
	-moz-text-shadow: 1px 1px 1px #730022;
	-ms-text-shadow: 1px 1px 1px #730022;
	-o-text-shadow: 1px 1px 1px #730022;
	text-shadow: 1px 1px 1px #730022;
	
	margin: 0 0 12px 0; 
	border-bottom: 1px solid #ec9f02;
	
	background: #9a070d; /* Old browsers */
background: -moz-linear-gradient(top,  #9a070d 0%, #a2070f 24%, #a1070e 38%, #9b070d 55%, #87050a 86%, #81060a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9a070d), color-stop(24%,#a2070f), color-stop(38%,#a1070e), color-stop(55%,#9b070d), color-stop(86%,#87050a), color-stop(100%,#81060a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9a070d 0%,#a2070f 24%,#a1070e 38%,#9b070d 55%,#87050a 86%,#81060a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9a070d 0%,#a2070f 24%,#a1070e 38%,#9b070d 55%,#87050a 86%,#81060a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9a070d 0%,#a2070f 24%,#a1070e 38%,#9b070d 55%,#87050a 86%,#81060a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9a070d 0%,#a2070f 24%,#a1070e 38%,#9b070d 55%,#87050a 86%,#81060a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a070d', endColorstr='#81060a',GradientType=0 ); /* IE6-9 */

}
.titleLine {
	position: relative; margin: 0;
	width: 958px; padding-left: 0;
}
.titleLine strong {
	position: absolute; display: block;
	top: -1px; left: -1px;
	width: 960px; height: 31px;
	background: url(../img/ornementTitle_L.png) no-repeat 0 0;
}
.titleLine span {
	display: block;
	width: 940px; height: 31px;
	line-height: 30px;
	padding-left: 20px;
	font-size: 13px;
	color: #ffffff;
	-webkit-text-shadow: 1px 1px #730022;
	-moz-text-shadow: 1px 1px #730022;
	-ms-text-shadow: 1px 1px #730022;
	-o-text-shadow: 1px 1px #730022;
	text-shadow: 1px 1px #730022;
	background: url(../img/ornementTitle_R.png) no-repeat right 0;
}





/*--------BARRE DE TITRE B--------*/

/*BARRE DE TITRE*/
.titleLine2 {
	position: relative; 
	display: block; clear: both;
	width: 958px; 
	height: 49px; line-height: 49px;
	text-align: center;
	
	font-size: 13px; font-weight: bold;
	color: #FFE19E;
	
	-webkit-text-shadow: 1px 1px 1px #730022;
	-moz-text-shadow: 1px 1px 1px #730022;
	-ms-text-shadow: 1px 1px 1px #730022;
	-o-text-shadow: 1px 1px 1px #730022;
	text-shadow: 1px 1px 1px #730022;
	
	background: url(../img/titlebloc.png) repeat-x 0 0;
}





/*--------------------------*/
/*        SLIDER-COIN       */
/*--------------------------*/

/* Fancy Slider */
#slider-one { margin: 10px; }	
.linkProd strong, .linkProd span { display: block; color: #ffffff; text-align: center; }
.linkProd strong { color: #FFC900; }
.linkProd:hover span { text-decoration: underline; }

/*Pop*/
#fancybox-title-inside { font-weight: bold; }
/* // Fancy Slider */




/*--------------------------*/
/*       ORNEMENT BACK      */
/*--------------------------*/
.ornementinside {
	display: block; clear: both;
	width: 958px; height: 30px;
	margin: 20px auto 0px auto;
	background: url(../img/ornement.png) no-repeat 0 0;
}
.ornementinside.ornemBottom { margin: 5px auto 0px auto; }





	
	
/*------------------------*/
/*    LEARN - FOOTER      */
/*------------------------*/
#learn {
	position: relative;
	float: left;
	overflow: hidden;
	width: 371px; height: 450px;
	padding: 0 0 0 10px;
}
#learn strong { display: block; font-size: 18px; color: #ffffff; }	


	
	
	
	
/*------------------------*/
/*    SEARCH - FOOTER     */
/*------------------------*/

#blockSearch {
	float: left; position: relative; 
	z-index: 1;
	width: 958px;
	margin: 0; 
}
#blockSearch div { display: block; float: left; margin: 0; }
#blockSearch div label {
	margin: 5px 0 0 0; 
	font-size: 19px;
	font-weight: normal;
	color: #FFD76F;
}
	
	
#blockSearch .linkSearch {
	position: relative; display: block; 
	float: left;
	width: 177px; height: 46px;
	margin: 0px 0 5px 30px;
	line-height: 46px; text-align: center; 
	font-size: 13px;
	background: url(../img/btnBack.png) repeat-x 0 0;
}
#blockSearch .linkSearch:hover { background: url(../img/btnBack-hover.png) repeat-x 0 0; }
	
#blockSearch .linkSearch strong {
	position: absolute; display: block;
	top: 0; left: -8px;
	width: 179px; height: 46px;
	background: url(../img/btnLeft.png) no-repeat 0 0;
}
#blockSearch .linkSearch span {
	position: absolute; display: block;
	top: 0; right: -13px;
	width: 179px; height: 46px;
	padding-right: 5px;
	line-height: 46px; text-align: center;
	font-size: 13px; color: #fff;
	-webkit-text-shadow: 1px 1px #7f0025;
	-moz-text-shadow: 1px 1px #7f0025;
	-ms-text-shadow: 1px 1px #7f0025;
	-o-text-shadow: 1px 1px #7f0025;
	text-shadow: 1px 1px #7f0025;
	background: url(../img/btnRight.png) no-repeat right 0;
}


#blockSearch #recherche {
	display: inline-block; float: none;
	width: 247px; height: 34px;
	margin-top: 10px; margin-left: 10px;
	position: relative;
}

#blockSearch #recherche input { 
	width: 239px; height: 24px; 
	padding-left: 7px;
	border: 1px solid #d7d7d7; 
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	font-size: 12px; color: #4a4a4a;
	background: url(../img/search.png) no-repeat 424px 4px #fff9de; 
	box-shadow: 0px 1px 1px #f2e28e inset;
	-webkit-box-shadow: 0px 1px 1px #f2e28e inset;
	-moz-box-shadow: 0px 1px 1px #f2e28e inset;
	-ms-box-shadow: 0px 1px 1px #f2e28e inset;
	-o-box-shadow: 0px 1px 1px #f2e28e inset;
}
#blockSearch #recherche input:hover, 
#blockSearch #recherche input:focus { 
	background: url(../img/search.png) no-repeat 424px 4px #FFF6C8; 
	box-shadow: 0px 0px 1px 1px rgba(255, 237, 0, 0.9) inset;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(255, 237, 0, 0.9) inset;
	-moz-box-shadow: 0px 0px 1px 1px rgba(255, 237, 0, 0.9) inset;
	-ms-box-shadow: 0px 0px 1px 1px rgba(255, 237, 0, 0.9) inset;
	-o-box-shadow: 0px 0px 1px 1px rgba(255, 237, 0, 0.9) inset;
	color: #343434;
}
#blockSearch #recherche #submitsearch {
	display: block; width: 40px; height: 26px;
	position: absolute; top: 0; right: 0;
	background: url(../img/search.png) no-repeat 11px 4px #fff9de;
	cursor: pointer;
}
#blockSearch #recherche #submitsearch:hover,
#blockSearch #recherche #submitsearch:hover { background-color: #FFE462; } 




#blockSearch #chinaMap {
	width: 960px; height: 801px;
    margin: 20px 0px 30px -10px;
	padding: 8px;
    background: url(../img/mapBack.png) no-repeat 0 0;
}
#blockSearch #chinaMap div { border: 2px ridge #ffd400; }
#blockSearch #chinaMap img { margin: 0px; } 


	
/*-------------------*/
/*      FOOTER       */
/*-------------------*/	
#wrapfooter { 
	position: absolute;
	z-index: 10000;
	width: 100%;
	background-color: #0f0e0a;
}
#footer {
	width: 100%;
	padding-top: 7px;
	margin-bottom: 50px;
	
	border-top: 1px solid rgba(255, 228, 126, 0.59);
	border-bottom: 1px solid rgba(255, 228, 126, 0.59);
	 
	background-color: #A5080F;
	
	-webkit-box-shadow: 0 0 2px 0px #000;
	-moz-box-shadow: 0 0 2px 0px #000;
	-ms-box-shadow: 0 0 2px 0px #000;
	-o-box-shadow: 0 0 2px 0px #000;
	box-shadow: 0 0 2px 0px #000;
}
	
#footer ul {
	display: block; width: 950px;
	margin: 0 auto 7px auto;
}
#footer ul li { display: inline; color: #FFE1C0; }

#footer ul li a,
#footer ul li span,
#footer ul li strong {
	margin-right: 5px;
	text-align: center;
	font-size: 11px; color: #FFE1C0;
}

#footer ul li a:hover { text-decoration: underline; color: #fff; }


/*Copyright*/		
#copyright { display: block; float: right; }

#blockSearch #chinaMap .totomaptest01  { background-color: rgba(116, 8, 58, 0.40); }

.hidden {display: None;}


/*-----------------------------------*/
/*		 	 PAGES INFOS			 */
/*-----------------------------------*/

.contenuTxt {
    clear: both;
    overflow: auto; 
    margin: auto;
    padding-top: 30px;
    width: 958px;
}
.contenuTxt h1 {
	border-bottom: 1px solid #dbdbdb;
	margin: 20px 0 50px 0;
}
.contenuTxt h1 span {
	display: block;
	margin: 0 auto;
	font-size: 20px; font-weight: normal;
	text-align: center;
}

.contenuTxt h2, 
.contenuTxt h3,
.contenuTxt h4 {
	display: block; margin: 50px 110px 0 110px;
	font-family: verdana;
	font-size: 12px;
	text-align: center;
}
.contenuTxt h3 { margin: 20px 110px 0 110px; color: #FFE481;}
.contenuTxt h4 { margin: 20px 110px 0 110px; text-align: left; }

.contenuTxt p {
	margin: 12px 110px 0 110px;
	font-family: verdana;
	font-size: 12px; font-weight: normal;
	line-height: inherit;
} 
.contenuTxt p strong { display: block; margin-top: 35px; }

.contenuTxt ul, .contenuTxt dl { margin: 12px 150px 30px 130px; } 
.contenuTxt ul li, .contenuTxt dl dt, .contenuTxt dl dd {
	margin-top: 5px;
	padding-left: 12px;
	font-family: verdana;
	font-size: 12px; font-weight: normal;
	line-height: inherit;
	background: url(/img/square-blue.gif) no-repeat 0 8px; 
}
.contenuTxt dl dt { background: none; padding: 0; }

.contenuTxt a {color: #FFC900;}
.contenuTxt .retrait { display: block; margin: 20px 0 0 110px; }
