{% extends "new_base.html" %}
{% load i18n %}
{% load range %}

{% block title %}{% trans "Stock Management" %}{% endblock %}
{% block head %}
    <link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/new-order-list.css" />
    <style type="text/css">
    table input[type=text] {
        width: 100px;
    }
    table tr:nth-child(even){
        background-color:#fff;
    }
    table tr:nth-child(odd){
        background-color:#EEF7FF;
    }
    table td:nth-child(1), table td:nth-child(6) {
        width: 50px;
        text-align: center;
    }
    table td:nth-child(7) {
        width: 100px;
        text-align: center;
    }
    table td:nth-child(3), table td:nth-child(4) {
        cursor: pointer;
        width: 150px;
    }
    table td:nth-child(5) {
        width: 150px;
    }
    a.increment, a.decrement, a.alert, a.order_require_confirm,
    a.exporter, a.importer, a.save,
    a.confirm {
        display: block; float: left;
        background-color: #0098c7; border-radius: 3px; color: #fff;
        height: 25px; line-height: 19px; padding: 3px 5px; margin: 3px 0px 0 10px;
    }
    a.increment, a.decrement {
        width: 27px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    a.increment {
        background-color: green;
    }
    a.decrement {
        background-color: red;
    }
    a.alert, a.order_require_confirm {
        background-color: #eb8f00;
        font-weight: bold;
    }
    a.order_require_confirm {
        background-color: #eb8f00;
        font-weight: bold;
    }
    a.confirm {
        background-color: green;
        float: right;
        position: relative;
        top: -5px;
        right: 20px;
    }
    td .error {
        color: red;
        min-height: 15px;
    }
    .empty-row td {
        padding: 15px 13px;
        font-weight: bold;
    }
    </style>
{% endblock %}

{% block navigation %}
    {% include "_quick_nav.html" %}
{% endblock %}

{% block content %}
    <div id="content_Left">
        <!--Title-->
        <div id="title">
            <h2><span></span>{% trans "Stock Management" %}</h2>
        </div>
            
        <!--FORM-->
        <form id="main_form" method="post">{% csrf_token %}
            <fieldset>
                <ul id="order-status-tabs">
                    {% if shop_tabs|length > 1 %}
                    {% for tab in shop_tabs %}
                    <li style="float:left">
                        <a href="{% url 'list_stocks' tab.shop_id page_obj.number %}" class="order_tab {% if current_tab == tab.shop_id %}selected{% endif %}">{{tab.name}}</a>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>

                <!--MEGATABS1-->
                <div style="clear:both">
                    <!--SELECT TRIER PAR-->
                    <p id="triVente">
                        <span class="left left1">
                            <label>{% trans "Search" %}:</label>
                            <input type="text" name="search" value="{{search}}" class="inputSearch" />
                            <button class="find" type="submit">{% trans "Find" %}</button>
                            <span class="clear"></span>
                        </span>
                        <span class="left left3">
                            <label>{% trans "Shop stocks" %}</label>
                            <a class="exporter" href="#">{% trans "Exporter" %}</a>
                            <a class="importer" href="#">{% trans "Importer" %}</a>
                        </span>
                        <span class="left left1">
                            <label>{% trans "Batch" %}</label>
                            <input style="width:60px;float:left" type="text" name="delta_stock" class="inputSearch" />
                            <a class="increment disable">+</a>
                            <a class="decrement disable">-</a>
                            <a class="alert disable">{% trans "Alert" %}</a>
                            <a class="order_require_confirm disable">{% trans "OrderConfirmation" %}</a>
                        </span>
                        <span class="right">
                            <a class="save" href="javascript:void(0);">{% trans "Save" %}</a>
                        </span>
                    </p>
                    <!--VENTE-->
                    <div class="vente">
                     
                        <!--INFOS VENTE-->
                        <div class="content">
                            
                            <table style="width: 97%; border: 1px solid #dbdbdb; margin: 15px; background-color: #fff; " cellpadding="0" cellspacing="0">
                                <tr style="background-color:#fff;">
                                    <td></td>
                                    <td style="padding: 15px 13px;">{% trans "Name" %}</td>
                                    <td>{% trans "SKU" %}</td>
                                    <td>{% trans "Barcode" %}</td>
                                    <td>{% trans "Quantity" %}</td>
                                    <td>{% trans "Alert" %}</td>
                                    <td>{% trans "Order require confirmation" %}</td>
                                </tr>

                                {{stocks_form.stocks.management_form}}
                                {% for ss in stocks_form.stocks %}
                                <tr>
                                    <td><input type="checkbox" name="batch" /></td>
                                    <td>
                                        <div class="prodSail">
                                            <a title="click to edit this sale" href="{% url 'edit_sale' ss.sale_id.value 'shop' %}" class="imgProd">
                                                <img width="20" height="20" alt="{{ss.product_name.value}}" src="{{ss.sale_cover.value }}" style="margin:1px 0px 2px 0px">
                                            </a>
                                            <div>
                                                <h5>{{ss.product_name.value}}</h5>
                                                <span class="qt">{{ss.ba_name.value}} {{ss.ca_name.value}}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="sku">{{ss.sku.value}}</td>
                                    <td class="barcode">{{ss.barcode.value}}</td>
                                    <td>{{ form.stock.errors }}
                                    {{ss.stock}}
                                    {{ss.sale_id}}
                                    {{ss.shop_id}}
                                    {{ss.ba_id}}
                                    {{ss.ca_id}}
                                    </td>
                                    <td>{{ss.alert}}</td>
                                    <td>{{ss.order_require_confirm}}</td>
                                </tr>
                                {% empty %}
                                <tr class="empty-row">
                                    <td colspan="6">
                                        <div>{% trans "Sorry, your search request did not match any items." %}</div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        
                        {% if is_paginated %}
                        <ul class="paginate">
                            {% if page_obj.has_previous %}
                                {% for i in 1|pagenum_range:page_obj.previous_page_number %}
                                    {% if i == 0 %}
                                        <li><a>...</a></li>
                                    {% else %}
                                        <li><a href="{% url 'list_stocks' current_tab i %}">{{i}}</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <li class="current"><a>{{page_obj.number}}</a></li>
                            {% if page_obj.has_next %}
                                {% for i in page_obj.next_page_number|pagenum_range:paginator.num_pages%}
                                    {% if i == 0 %}
                                        <li><a>...</a></li>
                                    {% else %}
                                        <li><a href="{% url 'list_stocks' current_tab i %}">{{i}}</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                        {% endif %}
                     
                        <div class="clear"></div>
                    </div>
                    <!--FIN VENTE-->
                </div>
                <!--//MEGATABS1-->
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function() {
    var tabs_num = $('#order-status-tabs li').length;
    $('#order-status-tabs li').css({'width': 100/tabs_num + '%'})
    $('#order-status-tabs li a').css({'width': '99.5%'})

    $("td.sku").click(function() {
        if ($(this).find('input').length == 0) {
            var v = $(this).text();
            $(this).attr('old_val', v);
            $(this).html('<div class="error"></div><input type="text" value="' + v + '"/><a class="confirm">OK</a>');
        }
    });
    $(document).on("click", "td.sku .confirm", function(e){
        var row = $(this).parents('tr');
        var cell = $(this).parent();
        var new_val = $(this).prev().val();
        var data_send = {
            'sku': new_val,
            'sale_id': row.find('input[name$=-sale_id]').val(),
            'shop_id': row.find('input[name$=-shop_id]').val(),
            'ba_id': row.find('input[name$=-ba_id]').val(),
            'ca_id': row.find('input[name$=-ca_id]').val(),
        };
        $.post("{% url 'update_sku' %}",
            data_send,
            function(data) {
                if (data.success) {
                    cell.html(data.value);
                } else {
                    cell.html(cell.attr('old_val'));
                }
            }
        );
    });

    $("td.barcode").click(function() {
        if ($(this).find('input').length == 0) {
            var v = $(this).text();
            $(this).attr('old_val', v);
            $(this).html('<div class="error"></div><input type="text" value="' + v + '"/><a class="confirm">OK</a>');
        }
    });
    $(document).on("click", "td.barcode .confirm", function(e){
        var row = $(this).parents('tr');
        var cell = $(this).parent();
        var new_val = $(this).prev().val();
        var data_send = {
            'barcode': new_val,
            'sale_id': row.find('input[name$=-sale_id]').val(),
            'shop_id': row.find('input[name$=-shop_id]').val(),
            'ba_id': row.find('input[name$=-ba_id]').val(),
            'ca_id': row.find('input[name$=-ca_id]').val(),
        };
        $.post("{% url 'update_barcode' %}",
            data_send,
            function(data) {
                if (data.success == true) {
                    cell.html(data.value);
                } else {
                    cell.find('.error').text(data.err);
                    //cell.html(cell.attr('old_val'));
                }
            }
        );
    });

    $("input[id$='-stock']").change(function() {
        var val = $.trim($(this).val());
        if (val.length > 0 && !/^\d+$/.test(val)) {
            $(this).attr('style', 'color:red;');
        } else {
            $(this).removeAttr('style');
        }
    });

    $("input[name=batch]").change(function() {
        if ($("input[name=batch]:checked").length == 0) {
            $("a.increment").removeAttr('href');
            $("a.increment").attr('style', 'background-color:#cbcbcb;');
            $("a.decrement").removeAttr('href');
            $("a.decrement").attr('style', 'background-color:#cbcbcb;');
            $("a.alert").removeAttr('href');
            $("a.alert").attr('style', 'background-color:#cbcbcb;');
            $("a.order_require_confirm").removeAttr('href');
            $("a.order_require_confirm").attr('style', 'background-color:#cbcbcb;');
        } else {
            $("a.increment").attr('href', 'javascript:void(0);');
            $("a.increment").removeAttr('style');
            $("a.decrement").attr('href', 'javascript:void(0);');
            $("a.decrement").removeAttr('style');
            $("a.alert").attr('href', 'javascript:void(0);');
            $("a.alert").removeAttr('style');
            $("a.order_require_confirm").attr('href', 'javascript:void(0);');
            $("a.order_require_confirm").removeAttr('style');
        }
    }).change();
    $("a.increment").click(function() {
        batch_update_stock(1);
    });
    $("a.decrement").click(function() {
        batch_update_stock(-1);
    });
    $("a.alert").click(function() {
        $("input[name=batch]:checked").parents('tr').each(function() {
            var cb =  $(this).find('input[name$=-alert]');
            if (cb.is(':checked'))
                cb.attr('checked', false);
            else
                cb.attr('checked', true);
        });
    });
    $("a.order_require_confirm").click(function() {
        $("input[name=batch]:checked").parents('tr').each(function() {
            var cb =  $(this).find('input[name$=-order_require_confirm]');
            if (cb.is(':checked'))
                cb.attr('checked', false);
            else
                cb.attr('checked', true);
        });
    });
    $("a.save").click(function() {
        var form = $('#main_form')[0];
        form.submit();
    });
    function batch_update_stock(flag) {
        var delta = $('input[name=delta_stock]').val();
        if (parseInt(delta)) {
            $("input[name=batch]:checked").parents('tr').each(function() {
                var value = $(this).find('input[name$=-stock]').val();
                var new_value = parseInt(value) + parseInt(delta) * flag;
                new_value = new_value>=0 ? new_value : 0;
                $(this).find('input[name$=-stock]').val(new_value);
            });
        } else {
            $('input[name=delta_stock]').val(0);
        }
    }
});
</script>
{% endblock %}
