{% extends "base.html" %}
{% load i18n %}
{% load full_name %}

{% block title %}
{% if user_pk %}
{% trans "Edit an operator" %}
{% else %}
{% trans "Add an operator" %}
{% endif %}
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
    <link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/operator.css" />
{% endblock %}

{% block navigation %}
{% include "_quick_nav.html" %}
{% endblock %}

{% block content %}
<!--content-left-->
<div id="content_Left">

    <!--Title-->
    <div id="title">
        <span>{% trans "Operators" %}</span>
        <h2>{% trans "Operators" %}</h2>
    </div>

    {% if access_error %}
        <span>{{ access_error }}</span>
    {% else %}
        <!--FORM-->
        {% if user_pk %}
        <form id="main_form" method="post" action="{% url 'edit_operator' user_pk %}" enctype="multipart/form-data">{% csrf_token %}
        {% else %}
        <form id="main_form" method="post" action="{% url 'operators' %}" enctype="multipart/form-data">{% csrf_token %}
        {% endif %}
        {% if user_pk %}
            <h3>{% trans "Edit operator" %}</h3>
        {% else %}
            <h3>{% trans "New operator" %}</h3>
        {% endif %}

            {% if user_pk %}
            <fieldset>
                {{ form.username.errors }}
                <div class="formrow">
                    <label for="{{form.username.auto_id}}">{% trans form.username.label %}</label>
                    {{ form.username }}
                </div>
                {{ form.first_name.errors }}
                <div class="formrow">
                    <label for="{{form.first_name.auto_id}}">{% trans form.first_name.label %}</label>
                    {{ form.first_name }}
                </div>
                {{ form.last_name.errors }}
                <div class="formrow">
                    <label for="{{form.last_name.auto_id}}">{% trans form.last_name.label %}</label>
                    {{ form.last_name }}
                </div>
                {{ form.email.errors }}
                <div class="formrow">
                    <label for="{{ form.email.auto_id }}">{% trans form.email.label %}</label>
                    {{ form.email }}
                </div>
                {{ form.is_active.errors }}
                <div class="formrow">
                    <label for="{{ form.is_active.auto_id }}">{% trans form.is_active.label %}</label>
                    {{ form.is_active }}
                </div>
                {{ form.language.errors }}
                <div class="formrow">
                    <label for="{{ form.language.auto_id }}">{% trans form.language.label %}</label>
                    {{ form.language }}
                </div>
                {{ form.role.errors }}
                <div class="formrow">
                    <label for="{{ form.role.auto_id }}">{% trans form.role.label %}</label>
                    {{ form.role }}
                    {{ form.allow_internet_operate.errors }}
                    <div class="formrow contForm allow_internet_operate">
                        {{ form.allow_internet_operate }}
                        <label for="{{ form.allow_internet_operate.auto_id }}">{% trans form.allow_internet_operate.label %}</label>
                    </div>
                </div>
                {{ form.shops.errors }}
                <div class="formrow">
                    <label for="{{ form.shops.auto_id }}">{% trans form.shops.label %}</label>
                    <div class="operator_shops">
                        {% if form.shops.field.queryset|length or form.shops.field.choices|length %}
                            <span class="shops_option contForm">
                            {{ form.shops }}
                        </span>
                        {% else %}
                            <span>{% trans "Internet Operator" %}</span>
                        {% endif %}
                    </div>
                </div>
            </fieldset>
            {% else %}
            <fieldset>
                {{ form.username.errors }}
                <div class="formrow">
                    <label for="{{form.username.auto_id}}">{% trans form.username.label %}</label>
                    {{ form.username }}
                </div>
                {{ form.first_name.errors }}
                <div class="formrow">
                    <label for="{{ form.first_name.auto_id }}">{% trans form.first_name.label %}</label>
                    {{ form.first_name }}
                </div>
                {{ form.last_name.errors }}
                <div class="formrow">
                    <label for="{{ form.last_name.auto_id }}">{% trans form.last_name.label %}</label>
                    {{ form.last_name }}
                </div>
                {{ form.password1.errors }}
                <div class="formrow">
                    <label for="{{form.password1.auto_id}}">{% trans form.password1.label %}</label>
                    {{ form.password1 }}
                </div>
                {{ form.password2.errors }}
                <div class="formrow">
                    <label for="{{form.password2.auto_id}}">{% trans form.password2.label %}</label>
                    {{ form.password2 }}
                </div>
                {{ form.email.errors }}
                <div class="formrow">
                    <label for="{{ form.email.auto_id }}">{% trans form.email.label %}</label>
                    {{ form.email }}
                </div>
                {{ form.language.errors }}
                <div class="formrow">
                    <label for="{{ form.language.auto_id }}">{% trans form.language.label %}</label>
                    {{ form.language }}
                </div>

                {{ form.role.errors }}
                <div class="formrow">
                    <label for="{{ form.role.auto_id }}">{% trans form.role.label %}</label>
                    {{ form.role }}
                    {{ form.allow_internet_operate.errors }}
                    <div class="formrow contForm allow_internet_operate">
                        {{ form.allow_internet_operate }}
                        <label for="{{ form.allow_internet_operate.auto_id }}">{% trans form.allow_internet_operate.label %}</label>
                    </div>
                </div>


                {{ form.shops.errors }}
                <div class="formrow">
                    <label for="{{ form.shops.auto_id }}">{% trans form.shops.label %}</label>
                    <div class="operator_shops">
                        {% if form.shops.field.queryset|length or form.shops.field.choices|length %}
                            <span class="shops_option contForm">
                            {{ form.shops }}
                        </span>
                        {% else %}
                            <span>{% trans "Internet Operator" %}</span>
                        {% endif %}
                    </div>
                </div>
            </fieldset>
            {% endif %}
            <!--BOUTONS-->
            <input class="btn valider" type="submit" value='{% trans "Save" %}'/>
            <button type="reset" class="btn annuler">{% trans "Cancel" %}</button>
        </form>
        <!--FIN FORM-->
    {% endif %}
</div>
<!--FIN content-left-->

<!--content-right-->
<div id="content_Right">
    <!--Liste-Brands-->
    <h4 class="titleRight">{% trans "Operators list" %}</h4>
    <form method="post">
    {% csrf_token %}
    <div style='display:none'><input type='hidden' name='search' value='True' /></div>
    <div class="searchBox">
        <label for="id_searchUsername">{% trans "User" %}</label><input type="text" id="id_searchUsername" name="username" value="{{ search_username }}" />
        <input type="submit" value="{% trans "Search" %}" id="btnSearch" />
    </div>
    </form>
    <div class="boxRight" id="listeUser">
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <th class="nom on"><a href="#">{% trans "User" %}</a></th>
                <th class="action"><a href="#">{% trans "Actions" %}</a></th>
            </tr>
            {% for user in users.object_list %}
            <tr id="user_{{ user.pk }}"><!-- class=new -->
                <td><a href="{% url 'edit_operator' user.pk %}">{% username_and_fullname user %}</a></td>
                <td><a class="modif" href="{% url 'edit_operator' user.pk %}">{% trans "Edit" %}</a><a class="out delete_user" href="{% url 'delete_operator' user.pk %}">{% trans "Delete" %}</a></td>
            </tr>
            {% empty %}
            <tr class="noshop">
                <td colspan="2">{% trans "The users list is empty." %}</td>
            </tr>
            {% endfor %}
        </table>
        {% if users.paginator.num_pages > 1%}
        <div class="pag_nav">
            <form id="page_size_form" method="POST">
            {% csrf_token %}
            <div style='display:none'>
                <input type="hidden" name="search" value="True" />
                <input type="hidden" name="username" value="{{ search_username }}" />
                <input type="hidden" name="page" id="current_page" value="" />
            </div>
                <span class="page_info">
                    {% blocktrans with number=users.number num_pages=users.paginator.num_pages %}
                    Page <input type="text" value="{{ number }}" id="page_num"> of {{ num_pages }} pages.
                    {% endblocktrans %}
                </span>
                <span class="page_size">
                    {% trans '(' %}
                    <select id="page_size" name="page_size">
                    {% for page_size in choice_page_size %}
                        <option value="{{ page_size }}" {% if current_page_size == page_size %}selected="selected"{% endif %}>{{ page_size }}</option>
                    {% endfor %}
                    </select>
                    {% trans ') elements/page ' %}
                </span>
                <div>
                    <a href="1" class="pagination">|<</a>
                    <a href="{{ prev_10 }}" class="pagination"><</a>
                    {% for page_num in page_nav %}
                    [{% if users.number != page_num %}<a href="{{ page_num }}" class="pagination">{{ page_num }}</a>{% else %}{{ page_num }}{% endif %}]
                    {% endfor %}
                    <a href="{{ next_10 }}" class="pagination">></a>
                    <a href="{{ users.paginator.num_pages }}" class="pagination">>|</a>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
    <!--//Liste-Brand-->
    <a class="btn ajouter" href="{% url 'operators' %}">{% trans "Add a new operator" %}</a>
</div>
<!--FIN content-right-->
<div class="clear"></div>
{% endblock %}

{% block javascript %}

<script type="text/javascript">
$(document).ready(function(){
    $(".delete_user").click(function() {
        if(confirm('{% trans "Are your sure you want to delete this operator?" %}')) {
            $.post(this.href, function(data){
                if (data.access_error) {
                    alert(data.access_error);
                } else {
                    $("#user_"+data.user_pk).remove();
                    if(data.user_pk == "{% firstof user_pk "0" %}") {
                        location.replace("{% url 'operators' %}");
                    }
                }
            });
        }
        return false;
    });

    //set page size
    $("#page_size").change(function(event){
        $("#page_size_form").submit();
    });
    //page nav
    $(".pagination").click(function(event){
        $("#current_page").val($(this).attr('href'));
        $("#page_size_form").submit();
        event.preventDefault();
    });
    //go specific page by input
    $("#page_num").keypress(function(event){
        if(event.which == 13){ //'enter' key
            var page_num = $(this).val();
            if(!isNaN(page_num)&&parseInt(page_num)==page_num) {
                $("#current_page").val(page_num);
                $("#page_size_form").submit();
                event.preventDefault();
            }
            else
                alert("{% trans "Please enter a valid page number." %}");
        }
    });

    $("#{{ form.role.auto_id }}").change(function(e) {
        internet_manager_check();

        var selected = $("#{{ form.role.auto_id }} option:selected");
        var href = "{% url 'operator_shops' %}";
        var role_type = selected.val();
        href = href + "?role_type=" + role_type;
        if ("{{ user_pk }}" != "None") {
            href = href + "&users_id=" + "{{ user_pk }}";
        }
        $('.operator_shops').load(href);
    });

    function internet_manager_check() {
        var selected = $("#{{ form.role.auto_id }} option:selected").val();
        var internet_manager = $("#{{ form.allow_internet_operate.auto_id }}");
        if (selected == "2") {
            $(".allow_internet_operate").show();
        } else {
            internet_manager.prop("checked", false);
            $(".allow_internet_operate").hide();
        }
    }

    internet_manager_check();

});
</script>

{% endblock %}
