

/*-------------------------------------------*/
/*					 RESET					 */
/*-------------------------------------------*/


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}


audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}


audio:not([controls]) {
    display: none;
    height: 0;
}


[hidden] {
    display: none;
}



html,
body,
textarea,
figure,
label {
	margin: 0;
	padding: 0;
}
p { text-align: justify; }
ul,
ol { 
	padding: 0;
	list-style: none;
}
code, 
pre,
samp,
kbd {
	white-space: pre-wrap;
	font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
	line-height: 1em;
}
code, kbd, mark {
	border-radius: 2px;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
kbd {
	padding: 0 2px;
	border: 1px solid #999;
}
code {
	padding: 2px 4px;
	background: rgba(0,0,0,.04);
	color: #b11; 
}
mark {
	padding:2px 4px;
	background: #ff0;
}

table { margin-bottom: 1.5em; }

a { text-decoration: none; }

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
	max-width: 100%;
}

/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}


/* pictures */
img {
	height: auto;
	vertical-align: middle;
}
a img { border: 0; }


/* scripts */
body > script {display: none !important;}




/* ----------------------------- */
/* ==layout and modules */
/* ----------------------------- */

/* switching box model for all elements */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	margin: 0;
	padding: 0;
}
 
form,
fieldset {
	border: none;
}
input,
button,
select,
label,
.btn {
	vertical-align: middle; /* @bugfix alignment */
	font-family: inherit;
}
textarea {
	resize: vertical;
	font-family: inherit;
}





/* ----------------------------- */
/* ==iefix */
/* ----------------------------- */

/* haslayout for IE6/IE7 */
.ie67 .clearfix,
.ie67 .line,
.ie67 .mod,
.ie67 .row,
.ie67 .col {
	zoom: 1;
}

/* inline-block and table-cell for IE6/IE7 */
/* warning: .col needs width on IE6/IE7 */
.ie67 .btn,
.ie67 .col,
.ie67 .inbl {
	display: inline;
	zoom: 1;
}
.ie8 img {
	width: auto; /* @bugfix for IE8 */
}









 

/*-------------------------------------------*/
/*					 MAIN					 */
/*-------------------------------------------*/


html { }
body {
	background-color: #ffffff;
	color: #1f244a;
	font-family: Times New Roman, Times, serif;
	font-size: 14px; /* equiv 14px */
	line-height: 1.5; /* adapt to your design */
}
a { color: #1f244a; }



/*---WRAPPER---*/
#wrapper {
	width: 970px;
	margin: 0 auto 0 auto; 
}




/*---HEADER---*/
#header {
	position: relative;
	height: 256px;
	margin-bottom: 15px; 
	border-bottom: 1px solid #A7ACCD;
}
#linkHead {
	position: absolute;
	top: 115px; right: 0px;
	text-align: right;
	font-size: 11px; line-height: 16px;
	text-transform: uppercase;
}
#linkHead a:hover { text-decoration: underline; }


#logo {
	width: 291px;height: 215px;
	margin: 0 auto;
}
#logo a {
	display: block;
	width: 291px; height: 215px;
	overflow: hidden;
	text-indent: -1000px;
	background: url(../img/breuer.png) no-repeat 0 30px;
}


#nav {
	margin-left: 185px;
	margin-bottom: 5px;
	background-color: #ffffff;
}
#nav ul {
	margin: 0;
}
#nav ul li {
	display: inline-block;
}
#nav ul li a {
	padding: 7px 15px;
	font-size: 16px;
	background-color: #f5f5f5;
}
#nav ul li a:hover,
#nav ul li a.on { background-color: #edefff; }







/*--------------------------------------------------------*/
/*                     INDEX RACINE                       */
/*--------------------------------------------------------*/
#boxSlider { 
	width: 970px;  
	margin-bottom: 15px;
}





/*--------------------------------------------------------*/
/*                      INDEX SHOP                        */
/*--------------------------------------------------------*/
#visuelHome {
	float: right;
	width: 785px; height: 498px;
	margin-bottom: 15px;
	background: url(../img/visuelhome.jpg) no-repeat 0 0;
}


#visuelHome h1 a {
	display: block;
	width: 320px; padding: 15px 0;
	margin: 185px auto 80px auto;
	text-align: center;
	font-size: 54px; font-weight: normal; 
	color: #ffffff; 
	background-color: rgba(0,0,0,0.5);
	
	-o-text-shadow: 0 0 10px #000;
	-ms-text-shadow: 0 0 10px #000;
	-moz-text-shadow: 0 0 10px #000;
	-webkit-text-shadow: 0 0 10px #000;
	text-shadow: 0 0 10px #000;
	
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
#visuelHome h1 a:hover { background-color: rgba(0,0,0,0.65); }




#nav_prod {
	width: 170px;
	float: left;
	margin-right: 15px; 
}
#nav_prod strong { 
	display: block;
	padding: 3px 0 10px 0;
	font-weight: normal;
	font-size: 17px;
	text-align: center;
}
#nav_prod ul { background-color: #f5f5f5; }
#nav_prod ul li { 
	background-color: #f5f5f5; 
	-o-transition: all 0.4s ease; 
	-ms-transition: all 0.4s ease; 
	-moz-transition: all 0.4s ease; 
	-webkit-transition: all 0.4s ease; 
	transition: all 0.4s ease; 
}
#nav_prod ul li a {
	display: block;
	margin: 0 5px; padding: 12px;
	font-size: 15px;
	border-bottom: 1px solid #e2e5ec;
}
#nav_prod ul li.on { background-color: #edefff; }
#nav_prod ul li:hover { background-color: #edefff; }



#main { width: 785px; float: right; }










/*-------------------------------*/
/*		 	 LISTE PROD			 */
/*-------------------------------*/

.listProd {
	clear: both; overflow: auto;
}
.listProd h1 {
	border-bottom: 1px solid #dbdbdb;
	margin: 20px 0 30px 0;
}
.listProd h1 span {
	display: block; width: 150px;
	margin: 0 auto -15px auto;
	font-size: 20px; font-weight: normal;
	text-align: center;
	background-color: #ffffff;
}
.listProd .produit {
	width: 185px; height: 300px;
	float: left;
	margin-bottom: 40px;
/*	background-color: #efefef;*/
	margin-right: 15px;
}
.listProd .produit:nth-child(4n+1) { 	margin-right: 0px;  }





.listProd .produit .main-image { display: block; }
.listProd .produit .main-image img {
	width: 185px;
	border: 1px solid #e7e7e7;
}
.listProd .produit .name {
	margin: 10px 0 0 0;
	line-height: 13px;
	font-weight: normal; font-size: 12px; 
	font-family: verdana; text-align: center;
	-o-hyphens: none;
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
	color: #434343;
}
.listProd .produit .modele {
	display: block; margin-top: 5px;
	 
	font-weight: normal; font-size: 11px; 
	font-family: verdana; text-align: center;
	color: #666666;
}
.listProd .produit .prix {
	display: block; margin: 0;
	line-height: 13px;
	font-weight: normal; font-size: 11px; 
	font-family: verdana; text-align: center;
	color: #666666;
}
.listProd .produit .thumbnails { margin-top: 8px; text-align: center; }
.listProd .produit .thumbnails li { display: inline-block; margin: 0 -1px 0 0; }
.listProd .produit .thumbnails li a { display: block; width: 18px; height: 18px; }
.listProd .produit .thumbnails li a img { width: 18px; height: 18px; }


.listProd .produit a:hover .main-image img { border: 1px solid #d2d2d2; }
.listProd .produit a:hover .name { text-decoration: underline; }








/*-------------------------------*/
/*		 	 PAGE PROD			 */
/*-------------------------------*/


/*----Liste-SEE-MORE----*/

.listProd.listFiche .produit { margin-right: 11px; }
.listProd.listFiche .produit:nth-child(5n+1) { margin-right: 0px; }


.listProd .discover {
	display: block;
	border-bottom: 1px solid #dbdbdb;
	margin: 20px 0 30px 0;
}
.listProd .discover span {
	display: block; width: 190px;
	margin: 0 auto -11px auto;
	font-size: 18px; font-weight: normal;
	text-align: center;
	background-color: #ffffff;
}




/*-------PRODUIT-------*/


/*--Visuel Produit
-------------------*/
#visuelProd {
	width: 525px;
	overflow: hidden;
	border: 1px solid #dbdbdb;
}
#visuelProd .custom { width: 523px; height: 523px; }
#visuelProd .easyzoom-flyout { width: 750px; height: 750px; }
#visuelProd .thumbnails {
	text-align: right;
	margin: 10px 8px 3px 0;
}
#visuelProd .thumbnails li {
	display: inline-block;
	width: 62px; height: 62px;
	border: 1px soLid #dbdbdb;
}
#visuelProd .thumbnails li a,
#visuelProd .thumbnails li a img {
	display: block;
	width: 60px; height: 60px;
}
 
 

/*--Infos Produit
-------------------*/
#infosProd {
	float: right;
	width: 255px;
	min-height: 606px;
	border: 1px soLid #dbdbdb;
}

#infosProd #breuer {
	display: block;
	height: 50px;
	overflow: auto;
	text-indent: -1000px;
	background: url(../img/breuer-s.png) no-repeat center #012247;
}


#infosProd h1 {
	display: block;
	margin: 20px 0px 0px 15px;
	font-weight: normal; font-size: 20px;
	line-height: 20px;
	color: #010101;
}
#infosProd .descrpt {
	display: block;
	margin: 0px 0px 10px 12px;
	line-height: 12px; font-size: 14px;
	color: #888;
}
#infosProd .prix1 {
	display: block;
	font-size: 22px;
	margin: 50px 0px 0px 12px;
	color: #000;
}
#infosProd .prix2 {
	display: block;
	font-size: 14px;
	margin: 0px 0px 0px 12px;
	line-height: 10px; font-style: normal;
	color: #000;
}
#infosProd .prix2 span { text-decoration: line-through; }
#infosProd p {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 30px 15px 20px 12px; padding: 0 0 20px 0;
	border-bottom: 1px dotted #dbdbdb;
	color: #666666;
}

#infosProd .coloris {
	display: block;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px 12px;
	color: #000;
}
#infosProd ul {
	margin: 10px 15px 10px 12px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #dbdbdb;
}
#infosProd ul li {
	display: inline-block;
	margin: 0px;
	border: 2px solid #EAEAEA;
}
#infosProd ul li.selected {
	display: inline-block;
	margin: 0px;
	border: 2px solid #bdbdbd;
}
#infosProd ul li a {
	display: block;
	width: 30px; height: 30px;
}
#infosProd ul li img {
	display: block;
	width: 30px; height: 30px;
}




#infosProd #guideBtn {
	display: block; float: left;
	margin: 15px 0 15px 15px; padding-right: 18px;
	font-family: Arial, Helvetica, sans-serif; font-size: 12px;
	text-decoration: underline;
	background: url(../img/guide-taille.gif) no-repeat right 0;
}
#infosProd #selectShop,
#infosProd #selectTaille {
	display: block; clear: both;
	width: 190px;
	margin: 15px 0 15px 15px;
	overflow: hidden;
	border: 1px solid #e5e5e5;
	background: url(../img/select.gif) no-repeat right 0 #f7f7f7;	
}
#infosProd #selectShop:hover,
#infosProd #selectShop:focus,
#infosProd #selectTaille:hover,
#infosProd #selectTaille:focus {
	background: url(../img/select.gif) no-repeat right bottom #fff;	
}
#infosProd #selectShop select,
#infosProd #selectTaille select { 
	width: 210px;
	padding: 4px 0 0 5px;
	font-family: Arial, Helvetica, sans-serif; font-size: 12px;
	font-style: italic; color: #000;
	border: 0;
	background: transparent;
	-webkit-appearance: none;
	cursor: pointer;
}
#infosProd #selectShop select option,
#infosProd #selectTaille select option {
	padding: 3px 0 3px 10px;
}
#infosProd #selectShop select option:nth-child(2n),
#infosProd #selectTaille select option:nth-child(2n) {
	background-color: #EEF9FF;
}


#infosProd #btnBuy {
	display: block; width: 210px;
	margin: 40px auto 5px auto;
	padding: 8px 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif; font-size: 16px; 
	color: #fff; background-color: #338aeb;
}

/* added by dev */
.errwrapper {
	margin: 12px 20px;
	color: #5b2910;
	background-color: #fff9d9;
}
#selectPaymentProc .payment-proc {
    float: left;
    width: 301px;
    margin: 20px 10px;
    padding: 50px 20px;
    background-color: #f2f2f2;
}
#paymentForm input{
    float: right;
}
#paymentForm #footer{
    clear: both;
    border-style: none;
}
a.link {
	font-size: 13px;
    text-align: center;
	text-transform: uppercase;
    text-decoration: underline;
}
a.middle {
    position: relative;
    left: 40%;
}
a.left {
    float: left;
	padding: 0 10px 0 10px; 
}
a.right {
    float: right;
	padding: 0 10px 0 10px; 
}


/*-------------------------------*/
/*	          PANIER		  	 */
/*-------------------------------*/

#panier { overflow: auto; margin-bottom: 80px; }


/*-----TITRAILLE-----*/
#panier #titlepanier { 
	display: block;
	margin: 35px 0 0px 0;
	font-size: 25px;
	font-weight: normal;
	color: #d18a00;
}
#panier #titleH1 {
	margin: 35px 0 0 0;
	padding: 7px 10px; 
	font-size: 17px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ebf4ff;
}

#panier .txtinfo { 
    height: 35px; line-height: 23px;
	margin: 15px 0 0 3px; padding-left: 30px;
	color: #75aeee; font-family: Arial, Helvetica, sans-serif; 
	background: url(../img/sprite.png) no-repeat left -359px; 
}




/*-----MENU-----*/
#panier ul  { 
	position: relative; 
	height: 34px; margin-top: 25px;
	background-color: #77b3f7;
}
#panier ul li {
	position: absolute;
	height: 34px;
	line-height: 34px;
	padding: 0px 40px 0px 20px;
	font-family: georgia;
	font-size: 14px;
	color: #fff;
	background: url(../img/sprite.png) no-repeat right -35px #77b3f7; 
} 
#panier ul li span {
	margin-right: 5px;
	font-size: 18px;
} 
#panier ul li.on { background-position: right 0px; background-color: #008CE9; }
#panier ul li.ok { background-position: right -181px; background-color: #008CE9; }
#panier ul li.li1 { z-index: 6; }
#panier ul li.li2 { z-index: 5; left: 136px; }
#panier ul li.li3 { z-index: 4; left: 290px; }
#panier ul li.li4 { z-index: 3; left: 481px; }
/*#panier ul li.li5 { z-index: 2; left: 450px; }*/
#panier ul li a { color: #fff; }





/*--------------------------*/
/*          TABLE           */
/*--------------------------*/

#panier table {
	width: 100%; 
	margin-top: 14px;
	border: 1px solid #dbdbdb;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f9f8f8;
}
#panier table th {
	padding: 14px 20px;
	font-size: 11px;
	text-align: center;
	color: #000;
	border-bottom: 1px solid #ececec;
	background-color: #f4fff2;
}
#panier table th.grise { color: #929991; }

#panier table td {
	padding: 10px 20px;
	text-align: center;
	font-size: 14px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ececec;
}
#panier table .left { text-align: left; }
#panier table .right { text-align: right; }
#panier table .price { color: #737373; font-family: georgia; }
#panier table .delete { width: 105px; }




/*-----Product-----*/
#panier .prod img { display: block; float: left; margin: 0 8px 0 0; border: 1px solid #dbdbdb; }
#panier .prod .title, #panier .prod .type, #panier .prod .ref { display: block; font-weight: normal; }

#panier .prod .title { font-size: 14px; font-family: georgia; }
#panier .prod .type { font-size: 11px; font-family: Arial, Helvetica, sans-serif; color: #000; }
#panier .prod .ref { font-size: 11px; font-family: Arial, Helvetica, sans-serif; color: #737373; }




/*-----input-----*/

#panier table td #quantity{ 
	padding: 0 10px;
	height: 25px; width: 40px;
	line-height: 25px; font-size: 14px;
	font-family: georgia;
	text-align: center;
	border: 1px solid #bebebe;
}

/*-----delete-----*/
#panier table td #supprimer {
	display: block;
	width: 25px; height: 25px;
	margin: 0 auto;
	overflow: hidden; text-indent: -1500px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #F9F8F8;
	background: url(../img/sprite.png) no-repeat 3px -144px;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
#panier table td #supprimer:hover { background-color: #fff; border: 1px solid #dbdbdb; }





/*-----Totaux-----*/
#panier .totalline { padding: 0; border-bottom: 1px solid #fff; background-color: #ebf4ff; }
#panier .totalline div { float: left; margin: 10px 0 10px 20px; }
#panier .totalline div span { 
	display: block; margin-top: 5px;
	font-size: 11px; line-height: 11px;
	color: #757575; 
}

#panier .totalline label { margin-right: 5px; font-size: 12px; color: #000; vertical-align: bottom; }
#code {
	padding: 0 10px;
	height: 22px; width: 140px;
	line-height: 22px;
	font-size: 14px;
	border: 1px solid #bebebe;
}
#btnOk {
	display: inline-block;
	padding: 0 4px; margin-left: 5px;
	height: 20px; line-height: 18px;
	color: #fff; font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	border: none; cursor: pointer;
	background-color: #338aeb;
}


#panier .totalline strong { 
	display: block; /*float: right;*/ text-align: right;
	height: 60px; line-height: 60px;
	text-transform: uppercase;
	font-size: 12px;
	color: #000;
}
#panier .totalline strong span { 
	display: block; float: right;
	width: 115px; height: 60px; line-height: 60px;
	margin-left: 20px; padding: 0 0px;
	text-align: center;
	text-transform: none;
	font-size: 14px;
	color: #fff;
	background-color: #61a8f7;
}




/*-----BOUTONS-----*/
#btnline { float: none; clear: both; height: 32px; }
.btn { 
	display: block;
	height: 32px; line-height: 32px;
	font-family: Arial, Helvetica, sans-serif; color: #fff;
	padding: 0 15px;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
}
.btn.purchase { 
	float: right; clear: left;
	padding-right: 30px;
	font-size: 16px; 
	background-color: #338aeb; 
	background-position: 69px -70px;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.btn.purchase:hover { background-color: #57A4FF; }
.btn.back { 
	float: left;
	padding-left: 30px;
	font-size: 14px;
	color: #000;	
	background-color: #f4fff2;  
	background-position: 6px -252px;  
}




/*----------------------------*/
/*         LOG-ADRESSES       */
/*----------------------------*/

#panier .floater {
	display: block;
	width: 460px; min-height: 200px;
	margin: 20px 0 20px 0;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #dbdbdb;
	background-color: #f9f8f8;
} 
#panier .floater.left { float: left; }
#panier .floater.right { float: right; }

#panier .floater h1 {
	display: block; padding: 10px 0 10px 20px;
	margin-bottom: 15px; margin-top: 0;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; font-weight: normal;
	color: #000;
	border-bottom: 1px solid #ececec;
	background-color: #f4fff2;
}
#panier .floater input {
	display: block;
	margin: 12px 20px;
	padding: 0px 12px;
	width: 250px; height: 30px; 
	line-height: 25px; font-size: 12px;
	color: #666666; border: 1px solid #e5e5e5;
} 

#forgotpass { 
	display: block; 
	margin: -5px 20px 0 25px;
	color: #666666;
	font-size: 11px; 
}
#forgotpass:hover { text-decoration: underline; }



/*Adresses*/
#panier .floater.adresse { position: relative; }
#panier .floater.adresse p {
	display: block;
	margin: 25px 20px 12px 22px;
	line-height: 17px; font-size: 13px;
	color: #161f48;
}
#panier .floater.adresse .modifier {
	display: block; position: absolute;
	top: 7px; right: 8px;
	height: 25px; line-height: 31px;
	padding-right: 32px;
	color: #161f48; font-size: 13px;
	background: url(../img/sprite.png) no-repeat right -290px; 
}
#panier .floater.adresse .modifier:hover { text-decoration: underline; }

#panier .floater.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
#panier .floater.center :first-child {
    margin-bottom: 30px;
}
#panier .floater.center input {
    margin: 15px auto 15px auto;
    width: 280px;
}
#panier .floater.center .btn {
    background-position: 79px -70px;
    float: none;
    margin: 30px auto;
    width: 110px;
}

 
 





/*-------------------------------------*/
/*             FORM INFOS              */
/*-------------------------------------*/

#titleInfo {
	font-size: 14px;
	display: block; padding: 7px;
	font-weight: normal; color: #ffffff;
	background-color: #012247;
}

#formContainer {
	overflow: auto;
	padding-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
}


#formContainer fieldset {
	display: block; float: left;
	margin-top: 30px; padding-bottom: 20px;
	
	width: 470px; min-height: 280px;
	overflow: auto;
	
	border: 1px solid #dbdbdb;
	background-color: #f9f8f8;
	
	-webkit-box-shadow: 0 1px #ffffff inset;
	-moz-box-shadow: 0 1px #ffffff inset;
	-ms-box-shadow: 0 1px #ffffff inset;
	-o-box-shadow: 0 1px #ffffff inset;
	box-shadow: 0 1px #ffffff inset;
}
#formContainer fieldset:nth-child(2n){ float: right; }
#formContainer fieldset:nth-child(0n+6),
#formContainer fieldset:nth-child(0n+5){ min-height: 355px; }

#formContainer legend {
    width: 100%;
	margin: 0 0 15px 0;
	padding: 8px 15px;
	font-weight: bold;
	color: #000; font-size: 14px;
	font-weight: normal;
    border: 1px solid #dbdbdb;
	background-color: #f4fff2;
}

#formContainer fieldset:nth-child(0n+6) legend,
#formContainer fieldset:nth-child(0n+5) legend{ margin: 0 0 26px 0; }

/*
#formContainer  fieldset:nth-child(0n+6) p label,
#formContainer  fieldset:nth-child(0n+5) p label { width: 90px; }
*/





#formContainer input {
	display: inline-block;
	width: auto; 
	margin: 5px 8px 0 0;
	font-size: 14px;
}
#formContainer label {
	display: inline-block;
	width: auto; height: 18px;
	padding: 3px 0 0 8px;
	line-height: 18px;
	margin: 0 5px 3px 25px;
	font-size: 14px;
	color: #3E5269; font-size: 14px;
	background: url(../img/sprite.png) no-repeat -3px -335px; 
}

#formContainer p { margin: 10px 0px; }
#formContainer p label {
	width: 150px; height: 18px;
	padding: 0 0 0 8px;
} 
#formContainer p input {
	display: inline-block;
	width: 220px; height: 25px;
	line-height: 25px;
	margin: 0px 0px 3px 0px;
	padding: 0 10px;
	color: #000;
	font-size: 14px;
	border: 1px solid #D9D9D9;
	background-color: #ffffff;
}
#formContainer p select {
	display: inline-block;
	width: 220px; height: 25px;
	line-height: 24px;
	margin: 0px 0px 3px 0px;
	padding: 0 0 0 7px;
	font-size: 14px;
	color: #000;
	border: 1px solid #D9D9D9;
	background-color: #ffffff;
}

#formContainer p select.birthday:nth-child(2){
	width: 100px;
}
#formContainer p select.birthday:nth-child(3){
	width: 60px;
}
#formContainer p select.birthday:nth-child(4){
	width: 60px;
}





/*-- exceptions > inputs ---*/
#formContainer p label[for=birthday] { background: none; }
#formContainer p label[for^=address2] { background: none; }
#formContainer p label[for^=full_name] { background: none; }

#formContainer p input#address_7, #formContainer p input#address_8 { margin-top: 10px; }

#formContainer p input#address_7b, #formContainer p input#address_7c,
#formContainer p input#address_8b, #formContainer p input#address_8c { margin-left: 120px; }

#formContainer p input#address_7c,
#formContainer p input#address_8c { margin-bottom: 20px; }









/*-----------------------------------------------*/
/*   		 	     FACTURE    		     	 */
/*-----------------------------------------------*/



.invoices {
	margin: 50px 0 30px 0; padding: 50px 30px 30px 30px;
	border: 1px solid #dbdbdb;
	font-family: Arial, Helvetica, sans-serif;
}






/*-------------DATE-NUM-FACTURE--------------*/
.invoices #header,
#headBuild {
	float: right; height: 100px;
	margin: 0px 0 35px 0; 
	padding: 30px 10px 10px 10px;
	text-align: right; 
	color: #000;
	font-size: 12px;
	font-weight: bold;
}
#invoiceNumber,
#invoiceDate { display: block; }

#date { margin-left: 5px; }





/*-------------SELLER--------------*/
#seller {
	float: left;
	margin: 0; 
}

#seller #sellerLogo {
	display: block;  
	height: 100px;
	margin: 0 30px 35px 60px; 
}
#seller span{
	display: block;
	padding: 0 120px 0 20px;
	background-color: #F2F8FF;
}
#seller #sellerName { padding-top: 15px; }
#seller .province span { padding: 0;  }
#seller .province .country { padding-bottom: 15px;  }
 



/*-------------BUYER--------------*/
#buyer { 
	float: right;
	width: 550px;
	margin: 0 0 20px 0; 
	padding: 10px 20px;
	text-align: left; font-size: 16px;
	border: 1px solid #dbdbdb;
	background-color: #fefefe;
}



/*-------------TITLE--------------*/
.invoices h1 { 
	clear: both; padding: 50px 0 10px 0; 
	border-bottom: 1px solid #dbdbdb;
	font-size: 22px; font-weight: normal;
}
.invoices h2 { padding-top: 20px; font-size: 16px; font-weight: normal; }





/*-------------TABLES--------------*/
#panier .invoices table,
#panier .invoices table tr,
#panier .invoices table th,
#panier .invoices table td {
	/*text-align: left;*/
	border-spacing: 0;
}

 
#panier .invoices table tr th:first-child,
#panier .invoices table tr td:first-child { text-align: left; }





#panier .invoices table .itemTotal td,
#panier .invoices table .shippingTotal td {
	border-bottom: 1px solid #fff;
	background-color: #ebf4ff;
}


#panier .invoices table .discount { background-color: #f5faff; }
#panier .invoices table .discount .desc {
	text-align: left; font-size: 12px;
	text-transform: uppercase; font-weight: bold;
}
#panier .invoices table .discount .amount {
	text-align: center;
	color: #fff; font-weight: bold;
	background-color: #ACD2FB;
}




#panier .invoices table .itemTotal .desc,
#panier .invoices table .shippingTotal .desc {
	text-align: right; font-size: 12px;
	text-transform: uppercase; font-weight: bold;
}

#panier .invoices table .itemTotal .subtotal,
#panier .invoices table .shippingTotal .subtotal {
	text-align: center;
	color: #fff; font-weight: bold;
	background-color: #61a8f7;
}





/*-------------TOTAUX--------------*/
#invoiceNotes { margin-top: 40px; }

#invoiceTotal { overflow: auto; }

#invoiceTotal label,
#invoiceTotal span { 
	display: block; float: left; 
	height: 40px; line-height: 40px;
	margin-bottom: 5px;
}

#invoiceTotal label { 
	clear: left; width: 735px;
	padding-right: 25px;
	text-align: right; font-size: 12px;
	text-transform: uppercase; font-weight: bold;
	
	border: 1px solid #E7E7E7;
	border-right: 1px solid #fff;
	background-color: #ebf4ff;
}


#invoiceTotal span { 
	width: 173px;  
	text-align: center; color: #fff;
	font-weight: bold;
	border: 1px solid #9BBBE0;
	border-left: 0;
	background-color: #acd2fb;
}



#invoiceTotal label:last-child { 
	clear: left; width: 795px;
	padding-right: 25px;
	text-align: right; font-size: 12px;
	text-transform: uppercase; font-weight: bold;
	background-color: #ebf4ff;
}
#invoiceTotal span:last-child { 
	width: 173px;  
	text-align: center; color: #fff;
	background-color: #61A8F7;
}




/*-------------NUMEROS-FISCAUX--------------*/
#invoiceLegal {
	clear: both;
	margin-top: 20px;
	text-align: right;
	font-size: 12px;
}
#invoiceLegal label,
#invoiceLegal span { padding-left: 5px; }





/*-------------MESSAGE-FOOTER--------------*/
.invoices #footer,
#footBuild {
	margin: 30px 0 0 0; 
	padding: 10px;
	font-size: 12px; text-align: center;
	background-color: #F7F7F7;
}










/*-----------------------------------------------*/
/*  	   RECAP PAIEMENT - SMALL FACTURE     	 */
/*-----------------------------------------------*/


#panier .rappeladresse {
	margin: 10px 0 0 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; color: #5e5e5e;
	text-transform: uppercase; font-weight: bold;
}
#panier .rappeladresse strong {
	font-size: 12px; color: #000;
	text-transform: none;
}

#panier .txtinfo.recap {
	margin-top: 5px; padding-left: 25px;
	font-size: 12px; font-style: italic;
	background: url(../img/sprite.png) no-repeat left -391px;  
}




/*-RE-ECRITURE-FACTURE-*/

#smallinvoice .invoices {
	margin-top: 0;
	margin-bottom: 10px;
	padding: 0;
	border: 0;
}

#panier #smallinvoice .invoices table { margin-top: 4px; font-family: georgia; }

#panier #smallinvoice .invoices table th,
#panier #smallinvoice .invoices table .discount,
#panier #smallinvoice .invoices table .itemTotal,
#panier #smallinvoice .invoices table .shippingTotal { font-family: Arial, Helvetica, sans-serif; }


#smallinvoice #invoiceTotal label { width: 795px; }


#panier #smallinvoice .invoices #headBuild,
#panier #smallinvoice .invoices #seller,
#panier #smallinvoice .invoices #buyer,
#panier #smallinvoice .invoices h1,
#panier #smallinvoice .invoices #invoiceLegal,
#panier #smallinvoice .invoices #footBuild { display: none; }



/*-CHECKBOX-CGV-*/

#infosCGV { 
	margin-top: -10px;
	margin-bottom: 20px;
	padding: 0 15px; overflow: auto; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #fffde3; 
}
#infosCGV .txtinfo { 
	display: block; float: right; 
	height: 23px; 
	
	color: #4994eb;
}
#infosCGV .txtcgvin { 
	display: block; float: right; 
	clear: right; 
	margin-bottom: 15px; 
}
#infosCGV .txtcgvin label { margin-right: 5px; color: #639b0b; } 
#infosCGV .txtcgvin label a { color: #639b0b; text-decoration: underline; } 


#infosCGV .errwrapper { 
	display: block; float: right; 
	clear: right; 
	margin-bottom: 10px;
    padding: 2px 10px;
    color: #7d2424;
	background-color: rgba(255, 194, 136, 0.35);
}






/*---------------------------------------------------*/
/*      	   RECAP PAIEMENT - TABLEAU          	 */
/*---------------------------------------------------*/

#panier table .sstotalline {
	overflow: auto; padding: 0; 
	border-bottom: 0;
	background-color: #f5faff;
}
#panier table .sstotalline .infoChrono {  
	display: block; 
	padding: 0 0 0 20px;
	height: 50px; line-height: 50px;
	font-size: 12px;
	color: #639b0b;
}


.infoChrono { 
	display: block; float: left;
	width: 550px; height: 60px;
}

.sstotalline p { display: block; float: right; }
.sstotalline p span { 
	display: block; float: left;
	height: 25px; line-height: 25px;
	padding: 0px 10px;
	background-color: #f5faff; 
} 

.sstotalline p .labelTotal {  
	width: 180px; 
	clear: left; color: #666666;
	text-align: right; font-size: 10px;
    text-transform: uppercase;
	background-color: #f5faff;  
}
.sstotalline p .priceTotal { 
	width: 115px; 
	font-size: 12px; text-align: center; 
	color: #fff; background-color: #acd2fb;  
}





















/*-----------------------------------*/
/*		 	 COMPTE-ACCUEIL			 */
/*-----------------------------------*/

#compte { margin-top: 30px; }
#compte .left { display: block; float: left; width: 570px; }
#compte .right { display: block; float: right; width: 380px; }




.commande {
	position: relative;
	margin-bottom: 30px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #dbdbdb;
}

.commande h2,
.commande .numcommande,
.commande .datecommande { display: block; margin: 0 20px; }


.commande h2 { margin-top: 18px; font-size: 14px; text-transform: uppercase; color: #000; }
.commande .numcommande { font-size: 11px; color: #737373; }
.commande .datecommande { margin: 10px 20px; color: #338aeb; font-weight: bold; }

.commande em { 
	display: block; position: absolute; 
	top: 0; right: 0;
	padding: 10px 18px;
	color: #dd9922; 
	text-transform: uppercase;
	font-size: 12px;
	font-style: normal; font-weight: bold;
	background-color: #fff8d9; 
}

.commande.encours em { color: #dd9922; background-color: #fff8d9; }
.commande.livree em { color: #1d8900; background-color: #e4ffd9; }

.commande .detailcommande { 
	display: block; position: absolute; 
	top: 65px; right: 4px;
	padding: 0 20px 0 0;
	color: #000; 
	font-size: 11px;
	background: url(../img/sprite.png) no-repeat right -420px; 
}
.commande .detailcommande:hover { text-decoration: underline; }


#panier .commande .prod {
	overflow: auto;
	padding: 15px 20px;
	font-family: Arial, Helvetica, sans-serif;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ffffff;
	background-color: #f9f8f8;
}
#panier .commande .prod img { width: 110px; }
#panier .commande .prod .title { font-size: 16px; }
#panier .commande .prod .ref { margin-top: 8px; } 
#panier .commande .prod .price { display: block; margin-top: 25px; color: #000; font-size: 11px; }
#panier .commande .prod .price span { color: #338aeb;}




.linetotal {
	overflow: auto;
	padding: 0px 25px 0px 25px;
	background-color: #ebf4ff;
}
.linetotal strong {
	display: block; float: left; 
	margin: 10px 0;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 12px;
}
.linetotal strong span {
	padding: 0 5px;
	text-transform: none; 
	font-weight: bold;
	color: #338aeb;
	font-size: 14px;
}

.linetotal a { 
	display: block; float: right; 
	height: 34px; line-height: 34px;
	text-align: right;
	font-size: 12px;
	color: #639b0b; 
	margin-top: 5px;
	padding: 0px 89px 0 0;
	
	background: url(../img/chronopost.png) no-repeat right 0; 
}




/*--BLOCK-INFOS--*/
.blockinfo {
	position: relative;
	margin-bottom: 15px; padding: 15px 20px;
	font-family: Arial, Helvetica, sans-serif;
	border-top: 1px solid #d2d2d2;
	background-color: #f9f8f8;
}
.blockinfo strong { 
	text-transform: uppercase;
	/*font-weight: normal;*/
}
.blockinfo p { 
	margin-top: 15px;
	font-size: 12px;
	color: #000;
}

.blockinfo .modifier {
	display: block; position: absolute;
	top: 12px; right: 8px;
	height: 25px; line-height: 31px;
	padding-right: 32px;
	color: #161f48; font-size: 13px;
	background: url(../img/sprite.png) no-repeat right -290px; 
}
.blockinfo .modifier:hover { text-decoration: underline; }












/*-------------------------------------------*/
/*		 	 COMPTE-DETAIL-COMMANDE			 */
/*-------------------------------------------*/



.recapLivraison {
	height: 40px; margin-bottom:-13px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff8d9;
}
.recapLivraison span {
	display: inline-block;
	height: 40px; line-height: 40px;
}

.suivi {
    background: url(../img/chronopost.png) no-repeat scroll right 0 rgba(0, 0, 0, 0);
    color: #639b0b;
    display: block;
    float: right;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    margin-top: 5px;
    padding: 0 89px 0 0;
    text-align: right;
}


#numCommande {
	margin: 25px 0;
	height: 52px; line-height: 52px;
	border: 1px solid #dbdbdb;
	color: #dd9922; text-transform: uppercase;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff8d9;
}

#numCommande h2 {
	display: block; float: left;
	height: 50px; line-height: 16px;
	margin-right: 15px;
    padding: 12px 60px 0 20px;
	font-size: 13px;
	text-transform: uppercase;
	color: #000000;
	background: url(../img/sprite.png) no-repeat right -450px #fff;
}


#numCommande h2 .ref {
	display: block;
	font-size: 11px;
	color: #737373;
	text-transform: none;
}



#totalcommande {
	text-align: right;
	height: 70px; line-height: 70px; margin-bottom:20px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	background-color: #fff8d9;
}
#totalcommande strong {
	display: block; float: right;
	margin: 0 10px;
}








/*-----------------------------------*/
/*		 	 PAGES INFOS			 */
/*-----------------------------------*/

.contenuTxt { clear: both; overflow: auto; }
.contenuTxt h1 {
	border-bottom: 1px solid #dbdbdb;
	margin: 20px 0 50px 0;
}
.contenuTxt h1 span {
	display: block;
	margin: 0 auto -15px auto;
	font-size: 20px; font-weight: normal;
	text-align: center;
	background-color: #ffffff;
}

.contenuTxt h1 #mentions { width: 160px; }
.contenuTxt h1 #cgv { width: 260px; }
.contenuTxt h1 #commandes { width: 240px; }


.contenuTxt h2, 
.contenuTxt h3 { 
	display: block; margin: 50px 110px 0 110px;
	font-family: verdana;
	font-size: 12px;
	text-align: center;
}
.contenuTxt h3 { margin: 20px 110px 0 110px; color: #000; }

.contenuTxt p {
	margin: 12px 110px 0 110px;
	font-family: verdana;
	font-size: 12px; font-weight: normal;
	line-height: inherit;
} 
.contenuTxt p strong { display: block; margin-top: 35px; }

.contenuTxt ul, .contenuTxt dl { margin: 12px 150px 30px 130px; } 
.contenuTxt ul li, .contenuTxt dl dt, .contenuTxt dl dd {
	margin-top: 5px;
	padding-left: 12px;
	font-family: verdana;
	font-size: 12px; font-weight: normal;
	line-height: inherit;
	background: url(../img/square-blue.gif) no-repeat 0 8px; 
}
.contenuTxt dl dt { background: none; padding: 0; }
.contenuTxt .retrait { display: block; margin: 20px 0 0 40px; }


















/*---FOOTER---*/
#footer {
	clear:both; overflow: auto;
	margin: 10px 0 30px 0;
	border-top: 1px solid #A7ACCD;
}
#footer div {
	width: 315px;
	float: left;
	margin: 15px 10px 15px 0;
	border-bottom: 1px solid #f1f1f1;
	background-color: #fcfcfc;
}
#footer div.third {
	margin-right: 0;
}
#footer div strong {
	display: block;
	text-transform: uppercase;
	font-weight: normal;
	padding: 10px 15px;
	color: #7a7a7a;
	background-color: #f5f5f5;
}
#footer div p { color: #4D4D4D; padding: 15px 15px 30px 15px; line-height: 16px; }


#footer #footline {
	width: 100%;
	padding: 6px 0;
	float: none; clear: both;
	text-align: center;	font-size: 12px;
	border-top: 1px solid #f1f1f1;
}
#footer #footline a:hover { text-decoration: underline; }






 




