

/*-------------------------------------------*/
/*					 RESET					 */
/*-------------------------------------------*/


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}


audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}


audio:not([controls]) {
    display: none;
    height: 0;
}


[hidden] {
    display: none;
}



html,
body,
textarea,
figure,
label {
	margin: 0;
	padding: 0;
}
p { text-align: justify; }
ul,
ol { 
	padding: 0;
	list-style: none;
}
code, 
pre,
samp,
kbd {
	white-space: pre-wrap;
	font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
	line-height: 1em;
}
code, kbd, mark {
	border-radius: 2px;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
kbd {
	padding: 0 2px;
	border: 1px solid #999;
}
code {
	padding: 2px 4px;
	background: rgba(0,0,0,.04);
	color: #b11; 
}
mark {
	padding:2px 4px;
	background: #ff0;
}

table { margin-bottom: 1.5em; }

a { text-decoration: none; }

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
	max-width: 100%;
}

/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}


/* pictures */
img {
	height: auto;
	vertical-align: middle;
}
a img { border: 0; }


/* scripts */
body > script {display: none !important;}




/* ----------------------------- */
/* ==layout and modules */
/* ----------------------------- */

/* switching box model for all elements */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	margin: 0;
	padding: 0;
}
 
form,
fieldset {
	border: none;
}
input,
button,
select,
label,
.btn {
	vertical-align: middle; /* @bugfix alignment */
	font-family: inherit;
}
textarea {
	resize: vertical;
	font-family: inherit;
}





/* ----------------------------- */
/* ==iefix */
/* ----------------------------- */

/* haslayout for IE6/IE7 */
.ie67 .clearfix,
.ie67 .line,
.ie67 .mod,
.ie67 .row,
.ie67 .col {
	zoom: 1;
}

/* inline-block and table-cell for IE6/IE7 */
/* warning: .col needs width on IE6/IE7 */
.ie67 .btn,
.ie67 .col,
.ie67 .inbl {
	display: inline;
	zoom: 1;
}
.ie8 img {
	width: auto; /* @bugfix for IE8 */
}









 

/*-------------------------------------------*/
/*					 MAIN					 */
/*-------------------------------------------*/


html { }
body {
	background-color: #ffffff;
	color: #1f244a;
	font-family: Times New Roman, Times, serif;
	font-size: 14px; /* equiv 14px */
	line-height: 1.5; /* adapt to your design */
}
a { color: #1f244a; }



/*---WRAPPER---*/
#wrapper {
	width: 970px;
	margin: 0 auto 0 auto; 
}




/*---HEADER---*/
#header {
	position: relative;
	height: 256px;
	margin-bottom: 15px; 
	border-bottom: 1px solid #A7ACCD;
}
#linkHead {
	position: absolute;
	top: 115px; right: 0px;
	text-align: right;
	font-size: 11px; line-height: 16px;
	text-transform: uppercase;
}
#linkHead a:hover { text-decoration: underline; }


#logo {
	width: 291px;height: 215px;
	margin: 0 auto;
}
#logo a {
	display: block;
	width: 291px; height: 215px;
	overflow: hidden;
	text-indent: -1000px;
	background: url(../img/breuer.png) no-repeat 0 30px;
}


#nav {
	margin-left: 185px;
	margin-bottom: 5px;
	background-color: #ffffff;
}
#nav ul {
	margin: 0;
}
#nav ul li {
	display: inline-block;
}
#nav ul li a {
	padding: 7px 15px;
	font-size: 16px;
	background-color: #f5f5f5;
}
#nav ul li a:hover,
#nav ul li a.on { background-color: #edefff; }



#visuelHome {
	float: right;
	width: 785px; height: 498px;
	margin-bottom: 15px;
	background: url(../img/visuelhome.jpg) no-repeat 0 0;
}


#visuelHome h1 a {
	display: block;
	width: 320px; padding: 15px 0;
	margin: 185px auto 80px auto;
	text-align: center;
	font-size: 54px; font-weight: normal; 
	color: #ffffff; 
	background-color: rgba(0,0,0,0.5);
	
	-o-text-shadow: 0 0 10px #000;
	-ms-text-shadow: 0 0 10px #000;
	-moz-text-shadow: 0 0 10px #000;
	-webkit-text-shadow: 0 0 10px #000;
	text-shadow: 0 0 10px #000;
	
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
#visuelHome h1 a:hover { background-color: rgba(0,0,0,0.65); }



#nav_prod {
	width: 170px;
	float: left;
	margin-right: 15px; 
}
#nav_prod strong { 
	display: block;
	padding: 3px 0 10px 0;
	font-weight: normal;
	font-size: 17px;
	text-align: center;
}
#nav_prod ul { background-color: #f5f5f5; }
#nav_prod ul li { 
	background-color: #f5f5f5; 
	-o-transition: all 0.4s ease; 
	-ms-transition: all 0.4s ease; 
	-moz-transition: all 0.4s ease; 
	-webkit-transition: all 0.4s ease; 
	transition: all 0.4s ease; 
}
#nav_prod ul li a {
	display: block;
	margin: 0 5px; padding: 12px;
	font-size: 15px;
	border-bottom: 1px solid #e2e5ec;
}
#nav_prod ul li:hover { background-color: #edefff; }



#main { width: 785px; float: right; }










/*-------------------------------*/
/*		 	 LISTE PROD			 */
/*-------------------------------*/

.listProd {
	clear: both; overflow: auto;
}
.listProd h1 {
	border-bottom: 1px solid #dbdbdb;
	margin: 20px 0 30px 0;
}
.listProd h1 span {
	display: block; width: 150px;
	margin: 0 auto -15px auto;
	font-size: 20px; font-weight: normal;
	text-align: center;
	background-color: #ffffff;
}
.listProd .produit {
	width: 185px; height: 300px;
	float: left;
	margin-bottom: 40px;
/*	background-color: #efefef;*/
	margin-right: 15px;
}
.listProd .produit:nth-child(4n+1) { 	margin-right: 0px;  }





.listProd .produit .main-image { display: block; }
.listProd .produit .main-image img {
	width: 185px;
	border: 1px solid #e7e7e7;
}
.listProd .produit .name {
	margin: 10px 0 0 0;
	line-height: 13px;
	font-weight: normal; font-size: 12px; 
	font-family: verdana; text-align: center;
	-o-hyphens: none;
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
	color: #434343;
}
.listProd .produit .modele {
	display: block; margin-top: 5px;
	 
	font-weight: normal; font-size: 11px; 
	font-family: verdana; text-align: center;
	color: #666666;
}
.listProd .produit .prix {
	display: block; margin: 0;
	line-height: 13px;
	font-weight: normal; font-size: 11px; 
	font-family: verdana; text-align: center;
	color: #666666;
}
.listProd .produit .thumbnails { margin-top: 8px; text-align: center; }
.listProd .produit .thumbnails li { display: inline-block; margin: 0 -1px 0 0; }
.listProd .produit .thumbnails li a { display: block; width: 18px; height: 18px; }
.listProd .produit .thumbnails li a img { width: 18px; height: 18px; }


.listProd .produit a:hover .main-image img { border: 1px solid #d2d2d2; }
.listProd .produit a:hover .name { text-decoration: underline; }








/*-------------------------------*/
/*		 	 PAGE PROD			 */
/*-------------------------------*/


/*----Liste-SEE-MORE----*/

.listProd.listFiche .produit { margin-right: 11px; }
.listProd.listFiche .produit:nth-child(5n+1) { margin-right: 0px; }


.listProd .discover {
	display: block;
	border-bottom: 1px solid #dbdbdb;
	margin: 20px 0 30px 0;
}
.listProd .discover span {
	display: block; width: 190px;
	margin: 0 auto -11px auto;
	font-size: 18px; font-weight: normal;
	text-align: center;
	background-color: #ffffff;
}




/*-------PRODUIT-------*/


/*--Visuel Produit
-------------------*/
#visuelProd {
	width: 525px;
	overflow: hidden;
	border: 1px solid #dbdbdb;
}
#visuelProd .custom { width: 523px; height: 523px; }
#visuelProd .easyzoom-flyout { width: 750px; height: 750px; }
#visuelProd .thumbnails {
	text-align: right;
	margin: 10px 8px 3px 0;
}
#visuelProd .thumbnails li {
	display: inline-block;
	width: 62px; height: 62px;
	border: 1px soLid #dbdbdb;
}
#visuelProd .thumbnails li a,
#visuelProd .thumbnails li a img {
	display: block;
	width: 60px; height: 60px;
}
 
 

/*--Infos Produit
-------------------*/
#infosProd {
	float: right;
	width: 255px;
	min-height: 606px;
	border: 1px soLid #dbdbdb;
}

#infosProd #breuer {
	display: block;
	height: 50px;
	overflow: auto;
	text-indent: -1000px;
	background: url(../img/breuer-s.png) no-repeat center #012247;
}


#infosProd h1 {
	display: block;
	margin: 10px 0px 0px 12px;
	font-weight: normal; font-size: 20px;
	color: #010101;
}
#infosProd .descrpt {
	display: block;
	margin: 0px 0px 10px 12px;
	line-height: 12px; font-size: 14px;
	color: #888;
}
#infosProd .prix1 {
	display: block;
	font-size: 22px;
	margin: 50px 0px 0px 12px;
	color: #000;
}
#infosProd .prix2 {
	display: block;
	font-size: 14px;
	margin: 0px 0px 0px 12px;
	line-height: 10px; font-style: normal;
	color: #000;
}
#infosProd .prix2 span { text-decoration: line-through; }
#infosProd p {
	font-size: 12px;
	font-family: arial, verdana, Times New Roman, Times, serif;
	margin: 30px 15px 20px 12px; padding: 0 0 20px 0;
	border-bottom: 1px dotted #dbdbdb;
	color: #666666;
}

#infosProd .coloris {
	display: block;
	font-size: 12px;
	font-family: arial, verdana, Times New Roman, Times, serif;
	margin: 0px 0px 0px 12px;
	color: #000;
}
#infosProd ul {
	margin: 10px 15px 10px 12px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #dbdbdb;
}
#infosProd ul li {
	display: inline-block;
	margin: 0px;
}
#infosProd ul li a {
	display: block;
	width: 30px; height: 30px;
}
#infosProd ul li a img {
	display: block;
	width: 30px; height: 30px;
}




#infosProd #guideBtn {
	display: block; float: left;
	margin: 15px 0 15px 15px; padding-right: 18px;
	font-family: arial; font-size: 12px;
	text-decoration: underline;
	background: url(../img/guide-taille.gif) no-repeat right 0;
}
#infosProd #selectTaille {
	display: block; clear: both;
	width: 190px;
	margin: 15px 0 15px 15px;
	overflow: hidden;
	border: 1px solid #e5e5e5;
	background: url(../img/select.gif) no-repeat right 0 #f7f7f7;	
}
#infosProd #selectTaille:hover,
#infosProd #selectTaille:focus {
	background: url(../img/select.gif) no-repeat right bottom #fff;	
}
#infosProd #selectTaille select { 
	width: 210px;
	padding: 4px 0 0 5px;
	font-family: arial; font-size: 12px;
	font-style: italic; color: #000;
	border: 0;
	background: transparent;
	-webkit-appearance: none;
	cursor: pointer;
}
#infosProd #selectTaille select option {
	padding: 3px 0 3px 10px;
}
#infosProd #selectTaille select option:nth-child(2n) {
	background-color: #EEF9FF;
}


#infosProd #btnBuy {
	display: block; width: 210px;
	margin: 40px auto 5px auto;
	padding: 8px 0;
	text-align: center;
	font-family: arial; font-size: 16px; 
	color: #fff; background-color: #338aeb;
}


/*-----------------------------------*/
/*		 	 BASKET/ORDER            */
/*-----------------------------------*/

#panier {
    margin-bottom: 80px;
    overflow: auto;
}
#panier ul {
    background-color: #ADCBEE;
    height: 30px;
    margin: 35px 0;
    position: relative;
}
#panier ul li {
    background: url("../img/sprite.png") no-repeat scroll right 0 #ADCBEE;
    color: #FFFFFF;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    padding: 0 40px 0 27px;
    position: absolute;
}
#panier ul li.on {
    background-color: #75AAE6;
    background-position: right -31px;
}
#panier ul li.ok {
    background-color: #75AAE6;
    background-position: right -181px;
}
#panier ul li.li1 {
    z-index: 6;
}
#panier ul li.li2 {
    left: 120px;
    z-index: 5;
}
#panier ul li.li3 {
    left: 250px;
    z-index: 4;
}
#panier ul li.li4 {
    left: 350px;
    z-index: 3;
}
#panier ul li.li5 {
    left: 450px;
    z-index: 2;
}
#panier ul li a {
    color: #FFFFFF;
}
#panier table {
    background-color: #F7F7F7;
    width: 100%;
}
#panier table th {
    background-color: #012247;
    color: #FFFFFF;
    font-weight: normal;
    padding: 7px 20px;
    text-align: center;
}
#panier table td {
    border-bottom: 1px solid #DCE0E4;
    border-top: 1px solid #FFFFFF;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
}
#panier table .left {
    text-align: left;
}
#panier table .right {
    text-align: right;
}
#panier table td h1, #panier table td strong {
    font-size: 16px;
    font-weight: normal;
}
#panier table td img {
    border: 1px solid #DBDBDB;
}
#panier table td #nb_product {
    border: 1px solid #E5E5E5;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    text-align: center;
    width: 40px;
}
#panier table td #supprimer {
    background: url("../img/sprite.png") no-repeat scroll 3px -144px #FFFFFF;
    border-radius: 5px;
    display: block;
    height: 25px;
    overflow: hidden;
    text-indent: -1500px;
    transition: all 0.2s ease 0s;
    width: 25px;
}
#panier table td #supprimer:hover {
    background-color: #FFCFCF;
}
#panier table span {
    padding: 0 2px;
}
#panier .log .errwrapper {
    height: 1px;
    line-height: 1px;
}
#code {
    border: 1px solid #E5E5E5;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    width: 150px;
}
#btnOk {
    background-color: #338AEB;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin-left: 5px;
    padding: 0 8px;
}
.btn {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: block;
    font-family: arial;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
}
.btn.purchase {
    background-color: #338AEB;
    background-position: 69px -70px;
    clear: left;
    float: right;
    font-size: 16px;
    padding-right: 30px;
    transition: all 0.2s ease 0s;
}
.btn.purchase:hover {
    background-color: #57A4FF;
}
.btn.back {
    background-color: #75AAE6;
    background-position: 6px -104px;
    float: left;
    font-size: 14px;
    padding-left: 30px;
}
#panier .float {
    display: block;
    float: left;
    height: 240px;
    width: 470px;
}
#panier .float.out {
    margin-right: 20px;
}
#panier .log, #panier .adresse {
    background-color: #F7F7F7;
    border-bottom: 1px solid #DCE0E4;
    display: block;
    height: 160px;
    margin-bottom: 10px;
}
#panier .log h1, #panier .adresse h1 {
    background-color: #012247;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 5px 0 5px 15px;
    text-align: left;
}
#panier .adresse h1 {
    margin-bottom: 15px;
}
#panier .log input {
    border: 1px solid #E5E5E5;
    color: #161F48;
    display: block;
    font-size: 16px;
    height: 30px;
    line-height: 25px;
    margin: 12px 20px;
    padding: 0 12px;
    width: 250px;
}
#panier .btnlog {
    background: url("../img/sprite.png") no-repeat scroll 137px -73px #338AEB;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: arial;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    padding: 0 30px 0 8px;
}
#panier .float.in .btnlog {
    background: url("../img/sprite.png") no-repeat scroll 105px -73px #338AEB;
}
#forgotpass {
    clear: both;
    display: block;
    float: none;
    font-family: arial;
    font-size: 11px;
    padding-top: 6px;
}
#forgotpass:hover {
    text-decoration: underline;
}
#panier .adresse p {
    color: #161F48;
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin: 0 20px 12px;
}
#panier .adresse .modifier {
    background-color: #012247;
    color: #FFFFFF;
    display: block;
    float: left;
    margin: 0 0 0 20px;
    padding: 0 8px;
}
#titleLivre {
    background-color: #012247;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    padding: 7px 0 7px 15px;
}
#panier #fedex, #panier #chronopost {
    display: block;
    height: 75px;
    margin-top: 40px;
}
#panier #fedex {
    margin: 40px 200px 0 100px;
    width: 210px;
}
#panier #chronopost {
    margin-bottom: 60px;
    width: 280px;
}
#fedex label, #chronopost label {
    cursor: pointer;
    display: block;
    float: right;
    overflow: hidden;
    text-indent: -1500px;
}
#fedex label {
    background: url("../img/fedex.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 71px;
    width: 165px;
}
#chronopost label {
    background: url("../img/chronopost.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 73px;
    width: 232px;
}
#fedex input, #chronopost input {
    display: block;
    float: left;
    margin-top: 30px;
}
#wrap_cdv {
    clear: both;
    float: right;
    font-family: arial;
    font-size: 12px;
    padding-top: 20px;
}
#wrap_cdv a {
    text-decoration: underline;
}
#paiementForm {
    background-color: #F7F7F7;
    border-bottom: 1px solid #DCE0E4;
    margin: 80px auto 0;
    padding: 0 0 20px;
    width: 430px;
}
#paiementForm h1 {
    background-color: #012247;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    margin: 0 auto 20px;
    padding: 7px 0 7px 15px;
    width: 430px;
}
#paiementForm h1 span {
    color: #FFFFFF;
    display: block;
    float: right;
    font-weight: bold;
    margin: 0 10px 0 0;
}
#paiementForm span, #paiementForm strong {
    color: #006FA3;
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin: 40px 0 35px -25px;
    text-align: center;
}
#paiementForm strong {
    margin: 45px 55px 25px -5px;
}
#paiementForm p {
    height: 27px;
    margin: 6px 7px 0 15px;
}
#paiementForm p label {
    color: #1F244A;
    display: block;
    float: left;
    font-family: arial;
    font-size: 13px;
    height: 27px;
    line-height: 27px;
    margin-right: 10px;
    width: 130px;
}
#paiementForm p label a {
    color: #1F244A;
    font-family: verdana;
    font-size: 13px;
    line-height: 27px;
    margin-right: 10px;
    text-decoration: underline;
}
#paiementForm p input, #paiementForm p select {
    border: 1px solid #CFCFCF;
    color: #333333;
    display: block;
    float: left;
    font-family: verdana;
    font-size: 13px;
    height: 25px;
    padding-left: 5px;
    width: 238px;
}
#paiementForm p input.middle {
    width: 120px;
}
#paiementForm p input.small {
    width: 70px;
}
#paiementForm p input.numCard {
    margin-right: 11px;
    width: 46px;
}
#paiementForm p select {
    height: 27px;
    line-height: 27px;
    margin-right: 7px;
    width: 85px;
}
#paiementForm p select option {
    font-family: verdana;
    line-height: 19px;
}
#paiementForm p #xmonth {
    width: 152px;
}
#paiementForm input.erreur, #paiementForm select.erreur {
    background-color: #FFFAF4;
    border: 1px solid #F8C979;
    color: #D57F00;
}
#paiementForm em.erreur {
    color: #F49900;
    display: block;
    margin: 3px 0 0 140px;
}
#btnPaiement {
    display: block;
    float: none;
    margin: 15px auto;
    width: 100px;
}
#paiementForm #securite {
    background-color: #F9FEF7;
    border: 1px solid #DCF1BD;
    color: #6F6F6F;
    font-family: arial;
    font-size: 12px;
    height: auto;
    margin: 20px 55px 0 0;
    padding: 1px 12px;
    text-align: justify;
    width: 450px;
}
#paiementForm #securite img {
    margin: 3px 5px 0 0;
}
#paiementForm #securite span {
    background: url("../img/icocards.png") no-repeat scroll 197px 3px #F2F8E9;
    border: 1px solid #FFFFFF;
    display: block;
    height: 28px;
    margin: 5px -12px -1px;
}
#wrap_cdv {
    clear: both;
    float: none;
    font-family: arial;
    font-size: 12px;
    margin: 10px auto 0;
    padding-top: 0;
    width: 340px;
}
#wrap_cdv a {
    text-decoration: underline;
}
#wrap_cdv label {
    color: #939393;
}
#titleInfo {
    background-color: #012247;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 7px;
}
#formContainer {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F9F9F9;
    border-color: -moz-use-text-color #E2E2E2 #E2E2E2;
    border-image: none;
    border-radius: 0 0 8px 8px;
    border-right: 1px solid #E2E2E2;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    margin-bottom: 20px;
    padding: 8px 15px 0;
}
#formContainer fieldset {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E3E3E3 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: medium none;
    border-style: solid none none;
    border-width: 1px medium medium;
    box-shadow: 0 1px #FFFFFF inset;
    margin: 30px 0;
    padding: 6px 0 2px;
}
#formContainer legend {
    color: #012247;
    font-size: 14px;
    font-weight: bold;
    margin: -7px 0 0;
}
#formContainer input {
    display: inline-block;
    font-size: 14px;
    margin: 5px 8px 0 0;
    width: auto;
}
#formContainer label {
    color: #3E5269;
    display: inline-block;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    margin: 0 5px 3px 0;
    padding-top: 3px;
    width: auto;
}
#formContainer p {
    margin: 15px 0;
}
#formContainer p label {
    color: #3E5269;
    display: inline-block;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    margin: 0 5px 3px 0;
    padding-top: 0;
    width: 85px;
}
#formContainer p input {
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    color: #000000;
    display: inline-block;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin: 0 0 3px;
    padding: 0 10px;
    width: 220px;
}
#formContainer p select {
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    color: #000000;
    display: inline-block;
    height: 25px;
    line-height: 24px;
    margin: 0 0 3px;
    padding: 0 0 0 7px;
    width: 220px;
}




/*-----------------------------------*/
/*		 	 PAGES INFOS			 */
/*-----------------------------------*/

.contenuTxt { clear: both; overflow: auto; }
.contenuTxt h1 {
	border-bottom: 1px solid #dbdbdb;
	margin: 20px 0 50px 0;
}
.contenuTxt h1 span {
	display: block;
	margin: 0 auto -15px auto;
	font-size: 20px; font-weight: normal;
	text-align: center;
	background-color: #ffffff;
}

.contenuTxt h1 #mentions { width: 160px; }
.contenuTxt h1 #cgv { width: 260px; }
.contenuTxt h1 #commandes { width: 240px; }


.contenuTxt h2, 
.contenuTxt h3 { 
	display: block; margin: 50px 110px 0 110px;
	font-family: verdana;
	font-size: 12px;
	text-align: center;
}
.contenuTxt h3 { margin: 20px 110px 0 110px; color: #000; }

.contenuTxt p {
	margin: 12px 110px 0 110px;
	font-family: verdana;
	font-size: 12px; font-weight: normal;
	line-height: inherit;
} 
.contenuTxt p strong { display: block; margin-top: 35px; }

.contenuTxt ul, .contenuTxt dl { margin: 12px 150px 30px 130px; } 
.contenuTxt ul li, .contenuTxt dl dt, .contenuTxt dl dd {
	margin-top: 5px;
	padding-left: 12px;
	font-family: verdana;
	font-size: 12px; font-weight: normal;
	line-height: inherit;
	background: url(../img/square-blue.gif) no-repeat 0 8px; 
}
.contenuTxt dl dt { background: none; padding: 0; }
.contenuTxt .retrait { display: block; margin: 20px 0 0 40px; }








/*---FOOTER---*/
#footer {
	clear:both; overflow: auto;
	margin: 10px 0 30px 0;
	border-top: 1px solid #A7ACCD;
}
#footer div {
	width: 315px;
	float: left;
	margin: 15px 10px 15px 0;
	border-bottom: 1px solid #f1f1f1;
	background-color: #fcfcfc;
}
#footer div.third {
	margin-right: 0;
}
#footer div strong {
	display: block;
	text-transform: uppercase;
	font-weight: normal;
	padding: 10px 15px;
	color: #7a7a7a;
	background-color: #f5f5f5;
}
#footer div p { color: #4D4D4D; padding: 15px 15px 30px 15px; line-height: 16px; }


#footer #footline {
	width: 100%;
	padding: 6px 0;
	float: none; clear: both;
	text-align: center;	font-size: 12px;
	border-top: 1px solid #f1f1f1;
}
#footer #footline a:hover { text-decoration: underline; }






