#header {
	position: relative;
	height: 25px;
	margin-bottom: 15px; 
	border-bottom: 1px solid #A7ACCD;
}
#linkHead {
	position: absolute;
	right: 0px;
	text-align: right;
}

.content {
    margin: 20px auto;
    width: 1200px;
}

#map {
    height: 600px;
}

#search_input form {
    float: left;
}

#search_input label {
	display: inline-block;
	margin-left: 12px;
	height: 25px; 
	line-height: 25px;
}

#search_input input {
	display: inline-block;
	margin: 12px 12px;
	padding: 0px 12px;
	width: 170px;
    height: 25px; 
	line-height: 25px;
	color: #666666;
    border: 1px solid #e5e5e5;
} 

#search_input input.btn {
	width: 60px;
}

#myfleets,
#search_result {
	border: 1px solid #dbdbdb;
	background-color: #f9f8f8;
}

#myfleets table,
#search_result table {
	border: 1px solid #e5e5e5;
    margin: 15px auto;
    text-align: center;
    width: 1150px;
}
#myfleets tr,
#search_result tr {
	height: 35px;
    font-size: 12px;
}
#myfleets td,
#search_result td {
    width: 220px;
}
#myfleets img.thumb,
#search_result img.thumb {
    width: 50px;
    vertical-align: middle;
}
#search_result .port_table tr {
	height: 25px;
}
#search_result .port_table td {
	width: 350px;
}

#loginForm input {
	margin: 5px 12px;
	padding: 0px 12px;
    width: 200px;
    height: 30px;
}
#registerForm input {
	margin: 5px 12px;
	padding: 0px 12px;
    width: 200px;
    height: 30px;
}

.msg {
	margin: 5px 12px;
}
