
{% load i18n %}
{% load is_auto_shipment %}
{% load is_manual_shipment %}
{% load is_carrier_shipping_rate %}
{% load is_custom_shipping_rate %}
{% load is_flat_rate %}
{% load is_free_shipping %}
{% load has_delivered %}
{% load is_shop_manager_upper %}
{% load is_fetched_shipment %}
{% load is_order_completed %}


<div class="group_packing">
    {% if packing.shipments.packing_shipments %}
        {% for shipment in packing.shipments.packing_shipments %}
        <div id="shipment_{{ shipment.id }}">
            {% include "_shipment.html" %}
        </div>
        {% endfor %}
    {% endif %}
</div>

<script type="text/javascript">
    jQuery(
            //JQuery的日历控件汉化
            function($){
                $.datepicker.regional['zh_CN'] = {
                    clearText: '清除',

                    clearStatus: '清除已选日期',
                    closeText: '关闭',

                    closeStatus: '不改变当前选择',
                    prevText: '&lt;上月',

                    prevStatus: '显示上月',
                    nextText: '下月&gt;',

                    nextStatus: '显示下月',
                    currentText: '今天',

                    currentStatus: '显示本月',
                    monthNames: ['1月','2月','3月','4月','5月','6月',
                        '7月','8月','9月','10月','11月','12月'],
                    monthNamesShort: ['一','二','三','四','五','六',
                        '七','八','九','十','十一','十二'],
                    monthStatus: '选择月份', yearStatus: '选择年份',
                    weekHeader: '周', weekStatus: '年内周次',
                    dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
                    dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
                    dayNamesMin: ['日','一','二','三','四','五','六'],
                    dayStatus: '设置 DD 为一周起始',

                    dateStatus: '选择 m月 d日, DD',
                    dateFormat: 'yy-mm-dd',   //日期格式化形式

                    firstDay: 7,
                    initStatus: '请选择日期',

                    showMonthAfterYear: true,
                    yearSuffix: '年',

                    isRTL: false
                };
                $.datepicker.setDefaults($.datepicker.regional[_get_datepicker_locale("{{ LANGUAGE_CODE }}")]);
            }
    );

    function _get_datepicker_locale(s) {
        var l = s.split('-');
        if (l[0] == 'en') return '';
        if (l[1]) l[1] = l[1].toUpperCase();
        l = l.join('_');
        return l;
    }

    $(document).ready(function(){
        /* packing list scripts */
        $('.see_pk_list').die().live('click', function(){
            var id_shipemnt = $(this).attr('for_shipment');
            var packing_form = $('#packing_form_' + id_shipemnt);
            if (packing_form.is(":hidden")) {
                packing_form.slideDown();
            } else {
                packing_form.slideUp();
            }

            $('#packing_status_for_shipment_' + id_shipemnt).change();
            $('#shipping_carrier_for_shipment_' + id_shipemnt).change();
        });

        $(".update_shipment").die().live('click', function(){
            var shipment_id = $(this).attr('for_shipment');
            var form = $("#packing_form_" + shipment_id);

            var shipping_fee = $("input[name=manual_shipping_fee_for_" + shipment_id + "]", form);
            if (shipping_fee && shipping_fee.val() == "") {
                alert("Please input shipping fee");
                return;
            }

            var handling_fee = $("input[name=manual_handling_fee_for_" + shipment_id + "]", form);
            if (handling_fee && handling_fee.val() == "") {
                alert("Please input handling fee");
                return;
            }

            var packing_status = $('.packing_status', form);
            var shipping_date = $('.shipping_date', form);
            var tracking_num = $('#tracking_num_for_' + shipment_id);

            var packing_count_err = "";
            $(".packing_item_out_count", form).each(function(){
                if ($(this).val() == "") {
                    packing_count_err = "{% trans 'Please input all items updated count' %}";
                } else {
                    if (parseInt($(this).val()) > parseInt($(this).attr('orig_quantity'))) {
                        packing_count_err = "{% trans 'Please input valid item update count' %}";
                    }
                }
            });

            if (packing_count_err) {
                alert(packing_count_err);
                return;
            }

            var content = collect_update_info(shipment_id);
            if (!confirm(content)) return;

            var data = form.serialize();
            if ($('.packing_status', form).prop('disabled')) {
                data += '&packing_status=' + $('.packing_status', form).val();
            }

            $.ajax({
                type: 'POST',
                url: "/orders/update/packing",
                data: data,
                success: function(data, status) {
                    if (data.res == 'SUCCESS') {
                        // reload updated shipment
                        shipment_reload(shipment_id);
                    } else {
                        alert('{% trans "Error:" %}' + data.err);
                    }
                }
            });
        });

        $(".delete_shipment").die().live('click', function() {
            var shipment_id = $(this).attr('for_shipment');
            var data = $("#packing_form_" + shipment_id).serialize();

            if (!confirm(
                    "{% trans 'Are you sure you want to delete ' %}" +
                            "{% trans 'current packing list: ' %}" +
                            shipment_id
            )) {
                return true;
            }

            $.ajax({
                type: 'POST',
                url: "/orders/delete/packing",
                data: data,
                success: function(data, status) {
                    if (data.res == 'SUCCESS') {
                        $("#shipment_" + shipment_id).slideUp(
                                "normal", function(){
                                    $(this).remove();
                                }
                        )
                        unpacking_reload();

                    } else {
                        alert('{% trans "Error:" %}' + data.err);
                    }
                }
            });
        });

        $(".cancel_shipment").die().live('click', function() {
            var shipment_id = $(this).attr('for_shipment');
            $('#see_pk_list_for_' + shipment_id).click();
        });

        function unpacking_reload() {
            var unpacking = $(".remaining_packing");
            var href = "{% url 'order_packing_list' %}";
            href += "{{ packing.order_id }}";
            href += "?unpacking_reload=" + "true";

            unpacking.load(href, function(data){
                unpacking.fadeOut("normal", function() {
                    unpacking.html(data);
                    unpacking.fadeIn();
                });
            });

        }

        function shipment_reload(id_shipment) {
            var shipment = $("#shipment_" + id_shipment);
            var href = "{% url 'order_packing_list' %}";
            href += "{{ packing.order_id }}";
            href += "?shipment=" + id_shipment;

            shipment.load(href, function(data){
                shipment.fadeOut("normal", function() {
                    shipment.html(data);
                    shipment.fadeIn();
                });
            });
        }

        $('.group_item_check').die().live('change', function() {
            var cur_id = "#" + $(this).attr('id');
            var checked = $(this).prop('checked');
            var id_order_item = $(this).attr('for_item');
            var remaining_ckb_id = '#remaining_item_ckb_' + id_order_item;
            var packing_ckb_id = '#packing_item_ckb_' + id_order_item;

            if (!$(remaining_ckb_id) || !$(packing_ckb_id)) return;

            if (cur_id == remaining_ckb_id) {
                $(packing_ckb_id).prop('disabled', checked);
            } else {
                $(remaining_ckb_id).prop('disabled', checked);
            }
        });

        function collect_update_info(id_shipment) {
            var content = {};
            var form = $("#packing_form_" + id_shipment);

            var packing_list_items = $('.packing_list_items', form);
            var remaining_list_items = $('.remaining_list_items', form);
            $('.packing_item_out_count', packing_list_items).each(function(){

                var id_item = $(this).attr('for_item');
                var packing_ckb = $("#packing_item_ckb_" + id_item);
                var checked = packing_ckb.prop('checked');
                var name = packing_ckb.attr('for_name');
                var remaining_ckb = $('#remaining_item_ckb_' + id_item);
                var total_count = $(this).attr('total_count');

                var packing_count;
                var remaining_count;

                if (checked) {
                    packing_count = $(this).val();
                    remaining_count = parseInt(total_count) - parseInt(packing_count);
                } else if (remaining_ckb.length > 0 & remaining_ckb.prop('checked')) {
                    remaining_count = $("#remaining_item_choose_" + id_item).val();
                    packing_count = parseInt(total_count) - parseInt(remaining_count);
                } else {
                    packing_count = 0;
                    remaining_count = total_count;
                }

                content[id_item] = {
                    'name': name,
                    'packing_count': packing_count,
                    'remaining_count': remaining_count};

            });

            $('.group_item_check', remaining_list_items).each(function(){
                var id_item = $(this).attr('for_item');
                if (content[id_item] != undefined) return;

                if ($(this).prop('checked')) {
                    var name = $(this).attr('for_name');
                    var total_count = $("#remaining_item_choose_" + id_item).attr('total_count');

                    var remaining_count = $("#remaining_item_choose_" + id_item).val();
                    var packing_count = parseInt(total_count) - parseInt(remaining_count);
                    content[id_item] = {
                        'name': name,
                        'packing_count': packing_count,
                        'remaining_count': remaining_count};
                }

            });

            var shipping_carrier = $("#shipping_carrier_for_shipment_" + id_shipment);
            var tracking_name = $("#tracking_name_for_shipment_" + id_shipment);
            var shipping_fee = $("#shipping_fee_for_shipment_" + id_shipment);
            var handling_fee = $("#handling_fee_for_shipment_" + id_shipment);
            var packing_status = $("#packing_status_for_shipment_" + id_shipment);
            var shipping_date = $("#shipping_date_for_shipment_" + id_shipment);
            var tracking_number = $("#tracking_num_for_shipment_" + id_shipment);

            var content_confirm = "Please Confirm: \n";
            if (shipping_carrier.length > 0 & !shipping_carrier.prop('disabled')) {
                content_confirm += "Carrier: " + "\t" + shipping_carrier.find("option:selected").text().trim() + "\n";
            }
            if (!tracking_name.prop('disabled') & !tracking_name.is(":hidden")) {
                content_confirm += "Tracking name: " + "\t" + tracking_name.val() + "\n";
            }
            if (!shipping_fee.prop('disabled')) {
                content_confirm += "Shipping Fee: " + "\t" + shipping_fee.val() + " " + shipping_fee.attr('currency')  + "\n";
            }
            if (!handling_fee.prop('disabled')) {
                content_confirm += "Handling Fee: " + "\t" + handling_fee.val() + " " + handling_fee.attr('currency') +  "\n";
            }
            if (!packing_status.prop('disabled')) {
                content_confirm += "Status: " + "\t" + packing_status.find("option:selected").text() + "\n";
            }
            if (!shipping_date.prop('disabled') & !shipping_date.is(":hidden")) {
                content_confirm += "Shipping Date: " + "\t" + shipping_date.val() + "\n";
            }
            if (!tracking_number.prop('disabled') & !tracking_number.is(":hidden")) {
                content_confirm += "Tracking Number: " + "\t" + tracking_number.val() + "\n";
            }

            content_confirm += "{% trans 'Packing list or sale item ' %}";
            $.each(content, function(k, v) {
                content_confirm += v.name + ":" + '\n';
                content_confirm += '\t {% trans "packing count" %}: ';
                content_confirm += v.packing_count;
                content_confirm += '\n';
                content_confirm += '\t {% trans "remaining count" %}: ';
                content_confirm += v.remaining_count;
                content_confirm += '\n';
            });

            return content_confirm;
        }

        function init() {
            $('.packing_list_items .group_item_check').each(function(){
                var for_item = $(this).attr('for_item');
                $(".remaining_list_items #remaining_item_ckb_" + for_item).prop('disabled', true);
            });

            {% if packing.order_status|is_order_completed %}
                $(".group_packing input").each(function() {
                    $(this).prop('disabled', true);
                    $(this).prop('readonly', true);

                });
                $(".group_packing select").each(function() {
                    $(this).prop('disabled', true);
                    $(this).prop('readonly', true);

                });

            {% endif %}
        }
        init();

    });
</script>
