{% load i18n %}
{% load is_auto_shipment %}
{% load is_manual_shipment %}

<!--ENSEMBLE EN DETAIL-->
{% if shipment %}
    <hr />
    {% if shipment.packing_list %}
        <div class="packing_list_title">
            <span class="see_pk_list"
                  for_shipment="{{ shipment.id }}"
                  id="see_pk_list_for_{{ shipment.id }}">
                {% trans "See Packing list" %} #{{ shipment.id }}
            </span>
            <span class="status">{% trans "Stauts" %}: {{ shipment.status }}</span>
        </div>
        <form id="packing_form_{{ shipment.id }}" class="packing_form" method="post">
            <input type="hidden" name="id_shipment" value="{{ shipment.id }}" />
            <input type="hidden"
                   name="shop_for_{{ shipment.id }}"
                   id="shop_for_{{ shipment.id }}"
                   value="{{ shipment.shop }}"/>
            <div class="packing_list_items">
                {% if shipment.method|is_auto_shipment %}
                    <div class="auto_shipping_services formrow">
                        <label><p>{% trans "Shipping Service" %}:</p></label>
                        <span>{{ shipment.delivery.carriers.0.name }}-{{  shipment.delivery.carriers.0.services.0.name}}</span>
                    </div>
                {% endif %}
                {% if shipment.method|is_manual_shipment %}
                    <div class="manual_shipping_fee formrow">
                        <label><p>{% trans "Shipping fee" %}: </p></label>
                        <span>
                            <input type="text" name="manual_shipping_fee_for_{{ shipment.id }}" value="{{ shipment.fees.shipping.value }}"/>
                        </span>
                        <span>{{ shipment.fees.shipping.currency }}</span>
                    </div>
                    <div class="manual_handling_fee formrow">
                        <label><p>{% trans "Handling fee" %}: </p></label>
                        <span>
                            <input type="text" name="manual_handling_fee_for_{{ shipment.id }}" value="{{ shipment.fees.handling.value }}"/>
                        </span>
                        <span>{{ shipment.fees.handling.currency }}</span>
                    </div>
                {% else %}
                    <div class="auto_shipping_fee formrow">
                        <label><p>{% trans "Shipping fees" %}: </p></label>
                        {% if shipment.fees.shipping.value %}
                            <span>{{ shipment.fees.shipping.value }} {{ shipment.fees.shipping.currency }}</span>
                        {% else %}
                            <span>0 {{ shipment.fees.shipping.currency }}</span>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="date_picker formrow">
                    <label><p>{% trans "Shipping Date" %}: </p></label>
                    <span>
                        <input class="shipping_date" type="text" name="shipping_date" value="{% if shipment.shipping_date %}{{ shipment.shipping_date }}{% endif %}"/>
                    </span>
                </div>
                <div class="formrow">
                    <label>{% trans "Status:" %}</label>
                    <select id="packing_status_for_{{ shipment.id }}" class="packing_status" for_shipment="{{ shipment.id }}">
                        {% for op in packing.shipment_status %}
                            <option value="{{ op.value }}"
                                    {% ifequal shipment.delivery.status op.value %}selected="selected"{% else %}{{ op.value }}{% endifequal %}
                                    >{{ op.label }}</option>
                        {% endfor %}

                    </select>
                    <div class="tracking_num">
                        <span>{% trans "Tracking Number:" %}</span>
                        <input type="text"
                               name="tracking_num_for_{{ shipment.id }}"
                               {% if shipment.tracking_num %}
                               value="{{ shipment.tracking_num }}"
                               orig_value="{{ shipment.tracking_num }}"
                               {% endif %}/>
                    </div>
                </div>
                <div class="formrow">
                    <label>{% trans "Content:" %}</label>
                </div>
                {% for item in shipment.packing_list %}
                    <div class="formrow content_row" id="packing_item_for_{{ item.id_shipping_list }}">
                        <input type="hidden"
                               name="pack_item_count_for_{{ item.id_shipping_list }}"
                               id="pack_item_count_for_{{ item.id_shipping_list }}"
                               value="{{ item.quantity }}"/>
                        <input type="hidden"
                               name="order_item_for_{{ item.id_shipping_list }}"
                               id="order_item_for_{{ item.id_shipping_list }}"
                               value="{{ item.id_order_item }}"/>
                        <input type="hidden"
                               name="sale_for_{{ item.id_shipping_list }}"
                               id="sale_for_{{ item.id_shipping_list }}"
                               value="{{ item.sale }}"/>
                        <input type="text"
                               class="packing_item_out_count"
                               name="pack_item_out_count_for_{{ item.id_shipping_list }}"
                               id="pack_item_out_count_for_{{ item.id_shipping_list }}"
                               value="{{ item.quantity }}"
                               orig_quantity="{{ item.quantity }}"/>
                        <span>{{ item.name }} {% trans "out of" %} {{ item.quantity }}</span>
                        <a class="out delete_shipping_item" for_packing_item="{{ item.id_shipping_list }}" for_shipment="{{ shipment.id }}"></a>
                    </div>
                {% endfor %}
                <div class="formrow">
                    <button class="btnForm cancel_shipment" type="button" name="cancel_shipment" for_shipment="{{ shipment.id }}">{% trans "Cancel" %}</button>
                    <button class="btnForm delete_shipment" type="button" name="delete_shipment" for_shipment="{{ shipment.id }}">{% trans "Delete" %}</button>
                    <button class="btnForm update_shipment" type="button" name="update_shipment" for_shipment="{{ shipment.id }}">{% trans "Update" %}</button>
                </div>
            </div>
        </form>
    {% endif %}

    {% if shipment.remaining_list %}
        <form id="remaining_list_for_{{ shipment.id }}" class="remaining_form" method="post">
            <input type="hidden" name="id_shipment" value="{{ shipment.id }}"/>
            <input type="hidden" name="id_order" value="{{ packing.order_id }}"/>
            <input type="hidden"
                   name="shop_for_{{ shipment.id }}"
                   id="shop_for_{{ shipment.id }}"
                   value="{{ shipment.shop }}"/>
            <div class="manual_shipping_fee formrow">
                <label><p>{% trans "Shipping fee" %}: </p></label>
                        <span>
                            <input type="text" name="manual_shipping_fee_for_{{ shipment.id }}"/>
                        </span>
                <span>{{ shipment.fees.shipping.currency }}</span>
            </div>
            <div class="manual_handling_fee formrow">
                <label><p>{% trans "Handling fee" %}: </p></label>
                        <span>
                            <input type="text" name="manual_handling_fee_for_{{ shipment.id }}"/>
                        </span>
                <span>{{ shipment.fees.handling.currency }}</span>
            </div>
            <div class="remaining_list">
                <div class="remaining_items">
                    <span>{% trans "Remaining items to ship" %}:</span>
                    {% for item in shipment.remaining_list %}
                        <input type="hidden"
                               name="order_item_for_{{ item.id_shipping_list }}"
                               id="order_item_for_{{ item.id_shipping_list }}"
                               value="{{ item.id_order_item }}"/>
                        <input type="hidden"
                               name="sale_for_{{ item.id_shipping_list }}"
                               id="sale_for_{{ item.id_shipping_list }}"
                               value="{{ item.sale }}"/>
                        <lable class="remaining_item">
                            <input type="checkbox"
                                   name="remaining_item_ckb_{{ item.id_shipping_list }}"
                                   class='item_check'
                                   id="remaining_item_ckb_{{ item.id_shipping_list }}"
                                   checked="false">
                            <span>{{ item.name }}</span>
                            <input type="text"
                                   name="remaining_item_choose_{{ item.id_shipping_list }}"
                                   class="item_count"
                                   value="{{ item.quantity }}"
                                   id="remaining_item_choose_{{ item.id_shipping_list }}"/>
                            <span>{% trans "out of" %} {{ item.quantity }} {% trans "items" %}</span>
                        </lable>
                    {% endfor %}
                </div>
                <div class="new_packing_list">
                    <span class="create" for_shipment="{{ shipment.id }}">{% trans "Create new packing list" %}</span>
                </div>
            </div>
        </form>
    {% elif shipment.packing_list %}
        <div id="remaining_list_for_{{ shipment.id }}"><p>{% trans "0 item remaining" %}</p></div>
    {% endif %}
{% endif %}


<script type="text/javascript">

    $(document).ready(function(){
        $(".shipping_date").datepicker('destroy').datepicker();
    });
</script>
