{% extends "new_base.html" %}
{% load i18n %}

{% block head %}
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/new-order-list.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.autocomplete.html.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.datepicker-fr.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fileupload/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fileupload/jquery.fileupload.js"></script>
{% endblock %}

{% block content %}
<!--CONTENU-->
<div id="contenu">

<!--Lien Haut de Page -->
<a id="lienUP" class="scrollTo" href="#conteneur">{% trans 'Page Top' %}</a>

<!--content-left-->
<div id="content_Left">

    <!--Title-->
    <div id="title">
        <h2><span>{% trans 'Current Orders' %}</span>{% trans 'Current Orders' %}</h2>
    </div>

    <!--FORM-->
    <form id="main_form" method="post" action="/orders/list/">
        {% csrf_token %}

        <!--MEGA-TAB-->
        <div class="magatabs">
        <fieldset>
            <!--MEGATABS1-->
            <div class="megatab">

                <!--SELECT TRIER PAR-->
                <p id="triVente">

                    <span class="left left1">
                        <label>{% trans 'Search ' %} :</label>
                        <input type="text" name="search" class="inputSearch" value="{{ query }}" />
                        <button class="find"  type="button">{% trans 'Find' %}</button>
                        <span class="clear"></span>
                    </span>

                    <span class="left left2">
                        <label for="id_order_by1">{% trans 'Sort by' %} :</label>
                        {{ form.order_by1 }}
                        <span class="plus">+</span>
                        {{ form.order_by2 }}
                        <input class="valid" type="submit" value="Sort" />
                    </span>
                </p>
                <!--FIN SELECT TRIER PAR-->
            </div>
            <!--//MEGATABS1-->

            <div class="order-status-tabs">
                <ul id="order-status-tabs">
                    {% for tab in status_tabs %}
                        <li>
                            <a status_code="{{ tab.status }}"
                               class="order_tab order_base_tab {{ tab.class }} {% if tab.status == status %}selected{% endif %}">
                                {{ tab.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <input type="hidden" id="{{ form.status.auto_id }}" name="{{ form.status.html_name }}" value="{{ status }}" />
            </div>

            <div class="clear"></div>

        </fieldset>
        </div>
        <!--//MEGA-TAB-->
    </form>

    <div id="order_vente">
        <div class="order_list">
            {% include "order_vente.html" %}
        </div>
    </div>

<div class="clear"></div>

<div class="template hidden">
    <div id="big_flower_loading_overlay">
      <div class="loading-overlay">
        <p class="loading_spinner">
          <span class="big_flower_loading"></span>
          <span class="loading-text">loading</span>
        </p>
      </div>
    </div>
    <div id="order_search_tab">
        <li>
            <a status_code=""
               id=""
               query=""
               class="order_tab results order_search_tab">
                <span class='search'></span>
                <span href="#" class="delete">[X]</span>
            </a>
        </li>
    </div>
</div>
{% endblock %}

{% block javascript %}

    <script type="text/javascript">
        $(function() {
            function sel_mega_tab(node, status){
                $('#order-status-tabs .selected').removeClass('selected');
                //$(node).addClass('selected');
                $("#{{ form.status.auto_id }}").val(status);
            }

            $(".order_base_tab").click(function(){
                var tab = $(this);
                var code = $(this).attr("status_code");
                if (code == $("#{{ form.status.auto_id }}").val()) return;

                var tab = $(this);
                sel_mega_tab(tab, code);
                var data = $("#main_form").serialize();

                $.ajax({
                    type: 'GET',
                    url: '/orders/vente',
                    data: data,
                    beforeSend: function(){
                        var loading_overlay = $("#big_flower_loading_overlay").html();
                        $("#order_vente").prepend(loading_overlay);
                        $("#order_vente .order_list").fadeOut();

                    },
                    success: function(content, status) {
                        $('#order_vente .order_list').html(content);
                    }
                }).done(function(){
                            $("#order_vente .loading-overlay").fadeOut(function(){
                                $(this).remove();
                            });
                            tab.addClass('selected');
                            $("#order_vente .order_list").fadeIn();
                    });
            });

            $(".find").click(function(){
                var query = $('input[name=search]').val();
                if (query == "") return;
                var orig_query = query;
                query = query.toLowerCase();
                $("#{{ form.status.auto_id }}").val("search");


                var search_tab = $(".order_search_tab[query='" + query + "']");
                if (search_tab.length == 0) {
                    var tab = $($("#order_search_tab").html());
                    search_tab = $('a', tab);
                    search_tab.attr('status_code', 'search');
                    search_tab.attr('query', query);
                    $('.search', search_tab).html(orig_query);
                    $("#order-status-tabs").append(tab);
                }
                sel_mega_tab(search_tab, 'search');
                var data=$("#main_form").serialize();

                $.ajax({
                    type: 'GET',
                    url: '/orders/vente',
                    data: data,
                    beforeSend: function(){

                        var loading_overlay = $("#big_flower_loading_overlay").html();
                        $("#order_vente").prepend(loading_overlay);
                        $("#order_vente .order_list").fadeOut();
                    },
                    success: function(content, status) {
                        $('#order_vente .order_list').html(content);
                    }
                }).done(function(){
                            $("#order_vente .loading-overlay").fadeOut(function(){
                                $(this).remove();
                            });
                            search_tab.addClass('selected');
                            $("#order_vente .order_list").fadeIn();
                        });
            });
        });

    </script>
{% endblock %}

