{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load thumbnail %}

{% block title %}{{ page_title }}{% endblock %}
{% block head %}
    <link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/order-list.css" />
{% endblock %}

{% block navigation %}
{% include "_quick_nav.html" %}
{% endblock %}

{% block content %}
<!--Lien Haut de Page -->
<a id="lienUP" href="#conteneur">{% trans "Page Top" %}</a>

<!--content-left-->
<div id="content_Left">

    <!--Title-->
    <div id="title">
        <span>{{ page_title }}</span>
        <h2>{{ page_title }}</h2>
    </div>

    {% if error_msg %}
        <div class="error_msg"> {{ error_msg }} </div>
    {% else %}

    <!--FORM-->
    <form id="main_form" method="post">
    {% csrf_token %}
        <fieldset>
            <p id="order-status-tabs">
                <span>{% trans "Pending Orders" %}</span>
                <span>{% trans "Awaiting payment" %}</span>
                <span>{% trans "Awaiting Shipping" %}</span>
                <span>{% trans "Completed" %}</span>
            </p>
            <!--SELECT TRIER PAR-->
            <p id="triVente">
                <label for="trie01">{% trans "Sort by:" %}</label>
                {{ form.order_by1 }}
                <span>+</span>
                {{ form.order_by2 }}
                <input type="submit" value="{% trans "Sort" %}" />
            </p>
            <!--FIN SELECT TRIER PAR-->

            <!--VENTE-->
            {% for order_dict in page.object_list %}
            {% for order_id, order in order_dict.items %}
                {{ order.order_items.0.values.picture }}
                {{ order.order_items.0.values.thumbnail_img }}
            <div class="vente" order="{{ order_id }}">
                <!--NOM, CATEGORIE, TYPE de Prod-->
                <a href=""><h3>#{{ order_id  }}</h3></a>
                <h4>
                    {% if request.user.is_staff %}
                    <a class="delete" href="#">[X]</a>
                    {% endif %}
                    {{ order.user_info.last_name }} {{ order.user_info.first_name }}
                </h4>
                <!--INFOS VENTE-->
                <div class="content">
                    <a class="imgProd" href="#">
                        {% thumbnail order.thumbnail_img "40x43" as im %}
                            <img style='margin:{{ im|margin:"40x43" }}' src="{{ im.url }}" alt='{% trans "Product picture" %} {{ order.items.values.0.name }}' width="{{ im.x }}" height="{{ im.y }}"/>
                        {% endthumbnail %}
                    </a>
                    <div class="address_area">
                        <em>{{ order.shipping_dest.address|default:"No shipment address for order? " }} </em>
                        <span class="phone_city">
                            <span class="phone_num">{{ order.contact_phone.phone_num|default:"No shipment phone? " }} </span>
                            <span class="city">({{ order.shipping_dest.city }})</span>
                        </span>
                    </div>
                    <div class="prix">
                        {% if order.status > 1 %}
                        <span class="status-pending-blue">&nbsp;</span>
                        {% else %}
                        <a href="{% url 'order_packing_list' order_id %}" class="seePacking">
                            <span class="status-pending-gray">&nbsp;</span>
                        </a>
                        {% endif %}

                        <span class="status-next">&nbsp;</span>

                        {% if order.status > 2 %}
                            <span class="status-payment-blue">&nbsp;</span>
                        {% else %}
                            <span class="status-payment-gray">&nbsp;</span>
                        {% endif %}

                        <span class="status-next">&nbsp;</span>

                        {% if order.status > 3 %}
                            <span class="status-shipping-blue">&nbsp;</span>
                        {% else %}
                            <span class="status-shipping-gray">&nbsp;</span>
                        {% endif %}
                    </div>
                </div>
                <div class="clear"></div>
                <a href="{% url 'order_packing_list' order_id %}" class="seeDetail seePacking">{% trans "Packing lists" %}</a>
                <a href="" class="seeDetail seeInvoice">{% trans "Invoices" %}</a>
                <a href="{% url 'order_details' order_id %}" class="seeDetail seeMain">{% trans "Details" %}</a>
            </div>
            {% endfor %}
            {% endfor %}
            <!--FIN VENTE-->
        </fieldset>
    </form>
    {% if page.paginator.num_pages > 1%}
    <div class="pag_nav">
        <span class="page_info">
        {% blocktrans with number=page.number num_pages=page.paginator.num_pages %}
        Page <input type="text" value="{{ number }}" id="page_num"> of {{ num_pages }} pages.
        {% endblocktrans %}
    </span>
        <span class="page_size">
            {% trans '(' %}
            <select id="page_size" name="page_size">
            {% for page_size in choice_page_size %}
                <option value="{{ page_size }}" {% if current_page_size == page_size %}selected="selected"{% endif %}>{{ page_size }}</option>
            {% endfor %}
            </select>
            {% trans ' elements/page )' %}
        </span>
        <div class="page_ico">
            <a href="{{ request.path }}?page=1" class="pagination prev2">|<</a>
            <a href="{{ request.path }}?page={{ prev_10 }}" class="pagination prev1"><</a>
            {% for page_num in page_nav %}
            {% if page.number != page_num %}
			<a href="{{ request.path }}?page={{ page_num }}" class="pagination">{{ page_num }}</a>
			{% else %}<span class="pagination current">{{ page_num }}</span>{% endif %}
            {% endfor %}
            <a href="{{ request.path }}?page={{ next_10 }}" class="pagination next1">></a>
            <a href="{{ request.path }}?page={{ page.paginator.num_pages }}" class="pagination next2">>|</a>
        </div>
    </div>
    {% endif %}

    {% endif %}
</div>

<div id="content_Right">
    <div id="controls"></div>
    <div id="detail"></div>
</div>
<!--FIN content-right-->
<div class="clear"></div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(function() {
        $(".seeDetail").click(function(){
            $("#content_Right #controls").html("");
            $("#content_Right #detail").html("");
        });
        $(".seePacking").click(function(){
            $("#content_Right #detail").html('{% trans "Loading..." %}');
            $("#content_Right #detail").load($(this)[0].href);
            return false;
        });
        $(".seeInvoice").click(function(){
            $("#content_Right #controls").html('{% trans "Loading..." %}');
{#            $("#content_Right #controls").load($(this)[0].href);#}
            return false;
        });
        $(".seeMain").click(function(){
            $("#content_Right #detail").html('{% trans "Loading..." %}');
            $("#content_Right #detail").load($(this)[0].href);
            return false;
        });
        $("#content_Right #controls #shop").live('change', function(){
            if ($(this).val() == 0) {
                $("#content_Right #detail").html("");
            } else {
                $("#content_Right #detail").html('{% trans "Loading..." %}');
                $("#content_Right #detail").load($(this).val());
            }
        });

        $('a.delete').click(function() {
            var $this = $(this);
            if (confirm('{% trans "Are you sure you want to delete this order?" %}')) {
                var oid = $this.parent().parent().attr('order');
                $.post('/orders/delete/' + oid, function(response) {
                    if (response.success)
                        $this.parent().parent().fadeOut();
                }, "json");
            }
        });

        //set page size
        $("#page_size").change(function(event){
            location.href = location.pathname+'?page_size='+$(this).val();
        });

        //go specific page by input
        $("#page_num").keypress(function(event){
            if(event.which == 13){ //'enter' key
                var page_num = $(this).val();
                if(!isNaN(page_num)&&parseInt(page_num)==page_num)
                {
                    location.href = '{{ request.path }}'+'?page='+page_num;
                }
                else
                {
                    alert("{% trans "Please enter a valid page number." %}");
                }
            }

        });
    });
</script>
{% endblock %}
