{% load i18n %}

{% if status == "search" %}
    <div id="megatabs_search_{{ query }}" class="megatabs">
{% else %}
    <div id="megatabs{{ status }}" class="megatabs">
{% endif %}
    {% if not page.object_list %}
        <div class="no_matching_orders">
            {% trans "No matching orders" %}
        </div>
    {% endif %}
    {% for order_dict in page.object_list %}
        {% for order_id, order in order_dict.items %}
            {{ order.order_items.0.values.picture }}
            {{ order.order_items.0.values.thumbnail_img }}
            <!--VENTE-->
            <div class="vente" id="vente_{{ order_id }}" order="{{ order_id }}">

                <!--INFOS VENTE-->
                <div class="content">
                    <a class="delete" href="#">[X]</a>
                    <!--<a class="imgProd" href="#">
                        <img style='margin:1px 0px 2px 0px' srchi"http://37.187.48.33/site_media/cache/8a/2a/8a2a0b6475ec3c8db30230ef174da37a.jpg" alt='Product picture' width="40" height="40"/>
                    </a>-->

                    <div class="address_area">
                        <form class="hidden" id="shipping_dest_for_{{ order_id }}">
                            <input name="address" value="{{ order.shipping_dest.address }}">
                            <input name="address2" value="{{ order.shipping_dest.address2 }}">
                            <input name="city" value="{{ order.shipping_dest.city }}">
                            <input name="country" value="{{ order.shipping_dest.country}}">
                            <input name="province" value="{{ order.shipping_dest.province }}">
                            <input name="postalcode" value="{{ order.shipping_dest.postalcode }}">
                            <input name="full_name" value="{{ order.shipping_dest.full_name }}">
                            <input name="calling_code" value="{{ order.shipping_dest.calling_code }}">
                        </form>
                        <strong>{{ order.shipping_dest.full_name|default:"No receiver name" }}</strong>
                        <span class="adress">{{ order.shipping_dest.address|default:"No shipment address for order? " }}</span>
                                <span class="adress">
                                    {% if order.shipping_dest.address2 %}
                                        {{ order.shipping_dest.address2 }}
                                    {% else %} &nbsp;
                                    {% endif %}
                                </span>
                        <strong class="city">{{ order.shipping_dest.city }}</strong><span class="cp">{{ order.shipping_dest.postalcode }}</span>
                        <strong class="pays {{ order.shipping_dest.country_iso|lower }}">{{ order.shipping_dest.country_name }}</strong>
                    </div>

                    <span class="phone_num {{ order.shipping_dest.country_iso|lower }}">
                        {% if order.shipping_dest.calling_code %}
                            (+ {{ order.shipping_dest.calling_code }})
                        {% endif %}
                        {{ order.contact_phone.phone_num }} </span>

                </div>


                <div class="prix">
                    <span class="status-pending-blue">&nbsp;</span>
                    <span class="status-next">&nbsp;</span>
                    <span class="status-payment-gray">&nbsp;</span>
                    <span class="status-next">&nbsp;</span>
                    <span class="status-shipping-gray">&nbsp;</span>
                </div>
                <p class="confirme_time">
                    {% trans ' Order submitted' %} : <strong class="conf_time" conf_time={{ order.confirmation_time }}></strong>
                </p>

                <div class="clear"></div>

                <div class="packing_detail" order="{{ order_id }}" url="{% url 'order_packing_list' order_id %}">
                </div>

            </div>
            <!--FIN VENTE-->

        {% endfor %}
    {% endfor %}

    {% if page.paginator.num_pages > 1%}
        <div class="pag_nav">
            <span class="page_info">
            {% blocktrans with number=page.number num_pages=page.paginator.num_pages %}
                Page <input type="text" value="{{ number }}" id="page_num"> of {{ num_pages }} pages.
            {% endblocktrans %}
        </span>
            <span class="page_size">
                {% trans '(' %}
                <select id="page_size" name="page_size">
                    {% for page_size in choice_page_size %}
                        <option value="{{ page_size }}" {% if current_page_size == page_size %}selected="selected"{% endif %}>{{ page_size }}</option>
                    {% endfor %}
                </select>
                {% trans ' elements/page )' %}
            </span>
            <div class="page_ico">
                <a href="javascript:void(0);" page=1 class="pagination prev2">|<</a>
                <a href="javascript:void(0);" page={{ prev_10 }} class="pagination prev1"><</a>
                {% for page_num in page_nav %}
                    {% if page.number != page_num %}
                        <a href="javascript:void(0);" page={{ page_num }} class="pagination">{{ page_num }}</a>
                        {% else %}<span class="pagination current">{{ page_num }}</span>{% endif %}
                {% endfor %}
                <a href="javascript:void(0);" page={{ next_10 }} class="pagination next1">></a>
                <a href="javascript:void(0);" page={{ page.paginator.num_pages }} class="pagination next2">>|</a>
            </div>
        </div>
    {% endif %}

    </div>
</div>

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.conf_time').each(function(){
                var utc_sec = $(this).attr('conf_time');
                var d = new Date(0);
                d.setUTCSeconds(utc_sec);

                var year = d.getFullYear();
                var month = d.getMonth() + 1;
                var date = d.getDate();
                var hour = d.getHours();
                var min = d.getMinutes();
                $(this).html(date+"/"+month+"/"+year+" "+hour+":"+min);
            });
        });

        $(function() {
            //set page size
            $("#page_size").change(function(event){
                pagination(1);
            });

            //go specific page by input
            $("#page_num").keypress(function(event){
                if(event.which == 13){ //'enter' key
                    var page_num = $(this).val();
                    if(!isNaN(page_num)&&parseInt(page_num)==page_num)
                    {
                        pagination(page_num);
                    }
                    else
                    {
                        alert("{% trans "Please enter a valid page number." %}");
                    }
                }

            });

            $("span.delete").off('click').on('click', function(event){
                event.preventDefault();
                var tab_node = $(this).parent().parent();
                var siblings = tab_node.siblings();
                sibling = siblings[siblings.length - 1];
                tab_node.remove();
                $('a', sibling).click();
                return false;
            });

            $(".order_search_tab").off('click').on('click', function(){
                var query = $(this).attr('query');
                $('input[name=search]').val(query);
                $("button.find").click();
            });

        });

        function pagination(page) {
            var data = $("#main_form").serialize();
            var p = {page: page,
                page_size: $("#page_size").val()};
            data += "&" + $.param(p);

            $.ajax({
                type: 'GET',
                url: '/orders/vente',
                data: data,
                beforeSend: function(){
                    $("#order_vente").loadingOverlay({
                        iconClass: 'big_flower_loading',
                        spinnerClass: 'loading_spinner'
                    });
                },
                success: function(content, status) {
                    $('#order_vente').html(content);
                }
            }).done(function(){
                        $("#order_vente").loadingOverlay('remove', {
                            iconClass: 'big_flower_loading',
                            spinnerClass: 'loading_spinner'
                        })
                    });

        };

        $(".pagination").off('click').on('click', function() {
            if ($(this).hasClass('current')) return;
            pagination($(this).attr('page'));
        });

        function loading_packing_detail(){
            $(".packing_detail").each(function(){
                var url = $(this).attr('url');
                $(this).load(url, function(){
                    $(".tabs1").hide();
                });
            });

        }

        loading_packing_detail();

        //$( ".magatabs" ).tabs({});

    </script>
{% endblock %}
