{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Edit a sale" %}{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.autocomplete.html.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.datepicker-fr.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fileupload/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fileupload/jquery.fileupload.js"></script>
    <link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/shipping.css" />
    <link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.16.custom.css" />
{% endblock %}

{% block content %}
    <!--Lien Haut de Page -->
    <a id="lienUP" href="#conteneur">{% trans "Page Top" %}</a>

    <div id="content_Left">
        <!--Title-->
        <div id="title">
            <span>{% trans "Shipments Status" %}</span>
            <h2>
              {% trans "Shipments Status" %} {{ SHELL }}
            </h2>
        </div>

        <div class='shipping_list'>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <th class=""><a href="#">{% trans "Shipment" %}</a></th>
                    <th class=""><a href="#">{% trans "Order" %}</a></th>
                    <th class=""><a href="#">{% trans "Fee" %}</a></th>
                </tr>
                {% for shipping in shippings %}
                <tr id="shipping_{{ shipping.id }}">
                    <td><a href="{% url 'shipment_edit' shipping.id %}">{{ shipping.id }}</a></td>
                    <td>{{ shipping.order }}</td>
                    <td>{{ shipping.total_fee }}</td>
                    <td><a class="modify" href="{% url 'shipment_edit' shipping.id %}">{% trans "Edit" %}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>

    <!--content-right-->
    <div id="content_Right">
    </div>
    <!--FIN content-right-->
    <div class="clear"></div>
{% endblock %}
