{% extends "sa_base.html" %}
{% load i18n %}
{% load is_admin %}
{% load is_shop_manager_upper %}

{% block title %}
{% trans 'Settings' %}
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
    <link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/admin_settings.css">
{% endblock %}

{% block navigation %}
    {% include "sa_quick_nav.html" %}
{% endblock %}

{% block content %}
<!--content-left-->
<div id="content_Left">

    <!--Title-->
    <div id="title">
        <span>{% trans "Settings" %}</span>
        <h2>{% trans "Settings" %}</h2>
    </div>

    <!--FORM-->
    <form id="main_form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <h3>{% trans "Settings" %}</h3>

        <fieldset>
            {% if is_saved %}
            <div class="formrow comments">{% trans "Saved Successfully" %}</div>
            {% endif %}

            {% if user|is_admin %}
            {{ form.default_currency.errors }}
            <div class="formrow">
                <label for="{{ form.default_currency.auto_id }}">{% trans form.default_currency.label %}</label>
                {{ form.default_currency }}
            </div>
            {% endif %}

            {% if user|is_shop_manager_upper %}
            {{ form.default_payment_period.errors }}
            <div class="formrow">
                <label for="{{ form.default_payment_period.auto_id }}">{% trans form.default_payment_period.label %}</label>
                {{ form.default_payment_period }} <span> {% trans "Days" %} </span>
            </div>
            {% endif %}

            {% if user|is_admin %}
            {{ form.default_shipment_period.errors }}
            <div class="formrow">
                <label for="{{ form.default_shipment_period.auto_id }}">{% trans form.default_shipment_period.label %}</label>
                {{ form.default_shipment_period}} <span> {% trans "Days" %} </span>
            </div>
            {% endif %}

        </fieldset>
        <!--BOUTONS-->
        <input class="btn valider" type="submit" value='{% trans "Save" %}'/>
        <button type="reset" class="btn annuler">{% trans "Cancel" %}</button>
    </form>
    <!--FIN FORM-->
</div>
<!--FIN content-left-->

<!--content-right-->

<!--FIN content-right-->
<div class="clear"></div>
{% endblock %}

{% block javascript %}

<script type="text/javascript">
$(document).ready(function(){
    
});    
</script>

{% endblock %}
