{% extends "sa_base.html" %}
{% load i18n %}

{% block title %}
{% if pk %}
{% trans "Edit a Attribute" %}
{% else %}
{% trans "Add a Attribute" %}
{% endif %}
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
	<link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/admin_main.css">
	<link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/admin_attribute.css">
{% endblock %}

{% block navigation %}
    {% include "sa_quick_nav.html" %}
{% endblock %}

{% block content %}
<!--content-left-->
<div id="content_Left">

    <!--Title-->
    <div id="title">
        <span>{% trans "Attributes" %}</span>
        <h2>{% trans "Attributes" %}</h2>
    </div>

    <!--FORM-->
    {% if pk %}
    <form id="main_form" method="post" action="{% url sa_edit_attribute pk %}" enctype="multipart/form-data">{% csrf_token %}
    {% else %}
    <form id="main_form" method="post" action="{% url sa_attributes %}" enctype="multipart/form-data">{% csrf_token %}
    {% endif %}
    {% if pk %}
        <h3>{% trans "Edit Attribute" %}</h3>
    {% else %}
        <h3>{% trans "New Attribute" %}</h3>
    {% endif %}

        <fieldset>
            {{ form.category.errors }}
            <div class="formrow">
                <label for="{{form.category.auto_id}}">{% trans form.category.label %}</label>
                {{ form.category }}
            </div>
            {{ form.name.errors }}
            <div class="formrow">
                <label for="{{form.name.auto_id}}">{% trans form.name.label %}</label>
                {{ form.name }}
            </div>
        </fieldset>
        <!--BOUTONS-->
        <div>{% trans 'common attributes for this type' %}</div>
        <div>{{ formset.management_form }}</div>
        <fieldset id="subform">
            <div class="add_subform">
                <input type="text" id="new_ca_name" />
                <input type="button" id="add_ca" value='{% trans 'add' %}' />
            </div>
        {% for subform in formset.forms %}
            <div class="formrow">
                <label for="{{subform.name.auto_id}}">{% trans subform.name.label %}</label>
                {{ subform.id }}{{ subform.name }}
                <input type="button" class="del_ca" value='{% trans 'delete' %}' />
                <input style="display: none;" type="checkbox" name="{{ subform.DELETE.html_name }}" id="{{ subform.DELETE.auto_id }}">
            </div>
        {% endfor %}
        </fieldset>
        <input class="btn valider" type="submit" value='{% trans "Save" %}'/>
        <button type="reset" class="btn annuler">{% trans "Cancel" %}</button>
    </form>
    <!--FIN FORM-->
    <div id='add_ca_form' style='display:none;'>
        <div class="formrow">
            <label for="{{ formset.empty_form.name.auto_id }}">{% trans formset.empty_form.name.label %}</label>
            {{ formset.empty_form.id }}{{ formset.empty_form.name }}
            <input style="display: none;" type="checkbox" name="{{ formset.empty_form.DELETE.html_name }}" id="{{ formset.empty_form.DELETE.auto_id }}" />
            <input type="button" class="del_ca" value='{% trans 'delete' %}' />
        </div>
    </div>
</div>
<!--FIN content-left-->

<!--content-right-->
<div id="content_Right">
    <!--Liste-Attributes-->
    <h4 class="titleRight">{% trans "Attributes list" %}</h4>
    <div class="boxRight listeRight" id="listeAttribute">
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <th class="nom on"><a href="#">{% trans "Name" %}</a></th>
                <th class="action"><a href="#">{% trans "Actions" %}</a></th>
            </tr>
            {% for attribute in page.object_list %}
            <tr id="attribute_{{ attribute.pk }}"><!-- class=new -->
                <td><a href="{% url sa_edit_attribute attribute.pk %}">{{ attribute.name }}</a></td>
                <td><a class="modif" href="{% url sa_edit_attribute attribute.pk %}">edit</a><a class="out delete_attribute" href="{% url sa_delete_attribute attribute.pk %}">delete</a></td>
            </tr>
            {% empty %}
            <tr class="noshop">
                <td colspan="2">{% trans "The attributes list is empty." %}</td>
            </tr>
            {% endfor %}
        </table>
        {% if page.paginator.num_pages > 1 %}
        <div class="pag_nav">
            <span class="page_info">
                {% blocktrans with number=page.number num_pages=page.paginator.num_pages %}
                Page <input type="text" value="{{ number }}" id="page_num"> of {{ num_pages }} pages.
                {% endblocktrans %}
            </span>
            <span class="page_size">
                {% trans '(' %}
                <select id="page_size" name="page_size">
                {% for page_size in choice_page_size %}
                    <option value="{{ page_size }}" {% if current_page_size == page_size %}selected="selected"{% endif %}>{{ page_size }}</option>
                {% endfor %}
                </select>
                {% trans ') elements/page ' %}
            </span>
            <div class="page_ico">
                <a href="1" class="pagination">|<</a>
                <a href="{{ prev_10 }}" class="pagination"><</a>
                <a href="{{ page_num }}" class="pagination">{% for page_num in page_nav %}
                [{% if page.number != page_num %}<a href="{{ page_num }}" class="pagination">{{ page_num }}</a>{% else %}{{ page_num }}{% endif %}] 
                {% endfor %}</a>
                <a href="{{ next_10 }}" class="pagination">></a>
                <a href="{{ page.paginator.num_pages }}" class="pagination">>|</a>
            </div>
        </div>
        {% endif %}
    </div>
    <!--//Liste-Attribute-->
    <a class="btn ajouter" href="{% url sa_attributes %}">{% trans "Add a new attribute" %}</a>
</div>
<!--FIN content-right-->
<div class="clear"></div>
{% endblock %}

{% block javascript %}

<script type="text/javascript">
$(document).ready(function(){
    $(".delete_attribute").click(function() {
            if(confirm('{% trans "Are your sure you want to delete this attribute?" %}')) {
                $.post(this.href, function(data){
                    $("#attribute_"+data.attribute_pk).remove();
                    if(data.attribute_pk == "{% firstof pk "0" %}") {
                        location.replace("{% url sa_attributes %}");
                    }
                });
            }
            return false;
    });
    //set page size
    $("#page_size").change(function(event){
        location.href = location.pathname+'?page_size='+$(this).val();
    });
    
    //go specific page by input
    $("#page_num").keypress(function(event){
        if(event.which == 13){ //'enter' key
            var page_num = $(this).val();
            if(!isNaN(page_num)&&parseInt(page_num)==page_num)
                location.href = page_num;
            else
                alert("{% trans 'please input a correct page number.' %}");
        }
    });
    
    //adding new subform
    $("#add_ca").click(function(){
        var new_subform = $("#add_ca_form").html();
        var total_forms = $("#{{ formset.management_form.TOTAL_FORMS.auto_id }}").val();
        var new_name = $('#new_ca_name').val(); 
        new_subform = new_subform.replace(/__prefix__/g,total_forms.toString());
        $('#new_ca_name').val('');
        $("#subform").append(new_subform);
        $('#{{formset.empty_form.name.auto_id}}'.replace(/__prefix__/g,total_forms.toString())).val(new_name);
        total_forms++;
        $("#{{ formset.management_form.TOTAL_FORMS.auto_id }}").val(total_forms);
    });
    
    //deleting subform
    $(".del_ca").live("click", function(){
        $(this).parent().hide();
        $(this).siblings("input[type='checkbox']").attr('checked','checked');
        /*var total_forms = $("#{{ formset.management_form.TOTAL_FORMS.auto_id }}").val();
        var initial_forms = $("#{{ formset.management_form.INITIAL_FORMS.auto_id }}").val();
        var ca_id = $($(this).siblings()[1]).val();
        if(ca_id){
            initial_forms--;
        }
        $(this).parent().remove();
        total_forms--;
        $("#{{ formset.management_form.TOTAL_FORMS.auto_id }}").val(total_forms);
        $("#{{ formset.management_form.INITIAL_FORMS.auto_id }}").val(initial_forms);*/
    });
    
});    
</script>

{% endblock %}
