{% extends "sa_base.html" %}
{% load i18n %}

{% block title %}
{% if pk %}
{% trans "Edit a brand" %}
{% else %}
{% trans "Add a new brand" %}
{% endif %}
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
    <link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/admin_brand.css">
{% endblock %}

{% block navigation %}
    {% include "sa_quick_nav.html" %}
{% endblock %}

{% block content %}
<!--content-left-->
<div id="content_Left">

    <!--Title-->
    <div id="title">
        <span>{% trans "Corporate accounts" %}</span>
        <h2>{% trans "Corporate accounts" %}</h2>
    </div>

    <!--FORM-->
    {% if pk %}
    <form id="main_form" method="post" action="{% url 'sa_edit_brand' pk %}" enctype="multipart/form-data">{% csrf_token %}
    {% else %}
    <form id="main_form" method="post" action="{% url 'sa_brands' %}" enctype="multipart/form-data">{% csrf_token %}
    {% endif %}
    {% if pk %}
        <h3>{% trans "Edit a brand" %}</h3>
    {% else %}
        <h3>{% trans "Add a new brand" %}</h3>
    {% endif %}

        <fieldset>
            {{ form.name.errors }}
            <div class="formrow">
                <label for="{{form.name.auto_id}}">{% trans form.name.label %}</label>
                {{ form.name }}
            </div>
            {{ form.logo.errors }}
            <div class="formrow">
                <label for="{{form.logo.auto_id}}">{% trans form.logo.label %}</label>
                {{ form.logo }}
            </div>
            {{ form.address.errors }}
            <div class="formrow">
                <label for="{{form.address.auto_id}}">{% trans form.address.label %}</label>
                {{ form.address }}
            </div>
            {{ form.zipcode.errors }}
            <div class="formrow">
                <label for="{{form.zipcode.auto_id}}">{% trans form.zipcode.label %}</label>
                {{ form.zipcode }}
            </div>
            {{ form.city.errors }}
            <div class="formrow">
                <label for="{{form.city.auto_id}}">{% trans form.city.label %}</label>
                {{ form.city }}
            </div>
            {{ form.country.errors }}
            <div class="formrow">
                <label for="{{form.country.auto_id}}">{% trans form.country.label %}</label>
                {{ form.country }}
            </div>
            {{ form.province_code.errors }}
            <div class="formrow">
                <label for="{{form.province_code.auto_id}}">{% trans form.province_code.label %}</label>
                {{ form.province_code }}
                <select id="province_selector" name="province_selector">
                    <option value="">{% trans "Please selec a province" %}</option>
                </select>
            </div>
            {{ form.business_reg_num.errors }}
            <div class="formrow">
                <label for="{{form.business_reg_num.auto_id}}">{% trans form.business_reg_num.label %}</label>
                {{ form.business_reg_num}}
            </div>
            {{ form.tax_reg_num.errors }}
            <div class="formrow">
                <label for="{{form.tax_reg_num.auto_id}}">{% trans form.tax_reg_num.label %}</label>
                {{ form.tax_reg_num}}
            </div>
        </fieldset>
        <!--BOUTONS-->
        <input class="btn valider" type="submit" value='{% trans "Save" %}'/>
        <button type="reset" class="btn annuler">{% trans "Cancel" %}</button>
    </form>
    <!--FIN FORM-->
</div>
<!--FIN content-left-->

<!--content-right-->
<div id="content_Right">
    <!--Liste-Brands-->
    <h4 class="titleRight">{% trans "Brands list" %}</h4>
    <div class="boxRight listeRight" id="listeBrand">
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <th class="nom on"><a href="#">{% trans "Name" %}</a></th>
                <th class="action"><a href="#">{% trans "Actions" %}</a></th>
            </tr>
            {% for brand in page.object_list %}
            <tr id="brand_{{ brand.pk }}"><!-- class=new -->
                <td><a href="{% url 'sa_edit_brand' brand.pk %}">{{ brand.name }}</a></td>
                <td><a class="modif" href="{% url 'sa_edit_brand' brand.pk %}">{% trans "Edit" %}</a><a class="out delete_brand" href="{% url 'sa_delete_brand' brand.pk %}">{% trans "Delete" %}</a></td>
            </tr>
            {% empty %}
            <tr class="noshop">
                <td colspan="2">{% trans "The brands list is empty." %}</td>
            </tr>
            {% endfor %}
        </table>
        {% if page.paginator.num_pages > 1%}
        <div class="pag_nav">
            <span class="page_info">
                {% blocktrans with number=page.number num_pages=page.paginator.num_pages %}
                Page <input type="text" value="{{ number }}" id="page_num"> of {{ num_pages }} pages.
                {% endblocktrans %}
            </span>
            <span class="page_size">
                {% trans '(' %}
                <select id="page_size" name="page_size">
                {% for page_size in choice_page_size %}
                    <option value="{{ page_size }}" {% if current_page_size == page_size %}selected="selected"{% endif %}>{{ page_size }}</option>
                {% endfor %}
                </select>
                {% trans ' elements/page )' %}
            </span>
            <div class="page_ico">
                <a href="1" class="pagination prev2">|<</a>
                <a href="{{ prev_10 }}" class="pagination prev1"><</a>
                {% for page_num in page_nav %}
                {% if page.number != page_num %}<a href="{{ page_num }}" class="pagination">{{ page_num }}</a>
                {% else %}<span class="pagination current">{{ page_num }}</span>{% endif %}
                {% endfor %}
                <a href="{{ next_10 }}" class="pagination next1">></a>
                <a href="{{ page.paginator.num_pages }}" class="pagination next2">>|</a>
            </div>
        </div>
        {% endif %}
    </div>
    <!--//Liste-Brand-->
    <a class="btn ajouter" href="{% url 'sa_brands' %}">{% trans "Add a new brand" %}</a>
</div>
<!--FIN content-right-->
<div class="clear"></div>
{% endblock %}

{% block javascript %}

<script type="text/javascript">
function loadStates(selected_state) {
    if (selected_state) {
        $("#{{ form.province_code.auto_id }}").val(selected_state);
    } else {
        $("#{{ form.province_code.auto_id }}").val("");
        $("#province_selector").val("");
    }
    var country_id = $("#{{ form.country.auto_id }}").val();

    var empty_label = $("<option>", {value: "", text: '{% trans "Please select a province" %}'});
    var province_selector = $("#province_selector");
    if (country_id) {
        $.ajax({
            type: "GET",
            url: "/countries/get_states/" + country_id,
            dataType: "json",
            success: function(states, textState) {
                province_selector.empty();
                province_selector.append(empty_label);
                $.each(states, function(i, option) {
                    $('#province_selector').append(
                            $("<option>", {value: option.value, text: option.label}));
                });
                if (selected_state) {
                    $("#province_selector").val(selected_state);
                } else {
                    $("#province_selector").val("");
                }
            },
            error: function(err) {
                province_selector.empty();
                province_selector.append(empty_label);
            }
        })
    } else  {
        province_selector.empty();
        province_selector.append(empty_label);
    }
}

function stateChange() {
    var province_code = $("#province_selector").val();
    $("#{{ form.province_code.auto_id }}").val(province_code);
}

function countryChange() {
    loadStates();
}

$(document).ready(function(){
    $(".delete_brand").click(function() {
            if(confirm('{% trans "Are your sure you want to delete this brand?" %}')) {
                $.post(this.href, function(data){
                    $("#brand_"+data.brand_pk).remove();
                    if(data.brand_pk == "{% firstof pk "0" %}") {
                        location.replace("{% url 'sa_brands' %}");
                    }
                });
            }
            return false;
    });
    //set page size
    $("#page_size").change(function(event){
        location.href = location.pathname+'?page_size='+$(this).val();
    });
    //go specific page by input
    $("#page_num").keypress(function(event){
        if(event.which == 13){ //'enter' key
            var page_num = $(this).val();
            if(!isNaN(page_num)&&parseInt(page_num)==page_num)
                location.href = page_num;
            else
                alert("{% trans "Please enter a valid page number." %}");
        }
    });
    $("#{{ form.country.auto_id }}").change(countryChange);
    $("#province_selector").change(stateChange);
    loadStates($("#{{ form.province_code.auto_id }}").val());
});

</script>

{% endblock %}
