{% extends "sa_base.html" %}
{% load i18n %}

{% block title %}
{% if pk %}
{% trans "Edit a slide" %}
{% else %}
{% trans "Add a new slide" %}
{% endif %}
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
	<link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/admin_branding.css">
{% endblock %}

{% block navigation %}
    {% include "sa_quick_nav.html" %}
{% endblock %}

{% block content %}
<!--content-left-->
<div id="content_Left">

    <!--Title-->
    <div id="title">
        <span>{% trans "Frontpage" %}</span>
        <h2>{% trans "Frontpage" %}</h2>
    </div>

    <!--FORM-->
    {% if pk %}
    <form id="main_form" method="post" action="{% url 'sa_edit_branding' pk %}" enctype="multipart/form-data">{% csrf_token %}
    {% else %}
    <form id="main_form" method="post" action="{% url 'sa_brandings' %}" enctype="multipart/form-data">{% csrf_token %}
    {% endif %}
    {% if pk %}
        <h3>{% trans "Edit a slide" %}</h3>
    {% else %}
        <h3>{% trans "Add a new slide" %}</h3>
    {% endif %}

        <fieldset>
            {{ form.name.errors }}
            <div class="formrow">
                <label for="{{form.name.auto_id}}">{% trans form.name.label %}</label>
                {{ form.name }}
            </div>
            {{ form.sort_key.errors }}
            <div class="formrow">
                <label for="{{form.sort_key.auto_id}}">{% trans form.sort_key.label %}</label>
                {{ form.sort_key }}
            </div>
            {{ form.img.errors }}
            <div class="formrow">
                <label for="{{form.img.auto_id}}">{% trans form.img.label %}</label>
                {{ form.img }}
            </div>
            {{ form.landing_url.errors }}
            <div class="formrow">
                <label for="{{form.landing_url.auto_id}}">{% trans form.landing_url.label %}</label>
                {{ form.landing_url }}
            </div>
            {{ form.show_from.errors }}
            <div class="formrow">
                <label for="{{form.show_from.auto_id}}">{% trans form.show_from.label %}</label>
                {{ form.show_from }}
            </div>
            {{ form.show_until.errors }}
            <div class="formrow">
                <label for="{{form.show_until.auto_id}}">{% trans form.show_until.label %}</label>
                {{ form.show_until }}
            </div>
        </fieldset>
        <!--BOUTONS-->
        <input class="btn valider" type="submit" value='{% trans "Save" %}'/>
        <button type="reset" class="btn annuler">{% trans "Cancel" %}</button>
    </form>
    <!--FIN FORM-->
</div>
<!--FIN content-left-->

<!--content-right-->
<div id="content_Right">
    <!--Liste-Brandings-->
    <h4 class="titleRight">{% trans "Slides" %}</h4>
    <div class="boxRight listeRight" id="listeBranding">
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <th class="nom on"><a href="#">{% trans "Name" %}</a></th>
                <th>{% trans "Picture" %}</th>
                <th>{% trans "Key" %}</th>
                <th class="action"><a href="#">{% trans "Actions" %}</a></th>
            </tr>
            {% for branding in page.object_list %}
            <tr id="branding_{{ branding.pk }}"><!-- class=new -->
                <td><a href="{% url 'sa_edit_branding' branding.pk %}">{{ branding.name }}</a></td>
                <td>{{ branding.img }}</td>
                <td>{{ branding.sort_key }}</td>
                <td><a class="modif" href="{% url 'sa_edit_branding' branding.pk %}">{% trans "Edit" %}</a><a class="out delete_branding" href="{% url 'sa_delete_branding' branding.pk %}">{% trans "Delete" %}</a></td>
            </tr>
            {% empty %}
            <tr class="noshop">
                <td colspan="4">{% trans "The slides list is empty." %}</td>
            </tr>
            {% endfor %}
        </table>
        {% if page.paginator.num_pages > 1%}
        <div class="pag_nav">
            <span class="page_info">
                {% blocktrans with number=page.number num_pages=page.paginator.num_pages %}
                Page <input type="text" value="{{ number }}" id="page_num"> of {{ num_pages }} pages.
                {% endblocktrans %}
            </span>
            <span class="page_size">
                {% trans '(' %}
                <select id="page_size" name="page_size">
                {% for page_size in choice_page_size %}
                    <option value="{{ page_size }}" {% if current_page_size == page_size %}selected="selected"{% endif %}>{{ page_size }}</option>
                {% endfor %}
                </select>
                {% trans ' elements/page )' %}
            </span>
            <div class="page_ico">
                <a href="1" class="pagination prev2">|<</a>
                <a href="{{ prev_10 }}" class="pagination prev1"><</a>
                {% for page_num in page_nav %}
                {% if page.number != page_num %}<a href="{{ page_num }}" class="pagination">{{ page_num }}</a>
				{% else %}<span class="pagination current">{{ page_num }}</span>{% endif %}
                {% endfor %}
                <a href="{{ next_10 }}" class="pagination next1">></a>
                <a href="{{ page.paginator.num_pages }}" class="pagination next2">>|</a>
            </div>
        </div>
        {% endif %}
    </div>
    <!--//Liste-Branding-->
    <a class="btn ajouter" href="{% url 'sa_brandings' %}">{% trans "Add a new slide" %}</a>
</div>
<!--FIN content-right-->
<div class="clear"></div>
{% endblock %}

{% block javascript %}

<script type="text/javascript">
$(document).ready(function(){
    $(".delete_branding").click(function() {
            if(confirm('{% trans "Are your sure you want to delete this slide?" %}')) {
                $.post(this.href, function(data){
                    $("#branding_"+data.branding_pk).remove();
                    if(data.branding_pk == "{% firstof pk "0" %}") {
                        location.replace("{% url 'sa_brandings' %}");
                    }
                });
            }
            return false;
    });
    //set page size
    $("#page_size").change(function(event){
        location.href = location.pathname+'?page_size='+$(this).val();
    });

    //go specific page by input
    $("#page_num").keypress(function(event){
        if(event.which == 13){ //'enter' key
            var page_num = $(this).val();
            if(!isNaN(page_num)&&parseInt(page_num)==page_num)
                location.href = page_num;
            else
                alert("{% trans "Please enter a valid page number." %}");
        }
    });
});
</script>

{% endblock %}
