{% extends "sa_base.html" %}
{% load i18n %}

{% block title %}
{% if pk %}
{% trans "Edit a sales category" %}
{% else %}
{% trans "Add a new sales category" %}
{% endif %}
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
    <link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/admin_category.css">
{% endblock %}

{% block navigation %}
    {% include "sa_quick_nav.html" %}
{% endblock %}

{% block content %}
<!--content-left-->
<div id="content_Left">

    <!--Title-->
    <div id="title">
        <span>{% trans "Sales categories" %}</span>
        <h2>{% trans "Sales categories" %}</h2>
    </div>

    <!--FORM-->
    {% if pk %}
    <form id="main_form" method="post" action="{% url 'sa_edit_category' pk %}" enctype="multipart/form-data">{% csrf_token %}
    {% else %}
    <form id="main_form" method="post" action="{% url 'sa_categories' %}" enctype="multipart/form-data">{% csrf_token %}
    {% endif %}
    {% if pk %}
        <h3>{% trans "Edit a sales category" %}</h3>
    {% else %}
        <h3>{% trans "Add a new sales category" %}</h3>
    {% endif %}

        <fieldset>
            {% if not form.instance.valid %}
                <p class="uneditable-msg">
                    {% trans "This sales category is invalid and not editable." %}
                    {% trans "Admin user want to delete it but some old sales are still using it." %}
                </p>
            {% endif %}
            {{ form.name.errors }}
            <div class="formrow">
                <label for="{{form.name.auto_id}}">{% trans form.name.label %}</label>
                {{ form.name }}
            </div>
            <div class="formrow">
                <label for="{{form.thumbnail.auto_id}}">{% trans form.thumbnail.label %}</label>
                {{ form.thumbnail }}
            </div>
            <div class="formrow">
                <label for="{{form.picture.auto_id}}">{% trans form.picture.label %}</label>
                {{ form.picture }}
            </div>
        </fieldset>
        <!--BOUTONS-->
        {% if form.instance.valid %}
        <input class="btn valider" type="submit" value='{% trans "Save" %}'/>
        {% endif %}
        <button type="reset" class="btn annuler">{% trans "Cancel" %}</button>
    </form>
    <!--FIN FORM-->
</div>
<!--FIN content-left-->

<!--content-right-->
<div id="content_Right">
    <!--Liste-Categories-->
    <h4 class="titleRight">{% trans "Sales categories" %}</h4>
    <div class="boxRight listeRight" id="listeCategory">
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <th class="nom on"><a href="#">{% trans "Name" %}</a></th>
                <th class="action"><a href="#">{% trans "Actions" %}</a></th>
            </tr>
            {% for category in page.object_list %}
            <tr id="category_{{ category.pk }}"><!-- class=new -->
                <td><a class="category_name" href="{% url 'sa_edit_category' category.pk %}">{{ category.name }}{% if not category.valid %} ({% trans "invalid" %}){% endif %}</a></td>
                <td><a class="modif" href="{% url 'sa_edit_category' category.pk %}">{% trans "Edit" %}</a><a class="out delete_category" href="{% url 'sa_delete_category' category.pk %}">{% trans "Delete" %}</a></td>
            </tr>
            {% empty %}
            <tr class="noshop">
                <td colspan="2">{% trans "The sales categories list is empty." %}</td>
            </tr>
            {% endfor %}
        </table>
        {% if page.paginator.num_pages > 1%}
        <div class="pag_nav">
            <span class="page_info">
                {% blocktrans with number=page.number num_pages=page.paginator.num_pages %}
                Page <input type="text" value="{{ number }}" id="page_num"> of {{ num_pages }} pages.
                {% endblocktrans %}
            </span>
            <span class="page_size">
                {% trans '(' %}
                <select id="page_size" name="page_size">
                {% for page_size in choice_page_size %}
                    <option value="{{ page_size }}" {% if current_page_size == page_size %}selected="selected"{% endif %}>{{ page_size }}</option>
                {% endfor %}
                </select>
                {% trans ' elements/page )' %}
            </span>
            <div class="page_ico">
                <a href="1" class="pagination prev2">|<</a>
                <a href="{{ prev_10 }}" class="pagination prev1"><</a>
                {% for page_num in page_nav %}
                {% if page.number != page_num %}
                <a href="{{ page_num }}" class="pagination">{{ page_num }}</a>
                {% else %}<span class="pagination current">{{ page_num }}</span>{% endif %}
                {% endfor %}
                <a href="{{ next_10 }}" class="pagination next1">></a>
                <a href="{{ page.paginator.num_pages }}" class="pagination next2">>|</a>
            </div>
        </div>
        {% endif %}
    </div>
    <!--//Liste-Category-->
    <a class="btn ajouter" href="{% url 'sa_categories' %}">{% trans "Add a new sales category" %}</a>
</div>
<!--FIN content-right-->
<div class="clear"></div>
{% endblock %}

{% block javascript %}

<script type="text/javascript">
$(document).ready(function(){
    $(".delete_category").click(function() {
            if(confirm('{% trans "Are your sure you want to delete this sales category?" %}')) {
                $.post(this.href, function(data){
                    if (data.reprieve) {
                        $("#category_"+data.category_pk).find(".category_name").text(data.name + ' (invalid)');
                        alert("{% trans "Set the category to be invalid but not deleted because some sales are using it." %}");
                    } else {
                        $("#category_"+data.category_pk).remove();
                        if(data.category_pk == "{% firstof pk "0" %}") {
                            location.replace("{% url 'sa_categories' %}");
                        }
                    }
                });
            }
            return false;
    });
    //set page size
    $("#page_size").change(function(event){
        location.href = location.pathname+'?page_size='+$(this).val();
    });

     //go specific page by input
    $("#page_num").keypress(function(event){
        if(event.which == 13){ //'enter' key
            var page_num = $(this).val();
            if(!isNaN(page_num)&&parseInt(page_num)==page_num)
                location.href = page_num;
            else
                alert("{% trans "Please enter a valid page number." %}");
        }
    });
});
</script>

{% endblock %}
