{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans 'Settings' %}
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
	<link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/admin_main.css">
	<link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/admin_settings.css">
{% endblock %}

{% block navigation %}
{% include "_quick_nav.html" %}
{% endblock %}

{% block content %}
<!--content-left-->
<div id="content_Left">

    <!--Title-->
    <div id="title">
        <span>{% trans "Settings" %}</span>
        <h2>{% trans "Settings" %}</h2>
    </div>

    <!--FORM-->
    <form id="main_form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <h3>{% trans "Settings" %}</h3>
        
        <fieldset>
		
			<p>{% trans "usage1: to change settings, set the setting values and input current password then save." %}</p>
			<p>{% trans "usage2: to change current super admin username/email, set them and input current password then save." %}</p>
			<p>{% trans "usage3: to change current super admin password, set new password and confirm new password (these two should be same) and and input current password then save." %}</p>
			<p>{% trans "you can perform more than one of above usages together." %}<br /><br /></p>
			
            {{ form.default_language.errors }}
            <div class="formrow">
                <label for="{{form.default_language.auto_id}}">{% trans form.default_language.label %}</label>
                {{ form.default_language }}
            </div>
            {{ form.default_currency.errors }}
            <div class="formrow">
                <label for="{{ form.default_currency.auto_id }}">{% trans form.default_currency.label %}</label>
                {{ form.default_currency }}
            </div>
            <hr />
            {{ form.password.errors }}
            <div class="formrow">
                <label for="{{ form.password.auto_id }}">{% trans form.password.label %}</label>
                {{ form.password }}
            </div>
            <hr />
            {{ form.username.errors }}
            <div class="formrow">
                <label for="{{ form.username.auto_id }}">{% trans form.username.label %}</label>
                {{ form.username }}
            </div>
            {{ form.email.errors }}
            <div class="formrow">
                <label for="{{ form.email.auto_id }}">{% trans form.email.label %}</label>
                {{ form.email }}
            </div>
            {{ form.new_password1.errors }}
            <div class="formrow">
                <label for="{{ form.new_password1.auto_id }}">{% trans form.new_password1.label %}</label>
                {{ form.new_password1 }}
            </div>
            {{ form.new_password2.errors }}
            <div class="formrow">
                <label for="{{ form.new_password2.auto_id }}">{% trans form.new_password2.label %}</label>
                {{ form.new_password2 }}
            </div>
        </fieldset>
        <!--BOUTONS-->
        <input class="btn valider" type="submit" value='{% trans "Save" %}'/>
        <button type="reset" class="btn annuler">{% trans "Cancel" %}</button>
    </form>
    <!--FIN FORM-->
</div>
<!--FIN content-left-->

<!--content-right-->

<!--FIN content-right-->
<div class="clear"></div>
{% endblock %}

{% block javascript %}

<script type="text/javascript">
$(document).ready(function(){
    
});    
</script>

{% endblock %}
