/*------------------------------*/
/*  Ajouter une nouvelle vente  */
/*------------------------------*/

#menu_ico li a.link4 { background-color: #565656; }
#title span { background-position: 0 -75px; }

/*------------------------------------------------------ */
/*                       content-left                    */
/*------------------------------------------------------ */

/*---------- FORM CSS Generales ----------*/
#main_form { position: relative; }
	#main_form h3 {
		display: block;
		position: absolute;
		top: 2px;
		left: 2px;
		width: 491px;
		height: 22px;
		line-height: 22px;
		padding-left: 5px;
		background-color: #000;
		color: #fff;
	}
	#main_form h3 span { float: right; margin-right: 5px; color: #fff; }

	#main_form fieldset {
		padding: 40px 20px 20px 20px;
		background-color: #fff;
		border: 1px solid #c8c8c8;
	}

	#main_form .formrow { min-height: 22px; margin-bottom: 10px; }
	#main_form .formrow.p_vide { height: 0; min-height: 0; margin: 0; }
	#main_form .formrow.marge { margin-bottom: 30px; }
	#main_form .formrow:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}

	#main_form .formrow label,
	#main_form .formrow input,
	#main_form .formrow select,
	#main_form .formrow textarea,
	#main_form .formrow span,
	#main_form .contForm{
		display: block;
		float: left;
	}

	#main_form .formrow span { height: 22px; line-height: 22px; margin: 0 5px; }

	#main_form .formrow label { width: 145px; }
	#main_form .formrow select { width: 130px; }
	#main_form .formrow textarea,
	#main_form .formrow input { width: 271px; }
	#main_form .formrow .inputXS { width: 40px; }
	#main_form .formrow .inputS { width: 70px; }
	#main_form .formrow .inputM { width: 180px; }
	#main_form .formrow .selectS { width: 70px; }
	#main_form .formrow .selectL { width: 190px; }
	#main_form .formrow .selectXL { width: 260px; }

	#main_form .formrow select.dubble { width: 95px; }
	#main_form .formrow #plus {
		background: url(../img/icon.png) no-repeat 0 -275px;
		display: block;
		float: left;
		height: 19px;
		margin: 1px 0 0 10px;
		overflow: hidden;
		text-indent: -1500px;
		width: 19px;
	}

	#main_form .contForm,
	#main_form .formrow .contForm{
		width: 300px;
		height: auto;
		line-height: auto;
		margin: auto;
	}

	#main_form .contForm.checkbox input{
		width: auto;
		margin: 1px 15px 0 -25px;
		border: none 0;
	}
	#main_form .contForm.checkbox label{
		width: 85px;
		height: 20px;
		line-height: 20px;
		margin: 2 0 0 0;
		padding: 0 35px 0 5px;
		border: 1px solid #eee;
		background: none;
		background-color: #f8f8f8;
	}
	#main_form .contForm.checkbox.auto label{ width: auto; }

	#main_form .inactif { background-color: #d9d9d9; }

	#main_form .raw {
		width: 8px;
		overflow: hidden;
		text-indent: -1500px;
		background: url(../../../documentations/back-office_BTS_06_24/img/icon.png) no-repeat -10px -252px;
	}

	#main_form .btn { float: right; margin: 5px 0 0 5px; }


	/*---------- FORM CSS PAGE 1 ----------*/
	
	/*--- Localisation ---*/
	#main_form #localization {
		height: 250px;
		margin-bottom: 30px;
		padding-right: 20px;
	}
	#main_form #localization #googleMap {
		width: 280px; height: 250px;
		float: right; border: 1px solid #BABABA;
	}
	
	
	/*--- Coloris ---*/
	#main_form #coloris span{ margin: 5px 5px 0 2px; }
	#main_form #coloris label {
		background: none;
		padding: 0;
		width: 68px;
		clear: left;
	}
	#main_form #coloris label {  margin: 5px 5px 0 0; }
	#main_form #coloris input {  margin: 5px 2px 0 0; }





/*------------------------------------------------------ */
/*                       content-right                   */
/*------------------------------------------------------ */

.titleRight {
	width: 388px;
	height: 27px;
    line-height: 27px;
	margin: 0 0 7px 0;
	padding: 0 5px 0 7px;
    background: url(../img/pix_title.gif) repeat-x 0 0 #FFFFFF;
}
.boxRight {
	width: 398px;
	margin: 0 0 30px 0;
	background-color: #fff;
	border: 1px solid #c4c4c4;
}




/*------------------- Liste Boutique -------------------*/
#listeShop {
	max-height: 600px;
	overflow: auto;
	margin-bottom: 10px;
}


/*--Table--*/
#listeShop table { margin: 20px; }
#listeShop table tr {
	height: 28px;
	line-height: 28px;
	background-color: #F7F7F7;
}
#listeShop table tr.new { background: url(../img/back_flag.png) repeat-x 0 -1px; }
#listeShop table tr.noshop td { text-align: center; font-weight: bold; }


#listeShop table tr th { background-color: #fff; }
#listeShop table tr td,
#listeShop table tr th {
	text-align: left;
	padding: 0 5px;
	font-size: 11px;
	border-bottom: 1px solid #dbdbdb;
}


#listeShop table tr th.nom { width: 180px; }
#listeShop table tr th.ville { width: 100px; }
#listeShop table tr th.action { width: 58px; text-align: right; }
#listeShop table tr th.action a { margin-right: 0; padding-right: 0; }


#listeShop table tr th a {
	display: block;
	height: 25px;
	line-height: 25px;
	margin-right: 10px;
	padding: 0 15px 0 0;
	font-size: 11px;
}
	#listeShop table tr th.on a { background: url(../img/trie_on-off.gif) no-repeat 45px 1px; }
	#listeShop table tr th.off a { background: url(../img/trie_on-off.gif) no-repeat 45px -24px; }

#listeShop table tr td a {
	display: block;
	width: 118px;
	height: 28px;
	line-height: 28px;
	overflow: hidden;
	font-size: 11px;
	font-weight: bold;
}
	#listeShop table tr td a:hover { text-decoration: underline; }

#listeShop table tr td .out{
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	background: url(../img/out.gif) no-repeat 0 0;
}
	#listeShop table tr td .out:hover{ background-position: 0 -16px; }

#listeShop table tr td .modif {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin:  0 5px 0 20px;
	background: url(../img/modif.gif) no-repeat 0 0;
}
	#listeShop table tr td .modif:hover{ background-position: 0 -16px; }



/*--BTN--*/
#content_Right .btn.ajouter { float: right; }



/*------------------------*/
/*    PAGINATION RIGHT    */
/*------------------------*/

.pag_nav {
	height: 30px;
	margin: 10px 20px;
	background-color: #F2F9FF;
	border: 1px solid #E1E6EA;
}
.page_info{ 
	display: block; float: left;
	height: 30px; line-height: 30px;
	padding: 0 10px 0 5px;
	font-weight: bold;
}
.page_size{ 
	display: block; float: left;
	width: 58px;
	margin: 5px; 
}
.page_size select { width: 55px; padding: 0 0 0 2px; }

.page_ico{ 
	display: block; float: right;
	width: 120px; height: 30px;
}

.pagination { 
	display: block; float: left;
	width: 20px; height: 20px;
	text-align: center; line-height: 18px;
	margin: 5px 3px 0 0;
	background-color: #8AAECB;
	color: #fff; font-weight: bold;  
} 
.pagination:hover, .pagination:focus { background-color: #B1CEE7; } 


