/*------------------------------*/
/*  Ajouter une nouvelle vente  */
/*------------------------------*/

#menu_ico li a.link6 { background-color: #565656; }
#title span { background-position: 0 -500px; }

/*------------------------------------------------------ */
/*                       content-left                    */
/*------------------------------------------------------ */

#main_form p { margin: 0 0 15px 0; }
#main_form hr {
	border: 0 none;
    border-top: 1px dotted #AAA;
    margin: 18px 0;
}









