.ma {background: url(../img/flag/ma.gif) no-repeat 0 0;}
.bf {background: url(../img/flag/bf.gif) no-repeat 0 0;}
.gd {background: url(../img/flag/gd.gif) no-repeat 0 0;}
.ad {background: url(../img/flag/ad.gif) no-repeat 0 0;}
.co {background: url(../img/flag/co.gif) no-repeat 0 0;}
.ca {background: url(../img/flag/ca.gif) no-repeat 0 0;}
.ms {background: url(../img/flag/ms.gif) no-repeat 0 0;}
.ph {background: url(../img/flag/ph.gif) no-repeat 0 0;}
.lr {background: url(../img/flag/lr.gif) no-repeat 0 0;}
.fj {background: url(../img/flag/fj.gif) no-repeat 0 0;}
.sl {background: url(../img/flag/sl.gif) no-repeat 0 0;}
.za {background: url(../img/flag/za.gif) no-repeat 0 0;}
.gt {background: url(../img/flag/gt.gif) no-repeat 0 0;}
.so {background: url(../img/flag/so.gif) no-repeat 0 0;}
.pr {background: url(../img/flag/pr.gif) no-repeat 0 0;}
.se {background: url(../img/flag/se.gif) no-repeat 0 0;}
.kp {background: url(../img/flag/kp.gif) no-repeat 0 0;}
.ck {background: url(../img/flag/ck.gif) no-repeat 0 0;}
.kr {background: url(../img/flag/kr.gif) no-repeat 0 0;}
.yt {background: url(../img/flag/yt.gif) no-repeat 0 0;}
.sc {background: url(../img/flag/sc.gif) no-repeat 0 0;}
.lv {background: url(../img/flag/lv.gif) no-repeat 0 0;}
.um {background: url(../img/flag/um.gif) no-repeat 0 0;}
.gy {background: url(../img/flag/gy.gif) no-repeat 0 0;}
.om {background: url(../img/flag/om.gif) no-repeat 0 0;}
.gu {background: url(../img/flag/gu.gif) no-repeat 0 0;}
.aw {background: url(../img/flag/aw.gif) no-repeat 0 0;}
.nc {background: url(../img/flag/nc.gif) no-repeat 0 0;}
.ae {background: url(../img/flag/ae.gif) no-repeat 0 0;}
.dm {background: url(../img/flag/dm.gif) no-repeat 0 0;}
.nu {background: url(../img/flag/nu.gif) no-repeat 0 0;}
.ax {background: url(../img/flag/ax.gif) no-repeat 0 0;}
.ru {background: url(../img/flag/ru.gif) no-repeat 0 0;}
.ci {background: url(../img/flag/ci.gif) no-repeat 0 0;}
.mg {background: url(../img/flag/mg.gif) no-repeat 0 0;}
.az {background: url(../img/flag/az.gif) no-repeat 0 0;}
.bb {background: url(../img/flag/bb.gif) no-repeat 0 0;}
.bh {background: url(../img/flag/bh.gif) no-repeat 0 0;}
.bz {background: url(../img/flag/bz.gif) no-repeat 0 0;}
.cf {background: url(../img/flag/cf.gif) no-repeat 0 0;}
.id {background: url(../img/flag/id.gif) no-repeat 0 0;}
.cn {background: url(../img/flag/cn.gif) no-repeat 0 0;}
.cx {background: url(../img/flag/cx.gif) no-repeat 0 0;}
.zm {background: url(../img/flag/zm.gif) no-repeat 0 0;}
.uy {background: url(../img/flag/uy.gif) no-repeat 0 0;}
.cg {background: url(../img/flag/cg.gif) no-repeat 0 0;}
.re {background: url(../img/flag/re.gif) no-repeat 0 0;}
.no {background: url(../img/flag/no.gif) no-repeat 0 0;}
.md {background: url(../img/flag/md.gif) no-repeat 0 0;}
.gr {background: url(../img/flag/gr.gif) no-repeat 0 0;}
.ag {background: url(../img/flag/ag.gif) no-repeat 0 0;}
.tk {background: url(../img/flag/tk.gif) no-repeat 0 0;}
.ml {background: url(../img/flag/ml.gif) no-repeat 0 0;}
.py {background: url(../img/flag/py.gif) no-repeat 0 0;}
.ps {background: url(../img/flag/ps.gif) no-repeat 0 0;}
.hn {background: url(../img/flag/hn.gif) no-repeat 0 0;}
.tl {background: url(../img/flag/tl.gif) no-repeat 0 0;}
.ly {background: url(../img/flag/ly.gif) no-repeat 0 0;}
.cv {background: url(../img/flag/cv.gif) no-repeat 0 0;}
.fr {background: url(../img/flag/fr.gif) no-repeat 0 0;}
.mz {background: url(../img/flag/mz.gif) no-repeat 0 0;}
.tt {background: url(../img/flag/tt.gif) no-repeat 0 0;}
.nz {background: url(../img/flag/nz.gif) no-repeat 0 0;}
.dj {background: url(../img/flag/dj.gif) no-repeat 0 0;}
.eh {background: url(../img/flag/eh.gif) no-repeat 0 0;}
.tj {background: url(../img/flag/tj.gif) no-repeat 0 0;}
.gs {background: url(../img/flag/gs.gif) no-repeat 0 0;}
.mh {background: url(../img/flag/mh.gif) no-repeat 0 0;}
.st {background: url(../img/flag/st.gif) no-repeat 0 0;}
.my {background: url(../img/flag/my.gif) no-repeat 0 0;}
.scotland {background: url(../img/flag/scotland.gif) no-repeat 0 0;}
.ng {background: url(../img/flag/ng.gif) no-repeat 0 0;}
.cd {background: url(../img/flag/cd.gif) no-repeat 0 0;}
.kh {background: url(../img/flag/kh.gif) no-repeat 0 0;}
.cr {background: url(../img/flag/cr.gif) no-repeat 0 0;}
.mk {background: url(../img/flag/mk.gif) no-repeat 0 0;}
.cs {background: url(../img/flag/cs.gif) no-repeat 0 0;}
.pg {background: url(../img/flag/pg.gif) no-repeat 0 0;}
.au {background: url(../img/flag/au.gif) no-repeat 0 0;}
.tr {background: url(../img/flag/tr.gif) no-repeat 0 0;}
.vi {background: url(../img/flag/vi.gif) no-repeat 0 0;}
.lk {background: url(../img/flag/lk.gif) no-repeat 0 0;}
.de {background: url(../img/flag/de.gif) no-repeat 0 0;}
.ls {background: url(../img/flag/ls.gif) no-repeat 0 0;}
.ke {background: url(../img/flag/ke.gif) no-repeat 0 0;}
.rw {background: url(../img/flag/rw.gif) no-repeat 0 0;}
.ar {background: url(../img/flag/ar.gif) no-repeat 0 0;}
.tc {background: url(../img/flag/tc.gif) no-repeat 0 0;}
.nf {background: url(../img/flag/nf.gif) no-repeat 0 0;}
.bm {background: url(../img/flag/bm.gif) no-repeat 0 0;}
.va {background: url(../img/flag/va.gif) no-repeat 0 0;}
.cu {background: url(../img/flag/cu.gif) no-repeat 0 0;}
.bi {background: url(../img/flag/bi.gif) no-repeat 0 0;}
.europeanunion {background: url(../img/flag/europeanunion.gif) no-repeat 0 0;}
.ie {background: url(../img/flag/ie.gif) no-repeat 0 0;}
.pw {background: url(../img/flag/pw.gif) no-repeat 0 0;}
.np {background: url(../img/flag/np.gif) no-repeat 0 0;}
.catalonia {background: url(../img/flag/catalonia.gif) no-repeat 0 0;}
.er {background: url(../img/flag/er.gif) no-repeat 0 0;}
.tv {background: url(../img/flag/tv.gif) no-repeat 0 0;}
.ws {background: url(../img/flag/ws.gif) no-repeat 0 0;}
.pe {background: url(../img/flag/pe.gif) no-repeat 0 0;}
.qa {background: url(../img/flag/qa.gif) no-repeat 0 0;}
.ve {background: url(../img/flag/ve.gif) no-repeat 0 0;}
.jm {background: url(../img/flag/jm.gif) no-repeat 0 0;}
.sj {background: url(../img/flag/sj.gif) no-repeat 0 0;}
.mr {background: url(../img/flag/mr.gif) no-repeat 0 0;}
.km {background: url(../img/flag/km.gif) no-repeat 0 0;}
.ua {background: url(../img/flag/ua.gif) no-repeat 0 0;}
.ee {background: url(../img/flag/ee.gif) no-repeat 0 0;}
.eg {background: url(../img/flag/eg.gif) no-repeat 0 0;}
.et {background: url(../img/flag/et.gif) no-repeat 0 0;}
.to {background: url(../img/flag/to.gif) no-repeat 0 0;}
.ne {background: url(../img/flag/ne.gif) no-repeat 0 0;}
.at {background: url(../img/flag/at.gif) no-repeat 0 0;}
.sv {background: url(../img/flag/sv.gif) no-repeat 0 0;}
.na {background: url(../img/flag/na.gif) no-repeat 0 0;}
.pl {background: url(../img/flag/pl.gif) no-repeat 0 0;}
.hu {background: url(../img/flag/hu.gif) no-repeat 0 0;}
.is {background: url(../img/flag/is.gif) no-repeat 0 0;}
.gf {background: url(../img/flag/gf.gif) no-repeat 0 0;}
.lu {background: url(../img/flag/lu.gif) no-repeat 0 0;}
.uz {background: url(../img/flag/uz.gif) no-repeat 0 0;}
.me {background: url(../img/flag/me.gif) no-repeat 0 0;}
.tn {background: url(../img/flag/tn.gif) no-repeat 0 0;}
.sa {background: url(../img/flag/sa.gif) no-repeat 0 0;}
.sg {background: url(../img/flag/sg.gif) no-repeat 0 0;}
.ni {background: url(../img/flag/ni.gif) no-repeat 0 0;}
.gm {background: url(../img/flag/gm.gif) no-repeat 0 0;}
.sr {background: url(../img/flag/sr.gif) no-repeat 0 0;}
.it {background: url(../img/flag/it.gif) no-repeat 0 0;}
.tw {background: url(../img/flag/tw.gif) no-repeat 0 0;}
.gb {background: url(../img/flag/gb.gif) no-repeat 0 0;}
.cm {background: url(../img/flag/cm.gif) no-repeat 0 0;}
.dk {background: url(../img/flag/dk.gif) no-repeat 0 0;}
.si {background: url(../img/flag/si.gif) no-repeat 0 0;}
.as {background: url(../img/flag/as.gif) no-repeat 0 0;}
.io {background: url(../img/flag/io.gif) no-repeat 0 0;}
.bt {background: url(../img/flag/bt.gif) no-repeat 0 0;}
.ky {background: url(../img/flag/ky.gif) no-repeat 0 0;}
.mc {background: url(../img/flag/mc.gif) no-repeat 0 0;}
.vc {background: url(../img/flag/vc.gif) no-repeat 0 0;}
.ao {background: url(../img/flag/ao.gif) no-repeat 0 0;}
.vu {background: url(../img/flag/vu.gif) no-repeat 0 0;}
.us {background: url(../img/flag/us.gif) no-repeat 0 0;}
.gp {background: url(../img/flag/gp.gif) no-repeat 0 0;}
.ir {background: url(../img/flag/ir.gif) no-repeat 0 0;}
.mw {background: url(../img/flag/mw.gif) no-repeat 0 0;}
.gh {background: url(../img/flag/gh.gif) no-repeat 0 0;}
.gl {background: url(../img/flag/gl.gif) no-repeat 0 0;}
.fam {background: url(../img/flag/fam.gif) no-repeat 0 0;}
.mq {background: url(../img/flag/mq.gif) no-repeat 0 0;}
.mp {background: url(../img/flag/mp.gif) no-repeat 0 0;}
.be {background: url(../img/flag/be.gif) no-repeat 0 0;}
.lb {background: url(../img/flag/lb.gif) no-repeat 0 0;}
.gq {background: url(../img/flag/gq.gif) no-repeat 0 0;}
.ye {background: url(../img/flag/ye.gif) no-repeat 0 0;}
.gw {background: url(../img/flag/gw.gif) no-repeat 0 0;}
.ro {background: url(../img/flag/ro.gif) no-repeat 0 0;}
.lt {background: url(../img/flag/lt.gif) no-repeat 0 0;}
.af {background: url(../img/flag/af.gif) no-repeat 0 0;}
.ge {background: url(../img/flag/ge.gif) no-repeat 0 0;}
.cz {background: url(../img/flag/cz.gif) no-repeat 0 0;}
.br {background: url(../img/flag/br.gif) no-repeat 0 0;}
.jp {background: url(../img/flag/jp.gif) no-repeat 0 0;}
.tg {background: url(../img/flag/tg.gif) no-repeat 0 0;}
.mx {background: url(../img/flag/mx.gif) no-repeat 0 0;}
.td {background: url(../img/flag/td.gif) no-repeat 0 0;}
.wf {background: url(../img/flag/wf.gif) no-repeat 0 0;}
.ba {background: url(../img/flag/ba.gif) no-repeat 0 0;}
.pn {background: url(../img/flag/pn.gif) no-repeat 0 0;}
.mv {background: url(../img/flag/mv.gif) no-repeat 0 0;}
.cy {background: url(../img/flag/cy.gif) no-repeat 0 0;}
.th {background: url(../img/flag/th.gif) no-repeat 0 0;}
.ht {background: url(../img/flag/ht.gif) no-repeat 0 0;}
.bn {background: url(../img/flag/bn.gif) no-repeat 0 0;}
.by {background: url(../img/flag/by.gif) no-repeat 0 0;}
.an {background: url(../img/flag/an.gif) no-repeat 0 0;}
.kw {background: url(../img/flag/kw.gif) no-repeat 0 0;}
.sb {background: url(../img/flag/sb.gif) no-repeat 0 0;}
.kz {background: url(../img/flag/kz.gif) no-repeat 0 0;}
.ga {background: url(../img/flag/ga.gif) no-repeat 0 0;}
.dz {background: url(../img/flag/dz.gif) no-repeat 0 0;}
.mt {background: url(../img/flag/mt.gif) no-repeat 0 0;}
.bo {background: url(../img/flag/bo.gif) no-repeat 0 0;}
.la {background: url(../img/flag/la.gif) no-repeat 0 0;}
.pt {background: url(../img/flag/pt.gif) no-repeat 0 0;}
.wales {background: url(../img/flag/wales.gif) no-repeat 0 0;}
.rs {background: url(../img/flag/rs.gif) no-repeat 0 0;}
.il {background: url(../img/flag/il.gif) no-repeat 0 0;}
.england {background: url(../img/flag/england.gif) no-repeat 0 0;}
.zw {background: url(../img/flag/zw.gif) no-repeat 0 0;}
.hk {background: url(../img/flag/hk.gif) no-repeat 0 0;}
.do {background: url(../img/flag/do.gif) no-repeat 0 0;}
.sh {background: url(../img/flag/sh.gif) no-repeat 0 0;}
.fo {background: url(../img/flag/fo.gif) no-repeat 0 0;}
.sd {background: url(../img/flag/sd.gif) no-repeat 0 0;}
.bw {background: url(../img/flag/bw.gif) no-repeat 0 0;}
.fi {background: url(../img/flag/fi.gif) no-repeat 0 0;}
.sy {background: url(../img/flag/sy.gif) no-repeat 0 0;}
.fm {background: url(../img/flag/fm.gif) no-repeat 0 0;}
.al {background: url(../img/flag/al.gif) no-repeat 0 0;}
.mn {background: url(../img/flag/mn.gif) no-repeat 0 0;}
.mo {background: url(../img/flag/mo.gif) no-repeat 0 0;}
.gi {background: url(../img/flag/gi.gif) no-repeat 0 0;}
.sz {background: url(../img/flag/sz.gif) no-repeat 0 0;}
.bj {background: url(../img/flag/bj.gif) no-repeat 0 0;}
.lc {background: url(../img/flag/lc.gif) no-repeat 0 0;}
.ai {background: url(../img/flag/ai.gif) no-repeat 0 0;}
.mm {background: url(../img/flag/mm.gif) no-repeat 0 0;}
.fk {background: url(../img/flag/fk.gif) no-repeat 0 0;}
.bd {background: url(../img/flag/bd.gif) no-repeat 0 0;}
.tz {background: url(../img/flag/tz.gif) no-repeat 0 0;}
.sn {background: url(../img/flag/sn.gif) no-repeat 0 0;}
.sk {background: url(../img/flag/sk.gif) no-repeat 0 0;}
.nl {background: url(../img/flag/nl.gif) no-repeat 0 0;}
.sm {background: url(../img/flag/sm.gif) no-repeat 0 0;}
.in {background: url(../img/flag/in.gif) no-repeat 0 0;}
.nr {background: url(../img/flag/nr.gif) no-repeat 0 0;}
.pm {background: url(../img/flag/pm.gif) no-repeat 0 0;}
.ec {background: url(../img/flag/ec.gif) no-repeat 0 0;}
.bg {background: url(../img/flag/bg.gif) no-repeat 0 0;}
.cl {background: url(../img/flag/cl.gif) no-repeat 0 0;}
.am {background: url(../img/flag/am.gif) no-repeat 0 0;}
.tf {background: url(../img/flag/tf.gif) no-repeat 0 0;}
.hr {background: url(../img/flag/hr.gif) no-repeat 0 0;}
.hm {background: url(../img/flag/hm.gif) no-repeat 0 0;}
.vn {background: url(../img/flag/vn.gif) no-repeat 0 0;}
.kg {background: url(../img/flag/kg.gif) no-repeat 0 0;}
.vg {background: url(../img/flag/vg.gif) no-repeat 0 0;}
.ki {background: url(../img/flag/ki.gif) no-repeat 0 0;}
.kn {background: url(../img/flag/kn.gif) no-repeat 0 0;}
.iq {background: url(../img/flag/iq.gif) no-repeat 0 0;}
.es {background: url(../img/flag/es.gif) no-repeat 0 0;}
.cc {background: url(../img/flag/cc.gif) no-repeat 0 0;}
.pa {background: url(../img/flag/pa.gif) no-repeat 0 0;}
.tm {background: url(../img/flag/tm.gif) no-repeat 0 0;}
.ch {background: url(../img/flag/ch.gif) no-repeat 0 0;}
.ug {background: url(../img/flag/ug.gif) no-repeat 0 0;}
.bs {background: url(../img/flag/bs.gif) no-repeat 0 0;}
.bv {background: url(../img/flag/bv.gif) no-repeat 0 0;}
.li {background: url(../img/flag/li.gif) no-repeat 0 0;}
.mu {background: url(../img/flag/mu.gif) no-repeat 0 0;}
.jo {background: url(../img/flag/jo.gif) no-repeat 0 0;}
.pk {background: url(../img/flag/pk.gif) no-repeat 0 0;}
.pf {background: url(../img/flag/pf.gif) no-repeat 0 0;}
.gn {background: url(../img/flag/gn.gif) no-repeat 0 0;}
