/*-------------------------------*/
/*       LISTE DES VENTES        */
/*-------------------------------*/


/*------------------------------------------------------ */
/*                       content-left                    */
/*------------------------------------------------------ */
#lienUP { margin-top: 88px; }

/*----SELECT TRIER PAR----*/
fieldset { border: none 0; }

#triVente { height: 22px; margin: 17px 0; }

#triVente label,
#triVente select,
#triVente span { display: block; float: left; }

#triVente label {
    padding: 0;
    background: none;
    font-size: 12px;
    color: #555555;
}
#triVente select {
    width: 183px;
    margin: 1px 0px 1px 6px;
    background-color: #fff;
}
#triVente span { 
    width: 20px;
    height: 20px;
    margin: 1px 0 1px 6px;
    overflow: hidden;
    text-indent: -1500px;
    background: url(../img/icon.png) no-repeat 0 -350px;
}
#triVente input { 
    width: 20px;
    height: 20px;
    margin: 1px 0 1px 8px;
    overflow: hidden;
    text-indent: -1500px;
    background: url(../img/icon.png) no-repeat -2px -227px #000000;
    border: none;
    border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    cursor: pointer;
}
#triVente input:hover { background-color: #555; }

/*----LISTE DES VENTES----*/
.vente {
    position: relative;
    width: 494px;
    /*min-height: 82px;*/
    margin-bottom: 37px;
    padding: 1px 0 1px 1px;
    border: 1px solid #cbcbcb;
    background-color: #f9f9f9;
}

.vente a.delete { 
    display: block; float: right;
    width: 14px; height: 14px;
    margin: 2px -7px 0 0;
    overflow: hidden; text-indent: -1500px;
    background: url(../img/out.gif) no-repeat -1px -1px;
    border: 1px solid #A4A4A4;
    border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
}
.vente a.delete:hover { background: url(../img/out.gif) no-repeat -1px -17px; }


/*NOM, CATEGORIE, TYPE de Prod*/
.vente h3, .vente h4 { 
    line-height: 20px;
    margin-right: 1px;
    padding: 0 10px;
    font-size: 11px;
}
    .vente h3 {
        float: left;
        color: #fff;
        background-color: #000;
    }
    .vente h4 {
        font-weight: normal;
        background-color: #c8c8c8;
    }


/*---INFOS VENTE---*/
.content { 
    width: 494px;
    /*height: 62px;*/
}
    /*Image*/
    .content .imgProd {
        display: block;
        float: left;
        width: 40px;
        height: 43px;
        margin: 8px 5px 9px 5px;
        border: 1px solid #d8d8d8;
        background-color: #fff;
    }

    /*Date etat Vente*/
    .content .address_area {
        display: block;
        float: left;
        width: 303px;
        /*height: 45px;*/
        padding: 8px 0 9px 0;
    }
    .content .address_area em,
    .content .address_area span {
        display: block;
        line-height: 22px;
    }
        .content .address_area em { font-style: normal; }
        .content .address_area span.phone_city {
            width: 297px;
            padding: 0 3px;
            letter-spacing: -1px;
            background-color: #ffd016;
        }
        .content .address_area span.phone_num {
            width: 100px;
        }
        .content .address_area span.city {
            margin: -22px 0 0 200px;
        }
            .content .address_area span strong { letter-spacing: 0px; }

    /*Prix*/
    .content .prix {
        display: block;
        width: 133px;
        padding: 20px 3px 9px 3px;
        overflow: hidden;
        background-color: #fff;
    }
        .content .prix span {
            display: block;
            width: 32px;
            height: 25px;
            margin: 3px 0 0 0;
            font-size: 10px;
            color: #030303;
            font-family: arial;
            float: left;
        }
            .content .prix span.status-pending-gray {
                background: url(../img/order-pending-gray.png) no-repeat 0 0;
            }
            .content .prix span.status-pending-blue {
                /* no img provided now, use gray temp */
                background: url(../img/order-pending-gray.png) no-repeat 0 0;
            }
            .content .prix span.status-payment-gray {
                background: url(../img/order-payment-gray.png) no-repeat 0 0;
            }
            .content .prix span.status-payment-blue {
                background: url(../img/order-payment-blue.png) no-repeat 0 0;
            }
            .content .prix span.status-shipping-gray {
                background: url(../img/order-shipping-gray.png) no-repeat 0 0;
            }
            .content .prix span.status-shipping-blue {
                background: url(../img/order-shipping-blue.png) no-repeat 0 0;
            }
            .content .prix span.status-next {
                width: 15px;
                background: url(../img/order-next-status.png) no-repeat 0 6px;
            }
            .content .prix span strong,
            .content .prix span em {
                display: block;
                float: right;
                width: auto;
            }

/*Liens DETAIL*/
.seeDetail {
    display: block;
    position: absolute;
    bottom: -18px;
    height: 17px;
    line-height: 17px;
    padding-left: 5px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
}
    .seeDetail.seePacking {
        right: 341px;
        width: 150px;
        background-position: 133px -203px;
        background-color: #555555;
}
    .seeDetail.seeInvoice {
        right: 165px;
        width: 170px;
        background-position: 152px -203px;
        background-color: #555555;
    }
    .seeDetail.seeMain {
        right: -1px;
        width: 160px;
        background-position: 142px -203px;
        background-color: #000;
    }


p#order-status-tabs {
    width: 500px;
    height: 40px;
    background-color: #DDDDDD;
}
p#order-status-tabs span {
    background-color: #EEEEEE;
    border: 1px solid #cbcbcb;
    line-height: 40px;
    padding: 10px 5px;
}

div#detail table {
    border: 1px solid #cbcbcb;
}

div#detail table th,
div#detail table td {
    border: 1px solid #cbcbcb;
}

div.error_msg {
    padding: 10px;
    color: #ff5d36;
    font-size: 14px;
}


/* Packing List */
.seePacking {
    cursor: pointer;
}

.packing {
    margin-bottom: 15px;
    padding: 1px 1px 10px 1px;
    background-color: #fff;
    border: 1px solid #c4c4c4;
}

.packing h3 {
    height: 20px;
    line-height: 20px;
    margin-bottom: 1px;
    padding: 0 10px;
    background-color: #000;
    color: #fff;
    font-size: 11px;
}

.packing em {
    display: block;
    height: 20px;
    line-height: 20px;
    margin-bottom: 15px;
    padding: 0 10px;
    background-color: #c8c8c8;
    color: #000;
    font-style: normal;
}

.packing .shipment {
    margin-bottom: 20px;
    padding-left: 10px;
}

.packing .packing_list,
.packing .remaining_list {
    display: None;
}

.packing .packing_list_title {
    position: relative;
    line-height: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.packing .packing_list_title .see_pk_list {
    background-color: #000;
    width: 160px;
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    background-position: 140px -203px;
    color: #fff;
    font-size: 10px;
    padding-left: 5px;
    margin-bottom: 15px;
    position: absolute;
    cursor: pointer;
}

.packing .packing_list_title .status {
    position: absolute;
    left: 180px;
}

.packing .table {
    margin-right: 10px;
}

.packing .table table tr th.col1 {
    background-color: #B4B4B4;
}

.packing .table table tr th {
    background-color: #E3E3E3;
}

.packing .table table tr .col1 {
    background-color: #353535;
    border-right: 3px solid #fff;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 2px 5px 3px 5px;
}

.packing .table table tr th,
.packing .table table tr td {
    padding: 2px 10px 3px 10px;
    background-color: #DDDDDD;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    font-weight: bold;
    text-align: right;
}


.packing .remaining_list_items {
    padding-top: 10px;
    position: relative;
}

.packing .remaining_list_items .remaining_item {
    display: block;
    background-color: #F2F9FF;
    min-height: 24px;
    line-height: 24px;
    margin-top: 5px;
}

.packing .new_packing_list{
    height: 20px;
    cursor: pointer;
}
.packing .new_packing_list .create {
    line-height: 20px;
    height: 20px;
    background-color: #000;
    width: 160px;
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    background-position: 140px -203px;
    color: #fff;
    font-size: 10px;
    padding-left: 5px;
    position: absolute;
}

.packing .remaining_item .item_check {
    margin: 2px 4px 2px 0px;
    float: left;
}

.packing .remaining_item .item_count {
    width: 20px;
}

.outer_shipping_date {
    padding-left: 30px;
    display: None;
}
/* Packing List end */

/* forms */
.formrow { min-height: 22px; margin-bottom: 10px; }
.formrow.p_vide { height: 0; min-height: 0; margin: 0; }
.formrow.marge { margin-bottom: 30px; }
.formrow:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.formrow label,
.formrow input,
.formrow select,
.formrow textarea,
.formrow span,
.contForm{
    display: block;
    float: left;
}

.formrow span { height: 22px; line-height: 22px; margin: 0 5px; }

.formrow label { width: 100px; }
.formrow select { width: 130px; }
.formrow textarea,
.formrow input { width: 50px; }
.formrow .inputXS { width: 40px; }
.formrow .inputS { width: 70px; }
.formrow .inputM { width: 180px; }
.formrow .selectS { width: 70px; }
.formrow .selectL { width: 190px; }
.formrow .selectXL { width: 260px; }

.formrow select.dubble { width: 95px; }
.formrow #plus {
    background: url(../img/icon.png) no-repeat 0 -275px;
    display: block;
    float: left;
    height: 19px;
    margin: 1px 0 0 10px;
    overflow: hidden;
    text-indent: -1500px;
    width: 19px;
}

.contForm,
.formrow .contForm{
    width: 283px;
    height: auto;
    margin: auto;
}

.contForm.checkbox input{
    width: auto;
    margin: 1px 15px 0 -25px;
    border: none 0;
}
.contForm.checkbox label{
    width: 85px;
    height: 20px;
    line-height: 20px;
    margin: 2 0 0 0;
    padding: 0 35px 0 5px;
    border: 1px solid #eee;
    background: none;
    background-color: #f8f8f8;
}
.contForm.checkbox.auto label{ width: auto; }

.inactif { background-color: #d9d9d9; }

.raw {
    width: 8px;
    overflow: hidden;
    text-indent: -1500px;
    background: url(../img/icon.png) no-repeat -10px -252px;
}
.btn { float: right; margin: 5px 0 0 5px; }

.tracking_num {
    clear: both;
    padding-left: 20px;
    display: none;
}

.tracking_num input {
    width: 80px;
}

.outer_tracking_name {
    padding-left: 30px;
}

hr {
    margin-bottom: 7px;
}

input[readonly] {
    background-color: #bdbdbd;
}

select[disabled] {
    background-color: #bdbdbd;
}

span.item_name {
    max-width: 180px;
    overflow: hidden;
}

/*Btn Update, Delete, Cancel*/
.btnForm {
    display: block;
    float: right;
    height: 22px;
    margin: 5px 4px 0 0;
    padding: 2px 7px;
    border: 1px solid #D1D1D1;
    background: url(../img/btn_navForm.png) no-repeat 0 0;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    line-height: 12px;
    cursor: pointer;
}

.content_row {
    padding-left: 30px;
}

.content_row input {
    width: 20px;
}
.out{
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    overflow: hidden; text-indent: -1500px;
    background: url(../img/out.gif) no-repeat 0 0;
    cursor: pointer;
}
.out:hover{ background-position: 0 -16px; }
/* forms end */
