{% load getform %}
{% load multiply %}
{% for c in common_attributes %}
    <span class="extrefs-item" data-ca="{{ c.id }}">
    {% with formindex=b_index|multiply:common_attributes.count|add:forloop.counter0|add:1 %}
        {% with curform=wizard.form.externalrefs|getform:formindex cname=c.name%}
            {% include "_stock_externalref_input.html" %}
        {% endwith %}
    {% endwith %}
    </span>
{% empty %}
    <span class="extrefs-item" data-ca="">
    {% with formindex=b_index|add:1 %}
        {% with curform=wizard.form.externalrefs|getform:formindex cname="" %}
            {% include "_stock_externalref_input.html" %}
        {% endwith %}
    {% endwith %}
    </span>
{% endfor %}
