{% load i18n %}
{% load thumbnail %}

<div>
    <h4 class="shopTitle done"><a href ="#">{% trans "Product Barcodes" %}</a></h4>
    <div>
        <p>
            <em>{% trans "Product Barcodes" %}</em>
            <span class="contForm taille">
            {% for attribute in attributes %}
                <strong>
                    {% thumbnail attribute.texture "15x15" as im %}
                        <img style='margin:{{ im|margin:"15x15" }}' src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}"/>
                    {% endthumbnail %}
                    {{ attribute.name }}
                </strong>
                {% with b_attr=attribute.id b_index=forloop.counter0 %}
                    {% include "_stock_upc_block.html" %}
                {% endwith %}
            {% empty %}
                {% with b_attr='' b_index=0 %}
                    {% include "_stock_upc_block.html" %}
                {% endwith %}
            {% endfor %}
            </span>
        </p>
    </div>
</div>
