{% load i18n %}
{% load thumbnail %}

<!--Produit-->
<h4 class="titleRight">{% trans "Preview" %}</h4>
<div class="boxRight ficheProd">
    <!--Section gauche-->
    <div class="infoLeft">
        <div class="descrProd">
            <strong id="preview-{{ wizard.form.name.auto_id }}">{% if context %}{{ context.name.value }}{% else %}{% trans "N/A" %}{% endif %}</strong>
            <p id="preview-{{ wizard.form.description.auto_id }}">{% if context %}{{ context.description.value }}{% else %}{% trans "N/A" %}{% endif %}</p>
        </div>
        <div id="preview-{{ wizard.form.brand.auto_id }}" class="marque">
        {% if brand_object %}
            {% ifnotequal brand_object.picture 'NULL' %}
                {% thumbnail brand_object.picture "205x70" as im %}
                    <img style='margin:{{ im|margin:"205x70" }}' src="{{ im.url }}" alt='{{ context.brand_object.name }}' width="{{ im.x }}" height="{{ im.y }}"/>
                {% endthumbnail %}
            {% endifnotequal %}
        {% endif %}
        {% if not context %}
            <img src="{{ STATIC_URL }}img/marque.gif" alt="Votre Marque" />
        {% endif %}
        </div>
        <p class="prix_date">
            <strong id="preview-{{ wizard.form.preview_discount_price_str.auto_id }}">
                {% if context %}
                    {{ context.preview_discount_price_str.value }}
                {% else %}
                    {% trans "N/A" %}
                {% endif %}&euro;
            </strong><em id="preview-{{ wizard.form.preview_base_price.auto_id }}">
                {% if context %}
                    {{ context.preview_base_price.value|floatformat }}
                {% else %}
                    {% trans "N/A" %}
                {% endif %}&euro;
            </em>
            <span>{% trans "Offer valid until" %}
                <strong id="preview-{{ wizard.form.valid_to.auto_id }}">
                    {% if context and context.valid_to.value %}
                        {{ context.valid_to.value }}
                    {% else %}
                        {% trans "N/A" %}
                    {% endif %}
                </strong>
            </span>
        </p>
        <div class="bouton">
            <a href="#">{% trans "Buy Now" %}</a>
            <a href="#">{% trans "Make a Gift" %}</a>
        </div>
        <div class="partage">
            <a class="faceBook" href="#">Partagez ce produit sur FaceBook</a>
            <a class="twitter" href="#">Partagez ce produit sur Twitter</a>
        </div>
    </div>
    <!--FIN Section gauche-->

    <!--Section droite-->
    <div class="imgRight">
        <div class="tag">
            -
            <span id="preview-{{ wizard.form.discount.auto_id }}">
            {% if context %}
                {{ context.discount.value|floatformat }}
                {% if context.discount_type.value == "percentage" %}
                    %
                {% else %}
                    &euro;
                {% endif %}
            {% else %}
                {% trans "N/A" %}
            {% endif %}
            </span>
        </div>
        <div id="preview-product-picture">
        {% if product_picture %}
            {% thumbnail product_picture.picture "156x171" as im %}
                <img style='margin:{{ im|margin:"156x171" }}' src="{{ im.url }}" alt='{% trans "Product picture" %} {{ context.name }}' width="{{ im.x }}" height="{{ im.y }}"/>
            {% endthumbnail %}
{#        {% else %}#}
{#        <img src="{{ STATIC_URL }}img/Prod01.jpg" alt="Prod01" />#}
        {% endif %}
        </div>
        <a class="voirOffre" href="#">{% trans "Learn more" %}</a>
    </div>
    <!--FIN Section droite-->

</div>
<!--FIN Produit-->
