{% load i18n %}
{% load l10n %}

<!--Point de Vente-->
<h4 class="titleRight">{% trans "Participating shops" %}</h4>
<div class="boxRight">
    <div id="googleMap">

    </div>
</div>

<!--FIN Point de Vente-->
{% block javascript %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    var map;
    var shops = new Array();
    $(function(){
        initMap(); // Define in add_sale_preview_shop.html template
        $("#shopfolders li ul input[type=checkbox]").change(function(){
            var shop_id = $(this).val();
            if ($(this).attr('checked')) {
                _setMarker(shop_id);
            } else {
                shops[shop_id].setMap(null);
            }
        });
    });

    function initMap(){
        var latlng = new google.maps.LatLng(47, 2.352222);
        var myOptions = {
            zoom: 5,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("googleMap"), myOptions);

        google.maps.event.addListener(map, 'idle', function() {
        {% if context %}
            {% for shop_id in context.shops.value %}
                _setMarker("{{ shop_id }}");
            {% endfor %}
        {% else %}
            $.each($("#shopfolders li ul input[type=checkbox]:checked"), function() {
                _setMarker($(this).val());
            });
        {% endif %}
        });
    }

    function _setMarker(shop_id) {
        var data = { shop_id: shop_id };
        $.get("{% url shop_coordinates %}", data, function(ret) {
            var latlng = new google.maps.LatLng(ret.latitude, ret.longitude);
            var shop = new google.maps.Marker({
                map: map,
                position: latlng
            });
            shops[shop_id] = shop;
        });
    }
</script>
{% endblock %}
