{% extends base_template %}
{% load i18n %}

{#Form to select target#}

{% block form %}
    {{ wizard.management_form }}
    <fieldset>
        <div class="formrow">
            <label for={{ wizard.form.target.auto_id }}>{{ wizard.form.target.label }}</label>
            {{ wizard.form.target }}
        <div>
        {{ wizard.form.as_p }}
    </fieldset>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(function(){
        $("#main_form").change(function(elmt){
            var gender = $("#{{ wizard.form.gender.auto_id }} option:selected").text();
            $("#preview_{{ wizard.form.gender.auto_id }}").html(gender)
        });
    });
</script>
{% endblock %}