{% extends base_template %}
{% load i18n %}
{% load thumbnail %}

{#Form to add product#}

{% block form %}
    {{ wizard.management_form }}
    <fieldset>
        <p class="p_vide">
            {{ wizard.form.non_field_errors }}
        </p>
        {{ wizard.form.category.errors }}
        <p>
            <label for="{{ wizard.form.category.auto_id }}">{{ wizard.form.category.label }}</label>
            {{ wizard.form.category }}
        </p>
        {{ wizard.form.type.errors }}
        <p class="marge">
            <label for="{{ wizard.form.type.auto_id }}">{{ wizard.form.type.label }}</label>
            {{ wizard.form.type }}
        </p>
        <p  class="marge">
            <label for="visuel">{% trans "Visuels du produit" %}</label>
            <span class="contForm" id="visuelProd">
                <noscript>
                    <p>Please enable JavaScript to be able to upload files.</p>
                </noscript>
        {#                        {{ picture_formset.as_p }}#}
{#                {{ picture_formset.management_form }}#}
{#                {% for dict in picture_formset.errors %}#}
{#                    {% for error in dict.values %}#}
{#                        {{ error }}#}
{#                    {% endfor %}#}
{#                {% endfor %}#}
{#                {% for i in picture_formset %}#}
{#                    {{ i.as_table }}#}
{#                {% endfor %}#}
            </span>
        </p>
        {{ wizard.form.brand.errors }}
        <p>
            <label for="{{ wizard.form.brand.auto_id }}">{{ wizard.form.brand.label }}</label>
            {{ wizard.form.brand }}   or <a href="#" id="add_new_brand">Add new brand</a>
        </p>
        {{ wizard.form.name.errors }}
        <p>
            <label for="{{ wizard.form.name.auto_id }}">{{ wizard.form.name.label }}</label>
            {{ wizard.form.name }}
        </p>
        {{ wizard.form.description.errors }}
        <p class="marge">
            <label for="{{ wizard.form.description.auto_id }}">{{ wizard.form.description.label }}</label>
            {{ wizard.form.description }}
        </p>
        {{ wizard.form.normal_price.errors }}
        <p>
            <label for="{{ wizard.form.normal_price.auto_id }}">{{ wizard.form.normal_price.label }}</label>
            {{ wizard.form.normal_price }}<span>&euro;</span>
        </p>
        {{ wizard.form.discount.errors }}
        {{ wizard.form.discount_type.errors }}
        <p class="marge">
            {{ wizard.form.discount_price.errors }}
            <label for="prixBTS">{% trans "Prix de vente BackToShop" %}</label>
            <span class="contForm" id="newPrice">
                {{ wizard.form.discount_type }}
                {{ wizard.form.discount_price }}
                <span class="raw">></span>{{ wizard.form.discount }}<span id="discount_marker">%</span>
                <span id="result">{% trans "Nouveau prix de vente" %} : <strong id="discount_price">N/F</strong><strong> &euro;</strong></span>
            </span>
        </p>
        {{ wizard.form.valid_from.errors }}
        {{ wizard.form.valid_to.errors }}
        <p class="marge">
            <label>{% trans "Date de validité" %}</label>
            <span>{{ wizard.form.valid_from.label }}</span>{{ wizard.form.valid_from }}
            <span>{{ wizard.form.valid_to.label }}</span>{{ wizard.form.valid_to }}
        </p>
        <p class="marge">
            <label>{% trans "Brand attributes" %}</label>
            <span class="contForm" id="brand_attributes">
                {{ brand_attribute_formset.management_form }}
                {% for dict in brand_attribute_formset.errors %}
                    {% for error in dict.values %}
                        {{ error }}
                    {% endfor %}
                {% endfor %}
                {% for i in brand_attribute_formset %}
                    {{ i.as_table }}
                {% endfor %}
        {#                        {{ brand_attribute_formset.as_p }}#}
                <a id="add_brand_attribute" href="#">{% trans "Add more" %}</a>
            </span>
        </p>
    </fieldset>
{% endblock %}

{% block empty_forms %}
    <div id="brand_attribute_template_form" style="display: none;">
        {{ brand_attribute_formset.empty_form.as_p }}
    </div>
    <div id="add_new_brand_dialog" style="display: none;">
        <form id="add_new_brand_form" action="{% url add_new_brand %}" method="post">{% csrf_token %}
            {{ product_brand_form.as_p }}
            <input type="submit" value="{% trans "Add" %}"/>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(function(){
            // Thoses will be called when page is relaoded, for example if data validation
            // fails or we clicked "prev" from next step
            calcDiscount();
            updateProductPreview(null);
        
            var product_pictures_template = '<div class="qq-uploader">' + 
                          '<div class="qq-upload-drop-area"><span>Drop files here to upload</span></div>' +
                          '<div class="qq-upload-button">Upload a file</div>' +
                          '<ul class="qq-upload-list">';

            {% if product_pictures %}
                {% for pic in product_pictures %}
                product_pictures_template += '<li class="qq-upload-list-item qq-upload-success"><span class="qq-upload-file-thumbnail">';
                    {% thumbnail pic.picture "40x43" as im %}
                    product_pictures_template += '<img style="margin:{{ im|margin:"40x43" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}"/>';
                    {% endthumbnail %}
                product_pictures_template += '</span></li>';
                {% endfor %}
            {% endif %}
            product_pictures_template += '</ul></div>';
            var uploader = new qq.FileUploader({
                action: "{% url upload_product_picture %}",
                listElement: "",
                fileTemplate: '<li class="qq-upload-list-item qq-upload-free-slot">' +
                              '<span class="qq-upload-file-thumbnail">' +
                                '<span class="qq-upload-file"></span>' +
                                '<span class="qq-upload-spinner"></span>' +
                                '<span class="qq-upload-size"></span>' +
                                '<a class="qq-upload-cancel" href="#">Cancel</a>' +
                                '<span class="qq-upload-failed-text">Failed</span>' +
                              '</span></li>',
                template: product_pictures_template,
                element: $("#visuelProd")[0],
                multiple: true,
                onComplete: function( id, fileName, responseJSON ) {
                    if (responseJSON['success']) {
                        $($(".qq-upload-free-slot > .qq-upload-file-thumbnail")[0]).html(responseJSON['html']);
                        $($(".qq-upload-free-slot")[0]).removeClass('qq-upload-free-slot');
                        if ($("#preview-product-picture").find("img").length == 0) {
                            $("#preview-product-picture").html(responseJSON['preview_html']);
                        }
                    } else {
                        alert("upload failed!");
                    }
                },
                onAllComplete: function(uploads) {
                    // uploads is an array of maps
                    // the maps look like this: { file: FileObject, response: JSONServerResponse }
                    //alert("All complete!");
                },
                params: {
                    'csrf_token': '{{ csrf_token }}',
                    'csrf_name': 'csrfmiddlewaretoken',
                    'csrf_xname': 'X-CSRFToken'
                }
            });

            $("#add_brand_attribute").click(function(){
                var nb_of_forms = {{ brand_attribute_formset.management_form.TOTAL_FORMS.value }};
                var form = $("#brand_attribute_template_form").html();
                form = form.replace(/__prefix__/g, nb_of_forms.toString()); // counting start from 0, so just use nb_of_forms here
                nb_of_forms++;
                $(form).insertBefore("#add_brand_attribute");
                $("#{{ brand_attribute_formset.management_form.TOTAL_FORMS.auto_id }}").val(nb_of_forms);
                return false;
            });

            $("#add_new_brand_form").ajaxForm({
                target: $("#{{ wizard.form.brand.auto_id }}"),
                success: function() {
                    $("#add_new_brand_dialog").dialog("close");
                }
            });

            $("#add_new_brand").click(function(){
                $("#add_new_brand_dialog").dialog({
                    modal: true,
                    title: "{% trans "Add a new brand" %}",
                    buttons: {
                        "Cancel": function() {
                            $(this).dialog("close");
                        }
                    }
                });
                return false;
            });

            {% if LANGUAGE_CODE == "fr-fr" %}
            $.datepicker.setDefaults($.datepicker.regional['fr']);
            {% endif %}
            $("#{{ wizard.form.valid_from.auto_id }}").datepicker();
            $("#{{ wizard.form.valid_to.auto_id }}").datepicker({
                onSelect: function(dateText, inst) {
                    $("#preview-{{ wizard.form.valid_to.auto_id }}").html(dateText);
                }
            });

            $("#main_form").change(function(elmt){
                updateProductPreview(elmt);
            });

            function calcDiscount() {
                var normal_price = parseFloat($("#{{ wizard.form.normal_price.auto_id }}").val());
                var discount = parseFloat($("#{{ wizard.form.discount.auto_id }}").val());
                var discount_type = $("#{{ wizard.form.discount_type.auto_id }}").val();
                var new_price;
                if (discount_type == "percentage") { //percentage
                    new_price = normal_price - (normal_price * (discount / 100));
                } else {
                    new_price = normal_price - discount;
                }
                if (new_price > 0) {
                    $("#{{ wizard.form.discount_price.auto_id }}").val(new_price);
                    $("#discount_price").html(new_price);
                    $("#preview-{{ wizard.form.discount_price.auto_id }}").html(new_price+"&euro;");
                } else {
                    $("#{{ wizard.form.discount_price.auto_id }}").val("N/F");
                    $("#discount_price").html("N/F");
                    $("#preview-{{ wizard.form.discount_price.auto_id }}").html("N/F");
                }
            }

            $("#{{ wizard.form.discount_type.auto_id }}").change(function(elmt){
                if ($(elmt).val() == "percentage") { // Percentage
                    $("#discount_marker").html("%");
                } else {
                    $("#discount_marker").html("Euros");
                }
                calcDiscount();
            });
            $("#{{ wizard.form.normal_price.auto_id }}").change(function(elmt){
                calcDiscount();
            });
            $("#{{ wizard.form.discount.auto_id }}").change(function(elmt){
                calcDiscount();
            });

            function updateProductPreview(elmt) {
                var name = $("#{{ wizard.form.name.auto_id }}").val();
                var description = $("#{{ wizard.form.description.auto_id }}").val();
                var discount_price = $("#{{ wizard.form.discount_price.auto_id }}").val();
                var normal_price = $("#{{ wizard.form.normal_price.auto_id }}").val();
                var discount = $("#{{ wizard.form.discount.auto_id }}").val();
                var discount_type = $("#{{ wizard.form.discount_type.auto_id }}").val();
                if (discount_type == "percentage") {
                    discount += "%";
                } else {
                    discount += "&euro;";
                }
                var valid_to = $("#{{ wizard.form.valid_to.auto_id }}").val();
                $("#preview-{{ wizard.form.name.auto_id }}").html(name);
                $("#preview-{{ wizard.form.description.auto_id }}").html(description);
                $("#preview-{{ wizard.form.discount_price.auto_id }}").html(discount_price+"&euro;");
                $("#preview-{{ wizard.form.normal_price.auto_id }}").html(normal_price+"&euro;");
                $("#preview-{{ wizard.form.discount.auto_id }}").html(discount);
                $("#preview-{{ wizard.form.valid_to.auto_id }}").html(valid_to);

                var brand_id = $("#{{ wizard.form.brand.auto_id }} :selected").val();
                if (brand_id) {
                    var html = $("#preview-{{ wizard.form.brand.auto_id }}").html();
                    if (html && !$("#preview-{{ wizard.form.brand.auto_id }}").html().trim()) {
                        $("#preview-{{ wizard.form.brand.auto_id }}").html("{% trans "Loading..." %}");
                        $("#preview-{{ wizard.form.brand.auto_id }}").load('{% url get_brand_logo %}'+brand_id)
                    }
                }
{#                if (elmt && elmt.target.id == '{{ wizard.form.brand.auto_id }}') {#}
{#                    $("#preview-{{ wizard.form.brand.auto_id }}").html("{% trans "Loading..." %}");#}
{#                    $("#preview-{{ wizard.form.brand.auto_id }}").load('{% url get_brand_logo %}'+elmt.target.value)#}
{#                }#}
            }
        });
    </script>
{% endblock %}
