{% extends base_template %}
{% load i18n %}
{% load is_manager_upper %}

{#Form to select shops#}

{% block form %}
    {{ wizard.management_form }}
    <fieldset class="bkcolor">
        <div>
            <h3 class="sstitle">{{ form_title }}</h3>
            <div class="centered">
                {{ wizard.form.non_field_errors }}
                {% if request.user|is_manager_upper %}
                <div class="formrow">
                    <label for="{{ wizard.form.target_market.auto_id }}">{% trans wizard.form.target_market.label %}</label>
                    {{ wizard.form.target_market }}
                </div>
                {% endif %}
                {% comment %}
                <span  id="physical_shops">
                    <div class="formrow">
                        <label for="{{ wizard.form.shops.auto_id }}">{% trans wizard.form.shops.label %}</label>
                        {{ wizard.form.shops }}
                    </div>
                </span>
                {% endcomment %}

                <div id="physical_shops">
                    <div class="formrow">
                        <div class="comments"> {% trans 'Please select shops within the same currency area.' %} </div>
                        <label for="{{ wizard.form.shops.auto_id }}">{{ wizard.form.shops.label }}</label>
                        <input type="text" id="shop_search" value="" name="shop_search" />
                        <div class="clear"></div>
                        {% if preview_shop %}
                            {% if preview_shop == "blank" %}
                                {% include "add_sale_preview_shop.html" %}
                            {% else %}
                                {{ preview_shop }}
                            {% endif %}
                        {% endif %}
                        <div id="check_shops">
                            {{ wizard.form.shops }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}

{% block javascript %}
<script type="text/javascript">

    $(function(){
        {% if request.user|is_manager_upper %}
        $("#{{ wizard.form.target_market.auto_id }}").change(function(){
           if ($(this).val() == "L") {
               $("#physical_shops").show();
           } else {
               $("#physical_shops").hide();
           }
        });
        $("#{{ wizard.form.target_market.auto_id }}").change();
        {% endif %}

        $("input[class=folder]").click(function(){
            var list = $(this).parent().parent();
            var tocheck = false;
            if (this.checked) {
               tocheck = true;
            }
            $(this).prop('checked', tocheck);
            $.each($("input[type=checkbox]", list), function() {
                if ($(this).prop('checked') != tocheck) {
                    $(this).prop('checked', tocheck);
                    $(this).change();
                }

            });
        });

        $("input[name='shop-shops']").change(function(event){
            var x =[{{ shops_cant_be_deleted }}];
            var y =[{{ freezed_shops }}];
            var given = parseInt($(this).val());
            if(x.indexOf(given) != -1 && !this.checked){
                var q = confirm("{% trans 'This shop will become frozen status instead of being removed, since it has sold stock record.\nIs this ok?\n' %}");
                if(!q){
                    $(this).attr('checked','checked');
                }
            } else if(y.indexOf(given) != -1 && this.checked){
                var q = confirm("{% trans 'This shop already has stocks as frozen status. Will you unfreeze them?\n' %}");
                if(!q){
                    $(this).attr('checked','');
                }
            }

            var pre_chosen_list = $("input[name='shop-shops']:checked").not("#" + this.id);
            if (this.checked && pre_chosen_list.length > 0) {
                var brand_currency = "{{ brand_currency }}";
                var item = pre_chosen_list.first();
                var item_curr = item.find("+span").attr('default_currency');
                if (item_curr == 'None' || item_curr == '') item_curr = brand_currency;
                var this_curr = $(this).find("+span").attr('default_currency');
                if (this_curr == 'None' || this_curr == '') this_curr = brand_currency;

                if (this_curr != item_curr) {
                    // chosen shop's currency is different with others, unchecked
                    this.checked = false;
                    $("#physical_shops .comments").show();
                } else {
                    $("#physical_shops .comments").hide();
                }
            }

            check_shop_currency();
        });

        function check_shop_currency() {
            var brand_currency = "{{ brand_currency }}";
            var chosen_list = $("input[name='shop-shops']:checked");
            if (chosen_list.length > 0) {
                var chosen_curr = chosen_list.first().find("+span").attr('default_currency');
                if (chosen_curr == 'None' || chosen_curr == '') chosen_curr = brand_currency;

                $("#check_shops ul li ul li").each(function(){
                    var curr = $(this).find("input+span").attr('default_currency');
                    if (curr == 'None' || curr == '') curr = brand_currency;

                    // show currency if it's different from brand default currency
                    if (curr != brand_currency) {
                        if ($(this).find("input+span+span").length > 0)
                            $(this).find("input+span+span").show();
                        else
                            $('<span>(' + curr + ')</span>').insertAfter($(this).find("input+span"));

                    }

                    // disable shops with different currencies
                    if (curr != chosen_curr) {
                        disable_shop(this, "currency");
                    } else {
                        enable_shop(this, "currency");
                    }
                });
            } else {
                $("#check_shops ul li ul li").each(function(){
                    // hide currency
                    $(this).find("input+span+span").hide();
                    // enable shop
                    enable_shop(this, "currency");
                });
            }
        }

        function disable_shop(obj, disable_by) {
            var by = $(obj).attr("disable_by");
            if (by == undefined) by = "";
            if (by.indexOf(disable_by) == -1)
                by += disable_by + ";";
            $(obj).attr("disable_by", by);

            $("label", $(obj)).css('color', '#ccc');
            $("input", $(obj)).attr('disabled', 'disabled');
        }

        function enable_shop(obj, enable_by) {
            var by = $(obj).attr("disable_by");
            if (by == undefined) return;
            if (by.indexOf(enable_by) != -1) {
                by = by.replace(enable_by + ";", "");
                $(obj).attr("disable_by", by);
            }
            if (by == "") {
                $("label", $(obj)).css('color', 'black');
                $("input", $(obj)).removeAttr('disabled');
            }
        }

        $("#shop_search").keyup(function() {
            // Retrieve the input field text and reset the count to zero
            var filter = $(this).val(), count = 0;

            // Loop through the comment list
            $("#check_shops ul li").each(function(){

                // If the list item does not contain the text phrase fade it out
                if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                    disable_shop(this, "search");

                // Show the list item if the phrase matches and increase the count by 1
                } else {
                    enable_shop(this, "search");
                    count++;
                }
            });
        });
        // $("#shop-search").quicksearch('#check_shops ul li', {
        //     'selector': 'label',
        //     'show': function () {
        //         this.style.color = '';
        //     },
        //     'hide': function () {
        //         this.style.color = '#ccc';
        //     }
        // });
    });
</script>
{% endblock %}
