{% load i18n %}
{% load thumbnail %}

<div id="brand-attr-0" class="visuelProd new">
    <ul style="display:none;" class="ba_error errorlist"></ul>
    <input type="hidden" value="{{ ba.prefix }}" name="ba_prefix">
    <span class="texture">
        <a class="uploadfile">
            <img class="ba_texture_btn" alt="{% trans "Add a texture" %}"/>
        </a>
        <input class="ba_texture_upload" style="display:none" type="file" name="texture_file">
    </span>
    <input class="ba_input title autocomplete" type="text" placeholder="{% trans 'Product variant' %}" maxlength="50"/>

    <em>{% trans "Please add pictures for this item below. Drag and drop pictures to arrange them in the desired order." %}</em>
    {{ ba.previews.management_form }}
    <div class="ba_previews listProd">
        <ul class="existing_pp horizontal_pp">
            <li class="ba_previews_upload">
                <a class="uploadfile">{% trans "Click or drag a file here to add a picture" %}</a>
                <input class="ba_preview_upload" style="display:none" type="file" name="files[]" multiple>
            </li>
        </ul>
        <ul class="pp_queue"></ul>
    </div>
    <div class="formrow">
        <label>{% trans "Premium" %} {{ price_label }}</label>
        <span class="brand_attributes-premium">
            {{ ba.premium_type }}
            {{ ba.premium_amount }}
            <span class="premium_ratio_marker" style="display:none">%</span>
            <span class="premium_currency_marker" style="display:none"></span>
        </span>
    </div>
    <div class="formrow marge">
        <label>{% trans "Premium price " %}</label>
        <span class="brand_attributes-premium-result">
        </span>
    </div>
    
    {% with ba_id='NEW' %}
    <div class="formrow marge accordion">
        <label>{% trans "Barcode" %}</label>
        {% include "_stock_upc.html" %}
    </div>
    <div class="formrow marge accordion">
        <label>{% trans "External Refs" %}</label>
        {% include "_stock_externalref.html" %}
    </div>
    <div class="formrow marge accordion">
        <label>{% trans "Order Require Confirmation" %}</label>
        {% include "_stock_ordersetting.html" %}
    </div>
    {% endwith %}

    <input class="btn valider add_ba" type="button" value="{% trans "Add" %}"/>

    {% include "add_sale_product_ba_preview_template_form.html" %}
</div>
