{% extends base_template %}
{% load i18n %}
{% load thumbnail %}

{#Form to add stocks#}

{% block form %}
    {{ wizard.management_form }}
    {{ wizard.form.management_form }}
    <fieldset>
        {{ wizard.form.barcodes.management_form }}
        {{ wizard.form.barcodes.non_field_errors }}
        {{ wizard.form.non_field_errors }}
        <div id="barcodes_form">
            <div id="barcode_accordion" class="accordion">
                {% include "_stock_upc.html" %}
            </div>
        </div>

        {{ wizard.form.stocks.management_form }}
        {{ wizard.form.stocks.non_field_errors }}
        {% if global_stock %}
        <div id="global_stocks_form">
            <div id="accordion" class="accordion">
                {% trans "Initial stock quantity" as stock_link %}
                {% trans "Initial stock quantity" as stock_label %}
                {% with shop=None s_index=0 %}
                    {% include "_stock_stock.html" %}
                {% endwith %}
            </div>
        </div>
        {% else %}
        <div id="detailed_stocks_form">
            <div id="accordion2" class="accordion">
                {% for shop in shops %}
                    {% with stock_link=shop.name s_index=forloop.counter0 %}
                        {% trans "Initial stock allocation" as stock_label %}
                        {% include "_stock_stock.html" %}
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </fieldset>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        function validateForm() {
            var stocks = $("input[id*='-stock']");
            for (var i = 0; i < stocks.length; i++) {
                var val = $.trim($(stocks[i]).val());
                if (val.length == 0) continue;
                if (!/^\d+$/.test(val)) {
                    return false;
                }
            }

            var barcodes = $("input[id*='-upc']");
            for (var i = 0; i < barcodes.length; i++) {
                var val = $.trim($(barcodes[i]).val());
                if (val.length == 0) continue;
                if (!/^\d+$/.test(val)) {
                    return false;
                }
            }

            return true;
        }

        $(function(){
            $("#main_form").change(function(elmt){
                var stocks = $("input[id*='-stock']");
                for (var i=0; i<stocks.length; i++) {
                    var delete_input_id = "#"+$(stocks[i]).attr('id').replace('-stock', '-DELETE');
                    var rest_stock_input_id = "#"+$(stocks[i]).attr('id').replace('-stock', '-rest_stock');
                    if ($(stocks[i]).val()) {
                        $(delete_input_id).removeAttr('checked');
                        $(rest_stock_input_id).val($(stocks[i]).val());
                    } else {
                        $(delete_input_id).attr('checked', 'checked');
                    }
                }

                var barcodes = $("input[id*='-upc']");
                for (var i=0; i<barcodes.length; i++) {
                    var delete_input_id = "#"+$(barcodes[i]).attr('id').replace('-upd', '-DELETE');
                    if ($(barcodes[i]).val()) {
                        $(delete_input_id).removeAttr('checked');
                    } else {
                        $(delete_input_id).attr('checked', 'checked');
                    }
                }
            });
            $("input[type=submit]").click(function(e){
                if (validateForm()) {
                    $("#main_form").change();
                    return true;
                } else {
                    alert('{% trans "Sorry, please check your input." %}');
                    return false;
                }
            });
            $("#barcode_accordion").accordion({ header: ".shopTitle" });
            $("#accordion").accordion({ header: ".shopTitle" });
            $("#accordion2").accordion({ header: ".shopTitle" });
        });
    </script>
{% endblock %}
