{% load i18n %}

<!--Cible-->
<h4 class="titleRight">La cible</h4>
<div class="boxRight ficheCible">
    <ul>
        <li><span>{% trans "Gender" %}</span><strong id="preview_{{ wizard.form.gender.auto_id }}">N/F</strong></li>
{#        <li><span>Âge</span><strong>25 - 34 ans</strong></li>#}
{#        <li><span>Lorem ipsum</span><strong>Lorem ipsum</strong></li>#}
{#        <li><span>Genre</span><strong>Femme</strong></li>#}
{#        <li><span>Âge</span><strong>25 - 34 ans</strong></li>#}
{#        <li><span>Lorem ipsum</span><strong>Lorem ipsum</strong></li>#}
    </ul>
</div>
<!--FIN Cible-->
