{% extends "new_base.html" %}
{% load i18n %}
{% load active %}

{% block title %}{% trans "Edit a sale" %}{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.autocomplete.html.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.datepicker-fr.js"></script>
{#  <script type="text/javascript" src="{{ STATIC_URL }}js/plupload/plupload.full.js"></script>#}
    <script type="text/javascript" src="{{ STATIC_URL }}js/fileupload/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fileupload/jquery.fileupload.js"></script>
    <link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/add_sale.css" />
    <script>
    $(function() {
        $( ".tabs" ).tabs();
    });
    </script>
{% endblock %}

{% block navigation %}
    {% include "_quick_nav.html" %}
{% endblock %}

{% block content %}
    <!--Lien Haut de Page -->
    <a id="lienUP" href="#conteneur">{% trans "Page Top" %}</a>

    <!--Title-->
    <div id="title">
        <span>{% trans "Edit a sale" %}</span>
        <h2>
            {% trans "Edit a sale" %}
        </h2>
    </div>

    <form id="main_form" action="{% url 'edit_sale' sale_id=sale_id %}" enctype="multipart/form-data" method="post">{% csrf_token %}
        <ul class="arianne">
            <li class="li1 {% if wizard.steps.current == "shop" %}on{% endif %}"><a href="#"><span>{% trans "Shops" %}</span>1</a></li>
            <li class="li2 {% if wizard.steps.current == "product" %}on{% endif %}"><span>{% trans "Items" %}</span>2</li>
            <li class="li3 {% if wizard.steps.current == "shipping" %}on{% endif %}"><span>{% trans "Shipping" %}</span>3</li>
        </ul>

        {% block form %}{% endblock %}
        {% if wizard.steps.prev %}
        <button class="navForm" id="btn_first_step" name="wizard_prev_step" value="{{ wizard.steps.first }}">{% trans "First step" %}</button>
        <button class="navForm" id="btn_prev_step" name="wizard_prev_step" value="{{ wizard.steps.prev }}">{% trans "Back" %}</button>
        {% endif %}
        <button class="navForm" id="btn_cancel" name="wizard_cancel" value="{{ wizard.steps.current }}">{% trans "Cancel" %}</button>
        {% if wizard.steps.current == "shop" %}
        <input class="btn select" type="submit" value="{% trans "Next: Product" %}"/>
        {% endif %}
        {% if wizard.steps.current == "product" %}
        <input class="btn select" type="submit" value="{% trans "Next: Shipping" %}"/>
        {% endif %}
        {% if wizard.steps.current == "shipping" %}
        <input class="btn select" type="submit" value="{% trans "Update Sale" %}"/>
        {% endif %}
    </form>

    {% block empty_forms %}{% endblock %}

    <div class="clear"></div>
{% endblock %}
