{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load thumbnail %}
{% load calc_discount_price %}
{% load is_shop_manager_upper %}
{% load is_admin_upper %}
{% load is_local_sale %}
{% load is_manager_upper %}
{% load show_step_shop %}
{% load sub %}

{% block title %}{{ page_title }}{% endblock %}

{% block head %}
    <link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/saling.css" />
{% endblock %}

{% block navigation %}
{% include "_quick_nav.html" %}
{% endblock %}

{% block content %}
<!--Lien Haut de Page -->
<a id="lienUP" href="#conteneur">{% trans "Page Top" %}</a>

<!--content-left-->
<div id="content_Left">

    <!--Title-->
    <div id="title">
        <span>{{ page_title }}</span>
        <h2>{{ page_title }}</h2>
    </div>

    <!--FORM-->
    <form id="main_form" method="post">
    {% csrf_token %}
        <fieldset>
            <!--SELECT TRIER PAR-->
            <p id="triVente">
                <label>{% trans "Search by:" %}</label>
                {{ form.search_by }}
                <input type="submit" name="search_sale" class="search-submit" value="{% trans "Search" %}" />
                <br/>
                <label for="trie01">{% trans "Sort by:" %}</label>
                {{ form.order_by1 }}
                <span>+</span>
                {{ form.order_by2 }}
                <input type="submit" name="order_sale" value="{% trans "Sort" %}" />
            </p>
            <!--FIN SELECT TRIER PAR-->

            <!--VENTE-->
            {% for sale in page.object_list %}
            <div class="vente" sale="{{ sale.id }}">
                <!--NOM, CATEGORIE, TYPE de Prod-->
                <a href="{% if request.user|is_manager_upper %}{% url 'edit_sale' sale_id=sale.pk step=sale|show_step_shop:request.user|yesno:"shop,product" %}{% endif %}"
                    title="{% trans "click to edit this sale" %}">
                    <h3>{{ sale.product.name }}</h3>
                    <input type="button" value="{% trans "Edit" %}" class="edit-sale">
                </a>
                <h4>
                    {% if request.user|is_admin_upper %}
                        <a class="delete" href="#">[X]</a>
                    {% elif request.user|is_shop_manager_upper and sale|is_local_sale %}
                        <a class="delete" href="#">[X]</a>
                    {% endif %}
                    {{ sale.product.category.name }} > {{ sale.product.type.name }}
                </h4>
                <!--INFOS VENTE-->
                <div class="content">
                    <a class="imgProd" href="{% if request.user|is_manager_upper %}{% url 'edit_sale' sale_id=sale.pk step=sale|show_step_shop:request.user|yesno:"shop,product" %}{% endif %}"
                    title="{% trans "click to edit this sale" %}"">
                        {% thumbnail sale.cover.picture "40x43" as im %}
                            <img style='margin:{{ im|margin:"40x43" }}' src="{{ im.url }}" alt='{% trans "Product picture" %} {{ sale.product.name }}' width="{{ im.x }}" height="{{ im.y }}"/>
                        {% endthumbnail %}
                    </a>
                    <div class="date_etat">
                        <em>
                            {% if sale.product.valid_to %}
                                {% trans "From" %} {{ sale.product.valid_from|date:"DATE_FORMAT" }} {% trans "To" %} {{ sale.product.valid_to|date:"DATE_FORMAT" }}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </em>
                        <span>{% trans "Available Qty:" %} <strong>{{ sale.total_rest_stock }}</strong> | {% trans "Sales:" %} <strong>{{ sale.total_stock|sub:sale.total_rest_stock }}</strong> | {% trans "Initial Stock:" %} <strong>{{ sale.total_stock }}</strong></span>
                    </div>
                    <div class="prix">
                        {% if sale.product.discount %}
                            <span>{% trans "Discounted price:" %}
                                {% if sale.product.normal_price %}
                                    <strong>
                                        {% calc_discount_price sale.product.discount_type sale.product.discount sale.product.normal_price %}
                                        &euro;
                                    </strong>
                                {% else %}
                                    <strong class="type-attr-prices">
                                        {% calc_discount_price sale.product.discount_type sale.product.discount sale.min_type_attribute_price %}
                                        {% trans "to" %}
                                        {% calc_discount_price sale.product.discount_type sale.product.discount sale.max_type_attribute_price %}
                                        &euro;
                                    </strong>
                                {% endif %}
                            </span>
                            <span>{% trans "Discount:" %} <strong>
                                {{ sale.product.discount|floatformat }}
                                {% if sale.product.discount_type == "percentage" %}%{% else %}&euro;{% endif %}
                            </strong></span>
                        {% endif %}
                        <span>{% trans "Item price:" %} <em{% if not sale.product.normal_price %} class="type-attr-prices"{% endif %}>
                            {% if sale.product.normal_price %}
                                {{ sale.product.normal_price|floatformat }}
                            {% else %}
                                {{ sale.min_type_attribute_price|floatformat }} {% trans "to" %} {{ sale.max_type_attribute_price|floatformat }}
                            {% endif %}
                            &euro;
                            </em>
                        </span>
                    </div>
                    {% if sale.product.short_description %}
                    <div class="clear"></div>
                    <div class="short-desc"> <em>{{ sale.product.short_description }}</em> </div>
                    {% endif %}
                </div>
                <div class="clear"></div>
                <!--Liens DETAIL-->
                {% if sale.type_stock == "L" %}
                <a href="{% url 'sale_details_shop' sale.pk %}" class="seeDetail seeShop">{% trans "Details per shop" %}</a>
                {% endif %}
                <a href="{% url 'sale_details' sale.pk %}" class="seeDetail seeMain">{% trans "Details" %}</a>
            </div>
            {% endfor %}
            <!--FIN VENTE-->
        </fieldset>
    </form>
    {% if page.paginator.num_pages > 1%}
    <div class="pag_nav">
        <span class="page_info">
        {% blocktrans with number=page.number num_pages=page.paginator.num_pages %}
        Page <input type="text" value="{{ number }}" id="page_num"> of {{ num_pages }} pages.
        {% endblocktrans %}
    </span>
        <span class="page_size">
            {% trans '(' %}
            <select id="page_size" name="page_size">
            {% for page_size in choice_page_size %}
                <option value="{{ page_size }}" {% if current_page_size == page_size %}selected="selected"{% endif %}>{{ page_size }}</option>
            {% endfor %}
            </select>
            {% trans ' elements/page )' %}
        </span>
        <div class="page_ico">
            <a href="{{ request.path }}?page=1" class="pagination prev2">|<</a>
            <a href="{{ request.path }}?page={{ prev_10 }}" class="pagination prev1"><</a>
            {% for page_num in page_nav %}
            {% if page.number != page_num %}
            <a href="{{ request.path }}?page={{ page_num }}" class="pagination">{{ page_num }}</a>
            {% else %}<span class="pagination current">{{ page_num }}</span>{% endif %}
            {% endfor %}
            <a href="{{ request.path }}?page={{ next_10 }}" class="pagination next1">></a>
            <a href="{{ request.path }}?page={{ page.paginator.num_pages }}" class="pagination next2">>|</a>
        </div>
    </div>
    {% endif %}

</div>

<div id="content_Right">
    <div id="controls"></div>
    <div id="detail"></div>
</div>
<!--FIN content-right-->
<div class="clear"></div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(function() {
        {% if search_sale %}
            $("select#id_order_by1").val("");
            $("select#id_order_by2").val("");
        {% else %}
            $("input#id_search_by").val("");
        {% endif %}
        $(".seeDetail").click(function(){
            $("#content_Right #controls").html("");
            $("#content_Right #detail").html("");
        });
        $(".seeMain").click(function(){
            $("#content_Right #detail").html('{% trans "Loading..." %}');
            $("#content_Right #detail").load($(this)[0].href);
            return false;
        });
        $(".seeShop").click(function(){
            $("#content_Right #controls").html('{% trans "Loading..." %}');
            $("#content_Right #controls").load($(this)[0].href);
            return false;
        });
        $("#content_Right #controls #shop").live('change', function(){
            if ($(this).val() == 0) {
                $("#content_Right #detail").html("");
            } else {
                $("#content_Right #detail").html('{% trans "Loading..." %}');
                $("#content_Right #detail").load($(this).val());
            }
        });

        $('a.delete').click(function() {
            var $this = $(this);
            if (confirm('{% trans "Are you sure you want to delete this sale?" %}')) {
                var sid = $this.parent().parent().attr('sale');
                $.post('/sales/delete/' + sid, function(response) {
                    if (response.success) {
                        $this.parent().parent().fadeOut();
                    } else {
                        alert(response.error);
                    }

                }, "json");
            }
        });

        //set page size
        $("#page_size").change(function(event){
            location.href = location.pathname+'?page_size='+$(this).val();
        });

        //go specific page by input
        $("#page_num").keypress(function(event){
            if(event.which == 13){ //'enter' key
                var page_num = $(this).val();
                if(!isNaN(page_num)&&parseInt(page_num)==page_num)
                {
                    location.href = '{{ request.path }}'+'?page='+page_num;
                }
                else
                {
                    alert("{% trans "Please enter a valid page number." %}");
                }
            }

        });
    });

</script>
{% endblock %}
