Django==1.5
Fabric==1.7.0
Pillow==2.1.0
South==0.8.2
Werkzeug==0.9.4
django-debug-toolbar==0.9.4
django-extensions==1.2.0
django-fabtastic==1.1
django-form-utils==1.0
django-formwizard==1.0
django-rosetta==0.7.2
git+git://github.com/ilblackdragon/django-misc.git
ipdb==0.7
paramiko==1.11.0
pycrypto==2.6
pygeocoder==1.2.1.1
sorl-thumbnail==11.12
wsgiref==0.1.2
python-memcached==1.53
postmarkup==1.2.0
psycopg2==2.5.1
git+http://github.com/tstone/django-uploadify.git
