uWSGI==2.0.4
cython==0.19.1
falcon==0.1.7
psycopg2==2.5.1
pypgwrap==0.1.4
gevent==1.0.1
gevent-psycopg2==0.0.3
M2Crypto==0.21.1.B2S
B2SCrypto==0.0.4
Jinja2==2.7.1
WeasyPrint==0.19.2
B2SUtils==0.0.7
B2SRespUtils==0.0.2
B2SProtocol==0.0.12
pytz==2014.4
