uWSGI==2.0.4
Cython==0.19.1
falcon==0.1.7
ujson==1.33
enum==0.4.4
greenlet==0.4.5
gevent==1.0.1
redis==2.8.0
hiredis==0.1.1
Tenjin==1.1.1
B2SUtils==0.1.7
B2SRespUtils==0.0.3
B2SProtocol==0.0.23
B2SFrontUtils==0.0.23
M2Crypto==0.21.1.B2S
B2SCrypto==0.0.5
xmltodict==0.7.0
Unidecode==0.04.16
Pillow==9.0.1
pytz==2014.4
beautifulsoup4==4.3.2
feedparser==5.1.3
slimit==0.8.1
rcssmin==1.0.5
ply==3.4
