{% extends "base.html" %}
{% load i18n %}
{% load is_admin_upper %}

{% block title %}
{% if pk %}
{% trans "Edit Email Template" %}
{% else %}
{% trans "Add Email Template" %}
{% endif %}
{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/email_template.css" />
{% endblock %}

{% block navigation %}
{% include "_quick_nav.html" %}
{% endblock %}

{% block content %}
<div id="content_Left">
    {{ form.errors }}
    <!--FORM-->
    <form id="main_form" method="post" enctype="multipart/form-data">{% csrf_token %}
	    <h3>{% trans "Email Template" %}</h3>
        <fieldset>
            {{ form.name.errors }}
            <div class="formrow">
                <label for="{{form.name.auto_id}}" >{% trans form.name.label %}</label>
                {{form.name}}
            </div>
            {{ form.subject.errors }}
            <div class="formrow">
                <label for="{{form.subject.auto_id}}" >{% trans form.subject.label %}</label>
                {{form.subject}}
            </div>
            {{ form.html_head.errors }}
            <div class="formrow">
                <label for="{{form.html_head.auto_id}}" >{% trans form.html_head.label %}</label>
                {{form.html_head}}
            </div>
            {{ form.html_body.errors }}
            {{form.html_body}}
            {{ form.images.management_form }}
	    </fieldset>
        <!--BOUTONS-->
        <input id="save_tpl" class="btn valider" type="button" value='{% trans "Save" %}'/>
        <button type="reset" class="btn annuler">{% trans "Cancel" %}</button>
    </form>
</div>

<div id="content_Right">
	<h4 class="titleRight">{% trans "Email Templates List" %}</h4>
	<div class="boxRight" id="listTpl">
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <th class="nom"><a href="#">{% trans "Name" %}</a></th>
                <th class="action"><a href="#">{% trans "Actions" %}</a></th>
            </tr>

            {% for tpl in templates.object_list %}
            <tr id="template_{{tpl.pk}}">
                <td><a href="{% url 'edit_template' tpl.pk %}">{{ tpl.name }}</a></td>
                <td>
                <a class="modif" href="{% url 'edit_template' tpl.pk %}">{% trans "Edit" %}</a>
                {%if request.user|is_admin_upper %}<a class="out delete_tpl" href="{% url 'delete_template' tpl.pk %}">{% trans "Delete" %}</a>{%endif%}
                </td>
            </tr>
            {% empty %}
            <tr class="empty">
                <td colspan="3">{% trans "List is empty."%}</td>
            </tr>
            {% endfor %}
        </table>
        {% if templates.paginator.num_pages > 1%}
        <div class="pag_nav">
            <form id="page_size_form" method="GET">
                <input type="hidden" name="page" id="current_page" value="" />
                <span class="page_info">
                    {% blocktrans with number=templates.number num_pages=templates.paginator.num_pages %}
                    Page <input type="text" value="{{ number }}" id="page_num"> of {{ num_pages }} pages.
                    {% endblocktrans %}
                </span>
                <span class="page_size">
                    <select id="page_size" name="page_size">
                    {% for page_size in choice_page_size %}
                        <option value="{{ page_size }}" {% if current_page_size == page_size %}selected="selected"{% endif %}>{{ page_size }}</option>
                    {% endfor %}
                    </select>
                </span>
                <div>
                    <a href="1" class="pagination">|<</a>
                    <a href="{{ prev_10 }}" class="pagination"><</a>
                    {% for page_num in page_nav %}
                    <a href="{{ page_num }}" class="pagination">{{ page_num }}</a>
                    {% endfor %}
                    <a href="{{ next_10 }}" class="pagination">></a>
                    <a href="{{ templates.paginator.num_pages }}" class="pagination">>|</a>
                </div>
            </form>
        </div>
        {% endif %}
	</div>
    <!--//Liste-Attribute-->
    <a class="btn ajouter" href="{% url 'new_template' %}">{% trans "Add a new Template" %}</a>
</div>

<div id="content_Bottom">
    <iframe name="html_body_iframe" src= "{% url 'preview_template' %}" width="100%" style="border:1px solid #c8c8c8"></iframe>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $("input#save_tpl").click(function() {
        var form = $('#main_form')[0];
        var body = html_body_iframe.window.getEditableContent();
        $("#{{form.html_body.auto_id}}").val(body);
        form.submit();
    });
    $("a.delete_tpl").click(function() {
        if(confirm('{% trans "Are your sure you want to delete this template ?" %}')) {
            $.post(this.href, function(data){
                $("#template_"+data.pk).remove();
                if(data.pk == "{% firstof pk "0" %}") {
                    location.replace("{% url 'new_template' %}");
                }
            });
        }
        return false;
    });
    $("iframe").load(function() {
        // set iframe height
        var cwin=this;
        if (document.getElementById) {
            if (cwin && !window.opera) {
                if (cwin.contentDocument && cwin.contentDocument.body.offsetHeight)
                cwin.height = cwin.contentDocument.body.offsetHeight + 20; //FF NS
                else if(cwin.Document && cwin.Document.body.scrollHeight)
                cwin.height = cwin.Document.body.scrollHeight + 10;//IE
            } else {
                if(cwin.contentWindow.document && cwin.contentWindow.document.body.scrollHeight)
                cwin.height = cwin.contentWindow.document.body.scrollHeight;//Opera
            }
            if (cwin.height < 400) cwin.height = 400;
        }
    });
    //set page size
    $("#page_size").change(function(event){
        $("#page_size_form").submit();
    });
    //page nav
    $(".pagination").click(function(event){
        $("#current_page").val($(this).attr('href'));
        $("#page_size_form").submit();
        event.preventDefault();
    });
    //go specific page by input
    $("#page_num").keypress(function(event){
        if(event.which == 13){ //'enter' key
            var page_num = $(this).val();
            if(!isNaN(page_num)&&parseInt(page_num)==page_num) {
                $("#current_page").val(page_num);
                $("#page_size_form").submit();
                event.preventDefault();
            }
            else
                alert("{% trans "Please enter a valid page number." %}");
        }
    });
</script>
{% endblock %}
