<?py pos=v['positions'][0] ?>

<div class="viewmap" style="display:none" lat="${pos['latitude']}" lon="${pos['longitude']}" heading="${pos['heading']}"></div>

<div class="popup-wrapper" style="display:none">
    <div class="popup">
        <div class="left">
            <div class="countdown">
                <span>距离目的港仅</span>
                <?py countdown = countdown_time(format_datetime(v['arrival_time'])) ?>
                <span class="countdown-time" total_seconds="${countdown['total_seconds']}">
                    <?py _show_day = "display" if countdown['days'] > 0 else "none" ?>
                    <span class="day" style="display:${_show_day}">
                        <span class="day-num">${countdown['days']}</span>
                        <span>天</span>
                    </span>
                    <?py _show_hour = "display" if countdown['hours'] > 0 else "none" ?>
                    <span class="hour" style="display:${_show_hour}">
                        <span class="hour-num">${countdown['hours']}</span>
                        <span>小时</span>
                    </span>
                    <span class="minute">
                        <span class="minute-num">${countdown['mins']}</span>
                        <span>分钟</span>
                    </span>
                </span>
            </div>
            <div class="eta">
                <span>预计到达时间:</span>
                <span>${format_datetime(v['arrival_time'])}</span>
            </div>
            <div class="line">
            </div>
            <div class="pol">
                <span>始发港:</span>
                <span>${v['departure_portname']}</span>
            </div>
            <div class="pod">
                <span>目的港:</span>
                <span>${v['arrival_portname']}</span>
            </div>
            <div>
                <span class="update">更新时间:</span>
                <span class="update-time">
                    <?py time= refresh_time(format_datetime(pos['time'])) ?>
                    <?py if time['hours'] > 0 : ?>
                    ${time['hours']}小时前
                    <?py else: ?>
                    ${time['mins']}分钟前
                    <?py #endif ?>
                </span>
            </div>
            <div>
            </div>
        </div>
        <div class="btns wide">
            <a href="javascript:show_navpath(${v['imo']}, ${v['mmsi']});">历史轨迹</a>
            <a href="javascript:add2reminder(this, ${v['imo']}, ${v['mmsi']});">到港提醒</a>
        </div>
    </div>
</div>
