<div id="search_input">
    <form name="searchForm" action="/vessel/search" method="POST">
        <label for="search_vessel">Vessel</label>
        <input id="search_vessel" name="vessel_input" type="text" placeholder="Search IMO, MMSI or Name" value="${vessel_input}" />
        <input class="btn" name="search_vessel" type="submit" value="SEARCH" />
    </form>
    <form name="searchForm" action="/vessel/search" method="POST">
        <label for="search_port">Port</label>
        <input id="search_port" name="port_input" type="text" placeholder="Search LOCODE or Name" value="${port_input}"/>
        <input class="btn" name="search_port" type="submit" value="SEARCH" />
    </form>
    <form name="searchForm" action="/vessel/search" method="POST">
        <label for="search_container">Container</label>
        <input id="search_container" name="container_input" type="text" placeholder="Search Container Number" value="${container_input}"/>
        <input class="btn" name="search_container" type="submit" value="SEARCH" />
    </form>
</div>

<div id="search_result">
    <?py if vessels: ?>
    <table class="vessel_table">
        <thead>
            <tr>
                <th>Country</th>
                <th>Vessel Name</th>
                <th>IMO/MMSI</th>
                <th>Picture</th>
                <th>Departure</th>
                <th>Destination</th>
                <th>Speed</th>
                <th>Location</th>
                <th>Update Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?py for v in vessels: ?>
            <tr>
                <?py include('_vessel_item.html', v=v, search=True, popup_only=False) ?>
            </tr>
            <?py #endfor ?>
        </tbody>
    </table>

    <?py elif ports: ?>
    <table class="port_table">
        <thead>
            <tr>
                <th>Country Name</th>
                <th>Port Name</th>
                <th>LOCODE</th>
            </tr>
        </thead>
        <tbody>
            <?py for p in ports: ?>
            <tr>
                <td>${p['country_name']}</td>
                <td>${p['name']}</td>
                <td>${p['locode']}</td>
            </tr>
            <?py #endfor ?>
        </tbody>
    </table>

    <?py elif containers: ?>
    <table class="container_table">
        <thead>
            <tr>
                <th>Vessel Name</th>
                <th>First POL</th>
                <th>Last POD</th>
                <th>Status</th>
                <th>Location</th>
                <th>Time</th>
                <th>Transportation Mode</th>
            </tr>
        </thead>
        <tbody>
            <?py for c in containers: ?>
            <tr>
                <td>${c['vessel_name']}</td>
                <td>${c['first_pol']}</td>
                <td>${c['last_pod']}</td>
                <?py info = c['shipment_cycle'][0] if len(c['shipment_cycle']) > 0 else {} ?>
                <td>${info.get('status', '--')}</td>
                <td>${info.get('location', '--')}</td>
                <td>${info.get('time', '--')}</td>
                <td>${info.get('mode', '--')}</td>
                <?py if c.get('vessel_info'): ?>
                    <?py include('_vessel_item.html', v=c['vessel_info'], search=True, popup_only=True) ?>
                <?py #endif ?>
            </tr>
            <?py #endfor ?>
        </tbody>
    </table>

    <?py else: ?>
    <table class="empty_table">
    </table>
    <?py if vessel_input or port_input or container_input: ?>
        <div class="msg">no records found</div>
    <?py #endif ?>

    <?py #endif ?>
</div>

<div id="map"></div>

<div id="myfleets">
    <h3>My Fleets</h3>
    <table class="vessel_table">
        <thead>
            <tr>
                <th>Country</th>
                <th>Vessel Name</th>
                <th>IMO/MMSI</th>
                <th>Picture</th>
                <th>Departure</th>
                <th>Destination</th>
                <th>Speed</th>
                <th>Location</th>
                <th>Update Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?py for v in myfleets: ?>
            <tr>
                <?py include('_vessel_item.html', v=v, search=False, popup_only=False) ?>
            </tr>
            <?py #endfor ?>
        </tbody>
    </table>
</div>

<script>
var map = L.map('map');

function view(lat, lon, zoom) {
    if (zoom == undefined) zoom = 5;
    map.setView([lat, lon], zoom);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        minZoom: 2,
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
}
function mark(lat, lon, popup) {
    var marker = L.marker([lat, lon]).addTo(map);
    marker.bindPopup(popup);
    marker.on('click', function(e) {
        marker.openPopup();
    });
}
function add2myfleet(obj, imo, mmsi) {
    $.post('/vessel/update_user_fleet',
        {'action': 'add',
         'imo': imo,
         'mmsi': mmsi,
        },
        function(data) {
            if (data['set_cookies_js']) {
                eval(data['set_cookies_js']);
            }

            if (data['res'] == 'FAILURE') {
            } else {
                alert('added successfully');
                $(obj).attr('class', 'del4myfleet');
                $(obj).attr('onclick', 'javascript:del4myfleet(this, ' + imo + ', ' + mmsi + ')');
                $(obj).text('Delete from My Fleet');
                $("#myfleets tbody").append($(obj).parent().parent());
            }
        }
    )
}
function del4myfleet(obj, imo, mmsi) {
    $.post('/vessel/update_user_fleet',
        {'action': 'delete',
         'imo': imo,
         'mmsi': mmsi,
        },
        function(data) {
            if (data['set_cookies_js']) {
                eval(data['set_cookies_js']);
            }

            if (data['res'] == 'FAILURE') {
            } else {
                alert('deleted successfully');
                $(obj).parent().parent().remove();
            }
        }
    )
}
function show_navpath(imo, mmsi) {
    $.post('/vessel/get_vessel_navpath',
        {
         'imo': imo,
         'mmsi': mmsi,
        },
        function(data) {
            if (data['set_cookies_js']) {
                eval(data['set_cookies_js']);
            }
            if (data['res'] == 'FAILURE') {
            } else {
                var path = L.polyline(data['positions']).addTo(map);
                //map.fitBounds(path.getBounds());
            }
        }
    )
}
$(function() {
    view(0, 0, 2);

    $('.vessel_table .popup a.viewmap').each(function(){
        var popup = $(this).parent().parent();
        mark($(this).attr('lat'), $(this).attr('lon'), popup.html());
    });

    $('.container_table .popup a.viewmap').each(function(){
        var popup = $(this).parent().parent();
        mark($(this).attr('lat'), $(this).attr('lon'), popup.html());
        view($(this).attr('lat'), $(this).attr('lon'), 2);
    });
});

</script>

