<div id="map"></div>

<div id="vessellist" style="display:none">
    <div class="list-title">您的个人船队监管</div>
    <?py for v in vessels or myfleets: ?>
    <?py pos=v['positions'][0] ?>
    <?py img1, img2 = v['photos'][:2] if v['photos'] and len(v['photos']) >= 2 else ('', '') ?>
    <div class="list-box">
        <div class="box-title">
            <span class="name">${v['name']}</span>
            <span class="status">${pos['status']}</span>
            <a class="add2reminder" href="javascript:add2reminder(this,  ${v['imo']},  ${v['mmsi']})">
                <span class="notif"></span>
            </a>
            <a href="javascript:del4myfleet(this, ${v['imo']}, ${v['mmsi']})">
                <span class="remove"></span>
            </a>
        </div>
        <div class="box-content">
            <div class="right">
                <div class="item-name">位置</div>
                <div class="item-value">${pos['location']}</div>
                <div class="item-name">预计到达时间</div>
                <div class="item-value">${format_datetime(v['arrival_time'])}</div>
                <div class="item-name">最后更新时间</div>
                <div class="item-value">${format_datetime(pos['time'])}</div>
            </div>
            <div class="left">
                <img class="preview" src="${img1}"/>
                <div class="item-name last">目的地: ${v['arrival_portname']}</div>
            </div>
            <?py include('_vessel_popup.html', v=v) ?>
        </div>
    </div>
    <?py #endfor ?>
</div>
<div id="list-label">
    <div class="title">您的个人船队监管</div>
</div>

<script>
var map = L.map('map');
L.control.scale().addTo(map);

$(function() {
    view(map, 0, 0, 2);

    $('#vessellist .viewmap').each(function(){
        var popup = $(this).parent().find(".popup")[0];
        mark(map, $(this).attr('lat'), $(this).attr('lon'),
             $(this).attr('heading'), popup);
    });

    $("input#search_vessel").quickselect({
        ajax: '/vessel/quick_search',
        autoFill: false,
        autoSelectFirst: false,
        delay: 1000,
        minChars: 3,
    })

    function _hide() {
        $("#list-label").attr('class', 'fold');
        $("#vessellist").hide();
    }
    function _show() {
        $("#list-label").attr('class', 'open');
        $("#vessellist").show();
    }
    <?py if cur_tab_index == 2 or len(vessels) > 0 : ?>
        _show();
    <?py else: ?>
        _hide();
    <?py #endif ?>
    $("#list-label").click(function(e){
        if ($("#vessellist:hidden").length == 0) {
            _hide();
        } else {
            _show();
        }
    });

    $('.popup-wrapper .countdown-time').each(function(){
        var obj = $(this);
        setTimeout(function(){refresh_countdown(obj, 60);}, 60*1000);
    });
});

</script>

