<!doctype html>
<html>
<head>
    <title>Testing</title>
    <meta charset="UTF-8">
    <script type="text/javascript">
        #{set_cookies_js}
    </script>

    #{css_loader}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    #{js_loader}
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
</head>
<body>
    <!--WRAPPER-->
    <div id="wrapper">
        <!--HEADER-->
        <header id="header" role="banner">
            <div class="logo">
            </div>
            <div class="icon-row left"> 
                <?py for tab in tabs: ?>
                    <?py _clsname = 'current' if tab.get('current') else '' ?>
                    <a class="icon-bg ${_clsname}" href="${tab['url']}">
                        <div class="icon ${tab.get('icon') or ''}">${tab['name']}</div>
                    </a >
                <?py #endfor ?>
            </div>
            <div class="search">
                <?py if cur_tab_index == 1: ?>
                <form id="searchForm" name="searchForm" method="POST">
                    <input id="search_container" name="container_input" type="text" placeholder="请输入集装箱或货运提单号" value="${container_input}" size="45"/>
                    <input name="search_container" type="hidden" value="search_container"/>
                    <div class="btn"></div>
                </form>
                <?py else: ?>
                <form id="searchForm" name="searchForm" method="POST">
                    <input id="search_vessel" name="vessel_input" type="text" placeholder="请输入IMO,MMSI,船名或者港口" value="${vessel_input}" size="45"/>
                    <input name="search_vessel" type="hidden" value="search_vessel"/>
                    <div class="btn"></div>
                </form>
                <?py #endif ?>
            </div>
            <div class="icon-row right">
                <a class="icon-bg">
                    <div class="icon message"></div>
                 </a>
                <?py if users_id: ?>
                <a class="icon-bg" href="javascript:logout()">
                    <div class="icon user"></div>
                 </a>
                <?py else: ?>
                <a class="icon-bg" href="javascript:toLogin()">
                    <div class="icon user"></div>
                </a>
                <?py #endif ?>
            </div>
            <script>
            function logout() {
                document.cookie = "USER_AUTH=\"\";path=\"/\"";
                location = "${logout_url_format}";
            }
            </script>
        </header>
        <!--//HEADER-->

        <div id="dialog-login" style="display:none">
            <?py include('login.html') ?>
        </div>
        <div id="dialog-register" style="display:none">
            <?py include('registration.html') ?>
        </div>

        <!--CONTENT-->
        #{_content}
        <!--//CONTENT-->

        <!--FOOTER-->
        <footer id="footer" role="contentinfo">
            <a href="mailto:info@nereus-technology.com">
                <span class="mail">info@nereus-technology.com</span>
            </a>
            <a href="tel:+852 8197 9994">
                <span class="phone">+852 8197 9994</span>
            </a>
            <a href="javascript:void(0);">
                <span class="weibo"></span>
            </a>
            <a href="javascript:void(0);">
                <span class="weixin"></span>
            </a>
        </footer>
        <!--//FOOTER-->

    </div>
</body>
</html>
#{js_defer_loader}
<script>
$(function() {
    $("#searchForm .btn").click(function(e) {
        $("#searchForm").submit();
    });
    $("input#search_vessel").quickselect({
        ajax: '/vessel/quick_search',
        autoFill: false,
        autoSelectFirst: false,
        delay: 1000,
        minChars: 3,
    });
});
</script>

