<form id="loginForm" name="loginForm" method="POST">
    <div class="errwrapper">&nbsp;</div>
    <div class="row">
        <input type="text" name="email">
        <label for="email">用户名:</label>
    </div>
    <div class="row">
        <input type="password" name="password">
        <label for="password">密码:</label>
    </div>
    <div class="row">
        <span class="btn login">登录</span>
        <span class="btn register">注册新用户</span>
    </div>
</form>

<script>
function toRegister() {
    $("#dialog-login").dialog('close');
    $("#dialog-register").dialog('open');
}

$(function() {
    $( "#dialog-login").dialog({
        autoOpen: false,
        height: 120,
        width: 180,
        position: ["right", "top"],
    });
    $( "#dialog-login .btn.login").click(function(e){
        $.post('/ajax_login',
            $("#loginForm").serializeArray(),
            function(data) {
                if (data['res'] == 'FAILURE') {
                    $("#loginForm .errwrapper").text(data['err']);
                } else {
                    if (data['set_cookies_js']) {
                        eval(data['set_cookies_js']);
                    }
                    location = '/vessel';
                }
            }
        )
    });
    $( "#dialog-login .btn.register").click(function(e){
        toRegister();
    });
});
</script>
