<form id="registerForm" name="registerForm" method="POST">
    <div class="errwrapper">&nbsp;</div>
    <div class="row">
        <input type="text" name="email">
        <label for="email">用户名:</label>
    </div>
    <div class="row">
        <input type="password" name="password">
        <label for="password">密码:</label>
    </div>
    <div class="row">
        <input type="password" name="password">
        <label for="password">再一次:</label>
    </div>
    <div class="row">
        <span class="btn register">注册</span>
    </div>
</form>

<script>
function toLogin() {
    $("#dialog-register").dialog('close');
    $("#dialog-login").dialog('open');
}

$(function() {
    $( "#dialog-register" ).dialog({
        autoOpen: false,
        height: 160,
        width: 180,
        position: ["right", "top"],
    });
    $( "#dialog-register .btn.login").click(function(e){
        toLogin();
    });
    $( "#dialog-register .btn.register").click(function(e){
        $.post('/ajax_register',
            $("#registerForm").serializeArray(),
            function(data) {
                if (data['res'] == 'FAILURE') {
                    $("#registerForm .errwrapper").text(data['err']);
                } else {
                    if (data['set_cookies_js']) {
                        eval(data['set_cookies_js']);
                    }
                    location = '/vessel';
                }
            }
        )
    });
});
</script>
